.info {
    width: 100%;
    padding: 2rem 2rem 3rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 black;
    margin-bottom: 2rem;

    &__desc {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
    }

    &__success {
        width: 80%;
        text-align: center;
        font-weight: bold;
        line-height: 40px;
    }

    &__text {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 2rem;

        @media screen and (max-width: 440px) {
            align-items: center;
            flex-direction: column;
        }

        .item {
            max-width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &__month {
                font-size: 28px;
                font-family: 'OpenSans-Bold', sans-serif;
                margin-bottom: 15px;
            }
        }
    }
}

.progress {
    width: 80%;
    height: 20px;
    background-color: #8c8c8c;
    border-radius: 10px;
    overflow: hidden;

    &__line {
        height: 100%;
        width: 0;
        background-color: #9ed061;
        transition: .4s;
    }
}