<div class="info">

  <ng-container *ngIf="isSuccess then success else process"></ng-container>

</div>

<ng-template #process>
  <span class="info__desc">
    При оплате 36 месяцев подряд любой подписки <span style="text-decoration: underline;">(то есть без перерыва в
      оплате) </span> - Вы получаете БЕССРОЧНУЮ ПОДПИСКУ на телевидение, без необходимости какой-либо оплаты в
    дальнейшем!
  </span>

  <div class="progress">
    <div class="progress__line" [style.width.%]="progress"></div>
  </div>

  <div class="info__text">
    <div class="item">
      <span class="item__month">{{ currentPeriod | monthPipe }}</span>
      <span>месяцев Вы с Persik</span>
    </div>

    <div class="item">
      <span class="item__month">{{ 36 - currentPeriod | monthPipe }}</span>
      <span>месяцев до получения бессрочной подписки {{ currentPeriod | monthPipe }}\36</span>
    </div>

    <div class="item">
      <span class="item__month">36</span>
      <span>месяцев использования для бессрочной подписки</span>
    </div>
  </div>
</ng-template>

<ng-template #success>
  <div class="info__success">
    Поздравляем Вы оплатили более 36 месяцев подписок на Persik! Для подключения "Бессрочной Подписки ТВ" обратитесь в
    службу технической поддержки info@persik.by
  </div>
</ng-template>
