<div class="review">

  <h1 class="films__title">
    РАДИО <span class="orange-text">ИЗ СЕТИ ИНТЕРНЕТ</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      Радио
    </div>
  </div>

  <div class="tapes">
    <div class="row">
      <div class="card-col-four" *ngFor="let channel of radios">
        <app-channel-card [channel]="channel"></app-channel-card>
      </div>
    </div>
  </div>
</div>