<app-account-poster></app-account-poster>

<div class="subscription">
  <div class="green-dot dot1"></div>
  <div class="green-dot dot2"></div>

  <div class="container">
    <app-free-progress></app-free-progress>
  </div>

  <h3 class="subscription__title">
    подписки
  </h3>
  <!-- <div class="subscription__title-small">
		Everyone in the house can simultaneously watch the programs and movies from 5 different devices.
	</div> -->

  <div class="subs-mobile">
    <div class="subs-mobile__item" *ngFor="let subs of subscriptions">
      <div class="subs-mobile__item-title">
        Дата
      </div>
      <div class="subs-mobile__item-value">
        {{ subs.created_at | subscribeDate }}, {{ subs.created_at.split('-')[0] }}
      </div>
      <div class="subs-mobile__item-title">
        Услуга
      </div>
      <div class="subs-mobile__item-value">
        <div class="subs-mobile-large">
          {{ subs.product_name }}
        </div>
        {{ subs.product_option_name }}, {{ subs.started_at | simpleDate }} – {{ subs.expired_at | simpleDate }}
      </div>
      <div class="subs-mobile__item-title">
        Стоимость
      </div>
      <div class="subs-mobile__item-value">
        <span class="gradient-text">
          {{ subs.cost }}
        </span> РУБ
      </div>
      <div class="subs-mobile__item-title">
        Дней до окончания
      </div>
      <div class="subs-mobile__item-value">
        {{ subs.expired_at | expiredDays }}
      </div>
      <div class="subs-mobile__btn">
        <div class="btn-orange" *ngIf="isActive(subs)" (click)="openTariffs(subs)">
          <span *ngIf="!isExpired(subs)">продлить</span>
          <span *ngIf="isExpired(subs)">купить</span>
        </div>
      </div>

    </div>
  </div>

  <div class="subscription__table">
    <div class="subscription__table-header">
      <div class="subscription__table-header__item subscription__table-col1">
        Дата
      </div>
      <div class="subscription__table-header__item subscription__table-col2">
        Услуга
      </div>
      <div class="subscription__table-header__item subscription__table-col3">
        Стоимость
      </div>
      <div class="subscription__table-header__item subscription__table-col4">
        Дней до окончания
      </div>
      <div class="subscription__table-header__item subscription__table-col5">

      </div>
    </div>

    <div class="subscription__table-body" *ngFor="let subs of subscriptions">
      <div class="subscription__table-body__line">
        <div class="subscription__table-body__item subscription__table-col1">
          {{ subs.created_at | subscribeDate }}, <br>
          {{ subs.created_at.split('-')[0] }}
        </div>
        <div class="subscription__table-body__item subscription__table-col2">
          <div class="subscription__table-body__item-large">
            <!--<span class="gradient-text">
							amedia
						</span>
            package -->
            {{ subs.product_name }}
          </div>
          {{ subs.product_option_name }}, {{ subs.started_at | simpleDate }} –
          {{ subs.expired_at | simpleDate }}
        </div>
        <div class="subscription__table-body__item subscription__table-col3">
          <div class="subscription__table-body__item-large">
            BYN
            <span class="gradient-text">
              {{ subs.cost }}
            </span>
          </div>
        </div>
        <div class="subscription__table-body__item subscription__table-col4">
          <div class="gradient-border">
            <div class="gradient-border__content">
              {{ subs.expired_at | expiredDays }}
            </div>
            <div class="gradient-border__bg"></div>
          </div>
        </div>
        <div class="subscription__table-body__item subscription__table-col5">
          <div class="btn-orange" *ngIf="isActive(subs)" (click)="openTariffs(subs)">
            <span *ngIf="!isExpired(subs)">продлить</span>
            <span *ngIf="isExpired(subs)">купить</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <a class="btn-white" routerLink="../../tv-tarify">
    все тарифы
  </a>

  <div class="autoextend">
    Для отмены автопродления пишите на почту info@persik.by.
  </div>

  <!-- <div class="subscription__auto">
		<div class="subscription__auto-title">
			<span class="gradient-text">
				авто-продление
			</span>
			подписок
		</div>
		<div class="subscription__auto-text">
			Вы можете автоматически продлить подписку “Название подписки”
			при наличии 200 руб. на личном счете.
		</div>
		<div class="btn-orange">
			включить
		</div>
	</div>

	<div class="subscription__pause">
		<div class="subscription__container">
			<div class="subscription__pause-title">
				<span class="gradient-text">
					приостановить
				</span>
				подписку
			</div>

			<div class="subscription__pause-row">
				<div class="col-4">
					<div class="form-group form-group_fixed-title">
					  	<ng-select [items]="subscriptions"
					             bindLabel="product_name"
					             bindValue="product_id"
					             search="false"
					             [(ngModel)]="selectedPersonId1">
					  	</ng-select>
					  	<label for="" class="form-group__label">Подписка</label>
					</div>
				</div>

				<div class="col-4">
					<div class="form-group form-group_fixed-title">
					  <input id="date_start" type="text" class="form-group__input">
					  <label for="date_start" class="form-group__label">Дата начала</label>
					</div>
				</div>

				<div class="col-4">
					<div class="form-group form-group_fixed-title">
					  <ng-select [items]="days"
					             bindLabel="name"
					             bindValue="id"
					             search="false"
					             [(ngModel)]="selectedPersonId3">
					  </ng-select>
					  <label for="" class="form-group__label">Кол-во дней</label>
					</div>
				</div>
			</div>

			<div class="btn-white">
				<img src="assets/images/icons/pause.svg" alt="">
				<span>приостановить</span>
			</div>
		</div>
	</div> -->
</div>
<!-- <h3>Subscription page</h3> -->
