.subscription{
	position: relative;
	padding-top: 100px;
	padding-bottom: 150px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
  border-bottom: 1px solid #e9e9e9;
  background: white;

  .newinfo {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    line-height: 1.89;
    padding-bottom: 80px;
    color: black;
	font-weight: bold;
	
	@media screen and (max-width: 770px) {
		padding-top: 70px;
	}
  }

  .autoextend {
    width: 100%;
    padding-left: 50px;
    margin-top: 50px;
  }
	.container{
		position: relative;
		z-index: 1;
	}
	.dot1{
		width: 20px;
		height: 20px;
		right: 36%;
		top: -65px;
	}
	.dot2{
		width: 10px;
		height: 10px;
		right: 12%;
		bottom: 24%;
	}
	&__title{
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 32px;
		color: #232323;
		text-transform: uppercase;
		font-family: OpenSans-Bold;
		margin-bottom: 40px;
		&-small{
			width: 100%;
			max-width: 570px;
			color: #929292;
			margin-top: 10px;
			line-height: 32px;
			text-align: center;
			font-size: 16px;
			text-transform: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 45px;
		}
	}

	&__container{
		width: 100%;
		max-width: 1190px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__table{
		position: relative;
		padding: 0 40px;
		width: 100%;
		margin-bottom: 30px;
		&-header{
			padding: 28px 0;
			border-top: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			&__item{
				font-size: 16px;
				text-align: left;
				color: #232323;
			}
		}
		&-col1{
			// width: 335px;
			width: 18%;
		}
		&-col2{
			width: 38%
		}
		&-col3{
			width: 14%;
		}
		&-col4{
			width: 18%;
		}
		&-col5{
			width: 12%;
		}
		&-body{
			position: relative;
			&__line{
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: stretch;
				border-bottom: 1px solid #e9e9e9;
				padding-top: 34px;
				padding-bottom: 34px;
				.subscription__table-col1{
					font-family: OpenSans-Bold;
          line-height: 24px;
          text-transform: capitalize;
				}
			}
			&__item{
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				align-content: center;
				flex-wrap: wrap;
				&-large{
					text-transform: uppercase;
					font-size: 24px;
					margin-bottom: 9px;
					font-family: OpenSans-Bold;
					width: 100%;
				}
				.btn-orange{
					width: 100%;
				}
			}
		}
	}

	.btn-white{
		margin: 0 auto;
		justify-content: center;
		padding-right: 20px;
	}

	&__auto{
		width: 100%;
		position: relative;
		margin-top: 90px;
		margin-bottom: 90px;
		&-title{
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 13px;
			text-align: center;
			font-family: OpenSans-Bold;
		}
		&-text{
			color: #929292;
			line-height: 32px;
			font-size: 16px;
			margin: 0 auto 30px auto;
			text-align: center;
			max-width: 570px;
		}
		.btn-orange{
			margin: 0 auto;
		}
	}

	&__pause{
		width: 100%;
		position: relative;
		&-title{
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 47px;
			text-align: center;
			font-family: OpenSans-Bold;
		}
		&-row{
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			margin: 0 -15px;
			margin-bottom: 25px;
		}
		.col-4{
			padding: 0 15px;
		}
	}
}
.subs-mobile{
	display: none;
}

@media screen and (max-width: 767px){
	.subscription{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.subscription__table{
		display: none;
	}

	.subs-mobile{
		display: block;
		width: 100%;
		&__item{
			width: 100%;
			position: relative;
			margin-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;
			border-bottom: 1px solid #e9e9e9;
			&-title{
				font-family: "OpenSans-Bold";
				margin-bottom: 10px;
			}
			&-value{
				margin-bottom: 25px;
				line-height: 22px;
			}
		}
		&-large{
			font-family: "OpenSans-Bold";
			margin-bottom: 5px;
			color: #FF8C3D;
			text-transform: uppercase;
		}
		.gradient-text{
			font-family: "OpenSans-Bold";
		}
		&__btn{
			display: flex;
			width: 100%;
			justify-content: center;
			margin-bottom: 30px;
		}
	}
}
