<div class="channel-player" (mousemove)="showControlsWithAutohide()" (swipe)="showControlsWithAutohide()">

	<div class="channel-player__btn" [class.channel-player__btn_hide]="isHideControls" (mousemove)="showControlsWithAutohide()" (click)="goBack()">
		Назад
	</div>

  <img src="assets/images/icons/exit.svg" alt="" class="channel-player__fullsize" [class.channel-player__fullsize_hide]="isHideControls" (mousemove)="showControlsWithAutohide()" (click)="toggleFullscreen()">

    <div class="channel-tape" [class.channel-tape_hide]="isHideControls" (click)="showControlsWithAutohide()" (mousewheel)="showControlsWithAutohide()" (mousemove)="showControlsWithAutohide()" (swipeleft)="showControlsWithAutohide()" (swiperight)="showControlsWithAutohide()">
      <app-channel-controller [selectedChannelId]="channel_id" (changeActiveChannel)="changeActiveChannel($event)" (changeSelectedChannel)="changeSelectedChannel($event)"></app-channel-controller>
    </div>

    <app-player #player *ngIf="isBrowser"></app-player>

    <div class="volume" [class.volume_hide]="isHideControls">
      <app-sound-controller [volume]="volume" (controllerEvents)="onControlEvent($event)"></app-sound-controller>
      <img src="assets/images/icons/sound.svg" alt="" class="volume__icon">
    </div>

    <div class="tvshow-tape" [class.tvshow-tape_hide]="isHideControls" (click)="showControlsWithAutohide()" (mousewheel)="showControlsWithAutohide()" (mousemove)="showControlsWithAutohide()" (swipe)="showControlsWithAutohide()">
      <app-tvshow-controller [channel_id]="selectedChannelId"></app-tvshow-controller>
    </div>

    <app-adult-control *ngIf="isParentControlNeeded" (modalEvent)="onAdultCheckerComplete($event)"></app-adult-control>

</div>

