.channel-player {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__btn{
    width: 120px;
    height: 40px;
    color: #fff;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 114px;
    top: 50px;
    cursor: pointer;
    background-color: #e05f20;
    z-index: 55;
    user-select: none;
    opacity: 1;
    transition: .3s;

    &_hide{
      opacity: 0;
      transition: .3s;
    }
  }

  &__fullsize{
    position: absolute;
    right: 40px;
    top: 50px;
    cursor: pointer;
    z-index: 55;
    transition: .3s;

    &_hide{
      opacity: 0;
      transition: .3s;
    }
  }

  .channel-tape {
    position: absolute;
    left: 0;
    top: 0;
    // width: 260px;
    width: 150px;
    height: 100%;
    z-index: 5;
    animation-name: showChannels;
    animation-duration: 1s;
    transform: translateX(0);
    opacity: 1;

    &_hide {
      animation-name: hideChannels;
      animation-duration: 2s;
      // transform: translateX(-10rem);
      transform: translateX(-280px);
      opacity: 0;
    }
  }

  .tvshow-tape {
    // height: 10rem;
    // height: 220px;
    // height: 242px;
    // height: 215px;
    height: 135px;
    position: absolute;
    right: 70px;
    bottom: 0;
    // width: calc(100% - 10rem);
    // width: calc(100% - 280px);
    // width: calc(100% - 210px);
    width: calc(100% - 280px);
    animation-name: showTvshows;
    animation-duration: 1s;
    transform: translateY(0);
    opacity: 1;
    z-index: 5;

    &_hide {
      animation-name: hideTvshows;
      animation-duration: 2s;
      // transform: translateY(10rem);
      transform: translateY(220px);
      opacity: 0;
    }
  }
}

.volume {
  // width: 5rem;
  height: 10rem;
  position: absolute;
  // right: 0;
  right: 34px;
  // top: calc(50% - 22rem);
  top: 114px;
  opacity: 1;
  transition: .3s;
  &_hide{
    opacity: 0;
    transition: .3s;
  }
  &__icon{
    position: absolute;
    left: 7px;
    bottom: -40px;
    width: 32px;
  }
}

@keyframes hideChannels {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  15% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-5rem);
    opacity: 1;
  }
}

@keyframes showChannels {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  90% {
    transform: translateX(10px);
  }
}

@keyframes showTvshows {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  90% {
    transform: translateY(-10px);
  }
}

@keyframes hideTvshows {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  15% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(5rem);
    opacity: 1;
  }
}

@media screen and (max-width: 992px){
  .channel-player .tvshow-tape{
    width: 100%;
    height: 180px;
    bottom: 10px;
  }
  .volume{
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 767px){
  .volume{
    right: 0;
  }
  .channel-player .channel-tape{
    height: 101px;
    top: 70px;
    width: 100%;
    overflow: hidden;
  }
  .channel-player__fullsize{
    top: 15px;
    right: 15px;;
  }
  .channel-player__btn{
    top: 13px;
    right: 65px;
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .channel-player .tvshow-tape{
    height: 120px;
    right: 0;
  }
}
