.sale-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .coupon {
    width: 60%;
    max-width: 64rem;
    min-height: 35rem;
    padding: 5.75rem 0 3rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    color: white;
    font-family: "OpenSans-Bold", sans-serif;
    background-image: url("../../../assets/images/saleback.jpg");
    position: relative;

    @media screen and (max-width: 450px) {
      width: 95%;
      padding: 4rem 0;
    }

    &__close {
      color: white;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      padding: 1.5rem;

      &-img {
        width: 2rem;
      }
    }

    &__sale {
      font-weight: 2rem;
    }

    &__percents {
      font-size: 3.75rem;
      margin-bottom: 2rem;
    }

    &__tariff {
      font-family: "OpenSans-Semibold", sans-serif;
      font-size: 1.47rem;
      margin-bottom: 0.9rem;
    }

    &__name {
      font-size: 2.44rem;

      @media screen and (max-width: 350px) {
        font-size: 2rem;
      }
    }

    &__period {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      border: 2px solid white;
      padding: 1.25rem 4.37rem;
      font-family: "OpenSans-Extrabold", sans-serif;
      margin: 2.25rem 0 3.37rem 0;
    }

    &__button {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 1.5rem 2.37rem;
      background-color: #d43505;
      box-shadow: 0 4px 0 1px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
  }
}
