<div class="sale-wrapper" (click)="closeModal($event)">
    <div class="coupon">
        <div class="coupon__close" (click)="closeModal($event)">
            <img class="coupon__close-img" src="assets/images/icons/modal-close-icon.svg" alt="">
        </div>
        <!--<span class="coupon__sale">Скидка</span>
        <span class="coupon__percents">50%</span>
        <span class="coupon__tariff">на тариф "Премиум"</span>
        <span class="coupon__name">Все ТВ и Все Кино</span>
        <div class="coupon__period">на 1 год</div> -->
        <div class="coupon__button" (click)="openTariffs($event)">получить персональную скидку</div>
    </div>
</div>
