<div class="card-wrapper" style.backgroundImage="url({{ cover }})">
    <div class="channel-card" style.backgroundImage="url({{ cover }})" (click)="openChannel()">
        <div class="channel-card__info">
            <img [src]="channel.logo" alt="" class="channel-card__info-logo">
            <div class="channel-card__info-name">
                <div class="name">{{ channel.name }}</div>
                <div class="info">Сейчас в эфире: <span> {{ tvshowName }}</span></div>
            </div>
        </div>
    </div>
</div>