.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 4rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    .noeffects {
      background-image: none !important;
  
      &::after {
        background: none !important;
      }
    }
  
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to bottom, #232323 5%, rgba(35, 35, 35, 0.37) 50%, #232323 95%);
    }
  
    &__img {
      width: 100%;
      height: 100%;
  
      position: absolute;
      left: 0;
      top: 0;
  
  
    }
  }
  
  .channel-card {
    width: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 20px 0 black;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 30px;
    overflow: hidden;

    @media screen and (max-width: 980px) {
        width: 95%;
    }
  
    .thumbnail {
      width: 25rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: 4rem;
      top: 2.5rem;
      z-index: 1;
    }
  
    &::after {
      content: '';
      display: block;
      padding-bottom: 55%;
    }
  
    &__info {
      height:  9rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(to top, black, transparent);
      box-sizing: border-box;
      padding: 3rem 5rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      color: white;
  
      &-logo {
        width: 84px;
        margin-right: 1.5rem;
        margin-bottom: -.7rem;
      }
  
      &-name {
        .name {
          font-weight: bold;
          font-size: 20px;
        }
  
        .info {
          font-size: 14px;
  
          span {
            color: #e05f20;
            padding-left: 10px;
            font-weight: bold;
          }
        }
      }
    }
  }

  :host {
    width: 100%;
  }
  