<div (click)="setActiveDay()" class="tv-guide-item tv-guide__dates-item" [class.tv-guide-item_active]="isActive" [class.dateCurrent]="isActive">
  <div class="tv-guide-item__name" *ngIf="!isMobile">
    <span class="tv-guide-item__name-bold">
      {{ dateFirstPart }}
    </span>
    -{{ dateSecondPart }}
    <!-- {{ day.dateString }} -->
  </div>
  <div class="tv-guide-item__name" *ngIf="isMobile && !isToday">
      <span>{{ day.dayMonth }}</span><span class="tv-guide-item__name_light">{{ day.day }}</span>
      
  </div>
  <div class="tv-guide-item__name" *ngIf="isToday && isMobile">
      <span class="tv-guide-item__name-bold">Сегодня</span>
  </div>
</div>
