.tv-guide-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 16px 0;
	color: #fff;
	// font-size: 16px;
	font-size: calc(8px + 0.42vw);
	padding-top: calc(8px + 0.42vw);
	padding-bottom: calc(8px + 0.42vw);
	text-transform: uppercase;
	transition: .3s;
	cursor: pointer;
	// min-height: 68px;
	// min-height: calc(60px + 0.42vw);
	min-height: calc(17px + 2vw);

	&__name{
		// padding-left: 12px;
		// padding-right: 30px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		// width: calc(100% - 50px);
		width: 100%;
		&-bold{
			font-family: OpenSans-Bold;
		}
		&_light{
			color: #cecece;
			padding-left: 5px;
		}
	}

	&:hover{
		transition: .3s;
		color: #e05f20;
		font-family: OpenSans-Bold;
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
	}
	&_active{
		color: #e05f20;
		transition: .3s;
		font-family: OpenSans-Bold;
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
		.tv-guide-item__name_light{
			color: #e05f20;
			transition: .3s;
		}
	}
}
@media screen and (max-width: 992px){
	.tv-guide-item{
		justify-content: center;
		text-align: center;
		font-size: 14px;
		transition: .3s;
	}
}