.tv-guide-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 16px 0;
	color: #fff;
	// font-size: 16px;
	font-size: calc(8px + 0.42vw);
	padding-top: calc(8px + 0.42vw);
	padding-bottom: calc(8px + 0.42vw);
	text-transform: uppercase;
	transition: .3s;
	cursor: pointer;
	// min-height: 68px;
	// min-height: calc(60px + 0.42vw);
	min-height: calc(17px + 2vw);
	&__logo{
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		&-img{
			max-width: 80%;
		}
	}
	&__name{
		padding-left: 12px;
		padding-right: 30px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(100% - 50px);
		&-bold{
			font-family: OpenSans-Bold;
		}
	}
	&__favorite{
		position: absolute;
		right: -20px;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		max-height: 68px;
		cursor: pointer;
		&-img{
			transition: .3s;
			width: 18px;
			opacity: 0;
		}
		&:hover{
			.tv-guide-item__favorite-img{
				opacity: 1 !important;
				transition: .3s;
			}
		}
	}
	&__archive{
		position: absolute;
		right: -12px !important;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		max-height: 68px;
		cursor: pointer;
		&-img{
			transition: .3s;
			width: 12px;
			opacity: 1;
		}
		&:hover{
			transition: .3s;
			color: #e05f20;
			.tv-guide-item__archive-img{
				opacity: 1;
				transition: .3s;
			}
		}
	}
	&:hover{
		transition: .3s;
		color: #e05f20;
		font-family: "OpenSans-Bold";
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
	}
	&_active{
		color: #e05f20;
		transition: .3s;
		font-family: "OpenSans-Bold";
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
	}
}

.tv-guide {
  &__channels{
		overflow: auto;
		width: 20%;
		padding: 0 40px;
		position: relative;
		background-color: #101010;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		z-index: 5;
		&-item{
			.tv-guide-item__name{
				// font-family: OpenSans-Bold;
			}
		}
	}
}
