<app-adult-control *ngIf="isParentControlNeeded" (modalEvent)="onAdultCheckerComplete($event)"></app-adult-control>
<div (click)="setActiveChannel()" class="tv-guide-item tv-guide__channels-item" [class.tv-guide-item_active]="isActive" title="{{channel?.name}}">
  <div class="tv-guide-item__logo">
    <img [src]="channel?.logo" alt="" class="tv-guide-item__logo-img">
  </div>
  <div class="tv-guide-item__name">
    {{ channel?.name }}
  </div>
  <!-- <div class="tv-guide-item__favorite">
    <img src="assets/images/icons/star-icon.svg" class="tv-guide-item__favorite-img">
  </div> -->
</div>
