.info-modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px;
  position: relative;
  margin: 0 auto;
  max-width: 70%;

  &__text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
  }
}
