.account-poster{
	position: relative;
	padding-top: 6rem;
  cursor: pointer;
  background: white;

	&__img{
		width: 100%;
		display: inline-block;
    vertical-align: top;
    &:first-child{
      margin-bottom: 5px;
    }
	}
}

@media screen and (max-width: 767px){

	.account-poster{
		padding-bottom: 40px;
		padding: 0;
		display: none;
	}
}
