<div class="account-poster" (click)="openTariffs()">
    <img src="assets/images/lk-banner-10.jpg" alt="" class="account-poster__img">
  <img src="assets/images/lk-banner-9.jpg" alt="" class="account-poster__img">
  <!-- <img src="assets/images/lk-banner-8.jpg" alt="" class="account-poster__img"> -->
</div>
