<div class="payment">
  <div class="payment-modal" *ngIf="isShowModal">
    <div class="payment-modal__content">
      <div class="payment-modal__close" (click)="modalCancel()">
        <img
          src="assets/images/icons/modal-close-icon.svg"
          alt=""
          class="payment-modal__close-img"
        />
      </div>
      <div class="part" *ngIf="isNeedLogin">
        <div class="payment-modal__title">
          Для совершения платежа необходимо авторизоваться.
        </div>

        <div class="buttons">
          <div class="payment-modal__link" (click)="login()">Авторизация</div>
          <div class="payment-modal__link" (click)="register()">
            Регистрация
          </div>
          <div class="payment-modal__back">
            <div class="btn-white" (click)="modalCancel()">Отмена</div>
          </div>
        </div>
      </div>

      <div class="part" *ngIf="isNeedPayWay">
        <div class="payment-modal__title">
          Для совершения платежа необходимо выбрать способ оплаты.
        </div>

        <div class="buttons">
          <div class="payment-modal__back">
            <div class="btn-orange" (click)="modalCancel()">ОК</div>
          </div>
        </div>
      </div>

      <!-- <div class="part" *ngIf="isNeedLink">
      	<div class="modal__title">
      		Для совершения платежа перейдите по <a [href]="redirectUrl" target="_blank">ссылке</a>
      	</div>

          <div class="buttons">
            <div class="modal__back">
            	<div class="btn-white" (click)="modalCancel()">
            		Отмена
            	</div>
            </div>
          </div>
      </div> -->

      <div class="part" *ngIf="isNeedSms">
        <div class="payment-modal__title">
          <!-- <div [innerHTML]="textForSend"></div> -->
          <p *ngFor="let item of textForSend">
            {{ item }}
          </p>
        </div>

        <div class="buttons">
          <div class="payment-modal__back">
            <div class="btn-orange" (click)="modalCancel()">ОК</div>
          </div>
        </div>
      </div>

      <div class="part" *ngIf="isNeedCallback">
        <div class="payment-modal__title">
          Спасибо за заявку! Наши специалисты свяжутся с Вами.
        </div>

        <div class="buttons">
          <div class="payment-modal__back">
            <div class="btn-orange" (click)="closeModal()">ОК</div>
          </div>
        </div>
      </div>

      <div class="part" *ngIf="isNeedPhone">
        <div class="payment-modal__title">
          Для завершения платежа оставьте свой номер телефона. Наши специалисты
          свяжутся с Вами
        </div>

        <div class="buttons">
          <div class="payment-modal__back">
            <div class="btn-orange" (click)="closeModal()">ОК</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="payment__first">
    <div class="payment__breadcrumbs">
      <a routerLink="" class="payment__breadcrumbs-item"> Главная </a>
      <a routerLink="private/tv-tarify" class="payment__breadcrumbs-item">
        Тарифы и каналы
      </a>
      <span class="payment__breadcrumbs-item"> Оплата </span>
    </div>

    <div class="payment__title">оплата</div>

    <div class="container">
      <div class="payment__activation">
        <div class="payment__activation-title">активация</div>
        <div class="payment__activation-line">
          <div class="payment__activation-line-left">
            {{ tariff?.name }}
          </div>
          <div class="payment__activation-line-right">
            <span *ngIf="isBook" style="text-decoration: line-through">{{
              tariff?.price + tariff?.price * 0.2 | roundPipe
            }}</span>
            {{ tariff?.price_formatted }}
          </div>
          <!-- <div class="payment__activation-line-right" *ngIf="isHavePaymentLinedText">
						<span class="lined-text">{{ tariff?.bigLinedText }}</span> {{ tariff?.cost }} РУБ
					</div> -->
        </div>

        <div
          *ngIf="tariff?.product_option_id === 286"
          class="payment__activation-line"
        >
          <div class="payment__activation-line-left">
            "ВСЕ ВКЛЮЧЕНО" ТВ И КИНО
          </div>
          <div class="payment__activation-line-right">
            <ul>
              <li>Более 300 каналов</li>
              <li>Архив передач 20 дней</li>
              <li>Каталог фильмов</li>
              <li>Мультирум на 5 устройств</li>
              <li>Приложения на Smart TV Samsung/ LG/ Android</li>
            </ul>
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="!isBook && tariff?.product_option_id === 180"
        >
          <div class="payment__activation-line-left">
            <span>Тестовый период</span>
          </div>
          <div class="payment__activation-line-right">
            6 месяцев за 0.30 копеек, с возможностью отключиться от услуги в
            течение тестового периода
          </div>
        </div>

        <div
          *ngIf="tariff?.product_option_id === 180"
          class="payment__activation-line"
        >
          <div class="payment__activation-line-left">Условия</div>
          <div class="payment__activation-line-right">
            После тестового периода услуга подключается на 1 год с ежемесячной
            оплатой.
          </div>
        </div>

        <div
          *ngIf="tariff?.product_option_id === 286"
          class="payment__activation-line"
        >
          <div class="payment__activation-line-left">Условия</div>
          <div class="payment__activation-line-right">
            Бессрочная подписка привязывается к Вашему устройству просмотра, и
            действует весь срок службы основного устройства, на котором
            осуществляется просмотр.
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="
            !notUrgent &&
            !isBook &&
            tariff?.product_option_id !== 286 &&
            tariff?.product_option_id !== 288 &&
            tariff?.product_option_id !== 289 &&
            tariff?.product_option_id !== 290 &&
            tariff?.product_option_id !== 291
          "
        >
          <div class="payment__activation-line-left">Бессрочная подписка</div>
          <div class="payment__activation-line-right">
            при оплате 36 месяцев подряд - Вы получаете БЕССРОЧНУЮ ПОДПИСКУ на
            телевидение, без необходимости какой-либо оплаты в дальнейшем!
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="!notUrgent && !isBook && tariff?.product_option_id === 288"
        >
          <div class="payment__activation-line-left">Бессрочная ЛИЦЕНЗИЯ</div>
          <div class="payment__activation-line-right">
            лицензия без ограничения срока действия для личного использования
            приложения Persik на платформе Samsung Smart TV
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="!notUrgent && !isBook && tariff?.product_option_id === 289"
        >
          <div class="payment__activation-line-left">Бессрочная ЛИЦЕНЗИЯ</div>
          <div class="payment__activation-line-right">
            лицензия без ограничения срока действия для личного использования
            приложения Persik на платформе LG Smart TV
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="!notUrgent && !isBook && tariff?.product_option_id === 290"
        >
          <div class="payment__activation-line-left">Бессрочная ЛИЦЕНЗИЯ</div>
          <div class="payment__activation-line-right">
            лицензия без ограничения срока действия для личного использования
            приложения Persik на платформе Android TV
          </div>
        </div>

        <div
          class="payment__activation-line"
          *ngIf="!notUrgent && !isBook && tariff?.product_option_id === 291"
        >
          <div class="payment__activation-line-left">Бессрочная ЛИЦЕНЗИЯ</div>
          <div class="payment__activation-line-right">
            лицензия без ограничения срока действия для личного использования
            приложения Persik на платформе Android Mobile
          </div>
        </div>
      </div>
    </div>

    <!-- <ng-template #simple> <span *ngIf="isBook" style="text-decoration: line-through;">{{ tariff?.cost + tariff?.cost * 0.2 | roundPipe }}</span> {{ tariff?.cost }} <span *ngIf="tariff?.id !== 259">РУБ</span></ng-template> -->
    <!-- <ng-template #firstmonth>{{ tariff?.first_month }} первый месяц, далее {{ tariff?.cost }} РУБ</ng-template> -->
  </div>

  <div class="autoextend" *ngIf="isMountly">
    Тариф доступен на условиях автопродления. Вы можете отказаться от
    автопродления в любой момент.
  </div>

  <div class="container">
    <div class="payment-flex-reverser">
      <div class="payment__title_small payment__title mobile-order-third">
        Ваш аккаунт
      </div>

      <!-- <div class="payment__social">
					<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook,google,twitter,yandex;hidden=;redirect_uri=;mobilebuttons=0;callback=initAuth"></div>
			</div> -->
      <!-- <div class="payment__or hidden-mobile" *ngIf="isLogin">
				или
			</div> -->

      <div class="payment__input">
        <div
          class="form-group form-group_fixed-title payment__login"
          *ngIf="isLogin"
        >
          <span>Вы авторизованы как: {{ userEmail }}</span>
          <div>
            <span class="link" (click)="login()">Войти</span> под другим
            аккаунтом, или
            <span class="link" (click)="register()">зарегистрироваться</span>
          </div>
        </div>

        <div
          class="form-group form-group_fixed-title payment__login"
          *ngIf="!isLogin"
        >
          <span
            >Для завершения оплаты необходимо
            <span class="link" (click)="openAuthModal()"
              >авторизоваться</span
            ></span
          >
        </div>
      </div>

      <div
        class="payment__title_small payment__title mobile-order-first"
        *ngIf="isHavePayways"
      >
        <span class="gradient-text">Метод</span> оплаты
      </div>

      <div class="payment__title_small payment__title" *ngIf="!isHavePayways">
        Для завершения оплаты оставьте ваш номер телефона
      </div>

      <div class="payment__grid" *ngIf="isHavePayways">
        <div
          class="payment__grid-item"
          [class.payment__grid-item_active]="isPaymentSelected(item.id)"
          (click)="setActivePaymentId(item.id)"
          *ngFor="let item of payways"
        >
          <div class="payment__grid-item-content">
            <img
              [src]="item.logo"
              [alt]="item.name"
              class="payment__grid-item-logo"
            />
            <div class="payment__grid-item-name">
              {{ item.name }}
            </div>
          </div>
        </div>

        <div
          class="payment__grid-item"
          *ngIf="isPeriodlessTariff"
          (click)="openCardPayments()"
        >
          <div class="payment__grid-item-content">
            <div class="card-stub"></div>
            <div class="payment__grid-item-name">Карта</div>
          </div>
        </div>
      </div>

      <div class="card-expired" *ngIf="isAssistSelected">
        <span class="card-expired__title"
          >Введите срок действия карты (ММ/ГГ):</span
        >
        <form novalidate [formGroup]="expiredForm" class="card-expired__fields">
          <div class="inputs">
            <input
              maxlength="2"
              class="expired-field"
              [class.expired-field_error]="
                cardMonth.errors && cardMonth.touched
              "
              formControlName="cardMonth"
              onlyDigits
              (keyup)="onFieldKeyDown($event)"
              type="text"
              name="month"
            />
            /
            <input
              maxlength="2"
              class="expired-field"
              [class.expired-field_error]="cardYear.errors && cardYear.touched"
              formControlName="cardYear"
              onlyDigits
              (keydown)="onFieldKeyDown($event)"
              type="text"
              name="year"
            />

            <div
              class="expired-errors"
              *ngIf="
                (cardMonth.errors || cardYear.errors) &&
                (cardMonth.touched || cardYear.touched)
              "
            >
              <span
                class="expired-errors__item"
                *ngIf="
                  cardMonth.touched &&
                  cardMonth.errors &&
                  cardMonth.errors['monthValidator']
                "
                >Месяц введен некорректно</span
              >
              <span
                class="expired-errors__item"
                *ngIf="
                  (cardMonth.touched || cardYear.touched) &&
                  ((cardMonth.errors && cardMonth.errors['minlength']) ||
                    (cardYear.errors && cardYear.errors['minlength']))
                "
                >Необходимо ввести 2 цифры</span
              >
              <span
                class="expired-errors__item"
                *ngIf="
                  cardYear.touched &&
                  cardYear.errors &&
                  cardYear.errors['yearValidator']
                "
                >Год введен некорректно</span
              >
              <span
                class="expired-errors__item"
                *ngIf="cardMonth.errors && cardMonth.errors['incorrect']"
                >Срок действия карты истек</span
              >
              <span
                class="expired-errors__item"
                *ngIf="
                  (cardMonth.touched || cardYear.touched) &&
                  ((cardYear.errors && cardYear.errors['required']) ||
                    (cardMonth.errors && cardMonth.errors['required']))
                "
                >Обязательное поле</span
              >
            </div>
          </div>
        </form>
      </div>
      <!--
			<div class="payment__or" *ngIf="payways.length > 0">
				или
			</div>-->

      <form
        novalidate
        [formGroup]="contactForm"
        class="payment__input mobile-order-second"
        *ngIf="!isHavePayways"
      >
        <div class="form-group form-group_fixed-title">
          <label for="phone" class="form-group__label">Телефон</label>
          <input
            id="phone"
            type="text"
            class="form-group__input"
            formControlName="contact"
            placeholder="375"
          />
          <span class="form-group form-group_plus">+</span>
          <div
            class="field-error"
            *ngIf="contact.errors && (contact.dirty || contact.touched)"
          >
            <span *ngIf="contact.errors['required']" class="form-group__error"
              >Поле обязательное для заполнения</span
            >
            <span
              *ngIf="
                contact.errors['minlength'] ||
                contact.errors['maxlength'] ||
                contact.errors['pattern']
              "
              class="form-group__error"
              >Неверный формат. (Пример: 375291230000)</span
            >
          </div>
        </div>
      </form>
    </div>

    <div class="payment__btn">
      <div class="btn-orange" id="confirm-btn" (click)="confirm()">
        Подтвердить
      </div>
    </div>
  </div>
</div>
