.payment {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 150px;
  background: white;

  &__login {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    a {
      color: #e05f20;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #e05f20;
      }
    }
  }

  .autoextend {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .payment-modal {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: auto;
    position: fixed;
    top: 0;
    background-color: rgba(249, 249, 249, 0.7);

    &__close {
      position: absolute;
      width: 24px;
      height: 24px;
      right: -12px;
      top: -12px;
      background-image: linear-gradient(to left, #9ed061, #abe06a);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      &-img {
        width: 12px;
      }
    }

    &__content {
      position: relative;
      // width: 400px;
      width: 750px;
      max-width: 90%;
      height: auto;
      background-color: #abe06a;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      background-color: #ffffff;
      padding: 40px;
      // padding-top: 20px;

      .part {
        width: 100%;
        height: 100%;

        .buttons {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          cursor: pointer;
          color: #e05f20;
          text-decoration: none;
        }
      }
    }

    &__link {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 16px;
      margin-bottom: 30px;
      text-decoration: none;
      &:hover {
        color: #e05f20;
        text-decoration: underline;
      }
    }

    &__back {
      width: 100%;
      display: flex;
      justify-content: center;
      .btn-white {
        justify-content: center;
        padding-left: 0;
        width: 200px;
        &:hover {
          text-decoration: none;
        }
      }
      .btn-orange {
        width: 200px;
      }
    }

    &__title {
      font-family: OpenSans-Bold;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      a {
        color: #e05f20;
        text-decoration: none;
        &:hover {
          color: #e05f20;
          text-decoration: underline;
        }
      }
      p {
        text-align: left;
        font-family: OpenSans;
        text-transform: none;
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }

  &__first {
    padding-top: 44px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9;
  }

  &__breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;
    &-item {
      text-decoration: none;
      color: #8c8c8c;
      margin-bottom: 10px;
      transition: 0.3s;
      &:hover,
      &:focus {
        color: #e05f20;
        text-decoration: none;
        transition: 0.3s;
      }
      &:after {
        content: "/";
        padding-left: 3px;
        padding-right: 4px;
      }
      &:last-child {
        &:after {
          display: none;
        }
        &:hover {
          color: #8c8c8c;
          cursor: initial;
        }
      }
    }
  }

  &__title {
    color: #232323;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 28px;
    font-family: OpenSans-Bold;
    padding-left: 15px;
    padding-right: 15px;
    &_small {
      padding-left: 0;
      padding-right: 0;
      font-size: 24px;
      padding-bottom: 0;
    }
  }

  &__social {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 34px;
    margin-top: 22px;
    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .form-group {
      width: 100%;
      max-width: 570px;
      &__input {
        margin-bottom: 80px;
      }

      &__error {
        top: 95px;
      }

      &_plus {
        position: absolute;
        top: 15px;
        left: -15px;
      }

      .link {
        color: #e05f20;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: #e05f20;
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin: 34px 0;

    &-item {
      width: 20%;
      position: relative;
      border: 1px solid #e9e9e9;
      background-color: #fff;
      border-left: none;
      transition: 0.3s;
      cursor: pointer;

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 21px;
        bottom: 21px;
        z-index: 10;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center center;
        background-image: url("../../../../assets/images/icons/tarif-checked.svg");
      }
      &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      &-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
      }
      &-name {
        width: 100%;
        padding-top: 14px;
        padding-bottom: 32%;
        text-align: center;
      }
      &:first-child {
        border-left: 1px solid #e9e9e9;
      }
      &:hover {
        transition: 0.3s;
        background-color: #f9f9f9;
        .payment__grid-item-name {
          font-family: OpenSans-Bold;
        }
      }
      &_active {
        &:after {
          background-image: url("../../../../assets/images/icons/tarif-good.svg");
        }
      }
    }
  }

  &__or {
    font-family: OpenSans-Bold;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__small-text {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.89;
    padding-bottom: 110px;
    margin: 0 auto;
    max-width: 670px;
  }

  &__activation {
    position: relative;
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 104px;
    padding-left: 100px;
    padding-right: 100px;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    &-title {
      text-transform: uppercase;
      font-family: OpenSans-Bold;
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
      font-size: 32px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -2px;
      height: 2px;
      background: linear-gradient(to right, #ffcd78, #abe06a);
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      background-color: #fff;
      height: 1px;
    }
    &-line {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      min-height: 80px;
      padding: 15px 0;
      border-bottom: 1px solid #e9e9e9;

      @media screen and (max-width: 450px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .gradient-text {
        font-size: 24px;
      }
      &-right {
        font-family: OpenSans-Bold;
        max-width: 60%;
        text-align: right;

        @media screen and (max-width: 450px) {
          text-align: center;
          margin-top: 10px;
        }

        .lined-text {
          font-size: 14px;
          text-decoration: line-through;
          padding-right: 5px;
        }
      }
      &:first-child {
        border-top: 1px solid #e9e9e9;
      }
    }
  }
}

.card-expired {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &__title {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }

  &__fields {
    font-size: 3rem;
    width: 30rem;
    height: 19rem;
    color: gainsboro;
    position: relative;
    background-image: url("../../../../assets/images/card.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .inputs {
      position: absolute;
      right: 1.2rem;
      top: 5rem;

      .expired-field {
        width: 5rem;
        height: 3rem;
        outline: none;
        border-radius: 5px;
        border: 2px solid gainsboro;
        font-size: 2.2rem;
        text-align: center;

        &_error {
          border: 2px solid red;
        }
      }

      .expired-errors {
        display: flex;
        flex-direction: column;
        color: red;
        position: absolute;
        left: 0;
        top: 3.5rem;

        &__item {
          font-size: 1rem;
          text-shadow: 1px 0 1px red;
        }
      }
    }
  }
}

.card-stub {
  width: 55px;
  height: 40px;
  background-color: black;
  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .payment-modal {
    padding-top: 200px;
  }
  .payment__grid {
    border-top: 1px solid #e9e9e9;
  }
  .payment__grid-item {
    width: 50%;
    border: 1px solid #e9e9e9;
    border-top: none;
    &:first-child {
      border-left: 1px solid #e9e9e9;
    }
    &:nth-child(even) {
      border-left: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .payment__activation {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .payment__first {
    padding-top: 90px;
  }
  .payment__input .form-group__input {
    margin-bottom: 40px;
  }
  .payment-flex-reverser {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .mobile-order-first {
      order: -1;
    }
    .payment__grid {
      order: -1;
    }
    .payment__or {
      order: 0;
    }
    .mobile-order-second {
      order: 1 !important;
    }
    .mobile-order-third {
      order: 2 !important;
    }
    .payment__input {
      order: 4;
    }
    .payment__social {
      order: 3;
    }
  }
}

@media screen and (max-width: 486px) {
  .card-expired {
    &__fields {
      width: 100%;
    }
  }
}
