.modal-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    to left,
    rgba(255, 205, 120, 0.6),
    rgba(171, 224, 106, 0.6)
  );
  padding-top: 70px;
  padding-bottom: 40px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
