<div class="text-page films">
  <div class="container">
    <div class="films__title">
      просмотр на
      <span class="gradient-text">
        smart tv
      </span>
    </div>

    <div class="offer-text">
      <div class="information offer">
        <div class="information about">
          <h2>
            Что такое Smart TV?
          </h2>
          <p>
            Smart TV, или Connected TV – это симбиоз компьютера и телевизора, предоставляющий широкие возможности
            просмотра огромного количества телеканалов практически со всего мира, только лишь благодаря сети Интернет!
          </p>
          <p>
            Тысячи фильмов, мультфильмов, сериалов, шоу, образовательных и познавательных передач и телеканалов, которые
            можно смотреть в любое время суток – всё это становится доступным со Smart TV.
          </p>
          <p>
            Smart TV в Беларуси стремительно набирает популярность, ведь эта технология делает телевидение дешевле,
            удобнее и доступнее. Кроме того, Smart TV позволяет получать информацию о погоде на неделю, о курсах валют,
            не отрываться от общения в любимых соцсетях и т.д.
          </p>
          <br>
          <br>

          <h2>
            Samsung Smart TV
          </h2>
          <p>
            Телевизоры последнего поколения от Samsung непременно поддерживают функцию Smart TV. Подключая сервис
            Persik.by IPTV на Samsung Smart TV, вы получаете:
          </p>
          <p>
            • множество телеканалов;<br>
            • отличное качество звука и изображения;<br>
            • интерактивность, что позволит вам смотреть любимые фильмы или передачи в удобное для вас время.
          </p>
          <p>
            Подключить онлайн ТВ для Smart TV Samsung просто – достаточно иметь хорошее подключение к Интернету со
            скоростью не менее 3 Мбит/с. Зайдя в меню вашего телевизора, вам необходимо установить приложение, после
            чего следуйте простым инструкциям. Установить виджет можно из официального магазина приложений «Samsung
            Apps» — <a (click)="goTo('/devices', 'smart')">раздел «Видео»</a> . В настройках телевизора обязательно
            должен быть указан регион «Беларусь» или «Россия», иначе приложение может не отображаться в магазине.
          </p>
          <p>
            Имея телевизор с функцией Smart TV, IPTV вы легко сможете настроить прямо у себя дома – достаточно
            обеспечить подключение к Интернету! Что же касается каналов на Smart TV, то Persik.by предлагает вашему
            вниманию самые популярные телеканалы на любой вкус!
          </p>
          <br>
          <br>
          <h2>
            LG Smart TV
          </h2>
          <p>
            Телевизоры LG Smart TV в Беларуси также широко распространены, поэтому и для них было специально разработано
            приложение. Установить виджет можно из официального магазина приложений LG Smart World – <a
              (click)="goTo('/devices', 'smart')">раздел «ТВ»</a>. В настройках телевизора обязательно должен быть
            указан регион «Беларусь» или «Россия», иначе приложение может не отображаться в магазине.
          </p>
          <p>
            Виджет разработан для платформ LG не позднее 2013 года. Платформа LG WebOS (2014 г.) временно не
            поддерживается. Для просмотра на LG WebOS используйте сторонний виджет "SSIPTV".
          </p>
          <p>
            Подключая IPTV на LG Smart TV, вы узнаете, что такое по-настоящему интересное, увлекательное и полезное
            телевидение! Вы полюбите смотреть ТВ, даже если раньше не слишком получали от этого удовольствие.
          </p>
          <br>
          <br>
          <h2>
            Как подключить Smart TV от Persik.by?
          </h2>
          <p>
            Если вы хотите получить доступ ко всем телеканалам сервиса, то для этого оформите подписку на один из
            доступных тарифных пакетов. Кроме того, Persik.by предоставляет возможность <a
              (click)="goTo('/free')">смотреть все каналы бесплатно</a>.
          </p>
          <p>
            Зарегистрируйтесь на нашем сайте, а затем пройдите в раздел «Подключить», где вы найдёте описания и
            стоимость всех пакетов. После того как вы выбрали понравившийся пакет, нажмите кнопку «Купить», а затем
            оплатите любым из возможных способов.
          </p>
          <p>
            Подключая Persik.by, у вас появляется возможность смотреть самые популярные телеканалы на любом устройстве;
            при просмотре телевидения вам не придется долго ждать, пока видео загрузится, ведь мы используем технологию
            adaptive bitrate streaming, которая подстроится под скорость вашего интернет-соединения.
          </p>
          <p>
            Persik.by – это мобильность и удобство: наш контент вы можете смотреть на ЛЮБОМ устройстве: на телевизорах
            Smart TV, на компьютере, планшете, смартфоне и даже на самом простом телевизоре с помощью подключенной
            ТВ-приставки.
          </p>
          <p>
            Каналы от Persik.by доступны для вас 24 часа в сутки, а также при подключении вам будет доступна наша
            видеотека, которая содержит более 1000 фильмов, сериалов и мультфильмов!
          </p>
          <p>
            У вас остались вопросы? Звоните и спрашивайте! Наши специалисты с удовольствием вас проконсультируют и
            помогут подобрать оптимальный для вас вариант!
          </p>
          <br>
          <br>
          <br>
          <p>
            info@persik.by
          </p>


        </div>
      </div>
    </div>
  </div>
</div>
