.footer{
	position: relative;
	padding-top: 145px;
	background: white;
	padding-bottom: 0 !important;
  overflow: hidden;

	.container{
		position: relative;
		z-index: 1;
	}
	.row{
		margin: 0 -15px;
		.col-3{
			padding: 0 15px;
		}
	}
	&__title{
		color: #232323;
		font-size: 13px;
		line-height: 20px;
		font-family: OpenSans-Bold;
		margin-bottom: 16px;
		text-transform: uppercase;
		cursor: pointer;
	}
	&__item{
		display: block;
		color: #929292 !important;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 11px;
		transition: .3s;
		cursor: pointer;
		img{
			max-width: 110px;
		}
		&:hover{
			transition: .3s;
			color: #232323 !important;
		}
		&_no-hover{
			cursor: initial;
			&:hover{
				color: #929292 !important;
			}
    }

    &_cursor {
      cursor: pointer;

      &:hover {
        color: darkgray;
      }
    }
	}

	&__social{
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: -5px;


		&-item{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			border-radius: 50%;
			margin: 0 5px;
			width: 40px;
			height: 40px;
			outline: none !important;
			text-decoration: none !important;
			// background-color: #e05f20;
			background-color: #FF8C3D;
			// opacity: 0.9;
			transition: .3s;
			&:hover{
				// opacity: 1;
				background-color: #e05f20;
				transition: .3s;
			}
		}
	}

	&__small-title{
		font-family: 'OpenSans-Bold';
		// text-transform: uppercase;
		color: #232323;
		margin-bottom: 20px;
		margin-top: 30px;
		font-size: 14px;
	}

	&__markets{
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		margin-left: -5px;
		margin-right: -5px;

		&-item{
			margin-right: 5px;
			margin-left: 5px;
			opacity: 0.9;
			display: block;
			cursor: pointer;
			transition: .3s;
			&:hover{
				opacity: 1;
				transition: .3s;
			}
		}

		&-img{
			width: 120px;
			display: inline-block;
			vertical-align: top;
		}
	}

	&__payments{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		margin-left: -5px;
		margin-right: -5px;

		&-item{
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 10px;
		}

		&-img{
			max-width: 32px;
			display: inline-block;
			vertical-align: top;
		}
  }

  &__address {
    margin: 20px 0;
    font-size: 14px;
    color: #929292;
  }

	&__copypaste{
		text-align: center;
		font-size: 14px;
		margin-top: 90px;
		margin-bottom: 20px;
		opacity: 0.8;
  }


	.green-circle{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background-image: linear-gradient(to left, #9ed061, #abe06a);
		position: absolute;
		left: -150px;
		bottom: -150px;
		z-index: 0;
	}
	.dot1{
		width: 15px;
		height: 15px;
		right: 4%;
		top: 30%;
	}
	.dot2{
		width: 10px;
		height: 10px;
		bottom: 55px;
		left: 55%;
	}
}
.footer-col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-left: 15px;
	padding-right: 15px;
	width: 25%;
}
.footer--dark{
	background-color: #000;
	// .green-circle{
	// 	opacity: 0.45;
	// 	background-color: #fff;
	// 	background-image: none;
	// }
	.footer__title{
		color: #fff;
	}
	.footer__item{
		color: #fff !important;
		opacity: 0.4;
		&:hover{
			opacity: 1;
			transition: .3s;
		}
	}
	.footer__small-title{
		color: #fff;
	}
	.footer__copypaste{
		color: #fff;
	}
}
.mt{
	margin-top: 20px;
}
@media screen and (max-width: 1300px){
	.footer{
		padding-top: 110px;
	}
	.footer__markets-img{
		width: 100px;
	}
}
@media screen and (max-width: 1200px){
	.footer{
		padding-top: 40px;
	}
	.footer-col{
		width: 33.3333334%;
		padding-top: 15px;
	}
	.footer__small-title{
		margin-top: 15px;
	}
	.footer__copypaste{
		margin-top: 40px;
	}
}
@media screen and (max-width: 992px){
	.footer{
		padding-top: 40px;
		padding-bottom: 0;
		.col-3{
			margin-bottom: 30px;
		}
	}
	.footer__title, .footer__item{
		padding: 0;
	}
}
@media screen and (max-width: 767px){
	.footer{
		text-align: center;
		.row{
			margin: 0;
			padding-top: 30px;
		}
	}
	.footer-col{
		width: 50%;
	}
	.footer__item_no-hover{
		text-align: left;
		line-height: 20px;
	}
	.footer .row .col-3{
		width: 50%;
		max-width: 50%;
		flex: 0 0 50%;
	}
	.footer__small-title{
		text-align: left;
	}
	.footer__title, .footer__item{
		padding: 0;
		text-align: left;
	}
}

@media screen and (max-width: 500px){
	.footer .row .col-3, .footer .row .col-6{
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
		padding: 0;
	}
	.footer-col{
		width: 100%;
		padding: 0;
	}
	.footer__copypaste{
		margin-top: 0;
	}
}
