<div class="publish-page">
  <div class="publish-page__banner">
      <img class="publish-page__banner-image" src="assets/images/publish-banner-2.jpg" alt="Сотрудничество с Persik">
      <div class="publish-page__banner-wrapper">
        <h1 class="publish-page__banner-wrapper-title">
            Сотрудничество с Persik
        </h1>
      </div>
  </div>

    <div class="container">

        <div class="publish-page__text">
            Persik - сервис, предоставляющий возможность просматривать интерактивное телевидение и видеоконтент (кино,
            сериалы, мультфильмы, блоги и онлайн-курсы) на любом устройстве и в любой части Республики Беларусь и
            мира.<br>
            Начните зарабатывать прямо сейчас, предлагая своим клиентом качественный контент!
        </div>

        <div class="publish-page__list">
            <div class="publish-page__list-title">
                Приглашаем к сотрудничеству
            </div>
            <div class="publish-page__list-item">
                <div class="publish-page__list-item-icon">
                    <img src="assets/images/icons/publish-1.svg" alt="">
                </div>
                Ритейл: онлайн и оффлайн магазины;
            </div>

            <div class="publish-page__list-item">
                <div class="publish-page__list-item-icon">
                    <img src="assets/images/icons/publish-2.svg" alt="">
                </div>
                Индивидуальных предпринимателей и дилеров;
            </div>

            <div class="publish-page__list-item">
                <div class="publish-page__list-item-icon">
                    <img src="assets/images/icons/publish-3.svg" alt="">
                </div>
                Интернет-провайдеров и операторов связи;
            </div>

            <div class="publish-page__list-item">
                <div class="publish-page__list-item-icon">
                    <img src="assets/images/icons/publish-4.svg" alt="">
                </div>
                Владельцев порталов, СМИ, сайтов, блогов и youtube-каналов;
            </div>

            <div class="publish-page__list-item">
                <div class="publish-page__list-item-icon">
                    <img src="assets/images/icons/publish-5.svg" alt="">
                </div>
                Не нашли себя в списке, но хотите сотрудничать? Пишите - мы рады каждому:)
            </div>
        </div>

        <div class="publish-page__gradient-title">
            <div class="gradient-text">
                варианты сотрудничества с persik tv
            </div>
        </div>

        <div class="publish-page__grid">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item contacts__item_custom">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/coop1.png" alt="Подключение и продажи через онлайн-систему">
                        </div>

                        <div class="contacts__item-title">
                            Подключение и продажи через онлайн-систему
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item contacts__item_custom">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/coop2.png" alt="РЕФЕРАЛЬНАЯ ПРОГРАММА С ПОСТОЯННЫМИ ВЫПЛАТАМИ">
                        </div>

                        <div class="contacts__item-title">
                            РЕФЕРАЛЬНАЯ ПРОГРАММА С ПОСТОЯННЫМИ ВЫПЛАТАМИ
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item contacts__item_custom">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/coop3.png" alt="Индивидуальное решение для вашего бизнеса">
                        </div>

                        <div class="contacts__item-title">
                            Индивидуальное решение для вашего бизнеса
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="publish-page__about">
        <div class="container">
            <div class="publish-page__about-title">
                преимущества сотрудничества с persik
            </div>
            <div class="publish-page__about-item">
                Доступ на быстрорастущий рынок медиаконтента
            </div>
            <div class="publish-page__about-item">
                Простота активации и продажи подписок в один клик
            </div>
            <div class="publish-page__about-item">
                Индивидуальный подход к каждому партнеру
            </div>
        </div>

    </div>

    <form novalidate [formGroup]="userForm" class="publish-page__form">
        <div class="container">
            <div class="publish-page__form-title">
                пишите
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group" [class.form-group_dirty]="name.value">
                        <input formControlName="name" type="text" id="name" class="form-group__input">
                        <label for="name" class="form-group__label">Имя</label>
                        <div class="field-error" *ngIf="name.errors && (name.dirty || name.touched)">
                          <span *ngIf="name.errors['required']" class="form-group__error">Введите Ваше имя</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group" [class.form-group_dirty]="email.value">
                        <input formControlName="email" type="text" id="email" class="form-group__input">
                        <label for="email" class="form-group__label">Email</label>
                        <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
                          <span *ngIf="email.errors['emailValidator'] && !email.errors.required" class="form-group__error">Неверный формат</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group" [class.form-group_dirty]="phone.value">
                        <input formControlName="phone" type="text" id="phone" class="form-group__input">
                        <label for="phone" class="form-group__label">Телефон</label>
                        <div class="field-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                          <span *ngIf="phone.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
                          <span *ngIf="phone.errors['pattern'] && !phone.errors.required" class="form-group__error">Неверный формат</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="form-group" [class.form-group_dirty]="message.value">
                        <input type="text" formControlName="message" class="form-group__input" id="message">
                        <label for="message" class="form-group__label">Сообщение</label>
                        <div class="field-error" *ngIf="message.errors && (message.dirty || message.touched)">
                          <span *ngIf="message.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="publish-page__form-button">
                <div class="btn-orange" (click)="sendData()">
                    оставить заявку
                </div>
            </div>

            <div class="publish-page__text-block">
                Persik - дополнительная выгода!
            </div>
        </div>
      </form>
</div>
