<div class="howto">
	<div class="howto__first">
		<!-- <div class="green-circle"></div> -->
		<div class="green-dot dot1"></div>
		<div class="green-dot dot2"></div>
		<div class="green-dot dot3"></div>
		<!-- <div class="howto__breadcrumbs">
			<a routerLink="" class="howto__breadcrumbs-item">
				Главная
			</a>
			<span class="howto__breadcrumbs-item">
				Как смотреть
			</span>
		</div> -->

		<h1 class="howto__title">
			как смотреть<span class="gradient-text"></span>
		</h1>

		<div class="howto__small-text">
			Смотрите Persik на любых устройствах Smart TV, компьютерах и ноутбуках, iPad или iPhone, смартфонах и
			планшетах Android
		</div>

		<div class="container">
			<img src="assets/images/howto1.png" alt="Приложения для просмотра тв" class="howto__banner">
		</div>

	</div>

	<div class="howto__section">
		<div class="green-dot dot4"></div>
		<div class="green-dot dot5"></div>
		<div class="green-dot dot6"></div>
		<div class="howto__section-icon">
			<img src="assets/images/icons/tv-icon.svg" alt="" class="howto__section-icon-image">
		</div>

		<div class="container">
			<div class="howto__section-title">
				телевизоры
			</div>
			<div class="howto__section-title_small" id="smart">
				Смотрите Persik.tv на Smart TV и медиаплеерах, которые имеют подключение к интернету
			</div>

			<ngx-slick [config]="slideConfig" class="howto__slider" *ngIf="isBrowser">
				<div ngxSlickItem *ngFor="let item of smarts">
					<app-slider-item [item]="item" (changeActive)="setSmartPlatform($event)"></app-slider-item>
				</div>
			</ngx-slick>


			<div class="howto__info" id="tv">
				<div class="howto__info-left">
					<div class="howto__info-text">
						<div class="howto__info-text_small">Просмотр на {{ activeSmart.small }}</div>
						Смотрите на телевизорах <span class="gradient-text">{{ activeSmart.orange }}</span> при помощи
						официального приложения TV BY Persik
					</div>
					<a target="_blank" [href]="activeSmart.link" *ngIf="activeSmart.link" class="btn-orange">
						скачать
					</a>
				</div>
				<div class="howto__info-right">
					<img src="assets/images/howto3.png" alt="Смотрите на телевизорах samsung smart tv" class="howto__info-image">
				</div>
			</div>
		</div>

	</div>

	<div class="howto__section howto__section_grey">
		<div class="green-dot dot7"></div>
		<div class="container">
			<div class="howto__steps">
				<div class="howto__steps-grey-title">
					3 простых шага
				</div>
				<div class="howto__section-title">
					как <span class="gradient-text">установить</span>
				</div>

				<div class="howto__steps-grid">
					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/router.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								01
							</div>
						</div>
						<div class="howto__steps-item-title">
							интернет
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsSmart?.internet }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/persikby.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								02
							</div>
						</div>
						<div class="howto__steps-item-title">
							Приложение
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsSmart.application }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">

							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/posters.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								03
							</div>
						</div>
						<div class="howto__steps-item-title">
							Запуск
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsSmart.start }}
						</div>
					</div>
				</div>

				<!-- <div class="howto__steps-btn">
					<div class="btn-white">
						подробнее
					</div>
				</div> -->

			</div>
		</div>
	</div>



	<div class="howto__section">
		<div class="green-dot dot8"></div>
		<div class="green-dot dot9"></div>
		<div class="howto__section-icon">
			<img src="assets/images/icons/console.svg" alt="" class="howto__section-icon-image">
		</div>

		<div class="container">
			<div class="howto__section-title">
				<span class="gradient-text">тв</span> приставки
			</div>

			<ngx-slick [config]="slideConfig" class="howto__slider" *ngIf="isBrowser">
				<div ngxSlickItem *ngFor="let item of boxes">
					<app-slider-item [item]="item" (changeActive)="setBoxPlatform($event)"></app-slider-item>
				</div>

			</ngx-slick>

			<div class="howto__info" id="box">
				<div class="howto__info-left">
					<div class="howto__info-text">
						<div class="howto__info-text_small">Просмотр на ТВ-приставках {{ activeBox.small }}</div>
						Смотрите на любых телевизорах, используя цифровые ТВ-приставки <span class="gradient-text">
							{{ activeBox.big }}
						</span>
					</div>
					<a target="_blank" *ngIf="activeBox.download_link" [href]="activeBox.download_link"
						class="btn-orange">
						скачать
					</a>
					<a target="_blank" *ngIf="activeBox.connect_link" [href]="activeBox.connect_link"
						class="btn-orange">
						Открыть инструкцию
					</a>
				</div>
				<div class="howto__info-right">
					<img [src]="activeBox.picture" alt="Смотрите на любых телевизорах" class="howto__info-image">
				</div>
			</div>
		</div>

	</div>

	<div class="howto__section howto__section_grey">
		<div class="green-dot dot10"></div>
		<div class="container">
			<div class="howto__steps">
				<div class="howto__steps-grey-title">
					3 простых шага
				</div>
				<div class="howto__section-title">
					как <span class="gradient-text">установить</span>
				</div>

				<div class="howto__steps-grid">
					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/tvbox.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								01
							</div>
						</div>
						<div class="howto__steps-item-title">
							<span *ngIf="activeBox.id == 0">интернет</span>
							<span *ngIf="activeBox.id != 0">подключение</span>
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsBox?.internet }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/persikby.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								02
							</div>
						</div>
						<div class="howto__steps-item-title">
							<span *ngIf="activeBox.id == 0">приложение</span>
							<span *ngIf="activeBox.id != 0">поиск каналов</span>
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsBox.application }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">

							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/posters.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								03
							</div>
						</div>
						<div class="howto__steps-item-title">
							Запуск
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsBox.start }}
						</div>
					</div>
				</div>

				<!-- <div class="howto__steps-btn">
					<div class="btn-white">
						подробнее
					</div>
				</div> -->

			</div>
		</div>
	</div>



	<div class="howto__section">
		<div class="green-dot dot11"></div>
		<div class="green-dot dot12"></div>
		<div class="green-dot dot13"></div>
		<div class="howto__section-icon">
			<img src="assets/images/icons/mobile.svg" alt="" class="howto__section-icon-image">
		</div>

		<div class="container">
			<div class="howto__section-title">
				смартфоны и планшеты
			</div>
			<div class="howto__section-title_small" id="mobile">
				В дороге, на прогулке, дома – смотрите ваши любимые фильмы везде,
				где есть доступ к интернету
			</div>

			<ngx-slick [config]="slideConfig" class="howto__slider" *ngIf="isBrowser">
				<div ngxSlickItem *ngFor="let item of phones">
					<app-slider-item [item]="item" (changeActive)="setPhonePlatform($event)"></app-slider-item>
				</div>

			</ngx-slick>

			<div class="howto__info" id="tablet">
				<div class="howto__info-left">
					<div class="howto__info-text" *ngIf="activePhone.text == 'Android'">
						Смотрите Ваши любимые фильмы и сериалы на устройствах с <span class="gradient-text">
							{{ activePhone.text }}
						</span>
					</div>
					<div class="howto__info-text" *ngIf="activePhone.text != 'Android'">
						Смотрите Ваши любимые фильмы и сериалы на устройствах с <span class="gradient-text">
							{{ activePhone.text }}
						</span>
					</div>
					<a [href]="activePhone.download_button" *ngIf="activePhone.download_button"
						class="btn-orange">
						скачать
					</a>
					<a routerLink="" class="btn-white">
						Онлайн просмотр
					</a>
				</div>
				<div class="howto__info-right howto__info-right_center">
					<img src="assets/images/howto4.png" alt="Смотрите на смартфонах и планшетах" class="howto__info-image howto__info-image_small">
				</div>
			</div>
		</div>

	</div>

	<div class="howto__section howto__section_grey">
		<div class="green-dot dot14"></div>
		<div class="container">
			<div class="howto__steps">
				<div class="howto__steps-grey-title">
					3 простых шага
				</div>
				<div class="howto__section-title">
					как <span class="gradient-text">установить</span>
				</div>

				<div class="howto__steps-grid">
					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/desktop.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								01
							</div>
						</div>
						<div class="howto__steps-item-title">
							интернет
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPhone?.internet }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/playmarket.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								02
							</div>
						</div>
						<div class="howto__steps-item-title">
							Приложение
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPhone.application }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">

							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/posters.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								03
							</div>
						</div>
						<div class="howto__steps-item-title">
							Запуск
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPhone.start }}
						</div>
					</div>
				</div>

				<!-- <div class="howto__steps-btn">
					<div class="btn-white">
						подробнее
					</div>
				</div> -->

			</div>
		</div>
	</div>



	<div class="howto__section">
		<div class="green-dot dot15"></div>
		<div class="green-dot dot16"></div>
		<div class="green-dot dot17"></div>
		<div class="howto__section-icon">
			<img src="assets/images/icons/laptop.svg" alt="" class="howto__section-icon-image">
		</div>

		<div class="container">
			<div class="howto__section-title" id="laptop">
				Компьютеры и ноутбуки
			</div>

			<ngx-slick [config]="slideConfig" class="howto__slider" *ngIf="isBrowser">
				<div ngxSlickItem *ngFor="let item of pcs">
					<app-slider-item [item]="item" (changeActive)="setPcPlatform($event)"></app-slider-item>
				</div>
			</ngx-slick>

			<div class="howto__info" id="pcinfo">
				<div class="howto__info-left">
					<div class="howto__info-text">
						Смотрите Ваши любимые фильмы и сериалы на устройствах с <span class="gradient-text">
							{{ activePc.text }}
						</span>
					</div>
					<a [href]="activePc.link" class="btn-orange">
						скачать
					</a>
					<a routerLink="" class="btn-white">
						Онлайн просмотр
					</a>
				</div>
				<div class="howto__info-right ">
					<img src="assets/images/howto2.png" alt="Смотрите на компьютерах и ноутбуках" class="howto__info-image">
				</div>
			</div>
		</div>

	</div>

	<div class="howto__section howto__section_grey">
		<div class="green-dot dot14"></div>
		<div class="container">
			<div class="howto__steps">
				<div class="howto__steps-grey-title">
					3 простых шага
				</div>
				<div class="howto__section-title">
					как <span class="gradient-text">установить</span>
				</div>

				<div class="howto__steps-grid">
					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/router.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								01
							</div>
						</div>
						<div class="howto__steps-item-title">
							интернет
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPc?.internet }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">
							<div class="howto__steps-item-line"></div>
							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/desktop.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								02
							</div>
						</div>
						<div class="howto__steps-item-title">
							Приложение
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPc.application }}
						</div>
					</div>

					<div class="howto__steps-item">
						<div class="howto__steps-item-image">

							<div class="howto__steps-circle">
								<div class="howto__steps-circle-block"
									style="background-image: url('assets/images/posters.png');">
								</div>
							</div>
							<div class="howto__steps-count">
								03
							</div>
						</div>
						<div class="howto__steps-item-title">
							Запуск
						</div>
						<div class="howto__steps-item-text">
							{{ threeStepsPc.start }}
						</div>
					</div>
				</div>

				<!-- <div class="howto__steps-btn">
					<div class="btn-white">
						подробнее
					</div>
				</div> -->

			</div>
		</div>
	</div>
</div>
