.howto{
	position: relative;
	border-bottom: 1px solid #e9e9e9;
  background: white;
  padding-top: 60px;

	.container{
		position: relative;
		z-index: 1;
	}

	.green-circle{
		position: absolute;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		background: linear-gradient(to left, #9ed061, #abe06a);
		left: 7%;
		top: 27%;
	}
	.dot1{
		width: 10px;
		height: 10px;
		left: 32%;
		top: 82px;
	}
	.dot2{
		width: 15px;
		height: 15px;
		right: 11%;
		top: 146px;
	}
	.dot3{
		width: 20px;
		height: 20px;
		top: 238px;
		left: 5%;
	}
	.dot4{
		width: 10px;
		height: 10px;
		top: 230px;
		right: 21%;
	}
	.dot5{
		width: 20px;
		height: 20px;
		right: 7%;
		top: 52%;
	}
	.dot6{
		width: 15px;
		height: 15px;
		left: 7%;
		top: 86%;
	}
	.dot7{
		width: 10px;
		height: 10px;
		left: 15%;
		bottom: 155px;
	}
	.dot8{
		width: 10px;
		height: 10px;
		right: 6%;
		bottom: 230px;
	}
	.dot9{
		width: 15px;
		height: 15px;
		right: 41%;
		bottom: 51px;
	}
	.dot10{
		width: 20px;
		height: 20px;
		bottom: 65px;
		left: 8%;
	}
	.dot11{
		width: 10px;
		height: 10px;
		right: 12%;
		top: 270px;
	}
	.dot12{
		width: 20px;
		height: 20px;
		right: 4%;
		top: 50%;
	}
	.dot13{
		width: 15px;
		height: 15px;
		left: 100px;
		bottom: 127px;
	}
	.dot14{
		width: 10px;
		height: 10px;
		bottom: 92px;
		left: 24%;
	}
	.dot15{
		width: 10px;
		height: 10px;
		right: 12%;
		top: 270px;
	}
	.dot16{
		width: 20px;
		height: 20px;
		right: 4%;
		top: 50%;
	}
	.dot17{
		width: 15px;
		height: 15px;
		left: 100px;
		bottom: 127px;
	}

	&__first{
		position: relative;
		padding-top: 44px;
		padding-bottom: 40px;
		background-color: #f9f9f9;
		border-bottom: 1px solid #e9e9e9;
	}

	&__breadcrumbs{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding-bottom: 11px;
		padding-left: 15px;
		padding-right: 15px;
		&-item{
			text-decoration: none;
			color: #8c8c8c;
			margin-bottom: 10px;
			transition: .3s;
			&:hover, &:focus{
				color: #e05f20;
				text-decoration: none;
				transition: .3s;
			}
			&:after{
				content: '/';
				padding-left: 3px;
				padding-right: 4px;
			}
			&:last-child{
				&:after{
					display: none;
				}
				&:hover{
					color: #8c8c8c;
					cursor: initial;
				}
			}
		}
	}

	&__title{
		color: #232323;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		padding-bottom: 28px;
		font-family: OpenSans-Bold;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
		&_small{
			padding-left: 0;
			padding-right: 0;
			font-size: 24px;
			padding-bottom: 0;
		}
	}

	&__banner{
		max-width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	&__small-text{
		font-size: 18px;
		color: #8c8c8c;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1.89;
		padding-bottom: 85px;
		margin: 0 auto;
		max-width: 670px;
	}

	&__section{
		position: relative;
		z-index: 1;
		padding: 140px 0;
		border-bottom: 1px solid #e9e9e9;

		&_grey{
			background-color: #f9f9f9;
		}

		&-icon{
			position: absolute;
			left: 50%;
			top: -30px;
			margin-left: -30px;
			width: 60px;
			height: 60px;
			border-radius: 100px;
			background-color: #fff;
			border: 1px solid #e9e9e9;
			z-index: 5;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			&-image{
				display: inline-block;
				vertical-align: top;
			}
		}

		&-title{
			text-align: center;
			font-size: 32px;
			width: 100%;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-family: OpenSans-Bold;
			&_small{
				text-align: center;
				color: #8c8c8c;
				font-size: 16px;
				// margin-bottom: 50px;
				max-width: 570px;
				margin-left: auto;
				margin-right: auto;
				line-height: 2;
				text-align: center;
			}
		}
	}

	&__steps{
		position: relative;

		&-grey-title{
			text-align: center;
			color: #929292;
			font-size: 18px;
			line-height: 1.78;
			margin-bottom: 11px;
		}

		&-grid{
			position: relative;
			display: flex;
			align-items: stretch;
			align-content: stretch;
			justify-content: center;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;
		}

		&-item{
			position: relative;
			width: 370px;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;
			flex-wrap: wrap;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 31px;

			&-title{
				font-size: 24px;
				text-align: center;
				text-transform: uppercase;
				font-family: OpenSans-Bold;
				margin-bottom: 13px;
				width: 100%;
			}

			&-text{
				color: #929292;
				line-height: 2;
				text-align: center;
				width: 100%;
				font-size: 15px;
			}

			&-image{
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				width: 150px;
				height: 150px;
				margin-bottom: 21px;

			}

			&-line{
				position: absolute;
				top: 50%;
				margin-top: -1px;
				left: 150px;
				z-index: 2;
				width: 250px;
				height: 2px;
				background: linear-gradient(to left, #ffcd78, #abe06a);
			}

		}

		&-btn{
			display: flex;
			justify-content: center;
			margin-top: 50px;
			.btn-white{
				padding-left: 0;
				text-align: center;
				justify-content: center;
				width: 200px;
			}
		}

		&-circle{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			border-radius: 50%;
			background: linear-gradient(to right, #ffcd78, #abe06a);



			&-block{
				position: absolute;
				left: 2px;
				top: 2px;
				right: 2px;
				bottom: 2px;
				border-radius: 50%;
				border: 2px solid #fff;
				z-index: 3;
				background-size: cover;
				background-position: center center;
			}

		}

		&-count{
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #fff;
			background: linear-gradient(to left, #9ed061, #abe06a);
			color: #fff;
			font-family: OpenSans-Bold;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			text-align: center;
		}
	}

	&__slider{
		position: relative;
		margin-bottom: 120px;
		margin-top: 50px;
	}

	&__info{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		margin-left: -15px;
    margin-right: -15px;



		&-left{
			width: 45%;
			display: flex;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		&-right{
			width: 55%;
			display: flex;
			justify-content: flex-end;
			align-content: center;
			align-items: center;

			&_center{
				justify-content: center;
			}
		}

		&-image{
			display: inline-block;
			vertical-align: top;
			max-width: 80%;

			&_small{
				max-width: 50%;
			}
		}

		&-title{
			width: 100%;
			color: #8c8c8c;
			font-size: 18px;
			line-height: 1.67;
			margin-bottom: 21px;
		}

		&-text{
			font-size: 32px;
			line-height: 1.3;
			color: #232323;
			margin-bottom: 52px;
			font-family: OpenSans-Bold;
      text-transform: uppercase;

      &_small {
		font-size: 18px;
		width: 100%;
		font-family: 'OpenSans';
		line-height: 1.67;
		color: #8c8c8c;
		margin-bottom: 12px;
		text-transform: none;
      }

      .gradient-text{
		  display: inline;
	  }
		}
	}

	.btn-white{
		color: #232323 !important;
		justify-content: center;
		padding-right: 20px;
	}

	.btn-orange{
		margin-right: 30px;
	}

	.btn-not-orange{
		color: #232323 !important;
		background: transparent !important;
		box-shadow: none !important;
		margin-left: 15px;
		&:after{
			display: none;
		}
		&:hover{
			color: #e05f20 !important;
			transition: .3s;
		}
	}
}

@media screen and (max-width: 1300px){
	.howto__steps-item{
		width: 33.333333%;
	}
	.howto__info-image{
		max-width: 100%;
	}
}

@media screen and (max-width: 1200px){
	.howto__info{
		margin-left: 0;
		margin-right: 0;
	}
	.howto__info-text{
		font-size: 24px;
	}
	.howto__steps-item{
		width: 50%;
	}
	.howto__steps-item-line{
		display: none;
	}
}

@media screen and (max-width: 992px){
	.howto__info-text{
		font-size: 24px;
		text-align: center;
	}
	.howto__info{
		margin-left: 0;
		margin-right: 0;
	}
	.howto__info-left{
		width: 100%;
		margin-bottom: 40px;
	}
	.howto__info-right{
		width: 100%;
	}
	.howto__steps-item-text{
		line-height: 20px;
	}
	.howto .btn-white{
		margin-bottom: 15px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 767px){
	.howto__steps-item{
		width: 33.333334%;
		padding-left: 8px;
		padding-right: 8px;
	}
	.howto__steps-grid{
		margin-right: -8px;
		margin-left: -8px;
	}
	.howto__steps-item-title{
		font-size: 14px;
	}
	.howto__steps-item-text{
		font-size: 12px;
		line-height: 17px;
	}
	.howto__slider{
		margin-bottom: 60px;
		.slick-list{
			margin-right: -1px;
		}
	}
	.howto__info-text{
		margin-bottom: 30px;
	}
	.howto__section{
		padding: 60px 0 30px 0;
	}
	.howto__section_grey{
		padding: 30px 0 60px 0;
	}
	.howto__first{
		padding-top: 90px;
	}
	.howto__small-text{
		padding-bottom: 40px;
	}
	.howto__info-left{
		justify-content: center;
	}
	.howto .btn-orange{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.howto__steps-item-image{
		width: 60px;
		height: 60px;
	}
	.howto__steps-count{
		top: -15px;
		right: -15px;
		width: 40px;
		height: 40px;
	}
	.howto .btn-white{
		margin-left: 0;
		margin-bottom: 0;
	}
}
