.retail-auth{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url('../../../assets/images/retail-auth.jpg');

    &__logo{
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 2;
        cursor: pointer;
    }

    &__phones{
        position: absolute;
        right: 100px;
        top: 45px;
        z-index: 2;
        font-size: 18px;

        &-item{
            color: #fff;
            text-decoration: none;
            padding-bottom: 4px;
            border-bottom: 1px solid transparent;
            transition: .3s;
            margin-bottom: 10px;
            display: inline-block;
            font-size: 16px;
            &:hover{
                border-color: rgba(255, 255, 255, .7);
                transition: .3s;
            }
        }

        &-time{
            color: #fff;
            margin-top: 20px;
        }
    }

    &__form{
        position: absolute;
        width: 400px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // margin-left: -150px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
        border-radius: 2px;
        padding: 0 35px;
        max-width: 90%;
        .form-group__input{
            background: transparent;
        }

        &-title{
            font-size: 20px;
            text-align: center;
            padding-top: 30px;
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        z-index: 5;
        .btn-orange{
            width: 150px;
        }
    }
}

@media screen and (max-width: 767px){
    .retail-auth__phones{
        display: none;
    }
    .retail-auth__logo{
        left: 50%;
        transform: translateX(-50%);
    }
}