
  .item {
    position: relative;
    // width: 500px;
    // width: 580px;
    width: 650px;
    // width: 980px;
    // height: 8rem;
    // height: 220px;
    // height: 180px;
    height: 120px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    color: #757575;
    transition: .3s;

    .progress-line{
      z-index: 5;
    }

    &__time{
      position: absolute;
      background-color: #000;
      color: #fff;
      font-size: 12px;
      padding: 5px 10px;
      right: 5px;
      bottom: 5px;
      z-index: 5;
    }

    &__poster{
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 180px;
      // width: 260px;
      width: 205px;
      // width: 390px;
      height: 100%;
      position: relative;
      background-size: cover;
      background-position: center center;

      .progress-line{
        bottom: 0;
      }

      &-archive {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }

    &__info{
      position: relative;
      display: flex;
      justify-content: center;
      // align-items: center;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      // width: 320px;
      width: 440px;
      // width: 590px;
      padding: 15px 20px;
      padding-bottom: 0;
      text-align: left;
      background-color: #232323;
      overflow: hidden;
      height: 100%;
      transition: .3s;

      &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #232323;
        // height: 10px;
        height: 5px;
        z-index: 5;
        width: 100%;
        max-width: 100%;
      }

      &-genre{
        text-transform: uppercase;
        width: 100%;
        font-size: 12px;
        color: #e05f20;
        transition: .3s;
        margin-bottom: 7px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-title{
        width: 100%;
        font-size: 16px;
        margin-bottom: 7px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &-desc{
        width: 100%;
        font-size: 14px;
        line-height: 1.4;
        overflow: hidden;
        // padding-bottom: 20px;
      }
    }



    &_current {
      color: #fff;
      .item__info{
        background-color: #e05f20;
        transition: .3s;
      }
      .item__info-genre{
        color: #fff;
        transition: .3s;
      }
      .item__info-title{
        transition: .3s;
        font-family: OpenSans-Bold;
      }
      .item__info-desc{
        color: #fff;
        transition: .3s;
      }
      :after{
        background-color: #e05f20;
      }
    }
  }

  .item__title-mobile{
    display: none;
  }

  @media screen and (max-width: 767px){
    .item__title-mobile{
      display: block;
      position: absolute;
      color: #fff;
      font-size: 14px;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: rgba(0,0,0, 0.8);
    }

    .item_current{
      .item__title-mobile{
        background-color: rgba(224,95,32, 0.7);
      }
    }
    .item{
      width: 200px;
      height: 120px;
  
      &__poster{
        width: 200px;
        height: 120px;
      }
  
      &__info{
        display: none;
      }
    }
  }
