<div class="item" [class.item_current]="isCurrent" (click)="openTvshow()">
  <div class="item__poster" [style.backgroundImage]="'url(' + cover + ')'">

    <div class="item__time">
      {{ tvshow.start | tvshowTime }} - {{ tvshow.stop | tvshowTime }}
    </div>
    <div class="progress-line" *ngIf="isCurrent && progress">
      <div class="progress-line__width" [style.width.%]="progress"></div>
    </div>
    <div class="item__title-mobile">
      {{ tvshow.title }}
    </div>
  </div>
  <div class="item__info">
    <img *ngIf="isArchive" src="assets/images/icons/archive-icon.svg" class="item__poster-archive">
    <div class="item__info-genre">
      {{ genres | genres }}
    </div>
    <div class="item__info-title">
      {{ tvshow.title }}
    </div>
    <div class="item__info-desc">
      {{ videoInformation?.description }}
    </div>
    <!-- <br> {{ item.date }} -->
  </div>

</div>
