.offer-text {
  font-size: 18px;
  color: #232323;
  line-height: 30px;
  max-width: 1020px;
  margin: 0 auto 100px auto;
  strong {
    font-family: "OpenSans-Bold";
  }
  .link {
    color: #e05f20;
    font-family: "OpenSans-Bold";
    cursor: pointer;
  }
  p {
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    font-size: 26px;
  }
  .text-center {
    text-align: center;
  }
}

.offer {
  background: white;
}
