<div class="text-page films offer">
  <div class="container">
    <div class="films__title">
      <span class="gradient-text">
        пользовательское
      </span>
      соглашение
    </div>

    <div class="offer-text">
      <div class="information offer">
        <!--<h2>Пользовательское соглашение</h2> -->
        <p class="text-center">
          <strong>ПУБЛИЧНЫЙ ДОГОВОР НА ОКАЗАНИЕ УСЛУГ</strong>
        </p>
        <p>
          Общество с ограниченной ответственностью «Персональные интерактивные коммуникации» (УНП 191211254),
          находящееся по адресу:
          220020, г.Минск, пр-т Победителей, д. 103, каб. 1414 ,&nbsp;именуемое в дальнейшем «Администратор», в лице
          управляющего Ивашкевича Вадима Владимировича, действующего на основании Устава, предлагает заключить на
          условиях публичной оферты в соответствии с частью 2 статьи 407 Гражданского кодекса Республики Беларусь
          настоящий договор (далее - «Договор») о нижеследующем:
        </p>
        <p>
          <strong>Определения, используемые в настоящем Договоре:</strong>
        </p>
        <p>
          -<strong> «Администратор» </strong>- ООО «Персональные интерактивные коммуникации», осуществляющее управление
          и модерацию Интернет-ресурса www.persik.by;<br>
          - «<strong>Сайт</strong>» – Интернет-ресурс <span class="link" (click)="goTo('')">www.persik.by</span>;<br>
          - «<strong>Сервис</strong>» - услуги по предоставлению Администратором Пользователю доступа в сети Интернет к
          информации, размещенной на Сайте, где под информацией понимается медиа-контент (VoD);<br>
          - «<strong>Пользователь</strong>» – любое физическое лицо, успешно завершившее (прошедшее) процедуру
          регистрации на сайте и заключившее тем самым публичный договор с Администратором;&nbsp;<br>
          - «<strong>Регистрация Пользователя</strong>» – последовательность действий по заполнению регистрационной
          формы, подтверждению своего электронного адреса и активации Профиля на Сайте;<br>
          - «<strong>Авторизация</strong>» – введение зарегистрированным Пользователем своего адреса электронной почты и
          пароля для доступа к сайту и входа в Личный кабинет;<br>
          - «<strong>Личный кабинет</strong>» – персональная страница Пользователя, зарегистрированного на Сайте, на
          которой он управляет своей учетной записью (аккаунтом);<br>
          - <strong>«Личные данные пользователя» - </strong>сведения, указанные Пользователем при регистрации на Сайте,
          а также информация, связанная с использованием им Сервиса;<br>
          - <strong>«Дети»</strong> - физические лица до достижения ими возраста восемнадцати лет (совершеннолетия),
          если по закону они раньше не приобрели гражданскую дееспособность в полном объеме;<br>
          - <strong>«Устройство» - </strong>любое электронное приспособление, имеющее возможность подключения к Сайту и
          способное воспроизводить видео в формате сжатия h.264.
        </p>
        <p>
          <strong>1. Предмет договора</strong>
        </p>
        <p>
          1.1. Предметом настоящего Договора являются отношения между Администратором и Пользователем по поводу оказания
          Администратором Пользователю Сервиса за плату.<br>
          1.2. Настоящий Договор устанавливает правила и условия использования Сервиса Пользователями, которые вступают
          в силу после регистрации и оплаты в порядке, предусмотренном настоящим Договором.<br>
          1.3. Настоящее Соглашение представляет собой публичную оферту, в соответствии с частью 2 статьи 407
          Гражданского Кодекса Республики Беларусь. Использование Пользователем Сервиса означает согласие Пользователя
          со всеми пунктами настоящего Договора и безоговорочное принятие его условий с обязательством соблюдать
          обязанности, возложенные на Пользователя настоящим Договором. Факт регистрации Пользователя на Сайте является
          полным и безоговорочным акцептом настоящего Договора. Незнание положений договора не освобождает Пользователя
          от ответственности за несоблюдение его условий.<br>
          1.4. Согласие Пользователя использовать Сервис после любых изменений Соглашения означает его согласие с такими
          изменениями и/или дополнениями.<br>
          1.5. Пользователь обязуется регулярно, не реже одного раза в семь дней знакомиться с содержанием настоящего
          Договора в целях своевременного ознакомления с его изменениями<br>
          1.6. Администратор оставляет за собой право по своему личному усмотрению изменять и (или) дополнять Договор в
          любое время без предварительного и (или) последующего уведомления Пользователя. Действующая редакция Договора
          доступна в интерфейсе Сайта по адресу в сети Интернет: www. persik.by.<br>
          1.7. Если Пользователь не согласен с условиями настоящего Договора, он не должен оплачивать и использовать
          Сервис.
        </p>
        <p>
          <strong>2. Порядок предоставления и использования Сервиса&nbsp;</strong>
        </p>
        <p>
          2.1. Доступ к Сервису предоставляется только зарегистрированным Пользователям.&nbsp;<br>
          2.2. При регистрации Пользователь обязуется предоставить в регистрационной форме (анкете) достоверную, полную
          и точную информацию о себе и периодически обновлять ее&nbsp; с целью обеспечения актуальности и полноты.
          Пользователь обязуется не вводить Администратора и/или других Пользователей в заблуждение относительно своей
          личности, а также не размещать на Сайте домашние адреса, номера телефонов, адреса электронной почты,
          паспортные данные и прочую информацию каких-либо третьих лиц. <br>
          2.3. Адрес электронной почты Пользователя является ключевым индикатором в системе и связан с предоставлением
          Сервиса. Пользователь после регистрации не может изменить адрес электронной почты, привязанный к своей учетной
          записи. В случае изменения адреса электронной почты, Пользователь должен заново пройти процедуру регистрации и
          оплатить Сервис. В случае невозможности доступа Пользователя к адресу электронной почты, привязанного к
          учетной записи Пользователя, по независящим от Администратора причинам, и невозможности для Пользователя
          вследствие этого полноценно пользоваться Сервисом, внесенная предоплата за Сервис не возвращается.<br>
          2.4. С момента регистрации на Сайте Пользователь соглашается на использование Администратором личных данных
          Пользователя, указанных им при регистрации, для их обработки (систематизации, накопления, хранения, уточнения,
          использования, уничтожения) в целях обеспечения работы Сервиса, а также в целях информационного обслуживания
          Пользователя.<br>
          2.5. С момента регистрации Пользователь получает возможность оплаты &nbsp;Сервиса.<br>
          2.6. Пользователь соглашается с тем, что действия, совершенные на Сайте после Авторизации Пользователя,
          признаются действиями Пользователя. Пользователь несет полную ответственность в соответствии с настоящим
          Договором и законодательством Республики Беларусь за любые действия, совершенные с использованием его учетной
          записи, а также за любые последствия, которые могло повлечь или повлекло подобное его использование.<br>
          2.7. Регистрируясь на Сайте, Пользователь соглашается на получение информационных сообщений на указанный при
          регистрации адрес электронный почты и номер мобильного телефона. Администратор обязуется не передавать адрес
          электронной почты либо номер мобильного телефона Пользователя третьим лицам без согласия Пользователя (за
          исключением случаев, предусмотренных действующим законодательством Республики Беларусь).<br>
          2.8. Пользователь обязан принимать надлежащие меры для обеспечения сохранности учетной записи Пользователя,
          включая адрес электронной почты и пароль, и несет ответственность за все действия, &nbsp;совершенные на Сайте
          под его учетной записью. В связи с указанным Пользователь обязан осуществлять выход из своей учетной записи
          (завершать каждую сессию по кнопке «Выход») перед переходом на сторонние сайты или закрытием браузера
          (Интернет-обозревателя). Пользователь обязан незамедлительно уведомить Администратора о любых ставших ему
          известных случаях доступа на сайт третьими лицами под учетной записью Пользователя. Пользователю рекомендуется
          регулярно менять свой пароль.<br>
          2.9. Пользователь не имеет права передавать (в том числе для разового, временного использования), уступать,
          продавать, учетную запись на сайте третьим лицам без согласия Администратора. В случае передачи логина и
          пароля какому-либо третьему лицу, всю ответственность за действия такого третьего лица несет Пользователь.<br>
          2.10. Пользователь имеет право в любое время прекратить использование Сервиса и отказаться от созданной им
          учетной записи, уведомив об этом Администратора. При этом внесенная предоплата за доступ к Сайту Пользователю
          не возвращается и пользователь обязуется оплатить все платежи в рамках подключенного тарифного плана. При
          подключенном годовом тарифном плане с ежемесячной оплатой, пользователь обязуется осуществить оплату за все
          оставшиеся месячные периоды до окончания года использования.<br>
          2.11. Администрация вправе удалить учетную запись Пользователя, если он не пользуется сервисом более 3-х
          месяцев подряд, предварительно уведомив Пользователя по электронной почте.<br>
          2.12. Доступ к оплаченному Сервису в одно и тоже время предоставляется только на одном устройстве в режиме
          онлайн после авторизации на этом устройстве. Для того чтобы получить Сервис на другом устройстве для просмотра
          в режиме онлайн, необходимо завершить работу на первом устройстве и авторизоваться на другом. В случае
          осуществления Пользователем доступа к оплаченному Сервису одновременно с нескольких устройств в режиме онлайн
          Администратор имеет право отказать такому Пользователю в дальнейшем предоставлении Сервиса и аннулировать его
          учетную запись.&nbsp; При этом внесенная предоплата Пользователю не возвращается.<br>
          2.13. Доступ к Сервису предоставляется Администратором Пользователю&nbsp;«в том виде, в котором он
          существует».<br>
          При этом Пользователь соглашается с тем, что качество просмотра видеопотока при использовании Сервиса зависит
          от скорости подключения Пользователя к сети Интернет.
          Для комфортного просмотра необходима скорость подключения от 3 Мбит/с.<br>
          2.14. Пользователь вправе использовать результаты интеллектуальной деятельности, доступ к которым
          предоставляется в рамках использования Сервиса, только для домашнего (семейного) просмотра и не вправе вносить
          в них какие-либо изменения, осуществлять какое-либо копирование (тиражирование) результатов интеллектуальной
          деятельности, в том числе с экрана устройства.&nbsp; <br>
          2.15. Пользователь не вправе использовать результаты интеллектуальной деятельности, доступ к которым
          предоставляется в рамках использования Сервиса, в коммерческих целях, включая, помимо прочего, предоставление
          платного доступа к ним третьих лиц, а также использование результатов интеллектуальной деятельности в целях
          получения дохода от рекламы или абонентской платы. Администратор вправе заблокировать Пользователю доступ к
          Сайту и/или к использованию оплаченного Сервиса в случае нарушения им условий использования Сервиса,
          предусмотренных настоящим Договором. При этом Администратор направляет Пользователю соответствующее
          уведомление по электронной почте. Денежные средства, уплаченные Пользователем за оказание Сервиса, при этом
          ему не возвращаются.<br>
          2.16. Пользователь обязан использовать полученную на Сайте информацию исключительно в законных и личных
          некоммерческих целях, не противоречащих нравственным принципам и общепризнанным ценностям.<br>
          2.17.&nbsp; Пользователь, который достиг 18 лет, гарантирует, что доступ к Сервису и его использование детьми
          будет осуществляться под контролем Пользователя с соблюдением ограничений, установленных действующим
          законодательством Республики Беларусь и настоящим Договором. Пользователь старше 18 лет обязуется ни при каких
          обстоятельствах не предоставлять детям доступ к разделам Сайта и аудиовизуальным произведениям,
          предназначенным только для совершеннолетних Пользователей.<br>
          2.18. Пользователь обязуется не обходить, не отключать или иным образом не вмешиваться в любые технические
          средства защиты Сайта или результатов интеллектуальной деятельности, размещенных на нем для предотвращения или
          ограничения использования или копирования любой информации или результатов интеллектуальной деятельности,
          размещенных на Сайте.&nbsp;<br>
          2.19.&nbsp; Пользователи несут ответственность за собственные действия в связи с созданием и размещением
          комментариев на Сайте, а также в связи с размещением информации на персональных страницах Сайта в соответствии
          с действующим законодательством Республики Беларусь.&nbsp;<br>
          2.20. Пользователю при использовании Сайта запрещается загружать, хранить, публиковать, распространять и
          предоставлять доступ или иным образом использовать любую информацию, которая нарушает требования действующего
          законодательства и условия данного Соглашения.
        </p>
        <p>
          <strong>3. Интеллектуальная собственность</strong>
        </p>
        <p>
          3.1. Все используемые и размещенные на Сайте результаты интеллектуальной деятельности, а также сам Сайт
          являются интеллектуальной собственностью их законных правообладателей и охраняются законодательством об
          интеллектуальной собственности Республики Беларусь, а также соответствующими международными правовыми
          конвенциями. Любое использование размещенных на Сайте результатов интеллектуальной деятельности (в том числе
          элементов визуального оформления Сайта, символики, текстов, графических изображений, иллюстраций, фото, видео,
          программ, музыки, и других объектов) без разрешения Администратора или законного правообладателя является
          незаконным и может послужить причиной для судебного разбирательства и привлечения нарушителей к
          гражданско-правовой, административной и уголовной ответственности в соответствии с законодательством
          Республики Беларусь.&nbsp;<br>
          3.2. Кроме случаев, установленных &nbsp;настоящим Договором, &nbsp;а также действующим законодательством
          Республики Беларусь, никакой результат интеллектуальной деятельности, размещенный на Сайте, не может быть
          скопирован (воспроизведен), переработан, распространен, отображен во фрейме, опубликован, скачан, передан,
          продан или иным способом использован целиком или по частям, без предварительного разрешения законного
          правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное
          использование материала любым лицом.&nbsp;<br>
          3.3. Доступ к результатам интеллектуальной деятельности, размещенным на Сайте, предоставляется Администратором
          исключительно для личного некоммерческого использования Пользователями в целях ознакомления с ними
          исключительно посредством Сервиса, без права на воспроизведение (в том числе копирование/загрузку) указанных
          результатов интеллектуальной деятельности в память электронных устройств Пользователей, а также без права на
          иное использование указанных результатов интеллектуальной деятельности, не указанное в настоящем Договоре, в
          том числе их продажу, модификацию, распространение целиком или по частям и т.п.&nbsp;<br>
          3.4. Любое использование Сайта или результатов интеллектуальной деятельности, размещенных на нем, кроме
          разрешенного в Соглашении или в случае явно выраженного согласия автора (правообладателя) на такое
          использование, без предварительного письменного разрешения правообладателя категорически запрещено.&nbsp;<br>
          3.5. Администратор оставляет за собой право в любое время удалять с Сайта любые результаты интеллектуальной
          деятельности, размещенные на нем, без уведомления Пользователя.<br>
        </p>
        <p>
          <strong>4. Порядок оплаты Сервиса зарегистрированными Пользователями</strong>
        </p>
        <p>
          4.1. Зарегистрированные Пользователи получают Сервис при условии осуществления оплаты. Оплата Пользователями
          непрерывной подписки производится на условиях предоплаты за каждый период времени пользования Сервисом.
          Действующий Прейскурант Администратора содержится в Приложении № 1, которое является неотъемлемой частью
          данного соглашения. <br>
          4.2. Пользователь соглашается с тем, что подписка на Сервис является непрерывной, то есть предоставляется на
          четко определенные неделимые временные отрезки.<br>
          4.3. Оплата осуществляется Пользователями посредством использования следующих платежных систем:<br>
          • Visa/&nbsp;Master&nbsp;Card;<br>
          • Ipay;<br>
          • Ерип Расчет;<br>
          • WebMoney;<br>
          4.4. Оплата за Сервис может осуществляться без непосредственного участия Пользователя, но с его
          предварительного согласия на постоянной основе посредством автоматического списания денежных средств с
          банковского счета при условии наличия денежных средств на таком счете. Данный пункт является согласием
          Пользователя на договорное списание его обслуживающим банком с его счета при выборе тарифа, который доступен
          по услуге автопродления. Автопродление сервиса, то есть автоматическое списание денежных средств происходит
          систематически, в соответствии с выбранной Пользователем длительностью тарифа. В случае отсутствия средств на
          счете Пользователя на момент осуществления автоматического списания, автоматическое списание может быть
          повторено до момента успешного списания средств.
          4.5. Все издержки, связанные с перечислением денежных средств по настоящему Договору, Пользователь несет
          самостоятельно.<br>
          4.6. Оплата осуществляется Пользователем в белорусских рублях.<br>
          4.7. Сервис оказывается зарегистрированным Пользователям в срок не позднее 24 (двадцати четырех часов) после
          осуществления оплаты. <br>
          4.8. Стороны признают и соглашаются, что Администратор не несет перед Пользователем ответственности в случае
          непоступления денежных средств от Пользователя по причинам,&nbsp; не зависящим от Администратора, включая,
          помимо прочего: сбои в программном обеспечении или поломки оборудования банков, операторов связи, платежных
          систем и иных платежных посредников, которые обеспечивают прием платежей от Пользователей и их перечисление
          Администратору.&nbsp; <br>
          4.9. Стороны также признают и соглашаются, что Администратор не обязан оказывать Пользователю Сервис до
          момента поступления денежных средств от него&nbsp; на расчетный счет Администратора.&nbsp;<br>
          4.10. Оплачивая &nbsp; Сервис, Пользователь подтверждает, что успешно выполнил тестирование Сервиса,
          &nbsp;&nbsp;и самостоятельно несёт ответственность за пригодность устройств к воспроизведению аудиовизуальных
          произведений с Сайта в режиме онлайн.&nbsp;<br>
          Все вопросы приобретения прав доступа в сеть Интернет, покупки и наладки для этого соответствующего
          оборудования и программных продуктов решаются Пользователем самостоятельно, не подпадают под действие
          настоящего Договора. Администратор не несет ответственности за подобные действия Пользователя или третьих
          лиц.&nbsp;<br>
          4.11. В случае неоказания Администратором Пользователю оплаченного пользователем Сервиса&nbsp;в течение более
          30 (Тридцати) календарных дней с даты оплаты Сервиса по вине Администратора, Администратор обязуется вернуть
          Пользователю полученную им сумму за неиспользованный Сервис либо по согласованию с Пользователем установить
          новый период пользования&nbsp; Сервисом. Для осуществления возврата денежных средств Пользователь должен
          сохранять письма, отправленные ему по электронной почте Администратором и/или банком, подтверждающие факт
          оплаты Сервиса &nbsp;до момента окончания пользования им.&nbsp;<br>
          Для осуществления возврата денежных средств Пользователь обязан:<br>
          • открыть на свое имя в любом банковском учреждении Республики Беларусь соответствующий счет для перечисления
          на него Администратором денежных средств (текущий счет, карт-счет и т.п.);<br>
          • лично обратиться к Администратору с просьбой о возврате денежных средств;<br>
          • предъявить Администратору документ, удостоверяющий личность (паспорт, вид на жительство), копию письма
          Администратора об оплате Пользователем Сервиса, а также подлинный экземпляр платежного документа,
          подтверждающего оплату Пользователем Сервиса.<br>
          В случае положительного решения вопроса о возврате Пользователю денежных средств Администратор осуществляет их
          возврат Пользователю в течение 10 (Десяти) рабочих дней с момента получения соответствующего заявления.<br>
          При возврате деньги возвращаются на ту карту, с которой была совершена покупка в течение 30 дней, в
          зависимости от банка, выпустившего карту.<br>
          4.12. Стоимость Сервиса может быть изменена Администратором в одностороннем порядке в соответствии с условиями
          настоящего Договора. При этом стоимость уже оплаченного Пользователем Сервиса изменению не подлежит.<br>
          4.13. Стороны пришли к соглашению, что коммерческий займ, предоставляемый Пользователем&nbsp; Администратору в
          виде предоплаты за Сервис (ст.770 ГК Республики Беларусь),&nbsp; является беспроцентным. Проценты&nbsp; за
          пользование денежными средствами не устанавливаются и не начисляются.<br>4.14. В случае приобретения Услуг
          Сервиса «СТАРТ»(«START») Пользователем заключается Пользовательское соглашение по <a
            href="https://start.ru/termsofuse" class="link" target="_blank">ссылке</a>
        </p>
        <p>
          <strong>5. Права и обязанности Администратора</strong>
        </p>
        <p>
          5.1. Обязанности Администратора заключаются в предоставлении Пользователю доступа к оплаченному им Сервису в
          порядке, определенном настоящим Договором.&nbsp;<br>
          5.2. Пользователь понимает и соглашается, что Администратор не несет перед ним ответственность за:&nbsp;<br>
          • содержание любых результатов интеллектуальной деятельности, размещенных на Сайте;<br>
          • невозможность хранения, неточность, неправильное или несвоевременное предоставление любых данных и
          информации при использовании Сервиса;<br>
          • любые ошибки, упущения, прерывания, дефекты, удаление, задержку в обработке или передаче данных, сбое линий
          связи, кражу, уничтожение или неправомерный доступ третьих лиц к результатам интеллектуальной деятельности,
          размещенным на Сайте. Администратор не отвечает за любые технические сбои или иные проблемы любых телефонных
          сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного или телефонного оборудования,
          программного обеспечения, сбоев сервисов электронной почты или скриптов по техническим причинам,&nbsp;за
          недостаточное качество или скорость предоставления данных;<br>
          • соответствие Сервиса целиком или его частей (служб) ожиданиям Пользователей, безошибочную и бесперебойную
          работу Сайта, прекращение доступа Пользователя к Сайту и результатам интеллектуальной деятельности,
          размещенным на Сайте;<br>
          • сохранность адреса электронной почты и пароля Пользователя, обеспечивающих Сервис, по причинам, связанным с
          техническими сбоями аппаратного или программного обеспечения Администратора.<br>
          5.3. Администратор не возмещает убытки, возникшие по причине несанкционированного использования третьими
          лицами адреса электронной почты и пароля учетной записи Пользователя.<br>
          5.4. Администратор оставляет за собой право по своему собственному усмотрению изменять или удалять любую
          публикуемую на Сайте информацию, приостанавливать, ограничивать или прекращать Сервис в одностороннем порядке
          в любое время с обязательным предварительным или последующим уведомлением об этом Пользователя. Администратор
          не несет ответственности за любой вред, который может быть причинен Пользователю такими действиями, в случае
          наступления форс-мажорных обстоятельств (а именно: война, мятежи, забастовки, саботаж, эмбарго, пожары,
          наводнения, стихийные бедствия, ухудшение радиоэлектронной или радиологической обстановки, взрывы, действия
          или бездействие правительства Республики Беларусь или другой страны, акты государственных органов и/или
          органов местного самоуправления, внесение изменений в законодательство Республики Беларусь, аварии на сетях
          общего пользования, изменения условий доступа к линейно-кабельным сооружениям связи), но не ограничиваясь
          ими.&nbsp; <br>
          5.5. В случае нарушения Пользователем условий настоящего Договора Администратор вправе аннулировать учетную
          запись Пользователя на Сайте, без возвращения внесенной предоплаты за доступ к Сервису;<br>
          5.6. Администратор вправе размещать рекламную и/или иную информацию в любом разделе Сайта без согласования с
          Пользователем.<br>
          5.7. Администратор вправе изменять условия настоящего Договора и приложений к нему, корректировать действующие
          тарифы, вводить новые приложения и дополнения к настоящему Договору. Информация о таких изменениях публикуется
          Администратором на Сайте не позднее, чем за 7 (семь) календарных дней до даты вступления в силу таких
          изменений. Согласие Пользователя использовать Сервис после любых изменений Договора означает его согласие с
          такими изменениями и/или дополнениями.<br>
          5.8. Администратор вправе осуществлять рассылки Пользователям сообщений, в том числе электронных сообщений на
          адреса электронной почты Пользователя либо SMS-сообщений на номера мобильных телефонов Пользователя,
          содержащих организационно-техническую или иную информацию о возможностях Сервиса.<br>
          5.9. Администратор вправе устанавливать возрастные ограничения при доступе к Сервису, предназначенному для
          совершеннолетней аудитории. Уведомление Пользователей о попытке доступа к Сервису, предназначенному для
          совершеннолетних лиц, осуществляется при помощи всплывающих окон. Лица, не достигшие 18 лет, обязуются
          воздерживаться от доступа к вышеуказанному Сервису. <br>
          5.10. Администратор обязуется не использовать учетные данные Пользователя, полученные при регистрации в
          каких-либо корыстных целях и гарантирует неразглашение этих данных, за исключением случаев, когда раскрытие
          такой информации является обязанностью Администратора в силу законодательства Республики Беларусь.&nbsp;<br>
          5.11. Администратор обязуется предоставлять Пользователю возможность получения консультаций службы технической
          поддержки Администратора по электронной почте. Объем консультаций ограничивается конкретными вопросами,
          связанными с Сервисом.<br>
          5.12. Администратор не несет ответственности за любой ущерб электронным и мобильным устройствам, любому
          другому оборудованию и программному обеспечению Пользователя и иного лица, вызванный или связанный с
          использованием Сервиса.<br>
          5.13. Администратор ни при каких обстоятельствах не несет ответственность перед Пользователем или любыми
          третьими лицами за любой прямой, косвенный, неумышленный ущерб, включая упущенную выгоду или потерянные
          данные, вред чести, достоинству или деловой репутации, вызванные в связи с использованием Сервиса или
          результатов интеллектуальной деятельности, размещенных на Сайте.&nbsp;<br>
          5.14.&nbsp; Администратор не несет ответственности перед Пользователем или любыми третьими лицами
          за:&nbsp;<br>
          • действия Пользователей на Сайте;&nbsp;<br>
          • содержание и законность, достоверность информации, используемой/получаемой Пользователем на Сайте;&nbsp;<br>
          • достоверность рекламной информации, используемой/получаемой Пользователем на&nbsp; Сайте, качество
          рекламируемых в ней товаров/работ/услуг и их возможное несоответствие общепринятым стандартам или ожиданиям
          Пользователя;&nbsp;<br>
          • последствия применения информации, используемой/получаемой Пользователем на Сервисе;&nbsp;<br>
          5.15. В случае предъявления третьими лицами претензий к Администратору, связанных с использованием
          Пользователем Сервиса, Пользователь обязуется своими силами и за свой счет урегулировать указанные претензии с
          третьими лицами, оградив Администратора от возможных убытков и разбирательств, либо выступить на стороне
          Администратора в таких разбирательствах.<br>
          5.16. Сайт может содержать ссылки на другие ресурсы сети Интернет. Пользователь признает и соглашается с тем,
          что Администратор не контролирует и не несет никакой ответственности за доступность этих ресурсов и за их
          содержание, а также за любые последствия, связанные с использованием этих ресурсов. Любые переходы по ссылкам
          осуществляются Пользователем на свой страх и риск.<br>
          5.17. Администратор обязан выполнять иные обязанности, установленные настоящим Договором.
        </p>
        <p>
          <strong>6. Права и обязанности Пользователя</strong>
        </p>
        <p>
          6.1. Пользователь обязуется выполнять условия настоящего Договора и приложений к нему, а также оплачивать
          Сервис в порядке и на условиях, предусмотренных настоящим Договором и приложениями к нему.<br>
          6.2. Пользователь обязуется самостоятельно знакомиться с информацией об условиях оказания Сервиса и его
          стоимости.<br>
          6.3. Пользователь вправе требовать от Администратора оказания Сервиса в соответствии с условиями настоящего
          Договора.<br>
          6.4. Пользователь вправе обращаться в службу технической поддержки Администратора. &nbsp;<br>
          6.5. Пользователь полностью ответственен за сохранность своего адреса электронной почты и пароля, а также за
          убытки, которые могут возникнуть по причине их утраты или несанкционированного использования его учетной
          записи. Пользователю рекомендуется регулярно менять свой пароль. Все действия, совершенные посетителем,
          авторизовавшимся с адресом электронной почты и паролем Пользователя рассматриваются как действия Пользователя.
          Пользователь несет полную ответственность за все действия, совершенные авторизованным лицом от его
          имени.&nbsp;<br>
          6.6. Пользователь обязуется использовать Сервис только в законных целях, соблюдать действующее
          законодательство Республики Беларусь, а также права и законные интересы Администратора и правообладателей, чей
          Контент размещен на Сайте.<br>
          6.7. Пользователь обязуется воздерживаться от:<br>
          • действий, направленных на дестабилизацию работы Сайта;<br>
          • попыток несанкционированного доступа к Сервису и результатам интеллектуальной деятельности, размещенных на
          Сайте;<br>
          • любых иных действий, нарушающих права Администратора и/или третьих лиц.<br>
          6.8. Пользователь обязуется воздерживаться от каких-либо действий, направленных на обход технических средств
          защиты. В случае нарушения Пользователем условий настоящего пункта Администратор имеет право отказать такому
          Пользователю в дальнейшем оказании Сервиса и аннулировать его учетную запись без возвращения внесенной
          предоплаты за Сервис. <br>
          6.9. Пользователь не должен нарушать, блокировать или иным образом наносить ущерб каким-либо средствам
          безопасности Сайта или техническим средствам, предотвращающим или ограничивающим использование или копирование
          какой-либо информации или результатов интеллектуальной деятельности, размещенных на Сайте, или налагающим
          ограничения на использование такой информации или объектов интеллектуальной собственности.&nbsp;<br>
          6.10. Пользователь обязуется не использовать Сайт для совершения действий, направленных на подрыв сетевой
          безопасности и нарушение работы любых программно-технических средств, подключенных к сети Интернет, а также
          совершение сетевых атак на любые ресурсы, доступные через сеть Интернет, включая программно-технические
          средства Администратора, но не ограничиваясь ими.<br>
          6.11. Пользователь обязуется воздерживаться от действий, направленных на получение доступа к чужому личному
          кабинету, путем подбора учётных данных, взлома или иных действий.<br>
          6.12. Пользователь гарантирует, что Сервис и его использование детьми осуществляется и будет осуществляться
          под его контролем с соблюдением ограничений, установленных действующим законодательством Республики Беларусь и
          настоящим Договором. Пользователь обязуется ни при каких обстоятельствах не предоставлять детям доступ к
          разделам Сайта и аудиовизуальным произведениям, предназначенным только для совершеннолетних Пользователей.<br>
          6.13. Пользователь настоящим подтверждает, что достиг 18-летнего возраста, является полностью дееспособным,
          над ним не установлено попечительство в какой-либо форме.<br>
          6.14. Пользователь обязуется не реже одного раза в неделю, знакомиться на Сайте с информацией, связанной с
          Сервисом и размещенными на Сайте результатами интеллектуальной деятельности, включая изменения и дополнения к
          настоящему Договору, в том числе изменения Прейскуранта Администратора. Продолжая пользоваться Сервисом после
          уведомления Администратором на Сайте об изменении текущих условий настоящего Договора и иных изменений,
          Пользователь соглашается с внесенными изменениями и дополнениями, если иное прямо не предусмотрено настоящим
          Договором. Все риски, связанные с наступлением неблагоприятных последствий вследствие несоблюдения
          Пользователем требований настоящего пункта несет Пользователь.&nbsp;<br>
          6.15. Пользователь обязан выполнять иные обязанности, установленные настоящим Договором.
        </p>
        <p>
          <strong>7. Переписка Сторон. Извещения и уведомления</strong>
        </p>
        <p>
          7.1. Вся переписка между Сторонами по поводу исполнения настоящего Договора ведется по электронной почте,
          через адреса, зарегистрированные за каждой из Сторон. Адресом электронной почты, зарегистрированным за
          Администратором, считается электронный адрес&nbsp;<u>info</u><u>@persik.by</u>. Адресом электронной почты,
          зарегистрированным за Пользователем, считается электронный адрес, указанный Пользователем при регистрации на
          Сайте.&nbsp;&nbsp;<br>
          7.2. Стороны соглашаются, что все извещения и уведомления, полученные на адреса электронной почты,
          зарегистрированные для каждой из Сторон в рамках оказываемых в соответствии с настоящим Договором услуг, а
          также публикация изменений и дополнений к настоящему Договору, включая изменения и дополнения к прейскуранту,
          на Сайте считаются доставленными адресату в надлежащей форме.<br>
          7.3. Стороны согласились, что документы, связанные с исполнением настоящего Договора, переданные с
          использованием электронной почты, имеют юридическую силу.<br>
          7.4. Каждая из Сторон обязуется своевременно проверять корреспонденцию, поступающую на адреса электронной
          почты, зарегистрированные для каждой из Сторон.
        </p>
        <p>
          <strong>8. Порядок разрешения споров</strong>
        </p>
        <p>
          8.1. Пользователь и Администратор соглашаются, что все споры и разногласия, которые могут возникнуть из
          настоящего Договора или в связи с ним, будут разрешаться путем переговоров с обязательным соблюдением
          досудебного порядка разрешения споров. Претензии Пользователя в отношении Сервиса, оказываемого
          Администратором, принимаются к рассмотрению только при условии, если они составлены в письменной форме и
          направлены в адрес Администратора в течение одного месяца со дня оказания Сервиса или отказа в его
          оказании.<br>
          8.2. В случае, если согласие между сторонами не будет достигнуто, все споры по поводу исполнения настоящего
          Договора разрешаются в судебном порядке в соответствии&nbsp; с действующим законодательством Республики
          Беларусь по месту нахождения Администратора.
        </p>
        <p>
          <strong>9. Порядок внесения изменений и дополнений в Договор</strong>
        </p>
        <p>
          9.1. Изменения и/или дополнения в Договор вносятся в одностороннем порядке по решению Администратора. Датой
          вступления в силу изменений и/или дополнений к настоящему Договору является дата, определенная в них
          Администратором, но в любом случае не ранее, чем по истечении 7 (Семи) календарных дней с момента
          опубликования данных изменений и/или дополнений на Сайте.<br>
          9.2. Текст изменений и/или дополнений к Договору либо его новая редакция доводится Администратором до
          всеобщего сведения путем размещения соответствующей информации на Сайте.<br>
          9.3. В случае несогласия Пользователя с внесенными изменениями и/или дополнениями к настоящему Договору
          Пользователь имеет право расторгнуть настоящий Договор путем письменного уведомления Администратора об отказе
          Пользователя от дальнейшего использования Сервиса, а также о несогласии с внесенными изменениями и/или
          дополнениями либо о неприсоединении к новой редакции Договора или об отказе соблюдать его условия.<br>
          9.4. Стороны договариваются, что молчание в течении разумного срока (отсутствие письменных уведомлений о
          расторжении Договора либо о несогласии с отдельными положениями Договора, в том числе с изменением тарифов) в
          соответствии с п. 3 ст. 159 Гражданского кодекса Республики Беларусь признается согласием и присоединением
          Стороны к новой редакции Договора, к редакции Договора с учетом внесенных изменений и/или дополнений.
        </p>
        <p>
          <strong>10. Заключительные положения</strong>
        </p>
        <p>
          10.1. Настоящий Договор и отношения между Администратором и Пользователем регулируются и толкуются в
          соответствии с законодательством Республики Беларусь. Вопросы, не урегулированные настоящим Договором,
          подлежат разрешению в соответствии с законодательством Республики Беларусь.<br>
          10.2. Если по тем или иным причинам какие-либо из условий настоящего Договора являются недействительными или
          не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных условий
          Договора.<br>
          10.3. Настоящий Договор в отношении каждого из Пользователей вступает в силу с момента совершения
          Пользователем действий, указанных в пункте 1.3. настоящего Договора, и действует до момента окончания
          использования Пользователем Сервиса.<br>
          10.4. В соответствии с п. 3 ст. 408 Гражданского кодекса Республики Беларусь фактом принятия Пользователем
          условий настоящего Договора считается факт оплаты Пользователем Сервиса в соответствии с п.п. 1.3; 4.1. – 4.4.
          настоящего Договора.<br>
          10.5. В соответствии с п. 3 ст. 404 Гражданского кодекса Республики Беларусь настоящий Договор считается
          заключенным в письменной форме.<br>
          10.6. Настоящий Договор представляет собой публичный договор (ст. 396 Гражданского кодекса Республики
          Беларусь), в соответствии с которым Администратор принимает на себя обязательство по оказанию Сервиса в
          отношении неопределенного круга лиц (Пользователей).
        </p>
        <br>
        <p>
          <strong>Приложение № 1<br>
          </strong><strong>к Публичному договору на оказание услуг</strong>
        </p>
        <p>
          <strong>Прейскурант</strong>
        </p>
        <p>
          1. Настоящее приложение является неотъемлемой частью Публичного договора, заключенного между Администратором и
          Пользователем, и содержит Прейскурант на Сервис Администратора.<br>
          2. Подписка на Сервис является непрерывной и предоставляется Пользователю за плату на конкретные неделимые
          промежутки времени. В Подписку на Сервис включается возможность использовать Сайт Администратора в течение
          указанных промежутков времени.
        </p>
        <br>
        <!-- <p>
                                Стоимость доступа к Сервису: указана по ссылке <span class="link" (click)="goTo('tv-tarify')">https://persik.by/tv-tarify</span>
                            </p>

                            <div class="offer-info">
                                <ul>
                                    <li class="link" (click)="goTo('faq')">Часто задаваемые вопросы</li>
                                    <li class="link" (click)="goTo('')">Способы оплаты</li>
                                </ul>
                            </div> -->
      </div>

    </div>
  </div>
</div>
