.archive-item{
    position: relative;
    width: 100%;
    cursor: pointer;

    &__poster{
        position: relative;

        &-image{
            max-width: 100%;
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }
    }

    &__info{
        background-color: #fff;
        border: 1px solid #e9e9e9;
        border-top: none;
        padding: 20px 30px;
        height: 90px;

        &-name{
            font-size: 16px;
            font-family: 'OpenSans-Bold';
            line-height: 24px;
            text-align: center;
            color: #232323;
            background: #232323;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            transition: .3s;
        }
    }

    &:hover{
        .archive-item__info-name{
            background: linear-gradient(to left, #fe6f41, #ffcd78);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: .3s;
        }
    }
}

@media screen and (max-width: 992px){
    .archive-item__info{
        padding: 12px 15px;
        height: 75px;
    }
    .archive-item__info-name{
        font-size: 14px;
    }
}