<!-- <div class="archive-item" (click)="redirect()">
    <div class="archive-item__poster">
        <img [src]="item.image" [alt]="item.name" class="archive-item__poster-image">
    </div>
    <div class="archive-item__info">
        <div class="archive-item__info-name">
          {{ item.name }}
        </div>
    </div>
</div> -->
