.notfound{
    position: relative;
    padding-top: 30px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 150px;

    &__header{
        position: relative;
        background-color: #f9f9f9;
        margin-bottom: 30px;
        z-index: 1;
    }

    &__breadcrumbs{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding-bottom: 11px;
		padding-left: 15px;
		padding-right: 15px;
		&-item{
			text-decoration: none;
			color: #8c8c8c;
			margin-bottom: 10px;
			transition: .3s;
			&:hover, &:focus{
				color: #e05f20;
				text-decoration: none;
				transition: .3s;
			}
			&:after{
				content: '/';
				padding-left: 3px;
				padding-right: 4px;
			}
			&:last-child{
				&:after{
					display: none;
				}
				&:hover{
					color: #8c8c8c;
					cursor: initial;
				}
			}
		}
	}

	&__title{
		color: #232323;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		padding-bottom: 28px;
		font-family: OpenSans-Bold;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
		&_small{
			padding-left: 0;
			padding-right: 0;
			font-size: 24px;
			padding-bottom: 0;
		}
    }

    &__image{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 90px;
        img{
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__grid{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    &__text{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
        width: 55%;

        &-bold{
            font-size: 28px;
            font-family: "OpenSans-Bold";
            margin-bottom: 20px;
        }
    }

    &__links{
        position: relative;
        columns: 2;
        width: 40%;
        padding-left: 40px;

        &-item{
            font-size: 18px;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            cursor: pointer;
            transition: .3s;
            &:before{
                content: '';
                width: 10px;
                height: 2px;
                background-color: #a6da66;
                margin-right: 10px;
                display: inline-block;
            }

            &:hover{
                color: #a6da66;
                transition: .3s;
            }
        }
    }
}

@media screen and (max-width: 992px){
    .notfound{
        padding-top: 90px;
    }
    .notfound__title{
        padding-bottom: 0;
    }
    .notfound__links{
        width: 100%;
        columns: 2;
        padding-left: 0;
    }
    .notfound__text{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px){
    .notfound{
        padding-bottom: 90px;
    }
    .notfound__image{
        margin-bottom: 30px;
    }
    .notfound__text{
        text-align: center;
        font-size: 16px;

        &-bold{
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    .notfound__links-item{
        font-size: 16px;
    }
}