<div class="notfound">

    <div class="notfound__header">
        <div class="notfound__breadcrumbs">
            <a routerLink="" class="notfound__breadcrumbs-item">
                Главная
            </a>
            <span class="notfound__breadcrumbs-item">
                Ошибка
            </span>
        </div>

        <h1 class="notfound__title">
            ошибка
        </h1>
    </div>

    <div class="notfound__image">
        <img src="assets/images/404.png" alt="error 404">
    </div>

    <div class="container">
        <div class="notfound__grid">
            <div class="notfound__text">
                <div class="notfound__text-bold">
                    Но не расстраивайтесь!
                </div>
                У нас есть много других интересных страниц:
            </div>

            <div class="notfound__links">
                <div class="notfound__links-item" (click)="goTo('')">
                    Главная
                </div>
                <div class="notfound__links-item" (click)="goTo('/films')">
                    Фильмы
                </div>
                <div class="notfound__links-item" (click)="goTo('/serialy')">
                    Сериалы
                </div>
                <div class="notfound__links-item" (click)="goTo('/multfilmy')">
                    Мультфильмы
                </div>
                <div class="notfound__links-item" (click)="goTo('/peredachi')">
                    Передачи
                </div>
                <div class="notfound__links-item" (click)="goTo('/kursy-online')">
                    Курсы
                </div>
            </div>
        </div>
    </div>

</div>
