<div class="video-call">
    <iframe width="960" height="540" align="center" src="https://demo.123streaming.ru/webrtc/123_webrtc_publisher.html" frameborder="0" allow="geolocation; microphone; camera ; autoplay; fullscreen"></iframe>
</div>