.forgot {
    background-color: white;
    width: 30rem;
    position: relative;
    padding: 40px;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    margin: 0 auto;

    &__form {

        &-field {

            &_error {
                border: 1px solid red;
            }
        }
    }
}

.form-group{
  position: relative;
  padding-top: 30px;
  &__error{
    position: absolute;
    left: 0;
    top: 75px;
    font-size: 14px;
    color: red;
  }
  &__label{
    transition: .3s;
    color: #8c8c8c;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 40px;
  }
  &__input{
    position: relative;
    border: none;
    color: #232323;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 12px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 35px;
    display: block;
    width: 100%;
    transition: .3s;
    &:focus{
      outline: none;
      box-shadow: none;
      border-color: #232323;
      &+.form-group__label{
        font-size: 14px;
        top: 10px;
        transition: .3s;
      }
    }
    &.has-error{
      border-color: red;
      transition: .3s;
    }
  }
  &_dirty{
    .form-group__input{

    }
    .form-group__label{
      font-size: 14px;
      top: 10px;
      transition: .3s;
    }
  }
}

.modal-btns{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  &__link{
    font-size: 14px;
    color: #e05f20;
    cursor: pointer;
    text-decoration: underline !important;
    &_forgot{
      margin-top: 20px;
      margin-left: 70px;
    }
    &_center{
        width: calc(100% - 235px);
        text-align: center;
    }
  }
  &_center{
      justify-content: center;
      .btn-orange{
          width: 80px;
      }
  }
}

.modal-title{
  margin-bottom: 15px;
  font-size: 20px;
  color: #232323;
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-Bold;

  &_small{
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px){
  .forgot{
    max-width: 320px;
  }
  .modal-btns{
    justify-content: center;

  }
  .modal-btns__link_center{
      width: auto;
      margin-top: 20px;
  }
}
