.banner-item {
  width: 100%;

  &__video {
    width: 100%;
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;

    &-block{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      margin-top: 55px;

      .banner-item__info-button{
        margin-top: 0 !important;
      }
    }

    &-text{
      font-family: "OpenSans-Bold";
      margin-left: 30px;
      font-size: 18px;
      color: #fff;
      position: relative;
      z-index: 5;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0.6;
      z-index: 2;
    }

    &-title {
      font-size: 44px;
      font-family: OpenSans-Bold;
      color: white;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
    }

    &-actors {
      font-family: OpenSans;
      font-size: 18px;
      text-transform: capitalize;
      margin-top: 21px;
      position: relative;
      z-index: 5;
    }

    &-button {
      // padding: 14px 1.5rem;
      // background-color: black;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // color: white;
      // text-transform: uppercase;
      // font-size: 16px;
      // font-family: OpenSans-Bold;
      // margin-top: 55px;
      // cursor: pointer;
      // position: relative;
      // z-index: 5;
      position: relative;
      color: #fff !important;
      font-size: 16px;
      font-family: OpenSans-Bold;
      text-transform: uppercase;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // width: 235px;
      outline: none !important;
      border: none !important;
      // box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1) !important;
      background: linear-gradient(to left, #fe6f41, #ffcd78);
      cursor: pointer;
      z-index: 5;
      margin-top: 55px;
      transition: .3s;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, #fe6f41, #ffcd78);
        filter: blur(15px);
        opacity: 0.5;
        z-index: -1;
        transition: .3s;
      }
      &:hover{
        color: #fff;
        &:after{
          transition: .3s;
          opacity: 0.9;
        }
      }
    }
  }
}

.orange-text {
  color: #e05f20; 
}

@media screen and (max-width: 992px){
  .banner-item__info-text{
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px){
  .banner-item__info-button{
    font-size: 12px;
    padding: 10px 12px;
  }
  .banner-item__info-block{
    margin-top: 30px;
  }
  .banner-item__info-button{
    margin-top: 30px;
  }
  .banner-item__info-title{
    text-align: center;
    font-size: 24px;
    padding: 0 15px;
  }
}
