<div class="banner-item">
  <video autoplay class="banner-item__video" [src]="banner.trailer_url_desktop" muted="muted" id="test" #videotag> </video>
  <div class="banner-item__info">
    <span class="banner-item__info-title" *ngIf="bannerInfo?.name && bannerInfo?.name.length && bannerInfo?.name.length > 1" [innerHtml]="bannerInfo?.name"></span>
    <!-- <span class="banner-item__info-actors" *ngIf="bannerInfo?.actors">{{ bannerInfo.actors }}</span> -->
    <div class="banner-item__info-button" (click)="openBannerLink()" *ngIf="isLogin">Смотреть</div>
    <div class="banner-item__info-block" *ngIf="!isLogin">
      <div class="banner-item__info-button" id="try_btn" (click)="goToRegistration()">Попробовать</div>
      <div class="banner-item__info-text">
        90 ДНЕЙ ЗА 30 КОПЕЕК
      </div>
    </div>

  </div>
</div>

<!-- <div class="banner-item" *ngIf="!isDesktop">
  <img [src]="banner.trailer_img" alt="">
</div>
-->
