.online{
	position: relative;
  background-color: #1b1b1b;
  
	&__title{
		color: #fff;
		font-size: 24px;
		margin-bottom: 23px;
		text-align: center;
		text-transform: uppercase;
	}
}

.content-slider{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	.row{
		margin: 0 -15px;
	}
}

.online-header {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: absolute;
  top: 61px;
  z-index: 51;
  background-color: transparent;
  transition: background-color .3s;
  

  &_line {
    border-bottom: 1px solid #393933;
  }

  &_sticky{
    position: fixed;
    top: 0;
    transition: background-color .3s;
    background-color: #000;
  }



  &__nav {
    color: #fff;
    font-size: 16px;
    margin-right: 37px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;

    &-submenu{
         display: none !important;
         position: absolute;
        //  width: 440px;
         left: 0;
         top: 82px;
         background-color: #fff;
         flex-wrap: wrap;
         columns: 2;
         font-size: 0;
         padding-top: 10px;
        //  padding-bottom: 10px;
         padding-left: 5px;
         padding-right: 15px;

         &_last {
           left: -150px;
         }

         &-item{
           display: inline-block;
           width: 100%;
          //  width: 220px;
          
           font-family: OpenSans;
           font-size: 13px;
           // text-transform: uppercase;
           color: #232323;
           background-color: transparent;
           transition: .3s;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
          //  padding: 10px 30px 11px 30px;
           margin-bottom: 10px;

           &:first-letter{
             text-transform: uppercase;
           }

           &:first-child{
             text-transform: uppercase;
             font-family: OpenSans-Bold;
             color: #e05f20;
           }

           &:hover{
             color: #e05f20;
            //  background-color: #e05f20;
             transition: .3s;
           }

           &_active {
             color: #e05f20;
           }
         }

         &_films{
          // width: 1000px;
          columns: 5;
          left: 0;
          margin-left: -330px;

          .online-header__nav-submenu-item{
            // width: 180px;
            // margin-left: 20px;
            padding-left: 10px;
            text-transform: none;
          }

         }

         &_tvshows{
          // width: 800px;
          left: -500px;
          columns: 4;

          .online-header__nav-submenu-item{
            width: 180px;
            // margin-left: 20px;
            padding-left: 10px;
            text-transform: none;
          }
         }

         &_channels{
          // width: 720px;
          left: -200px;
          columns: 3;
          .online-header__nav-submenu-item{
            // margin-left: 20px;
            padding-left: 10px;
            text-transform: none;
          }
         }

         &_cartoons{
          // width: 800px;
          left: -720px;
          columns: 4;

          .online-header__nav-submenu-item{
            // width: 180px;
            // margin-left: 20px;
            padding-left: 10px;
            text-transform: none;
          }
         }

         &_series{
          // width: 800px;
          left: -620px;
          columns: 4;

          .online-header__nav-submenu-item{
            // width: 180px;
            // margin-left: 20px;
            padding-left: 10px;
            text-transform: none;
          }
         }

        }

    &:hover {
      color: #e05f20;
      transition: .3s;

      .online-header__nav-submenu {
        display: block;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &_active {
      color: #e05f20;
    }

  }
}

@media screen and (max-width: 1200px){
  .online-header__nav{
		font-size: 14px;
		margin-right: 24px;
	}
}

@media screen and (max-width: 992px){
  .online-header{
    display: none;
  }
}


.header-navigation {
  display: flex;
  height: 100%;

  .chapter {
    height: 100%;
    position: relative;
    text-transform: capitalize;
    font-size: 1rem;
    user-select: none;
    cursor: default;

    &__link {
      height: 100%;
      margin: 0 20px;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-bottom: 2px solid transparent;

      &_active {
        border-bottom: 2px solid #a3c718;
        color: white;
      }
    }

    &:hover {
      .chapter__link {
        color: #e05f20;
      }

      .chapter__dropdown {
        height: auto;
        padding: 15px 0;
      }
    }

    .chapter__dropdown {
      position: absolute;
      left: 0;
      top: 82px;
      background-color: white;
      min-width: 180px;
      transition: .3s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      height: 0;
      padding: 0;

      &_last {
        right: 0;
        left: inherit;
      }

      &-item {
        font-size: 14px;
        height: 40px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        color: #232323;

        &:hover {
          font-weight: bold;
          background-color: #e05f20;
          color: white;
        }
      }
    }
  }
}
