<div class="online-header" [class.online-header_sticky]="stickyHeader" [class.online-header_line]="!isMain" #stickyMenu>

  <a routerLink="/" class="online-header__logo">
    <!-- <img src="assets/images/persik-logo-white.svg" alt="Персик ТВ"> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="163" height="47"
      viewBox="0 0 163 47">
      <defs>
        <linearGradient id="c" x1="100%" x2="0%" y1="50%" y2="50%">
          <stop offset="0%" stop-color="#A3C718" />
          <stop offset="100%" stop-color="#ABE06A" />
        </linearGradient>
        <path id="b" d="M18.598.608v20l16-10.821z" />
        <filter id="a" width="187.5%" height="170%" x="-43.8%" y="-25%" filterUnits="objectBoundingBox">
          <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
          <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2" />
          <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
        </filter>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <text font-family="OpenSans-Bold" font-size="24" font-weight="bold" transform="translate(45 11)">
          <tspan x="0" y="26" fill="#FFF">PERSIK </tspan>
          <tspan x="87.691" y="26" fill="#E05F20">TV</tspan>
        </text>
        <path fill="#E05F20"
          d="M18 46.342c-9.941 0-18-8.06-18-18 0-9.941 8.059-18 18-18s18 8.059 18 18c0 9.94-8.059 18-18 18zm0-10.957a7.043 7.043 0 1 0 0-14.087 7.043 7.043 0 0 0 0 14.087z" />
        <g transform="translate(0 1)">
          <use fill="#000" filter="url(#a)" xlink:href="#b" />
          <use fill="url(#c)" xlink:href="#b" />
        </g>
      </g>
    </svg>

  </a>

  <div class="header-navigation">
    <div class="chapter" *ngFor="let element of menuItems; let index = index">
      <a [routerLink]="element.link" class="chapter__link" [class.chapter__link_active]="getIsChapterSelected(element.items)">{{ element.chapter }}</a>

      <div class="chapter__dropdown" [class.chapter__dropdown_last]="index == (menuItems.length - 1)">
        <a [routerLink]="item.link" *ngFor="let item of element.items" routerLinkActive="chapter__dropdown-item_active" class="chapter__dropdown-item">
          {{ item.name }}
        </a>
      </div>
    </div>
    <!-- <a routerLink="/tv-review" routerLinkActive="online-header__nav_active" class="online-header__nav">
      ТВ Онлайн
    </a>

    <a routerLink="/tv-guide" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Программа передач
    </a>
    <a routerLink="/films" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Фильмы
    </a>
    <a routerLink="/peredachi" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Передачи
    </a>
    <a routerLink="/serialy" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Сериалы
    </a>
    <a routerLink="/multfilmy" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Мультфильмы
    </a>
    <a routerLink="/kursy-online" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Курсы
    </a>

    <a routerLink="/audio-books" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Аудиокниги
    </a>

    <a routerLink="/books" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Книги
    </a>

    <a routerLink="/games" routerLinkActive="online-header__nav_active" class="online-header__nav">
      Игры
    </a> [routerLinkActiveOptions]="{ exact: true }" -->

  </div>

</div>

<router-outlet></router-outlet>
