<div class="text-page films">
  <div class="container">
    <div class="films__title">
      <span class="gradient-text">
        оплата
      </span>
      банковской картой
    </div>

    <div class="offer-text">
      <div class="information offer">
        <p>
          1. Оплата производится через интернет в режиме реального времени непосредственно после оформления заказа.
        </p>
        <p>
          2. Для совершения финансовой операции подходят карточки международных платежных систем VISA (всех видов), MasterCard (в том числе Maestro), эмитированные любым банком мира, МИР, а так же карты платежной системы БЕЛКАРТ.
          При выборе оплаты заказа с помощью банковской карты, обработка платежа (включая ввод номера банковской карты) производится ООО «Компанией электронных платежей «АССИСТ» с использованием программно-аппаратного комплекса системы электронных платежей Assist Belarus, которая прошла международную сертификацию.
          В системе, обеспечивающей безопасность платежей, используется защищённый протокол TLS для передачи конфиденциальной информации от клиента на сервер и дальнейшей обработки в процессинговом центре. Это значит, что конфиденциальные данные плательщика (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена, и никто не может получить персональные и банковские данные клиента. Кроме того, при обработке платежей по банковским картам, используется безопасная технология Visa Secure для  VISA, MasterCard ID Check для  MasterCard,  Белкарт ИнтернетПароль для Белкарт а так же MIRACCEPT для платежной системы МИР.
        </p>

        <br>

        <!-- <strong>О процедуре оплаты по карточкам БЕЛКАРТ</strong>
        <p>
          При выборе оплаты заказа с помощью банковской карты, обработка платежа (включая ввод номера банковской карты)
          производится ООО «Компанией электронных платежей «АССИСТ» с использованием программно-аппаратного
          комплекса системы
          электронных платежей Assist Belarus, которая прошла международную сертификацию.
        </p>
        <p>
          В системе, обеспечивающей безопасность платежей, используется защищённый протокол TLS для передачи
          конфиденциальной
          информации от клиента на сервер и дальнейшей обработки в процессинговом центре. Это значит, что
          конфиденциальные данные
          плательщика (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка
          полностью
          защищена, и никто не может получить персональные и банковские данные клиента. Кроме того, при обработке
          платежей по
          банковским картам, используется безопасная технология 3D-Secure, которую в обязательном порядке требуют
          международные
          платёжные системы VISA и MasterCard.
        </p> -->
        <!-- <br> -->

        <strong>Порядок оплаты:</strong>
        <p>•	Выбрать способ отплаты картой on-line.</p>
        <p>•	После нажатия на кнопку «Подтвердить и оплатить» система направит вас на сайт провайдера электронных платежей belassist.by, обеспечивающего безопасность платежей. Авторизационный сервер устанавливает с покупателем соединение по защищённому протоколу TLS и принимает от покупателя параметры его банковской карты (номер карты, дата окончания действия карты, имя держателя карты в той транскрипции, как оно указано на банковской карте, а также номер CVC2 либо CVV2, указанные на обратной стороне карты). Операция оплаты банковской картой онлайн полностью конфиденциальна и безопасна.
        </p>
        <p>
          •	Ваши персональные данные и реквизиты карточки вводятся не на странице нашего сайта, а на авторизационной странице платежной системы. Доступ к этим данным осуществляется по протоколу безопасной передачи данных TLS, также применяются технологии безопасных интернет-платежей Visa Secure,  MasterCard ID Check, MIRACCEPT и Белкарт ИнтернетПароль.
          К оплате принимаются карты платежных систем Visa, MasterCard, МИР и БЕЛКАРТ, эмитированные любыми банками мира. Мы рекомендуем заранее обратиться в свой банк, чтобы удостовериться в том, что ваша карта может быть использована для платежей в сети интернет.
        </p>
        <br>
        <strong>
          Причины отказа в авторизации могут быть следующими:
        </strong>
        <p>▪ на карте недостаточно средств для оплаты заказа;</p>
        <p>▪ банк, выпустивший карточку покупателя, установил запрет на оплату в интернете;</p>
        <p>▪ истекло время ожидания ввода данных банковской карты;</p>
        <p>▪ введённые данные не были подтверждены вами на платежной странице, ошибка формата данных и.т.д.</p>

        <br>
        <strong>В зависимости от причины отказа в авторизации для решения вопроса вы можете:</strong>
        <p>▪ обратиться за разъяснениями в банк, выпустивший карточку покупателя;</p>
        <p>▪ в случае невозможности решения проблемы банком — повторить попытку оплаты, воспользовавшись картой, выпущенной другим
          банком.</p>

         <strong> Все карт-чеки (подтверждения об оплате), полученные после совершения оплаты с использованием банковской карточки, необходимо сохранять для сверки с выпиской из карт-счёта с целью подтверждения совершённых операций в случае возникновения такой необходимости в спорных ситуациях.</strong>

        <!-- <p class="text-center">
          <img src="" alt="">
        </p> -->

      </div>

    </div>
  </div>
</div>



