.fast-auth {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 30px 0;
  width: 30rem;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: 320px;
    padding: 20px 0;
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 14px;
    margin-bottom: 60px;
  }

  &__subtitle {
    font-size: .9rem;
    color: #e05f20;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .advantages {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-bottom: 25px;

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      flex: 1;

      .circle {
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        left: calc(50% - 2rem);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);

        &__image {
          width: 60%;
        }
      }

      .title {
        font-size: 1.3rem;
        color: #e05f20;
        font-weight: bold;
      }

      .subtitle {
        font-size: .9rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;

        @media screen and (max-width: 330px) {
          font-size: .7rem;
        }
      }
    }
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .form {
    width: 80%;
    display: flex;
    flex-direction: column;

    &__input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      background-color: transparent;
      height: 3rem;
      padding: 0 15px;
      margin-top: 1rem;

      &_error {
        border: 1px solid red !important;
      }
    }

    &__errors {
      display: flex;
      flex-direction: column;
      color: red;
      font-size: .9rem;
    }

    .paycard {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;

      &__image {
        position: relative;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }

      &__fields {
        display: flex;

        &-text {
          flex: 1;
          padding-left: 5px;
        }

        .inputs {
          flex: 2;
          font-size: 2.5rem;
          display: flex;
          align-items: center;
          color: gray;
          position: relative;

          input {
            width: 4rem;
            height: 3rem;
            font-size: 1.1rem;
            outline: none;
            border: 1px solid gray;
            border-radius: 4px;
            margin: 0;
            text-align: center;
          }

          &__error {
            position: absolute;
            color: red;
            left: 0;
            bottom: -22px;
            font-size: .9rem;
            height: 1rem;

            @media screen and (max-width: 767px) {
              font-size: .7rem;
            }
          }
        }
      }
    }
  }

  .button {
    width: 80%;
    height: 3rem;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to left, #fe6f41, #ffcd78);
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
    text-align: center;

    @media screen and (max-width: 450px){
      width: 100%;
    }
  }

  .small-text {
    width: 70%;
    text-align: center;
    font-size: 13px;

    a {
      color: #232323;

      &:active {
        color: #232323;
      }

      &:visited {
        color: #232323;
      }
    }
  }
}
