.catalog {
    position: relative;
    padding-top: 140px;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 20px;
    }

    .btn-white {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 220px;
        margin-bottom: 150px;
        justify-content: center;
        padding-left: 0;
    }

    &__title {
        text-align: center;
        font-size: 32px;
        width: 100%;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: OpenSans-Bold;

        &-small {
            text-align: center;
            color: #8c8c8c;
            font-size: 16px;
            margin-bottom: 50px;
            max-width: 570px;
            margin-left: auto;
            margin-right: auto;
            line-height: 2;
        }
    }

    .container {
		max-width: 100% !important;
		padding-left: 80px;
        padding-right: 80px;
        
        @media screen and (max-width: 450px) {
            padding-left: 20px;
            padding-right: 20px;
        }
	}
}
