<div class="catalog" *ngIf="isHaveContent">
    <div class="container">
        <div class="catalog__title">
            {{ data.title }}
        </div>
        <div class="catalog__title-small">
            {{ data.subtitle }}
        </div>

        <div class="catalog__grid">
            <div class="card-col" *ngFor="let item of content">
                <app-film-card [content_id]="getId(item)" [type]="data.categoryId === 4 ? 'tv' : 'video'"></app-film-card>
            </div>
        </div>

        <div class="btn-white" (click)="showMoreContent()">
            показать ещё
        </div>
    </div>
</div>