.content-desc {
  position: relative;
  background-color: #1b1b1b;

  .mobile-btns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .book-chapters {
    margin-top: 3rem;
  }

  &__header {
    position: relative;
    padding-top: 150px;
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
    }
  }

  .green-dot {
    z-index: 1;
  }
  .dot1 {
    width: 10px;
    height: 10px;
    top: 100px;
    right: 34%;
  }
  .dot2 {
    width: 15px;
    height: 15px;
    left: 8%;
    bottom: 24%;
  }
  .dot3 {
    width: 20px;
    height: 20px;
    right: 90px;
    bottom: 50px;
  }

  &__poster {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: top;
    &:after {
      content: "";
      background-color: #000;
      opacity: 0.8;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__archive {
    width: 100%;
    text-align: right;
    margin-right: 57px;
  }

  &__breadcrumbs {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 15px;

    &-item {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      transition: 0.3s;
      margin-bottom: 10px;
      &:after {
        content: "/";
        display: inline-block;
        padding-left: 5px;
        padding-right: 8px;
        color: #fff !important;
      }
      &:hover {
        color: #e05f20;
        transition: 0.3s;
      }
      &:last-child {
        &:after {
          display: none;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__cover {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 100px;
    width: 470px;
    min-height: 500px;
    &-img {
      max-width: 100%;
    }
  }

  &__info {
    position: relative;
    display: block;
    color: #fff;
    width: calc(100% - 470px);

    .audio-player {
      outline: none;
    }

    .favorite {
      margin-bottom: 44px;
      position: relative;

      &__star {
        cursor: pointer;
        width: 24px;
      }

      &__tooltip {
        position: absolute;
        top: -8px;
        left: 35px;
        background-color: white;
        color: black;
        padding: 12px 14px;
        font-size: 14px;
        box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.66);
        opacity: 0;
      }
    }

    &-genres {
      font-size: 14px;
      margin-bottom: 11px;
    }
    &-name {
      font-size: 44px;
      font-family: OpenSans-Bold;
      line-height: normal;
      margin-bottom: 21px;
      text-transform: uppercase;

      .orange {
        color: #e05f20;
      }
    }
    &-names {
      font-size: 18px;
      margin-bottom: 19px;
      line-height: 22px;
    }
    .grey-title {
      color: #757575;
      display: inline;
    }
  }

  &__buttons {
    display: flex;
    margin: 55px -15px 50px -15px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    &-item {
      margin: 25px;
      padding: 0 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-color: #000;
      height: 50px;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-family: OpenSans-Bold;
      text-align: center;
      text-transform: uppercase;
      position: relative;

      .square {
        width: 10px;
        height: 10px;
        background-color: #e05f20;
        margin-right: 8px;
      }

      .throught {
        text-decoration: line-through;
        margin-right: 8px;
      }

      .more {
        position: absolute;
        bottom: -40px;
        left: 40px;
        text-transform: none;
        font-family: sans-serif;

        b {
          font-weight: bold;
        }
      }

      .orange-triangle {
        margin-right: 8px;
      }
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 14px;
    line-height: normal;
    margin: 0 -15px;

    &-item {
      margin: 0 15px;
      cursor: pointer;
    }
  }

  &__about {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 90px;
    // padding-bottom: 93px;
    &-title {
      width: 100%;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 13px;
    }
    &-text {
      font-size: 16px;
      color: #757575;
      line-height: 2;
      padding-right: 70px;
      width: 570px;
      position: relative;
    }
  }

  &__tables {
    display: flex;
    width: calc(100% - 570px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px -30px 0 -30px;
  }

  &__table {
    display: block;
    padding: 0 30px;
    width: 50%;

    &_audiobook {
      width: 100%;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 19px;
      margin-bottom: 19px;
      border-bottom: 1px solid #393939;
      font-size: 16px;

      &_audiobook {
        flex-wrap: nowrap;
      }

      &_country {
        div {
          max-width: 35%;
          text-align: right;
          &:first-child {
            text-align: left;
            max-width: 65%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &_duration {
        div {
          &:first-child {
            width: 25%;
            max-width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:last-child {
            width: 75%;
            max-width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5px;
          }
        }
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    &-title {
      color: #757575;
      padding-left: 20px;
      text-align: right;
    }

    &-name {
      width: 20%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__player {
    margin-bottom: 91px;
    width: 100%;
  }

  &__actors {
    margin-bottom: 120px;

    &-item {
      padding: 0 15px;
      width: 16.6666667%;
    }
  }

  &__actor {
    position: relative;
    background-color: #232323;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    padding-bottom: 23px;
    transition: 0.3s;
    &-img {
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
    &-name {
      padding: 21px 15px 23px 15px;
      // line-height: 1.43;
      text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      max-height: 67px;
      // height: 67px;
      padding-bottom: 0;
      line-height: 22px;
      background-color: transparent !important;
    }
    &-last-name {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover {
      background-color: #e05f20;
      transition: 0.3s;
    }
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 23px;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__error {
    min-height: 80vh;
    text-align: center;
    padding-top: 300px;
    font-size: 34px;
    font-family: OpenSans-Bold;
    color: #fff;
    background-color: #1b1b1b;
    text-transform: uppercase;

    &-btn {
      width: 100%;
      z-index: 2;
      position: relative;
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
  }
}

.contect-desc__actor-poster {
  width: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  &:after {
    content: "";
    display: block;
    padding-bottom: 56.615384%;
  }
  &_big {
    &:after {
      padding-bottom: 136.430769%;
    }
  }
}

.content-desc__actor-name {
  text-transform: none;
}

.episodes {
  // min-height: 370px;
  margin-bottom: 30px;
  .seasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;

    &__item {
      cursor: pointer;
      font-size: 16px;
      color: #232323;
      border: 1px solid #393939;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 125px;
      height: 44px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
      transition: 0.3s;
      background-color: transparent;
      color: #fff;
      &_active {
        background-color: rgb(224, 95, 32);
        transition: 0.3s;
        border-color: transparent;
      }
    }
  }
}

.series {
  margin-top: 40px;
  // margin-bottom: 4rem;
  padding-bottom: 93px;
  color: #fff;

  .container {
    max-width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }

  .content-desc__actor {
    cursor: pointer;
    .content-desc__actor-name {
      transition: 0.3s;
    }
    &:hover {
      .content-desc__actor-name {
        transition: 0.3s;
        color: #fff;
        background-color: rgb(224, 95, 32);
      }
    }
  }
}

.similar-title {
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-family: "OpenSans-Bold";
  margin-bottom: 40px;
  text-transform: uppercase;
}

.description-toggler {
  position: absolute;
  bottom: -55px;
  left: 50%;
  margin-left: -55px;
  width: 40px;
  height: 40px;
  background-image: url("../../../../assets/images/icons/slider-arrow.svg");
  background-size: cover;
  background-position: center center;
  transition: 0.3s;
  opacity: 0.4;
  cursor: pointer;
  transform: rotate(-90deg);
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &_open {
    transform: rotate(90deg);
    transition: 0.3s;
  }
}
.similar-title {
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-family: "OpenSans-Bold";
  margin-bottom: 40px;
  text-transform: uppercase;
}



@media screen and (max-width: 1200px) {

  .content-desc__info-name {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .content-desc__info {
    width: calc(100% - 500px);
  }
  .content-desc__info .favorite {
    margin-bottom: 25px;
  }
  .content-desc__info-genres {
    line-height: 22px;
  }
  .content-desc__info-names {
    font-size: 16px;
  }
  .content-desc__about-text {
    width: 450px;
  }
  .content-desc__tables {
    width: calc(100% - 450px);
  }
  .content-desc__table {
    padding: 0 15px;
  }
  .row {
    width: initial;
  }
}

@media screen and (max-width: 992px) {


  .content-desc__header {
    padding-top: 100px;
  }
  .content-desc__cover {
    padding-right: 70px;
    width: 40%;
  }
  .content-desc__info {
    width: 60%;
  }
  .content-desc__about-text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 70px;
  }
  .content-desc__tables {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }
  .description-toggler {
    bottom: -50px;
    margin-left: -20px;
  }
  .content-desc__player {
    margin: 0;
  }
  .series .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-col {
    width: 33.333334%;
  }
  .content-desc__about {
    display: block;
  }
}



@media screen and (max-width: 767px) {
  .favorite__tooltip {
    display: none !important;
  }

  .content-desc__mobile-btns {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    .content-desc__buttons-item {
      font-size: 12px;
      padding: 0 18px;
      height: 38px;
    }
  }
  .content-desc__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .content-desc__cover {
    min-height: 1px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    &-img {
      max-width: 270px;
    }
    .favorite {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 5;
      width: 38px;
      height: 36px;
      background-color: rgba(0, 0, 0, 0.7);

      &__star {
        position: absolute;
        top: 5px;
        right: 7px;
      }
    }
  }
  .content-desc__info-name {
    font-size: 30px;
    order: -1;
    text-align: center;
  }
  .content-desc__info-genres {
    text-align: center;
    margin-bottom: 30px;
  }
  .content-desc__info-names {
    font-size: 14px;
    display: none;
  }
  .content-desc__buttons {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .content-desc__about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    &-title {
      order: 1;
    }

    &-text {
      order: 2;
    }
  }
  .content-desc__tables {
    order: 0;
  }
  .content-desc__breadcrumbs {
    justify-content: center;
    &-item {
      font-size: 12px;
    }
  }
  .episodes .seasons__item {
    font-size: 14px;
    min-width: 100px;
  }
}

@media screen and (max-width: 667px) {
  .content-desc__cover {
    // width: 100%;
    padding-right: 0;
    margin-bottom: 30px;
    &-img {
      max-width: 270px;
    }
  }
  .card-col {
    width: 50%;
  }
  .content-desc__info {
    width: 100%;
  }
  .content-desc__tables {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .content-desc__table {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .content-desc__buttons {
    margin-bottom: 0;
    &-item {
      margin-bottom: 15px;
    }
  }
  .seasons {
    margin-left: -10px;
    margin-right: -10px;
    &__item {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
