<div class="content-desc" *ngIf="!isLoadError">
  <div class="content-desc__header">
    <div class="green-dot dot1"></div>
    <div class="green-dot dot2"></div>
    <div class="green-dot dot3"></div>
    <div *ngIf="isBrowser" class="content-desc__poster" style.backgroundImage="url({{ contentInformation?.cover }})">
    </div>
    <div class="container">
      <div class="content-desc__breadcrumbs">
        <a routerLink="" class="content-desc__breadcrumbs-item">
          Онлайн-просмотр
        </a>
        <a [routerLink]="['',category.path]" class="content-desc__breadcrumbs-item">
          {{ category.name }}
        </a>
        <h1 class="content-desc__breadcrumbs-item">
          {{ contentInformation?.name }}
        </h1>
      </div>

      <div class="content-desc__cover">
        <img *ngIf="isBrowser" [src]="contentInformation?.cover" [alt]="contentInformation?.name"
          class="content-desc__cover-img">
        <div class="favorite hidden-desctop" *ngIf="isLogin">
          <div [@tooltip]="state" (@tooltip.done)="animationEnded($event)"
            class="favorite__tooltip favorite__tooltip_show">
            <span *ngIf="isFavorite">Добавлено в избранное</span>
            <span *ngIf="!isFavorite">Удалено из избранного</span>
          </div>
          <img *ngIf="!isFavorite" src="assets/images/icons/star-icon.svg" alt="" (click)="addToFavorite()"
            title="Добавить в избранное" class="favorite__star">
          <img *ngIf="isFavorite" src="assets/images/icons/star.png" alt="" (click)="removeFromFavorite()"
            title="Удалить из избранного" class="favorite__star">
        </div>

      </div>

      <div class="mobile-btns hidden-desctop">
        <div *ngIf="!isAudiobook" class="content-desc__buttons-item" (click)="playVideo()">
          <span class="orange-triangle"></span>
          смотреть
        </div> <!-- *ngIf="(isLogin && isCanPlay) || isPladform" -->

        <div *ngIf="isAudiobook && !isBought && !isTrialPlaying && !isBook" class="content-desc__buttons-item" (click)="playTrial()">
          <span class="orange-triangle"></span>
          слушать фрагмент
        </div>

        <a *ngIf="!isBought && isBook" class="content-desc__buttons-item" [href]="downloadTrialBookLink">
          <span class="orange-download"></span>
          скачать фрагмент
        </a>

        <div *ngIf="isAudiobook && isTrialPlaying && !isBought" class="content-desc__buttons-item" (click)="pauseTrial()">
          <div class="orange-pause"></div>
          пауза
        </div>

        <div *ngIf="isAudiobook && isBought && !isFullPlaying" class="content-desc__buttons-item" (click)="playBook()">
          <span class="orange-triangle"></span>
          слушать
        </div>

        <div *ngIf="isAudiobook && isFullPlaying && isBought" class="content-desc__buttons-item" (click)="pauseBook()">
          <div class="orange-pause"></div>
          пауза
        </div>

        <a *ngIf="isAudiobook && isBought" class="content-desc__buttons-item" [href]="downloadBookLink">
          <span class="orange-download"></span>
          скачать
        </a>

        <div *ngIf="isAudiobook && !isBought" (click)="buyBook()" class="content-desc__buttons-item">
          <div class="square"></div>
          купить за {{ bookInfo?.price_byn }} руб.
        </div>

        <!-- <div (click)="login()" class="content-desc__buttons-item" *ngIf="!isLogin">
          Смотреть
        </div> -->
      </div>

      <div class="content-desc__info">

        <div class="favorite hidden-mobile" *ngIf="isLogin">
          <div [@tooltip]="state" (@tooltip.done)="animationEnded($event)"
            class="favorite__tooltip favorite__tooltip_show">
            <span *ngIf="isFavorite">Добавлено в избранное</span>
            <span *ngIf="!isFavorite">Удалено из избранного</span>
          </div>
          <img *ngIf="!isFavorite" src="assets/images/icons/star-icon.svg" alt="" (click)="addToFavorite()"
            title="Добавить в избранное" class="favorite__star">
          <img *ngIf="isFavorite" src="assets/images/icons/star.png" alt="" (click)="removeFromFavorite()"
            title="Удалить из избранного" class="favorite__star">
        </div>

        <div class="content-desc__info-genres" *ngIf="!isAudiobook">
          {{ genres | genres | uppercase }}
        </div>

        <div class="content-desc__info-name" *ngIf="contentName">
          <span [innerHTML]="contentName"></span>
        </div>

        <div class="content-desc__info-names" *ngIf="isHaveActors && !isAudiobook">
          <div class="grey-title">
            Актеры:
          </div>
          {{ actorNames | genres }}
        </div>
        <div class="content-desc__info-names" *ngIf="isHaveDirectors && !isAudiobook">
          <div class="grey-title">
            Режиссер:
          </div>
          {{ directors | genres }}
        </div>

        <div class="content-desc__buttons hidden-mobile">
          <div *ngIf="!isAudiobook" class="content-desc__buttons-item" (click)="playVideo()">
            <span class="orange-triangle"></span>
            смотреть
          </div><!-- *ngIf="(isLogin && isCanPlay) || isPladform" -->

          <!-- <div (click)="login()" class="content-desc__buttons-item hidden-mobile" *ngIf="!isLogin">
						авторизация
          </div> -->

          <div *ngIf="isAudiobook && !isBought && !isTrialPlaying && !isBook" class="content-desc__buttons-item" (click)="playTrial()">
            <span class="orange-triangle"></span>
            слушать фрагмент
          </div>

          <a *ngIf="!isBought && isBook" class="content-desc__buttons-item" [href]="downloadTrialBookLink">
            <span class="orange-download"></span>
            скачать фрагмент
          </a>

          <div *ngIf="isAudiobook && isTrialPlaying && !isBought" class="content-desc__buttons-item" (click)="pauseTrial()">
            <div class="orange-pause"></div>
            пауза
          </div>

          <div *ngIf="isAudiobook && isBought && !isFullPlaying" class="content-desc__buttons-item" (click)="playBook()">
            <span class="orange-triangle"></span>
            слушать
          </div>

          <div *ngIf="isAudiobook && isFullPlaying && isBought" class="content-desc__buttons-item" (click)="pauseBook()">
            <div class="orange-pause"></div>
            пауза
          </div>

          <a *ngIf="isAudiobook && isBought" class="content-desc__buttons-item" [href]="downloadBookLink">
            <span class="orange-download"></span>
            скачать
          </a>

          <div *ngIf="isAudiobook && !isBought" (click)="buyBook()" class="content-desc__buttons-item">
            <div class="square"></div>
            <span class="throught">{{ bookInfo?.price_byn + bookInfo?.price_byn * 0.2 | roundPipe}}</span>
            купить за {{ bookInfo?.price_byn }} руб.
            <span class="more" *ngIf="bookInfo?.gift">скидка 20% +подписка ТВ<br class="more__br"><b> в подарок</b></span>
          </div>

          <div (click)="addToFavorite()" class="content-desc__buttons-item hidden-mobile"
            *ngIf="isLogin && !isFavorite">
            Добавить в избранное
          </div>

          <div (click)="removeFromFavorite()" class="content-desc__buttons-item hidden-mobile"
            *ngIf="isLogin && isFavorite">
            Удалить из избранного
          </div>
        </div>
        <!--
				<div class="content-desc__social">
					<div class="content-desc__social-item">
						поделиться
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/facebook-icon.svg" alt="">
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/vk-icon.svg" alt="">
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/ok-icon.svg" alt="">
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/linked-in-icon.svg" alt="">
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/twitter-icon.svg" alt="">
					</div>
					<div class="content-desc__social-item">
						<img src="assets/images/icons/insta-icon.svg" alt="">
					</div>
        </div> -->
      </div>

    </div>
  </div>

  <div class="container book-chapters" *ngIf="isSeries && isAudiobook && bookInfo && isBought">
    <app-book-chapter [chapter]="bookInfo" (playState)="onPlayChapter($event)"></app-book-chapter>
  </div>

  <div class="container">
    <div class="content-desc__about">
      <div class="content-desc__about-title">
        описание
      </div>

      <div class="content-desc__about-text" *ngIf="contentInformation?.description">
        {{ contentDescription | removeTagsPipe }}
        <div class="description-toggler" [class.description-toggler_open]="isContentDescriptionOpen"
          *ngIf="isContentDescriptionSliced" (click)="toggleContentDescription()"></div>
      </div>

      <ng-container *ngIf="!contentInformation?.description">
        <div class="content-desc__about-text" *ngIf="isShowByCategoryPath('serialy')">
          Смотрите сериал {{ contentInformation?.name }} онлайн,{{ contentInformation?.year }} года, страна -
          {{ contentInformation?.countries }}
        </div>
        <div class="content-desc__about-text" *ngIf="isShowByCategoryPath('films')">
          Смотрите фильм {{ contentInformation?.name }} онлайн,{{ contentInformation?.year }} года, страна -
          {{ contentInformation?.countries }}
        </div>
        <div class="content-desc__about-text" *ngIf="isShowByCategoryPath('peredachi')">
          Смотрите передачу {{ contentInformation?.name }} онлайн <span *ngIf="channelName">с канала
            {{ channelName }}</span>, {{ contentInformation?.year }} года, страна - {{ contentInformation?.countries }}
        </div>
        <div class="content-desc__about-text" *ngIf="isShowByCategoryPath('multfilmy')">
          Смотрите мультфильм {{ contentInformation?.name }} онлайн, {{ contentInformation?.year }} года, страна -
          {{ contentInformation?.countries }}
        </div>
      </ng-container>


      <div class="content-desc__tables" *ngIf="!isAudiobook">
        <div class="content-desc__table">
          <div class="content-desc__table-row content-desc__table-row_country"
            *ngIf="contentInformation?.countries && contentInformation?.countries.length > 0">
            <div title="{{ contentInformation?.countries }}">{{ contentInformation?.countries }}</div>
            <div class="content-desc__table-title">
              Страна
            </div>
          </div>
          <div class="content-desc__table-row" *ngIf="contentInformation?.year">
            <div>{{ contentInformation?.year }}</div>
            <div class="content-desc__table-title">
              Год
            </div>
          </div>
          <div class="content-desc__table-row" *ngIf="contentInformation?.duration > 0">
            <div>{{ contentInformation?.duration }}мин.</div>
            <div class="content-desc__table-title">
              Время
            </div>
          </div>

        </div>

        <div class="content-desc__table">
          <div class="content-desc__table-row" *ngIf="contentInformation?.ratings?.kinopoisk?.value">
            <div>{{ contentInformation?.ratings?.kinopoisk?.value }}</div>
            <div class="content-desc__table-title">
              Кинопоиск
            </div>
          </div>
          <div class="content-desc__table-row" *ngIf="contentInformation?.ratings?.imdb?.value">
            <div>{{ contentInformation?.ratings?.imdb?.value }}</div>
            <div class="content-desc__table-title">
              IMDb
            </div>
          </div>
          <div class="content-desc__table-row content-desc__table-row_country" *ngIf="channelName">
            <div title="{{ channelName }}">{{ channelName }}</div>
            <div class="content-desc__table-title">
              Канал
            </div>
          </div>
          <div class="content-desc__table-row" *ngIf="archiveAt">
            <div>{{ archiveAt | archiveAt }}</div>
            <div class="content-desc__table-title">
              Эфир
            </div>
          </div>
          <!--<div class="content-desc__table-row">
						<div>{{ contentInformation?.ratings?.local?.value }}</div>
						<div class="content-desc__table-title">
							Local
						</div>
					</div> -->
        </div>
      </div>




      <div class="content-desc__tables" *ngIf="isAudiobook">
        <div class="content-desc__table content-desc__table_audiobook">
          <div class="content-desc__table-row content-desc__table-row_audiobook" *ngIf="contentInformation?.year">
            <div class="content-desc__table-row-name">
              Год
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">{{ contentInformation?.year }}</div>
          </div>
          <div class="content-desc__table-row content-desc__table-row_audiobook">
            <div class="content-desc__table-row-name">
              Жанр
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">{{ genres | genres }}</div>
          </div>

          <div class="content-desc__table-row content-desc__table-row_audiobook">
            <div class="content-desc__table-row-name">
              Авторы
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">{{ authors | genres }}</div>
          </div>

          <div class="content-desc__table-row content-desc__table-row_audiobook">
            <div class="content-desc__table-row-name">
              Издательство
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">{{ bookInfo?.contract_title | genres }}</div>
          </div>

          <div class="content-desc__table-row" *ngIf="contentInformation?.duration > 0">
            <div class="content-desc__table-row-name">
              Длительность
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">{{ contentInformation?.duration | durationTime }}</div>
          </div>

          <div class="content-desc__table-row content-desc__table-row_audiobook">
            <div class="content-desc__table-row-name">
              Правообладатель
            </div>
            <div class="content-desc__table-title content-desc__table-title_audiobook">Литрес</div>
          </div>


        </div>
      </div>

      <!-- <div class="content-desc__archive" *ngIf="archiveAt">
        Канал: {{ channelName }}
      </div>

      <div class="content-desc__archive" *ngIf="archiveAt">
        Эфир: {{ archiveAt | archiveAt }}
      </div> -->


      <div class="content-desc__player">
        <!-- TODO -->
      </div>
      <!-- TODO desc player -->
    </div>





    <!-- <div class="content-desc__actors" *ngIf="actors">
			<div class="content-desc__title">
				актеры
			</div>

			<div class="container nopadding" *ngIf="isBrowser">
			    <ngx-slick [config]="slideConfig">
			        <div ngxSlickItem *ngFor="let actor of actors" class="">
			            <div class="content-desc__actor">
			              <img class="content-desc__actor-img" [src]="actor.photo" alt="">
			              <div class="content-desc__actor-name">
			                {{ splitFirstName(actor.name) }}
			                <div class="content-desc__actor-last-name">
			                  {{ splitLastName(actor.name) }}
			                </div>
			              </div>
			            </div>
			          </div>
          </ngx-slick>
			</div>

		</div> -->

  </div>

  <div class="series" *ngIf="seriescontentInformation.length > 0 && !isAudiobook">
    <div class="container nopadding">
      <div class="episodes" *ngIf="isSeries">
        <div class="seasons">
          <div class="seasons__item" *ngFor="let season of uniqueSeasons" (click)="loadSeriesBySeason(season)"
            [class.seasons__item_active]="isSeasonActive(season)">{{ season }}</div>
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let serie of seriescontentInformation">
          <div *ngIf="serie" class="card-col" (click)="showSerie(serie)">
            <div class="content-desc__actor" title="{{ serie?.name }}">
              <div class="contect-desc__actor-poster" [class.contect-desc__actor-poster_big]="serie?.category_id == 2"
                style.backgroundImage="url({{ serie?.cover }})">
              </div>
              <!-- <img class="content-desc__actor-img" [src]="serie?.cover" alt=""> -->
              <div class="content-desc__actor-name">
                {{ serie?.name }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- <div class="series" *ngIf="isHaveSimilar">
		<div class="similar-title">
			Также смотрят
		</div>
		<div class="container nopadding">
			<div class="row">
				<ng-container *ngFor="let video of similarVideos">
					<div *ngIf="video" class="card-col">
						<app-film-card [content_id]="video.video_id" [category_id]="video.category_id"></app-film-card>
					</div>
				</ng-container>
			</div>
		</div>
	</div> -->
</div>




<div class="content-desc__error" *ngIf="isLoadError">
  контент <span class="gradient-text">не найден</span>
  <div class="content-desc__error-btn">
    <a href="#" class="btn-orange" (click)="goToOnline()">
      Онлайн просмотр
    </a>
  </div>

</div>
