<div *ngIf="!isStub" class="film-card" (click)="showDescription()" (appDeferLoad)="showElement = true">
  <!-- <div *ngIf="isPladform" class="bkgr" style.backgroundImage="url({{ videoInformation?.cover }})" ></div> -->
  <div class="film-card__img" *ngIf="isBrowser && showElement" [class.film-card__img_pladform]="isPladform" [class.film-card__img_small]="category_id==4 || type=='tv'"  style.backgroundImage="url({{ videoInformation?.cover }})" role="img" [attr.alt]="videoInformation?.name">
    <!-- <span alt="qwe" role="img">{{ videoInformation?.name }}</span> -->
    <!-- <div class="film-card__time">
      {{ videoInformation?.duration }} мин.
    </div> -->
    <div class="film-card__ratings" *ngIf="isHaveRatings">
      <div class="film-card__ratings-line" *ngIf="isHaveKinopoisk">
        <div class="film-card__ratings-logo">
          <img class="film-card__ratings-logo-img" src="assets/logo/kinopoisk.png" alt="">
        </div>
        <div class="film-card__ratings-value">{{ videoInformation?.ratings?.kinopoisk?.value | roundPipe:1}}</div>
      </div>
      <div class="film-card__ratings-line" *ngIf="isHaveImdb">
        <div class="film-card__ratings-logo">
          <img class="film-card__ratings-logo-img" src="assets/logo/imdb.png" alt="">
        </div>
        <div class="film-card__ratings-value">{{ videoInformation?.ratings?.imdb?.value }}</div>
      </div>
    </div>
    <div class="film-card__ratings" *ngIf="isCourse && videoInformation?.in_products[0]?.product_options[0]?.cost !== '12.90'">
      <div class="film-card__ratings-value">{{ videoInformation?.in_products[0]?.product_options[0]?.cost }} руб.</div>
      <div class="film-card__ratings-value">{{ videoInformation?.in_products[0]?.product_options[0]?.term }} дней</div>
    </div>
  </div>
  <!-- <img *ngIf="channelLogo" [src]="channelLogo" alt="" class="film-card__logo"> -->
  <div class="film-card__name">
    {{ videoInformation?.name }}
  </div>
  <div class="film-card__genre" *ngIf="videoGenres.length > 0">
    {{ videoGenres | genres }}
  </div>
</div>

<div class="film-card film-card_stub" (click)="showAll()" *ngIf="isStub">
  <span class="show-all">Смотреть все</span>
</div>
