.film-card {
  background-color: #232323;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;

  .show-all {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_stub {
    background-color: #e05f20;
    // height: 5rem;
  }

  &__logo {
    position: absolute;
    left: 0px;
    bottom: 57px;
    width: 25px;
  }

  .bkgr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 82%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // filter: blur(4px);
    overflow: hidden;

    /* &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, .3);
    } */
  }

  &__img {
    position: relative;
    margin-bottom: 21px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;

    &_pladform {
      background-size: contain;
    }

    &:after {
      display: block;
      content: "";
      padding-bottom: 136.430769%;
    }

    &_small {
      height: 20vh;
    }
  }

  &__time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 6px 10px;
  }

  &__play {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    img {
      width: 100%;
    }
  }

  &__name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__genre {
    color: #e05f20;
    font-size: 1rem;
    padding: 0 15px 23px 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
  }

  &__ratings {
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 8px 5px 8px;
    color: #fff;

    &-line {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
    }

    &-logo {
      // width: 40px;
      font-family: "OpenSans-Bold";
      font-size: 10px;

      &-img {
        height: 10px;
      }
    }

    &-value {
      font-size: 14px;
      font-family: "OpenSans-Bold";
      min-width: 37px;
      text-align: right;
    }
  }
  &:hover {
    background-color: #e05f20;
    transition: 0.3s;
    .film-card__genre {
      color: #fff;
      transition: 0.3s;
    }
    .film-card__play {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
