<div class="retail-wrap">
    <div class="container">
        <div class="retail-stats">
            <div class="retail-stats__title">
                <span class="gradient-text">
                    Статистика
                </span>
                продаж всей сети
            </div>
            <div class="retail-stats__header">
                <form action="" [formGroup]="timeForm">
                    <div class="row">

                        <div class="col-3">
                            <div class="form-group" [class.form-group_dirty]="startTime.value">
                                <input id="year" type="text" [class.has-error]="startTime.errors"
                                    class="form-group__input" formControlName="startTime" type="text"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker />
                                <label for="year" class="form-group__label">С</label>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group" [class.form-group_dirty]="endTime.value">
                                <input id="year" type="text" [class.has-error]="endTime.errors"
                                    class="form-group__input" formControlName="endTime" type="text"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker />
                                <label for="year" class="form-group__label">По</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group" [class.form-group_dirty]="shops.value">
                                        <ng-select [items]="shopsDropdown" bindLabel="name" bindValue="id"
                                            search="false" formControlName="shops">
                                        </ng-select>
                                        <label for="shops" class="form-group__label">Все магазины</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="retail-admin__buttons">
                                <button type="submit" class="btn-orange">
                                    показать
                                </button>
                                <a href="javascript:void(0);" class="btn-orange">
                                    экспортировать в xls
                                </a>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>

        <div class="retail-table">
            <table class="table">

                <tr>
                    <th>
                        Дата продажи
                    </th>
                    <th>
                        Магазин
                    </th>
                    <th>
                        Логин
                    </th>
                    <th>
                        Код доступа
                    </th>
                    <th>
                        Пакет
                    </th>
                </tr>

                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>
                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>
                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>
                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>
                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>
                <tr>
                    <td>
                        05.06.2018 11:48:04
                    </td>
                    <td>
                        Молодечно, В.Гостинец 67 (MolGos67@persik.by)
                    </td>
                    <td>
                        nRAGZkf@persik.by
                    </td>
                    <td>
                        nragzkf
                    </td>
                    <td>
                        «Все включено ТВ» на 90 дней (с 09.07.2016 по 07.10.2016)
                    </td>
                </tr>



            </table>
        </div>

        <div class="retail-pagination">
            <div class="retail-pagination__item">
                «
            </div>
            <div class="retail-pagination__item retail-pagination__item_active">
                1
            </div>
            <div class="retail-pagination__item">
                2
            </div>
            <div class="retail-pagination__item">
                3
            </div>
            <div class="retail-pagination__item">
                4
            </div>
            <div class="retail-pagination__item">
                5
            </div>
            <div class="retail-pagination__item">
                »
            </div>
        </div>

        <div class="retail-sum">
            <div class="retail-sum__title">
                итого:
            </div>
            <div class="retail-sum__item">
                <div class="retail-sum__item-name">
                    «Подписка ТВ» на Акционная подписка: 2 месяца ТВ
                </div>
                <div class="retail-sum__item-count">
                    1
                </div>
            </div>

            <div class="retail-sum__item">
                <div class="retail-sum__item-name">
                    «Все включено ТВ» на 1 год
                </div>
                <div class="retail-sum__item-count">
                    32
                </div>
            </div>

            <div class="retail-sum__item">
                <div class="retail-sum__item-name">
                    «Все включено ТВ» на 30 дней
                </div>
                <div class="retail-sum__item-count">
                    46
                </div>
            </div>
        </div>
    </div>
</div>
