<div class="retail-wrap">
  <div class="container">
    <div class="retail-stats">
      <div class="retail-stats__title">
        <span class="gradient-text">
          продажи
        </span>
        магизина
      </div>
      <div class="retail-stats__header">
        <form action="" [formGroup]="timeForm">
          <div class="row">

            <div class="col-3">
              <div class="form-group" [class.form-group_dirty]="startTime.value">
                <input id="year" type="text" [class.has-error]="startTime.errors" class="form-group__input"
                  formControlName="startTime" type="text" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker />
                <label for="year" class="form-group__label">С</label>
              </div>
            </div>

            <div class="col-3">
              <div class="form-group" [class.form-group_dirty]="endTime.value">
                <input id="year" type="text" [class.has-error]="endTime.errors" class="form-group__input"
                  formControlName="endTime" type="text" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" bsDatepicker />
                <label for="year" class="form-group__label">По</label>
              </div>
            </div>

            <div class="col-12">
              <button class="btn-orange">
                показать
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="retail-table">
      <table class="table">

        <tr>
          <th>
            Дата продажи
          </th>
          <th>
            Логин
          </th>
          <th>
            Код доступа
          </th>
          <th>
            Пакет
          </th>
          <th>
            Просмотр
          </th>
        </tr>

        <tr>
          <td>
            05.06.2018 11:48:04
          </td>
          <td>
            375291232323@persik.by
          </td>
          <td>
            7fb872bbd27fb
          </td>
          <td>
            «Все включено ТВ» на 1 год
          </td>
          <td>
            <span class="btn-orange">
              Просмотр
            </span>
          </td>
        </tr>
        <tr>
          <td>
            05.06.2018 11:48:04
          </td>
          <td>
            375291232323@persik.by
          </td>
          <td>
            7fb872bbd2
          </td>
          <td>
            «Все включено ТВ» на 1 год
          </td>
          <td>
            <span class="btn-orange">
              Просмотр
            </span>
          </td>
        </tr>
        <tr>
          <td>
            05.06.2018 11:48:04
          </td>
          <td>
            375291232323@persik.by
          </td>
          <td>
            7fb872bbd2
          </td>
          <td>
            «Все включено ТВ» на 1 год
          </td>
          <td>
            <span class="btn-orange">
              Просмотр
            </span>
          </td>
        </tr>
        <tr>
          <td>
            05.06.2018 11:48:04
          </td>
          <td>
            375291232323@persik.by
          </td>
          <td>
            7fb872bbd2
          </td>
          <td>
            «Все включено ТВ» на 1 год
          </td>
          <td>
            <span class="btn-orange">
              Просмотр
            </span>
          </td>
        </tr>


      </table>
    </div>

    <div class="retail-pagination">
      <div class="retail-pagination__item">
        «
      </div>
      <div class="retail-pagination__item retail-pagination__item_active">
        1
      </div>
      <div class="retail-pagination__item">
        2
      </div>
      <div class="retail-pagination__item">
        3
      </div>
      <div class="retail-pagination__item">
        4
      </div>
      <div class="retail-pagination__item">
        5
      </div>
      <div class="retail-pagination__item">
        »
      </div>
    </div>

    <div class="retail-sum">
      <div class="retail-sum__title">
        итого:
      </div>
      <div class="retail-sum__item">
        <div class="retail-sum__item-name">
          «Подписка ТВ» на Акционная подписка: 2 месяца ТВ :
        </div>
        <div class="retail-sum__item-count">
          1
        </div>
      </div>

      <div class="retail-sum__item">
        <div class="retail-sum__item-name">
          «Все включено ТВ» на 1 год:
        </div>
        <div class="retail-sum__item-count">
          32
        </div>
      </div>

      <div class="retail-sum__item">
        <div class="retail-sum__item-name">
          «Все включено ТВ» на 30 дней:
        </div>
        <div class="retail-sum__item-count">
          46
        </div>
      </div>
    </div>
  </div>
</div>
