.vendor-send {
    position: relative;
    width: 50rem;
    height: auto;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    background-color: #ffffff;
    padding: 40px;
    margin: 0  auto;


		.buttons{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 30px;
		}

		.btn-white{
			width: 90px;
			margin-right: 20px;
			justify-content: center;
			padding-left: 0;
		}


  &__title{
    width: 100%;
    font-family: "OpenSans-Bold";
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 30px;
		text-align: center;
		display: block;
	}

	.form-group__btn{
		display: flex;
		width: 100%;
		justify-content: center;
		position: relative;
		z-index: 5;
	}

	&__success{
		font-size: 16px;
		line-height: 30px;
		text-align: center;
	}
}
