.line {
  width: 100%;
  padding-left: 27px;
  // height: 235px;
  height: 120px;
  margin-bottom: 15px;
  
  // overflow-y: hidden;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  &__channel {
    // width: 230px;
    width: 120px;
    // height: 230px;
    height: 120px;
    border: 1px solid #393939;
    display: inline-block;
    background: transparent;
    vertical-align: top;

    &-logo {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      &-img {
        max-width: 80%;
      }
    }
  }

  &__tape {
    // width: 80%;
    // width: calc(100% - 230px);
    // width: calc(100% - 120px);
    width: calc(100% - 180px);
    padding-left: 20px;
    height: 100%;
    display: flex;
    position: relative;

    &-viewport {
      width: 100%;
      // height: 100%;
      height: 138px;
      // overflow-y: hidden;
      overflow: hidden;
    }

    .arrow {
      width: 3rem;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      -webkit-transform: scaleX(0.7) scaleY(4);
      transform: scaleX(0.7) scaleY(4);
      top: 0;
      z-index: 5;
      transition: .3s;
      &:hover{
        color: orange;
        transition: .3s;
      }
    }

    .arrow_right{
      right: -45px;
    }

    .arrow_left{
      left: 5px;
    }
  }
}
