<div class="line">
  <div class="line__channel">
    <div class="line__channel-logo">
      <img class="line__channel-logo-img" [src]="channel?.logo" alt="">
    </div>
  </div>

  <div class="line__tape">
    <div class="arrow arrow_left"><</div>
    <virtual-scroller class="line__tape-viewport" horizontal="true" #scroll [items]="tvshows">
      <app-live-channel-card *ngFor="let tvshow of scroll.viewPortItems" [tvshow]="tvshow"></app-live-channel-card>
    </virtual-scroller>
    <div class="arrow arrow_right">></div>
  </div>
</div>