.pay-method{
    position: relative;
    color: #232323;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 40px;
    margin-bottom: 40px;

    &__title{
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__images{
        display: flex;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-item{
            margin: 0 15px 0 15px;
            max-width: 90px;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }

    &:last-child{
        border-bottom: none;
    }
}