<div class="text-page">
    <div class="container">
        <div class="films__title">
            <span class="gradient-text">
                способы
            </span>
            оплаты
        </div>

        <div class="pay-method">
            <div class="pay-method__title">
                Оплата со счета мобильного телефона
            </div>
            <div class="pay-method__images">
                <img src="assets/images/text-pages/mts.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/life.png" alt="" class="pay-method__images-item">
            </div>
        </div>

        <div class="pay-method">
            <div class="pay-method__title">
                Оплата банковскими картами
            </div>
            <div class="pay-method__images">
                <img src="assets/images/text-pages/visa.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/visa-v.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/master.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/master-sec.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/bel.png" alt="" class="pay-method__images-item">
                <img src="assets/images/text-pages/yandex.png" alt="" class="pay-method__images-item">
            </div>
            <div class="pay-method__text">
                К оплате принимаются карты всех мировых банков (включая белорусские банки) следующих  типо: VISA Classic, Visa Gold, VISA Platinum, MasterCard Standart, MasterCard Gold, MasterCard Platinum, Белкарт, а также банковские карты премиум-класса VISA Infinite и MasterCard World Signia.
            </div>
        </div>

        <div class="pay-method">
            <div class="pay-method__title">
                Оплата через систему "Расчет" (ЕРИП)
            </div>
            <div class="pay-method__images">
                <img src="assets/images/text-pages/raschet.png" alt="" class="pay-method__images-item">
            </div>
            <div class="pay-method__text">
                Оплату можно произвести в инфокиосках, банкоматах, с помощью интернет-банкинга, а также наличными в банковских отделениях.
            </div>
        </div>

        <div class="pay-method">
            <div class="pay-method__title">
                Оплата через платежные терминалы системы Qiwi
            </div>
            <div class="pay-method__images">
                <img src="assets/images/text-pages/qiwi.png" alt="" class="pay-method__images-item">
            </div>
            <div class="pay-method__text">
                Оплата наличными деньгами через платежные терминалы системы Qiwi.
            </div>
        </div>

        <div class="pay-method">
            <div class="pay-method__title">
                Оплата посредством электронных систем
            </div>
            <div class="pay-method__images">
                <img src="assets/images/text-pages/web.png" alt="" class="pay-method__images-item">
            </div>
            <div class="pay-method__text">
                Оплата электронными деньгами WebMoney.
            </div>
        </div>
    </div>
</div>