<div class="book-chapter" [class.book-chapter_opened]="isOpen">

  <div class="book-chapter__header" (click)="toggleSeason()">
    <div class="book-chapter__header-title">
      {{ chapter.title }}
    </div>

    <div class="book-chapter__header-right">
      <span>
        Главы {{ chapter.file_groups[1].files.length }}
      </span>


      <div class="book-chapter__header-right-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="14px">
          <path fill-rule="evenodd" fill="rgb(141, 141, 141)"
            d="M26.008,12.606 L24.607,14.008 L13.000,2.402 L1.393,14.008 L-0.009,12.606 L12.607,-0.009 L13.000,0.385 L13.393,-0.009 L26.008,12.606 Z" />
        </svg>
      </div>
    </div>
  </div>

  <div class="book-chapter__content">
    <div class="book-chapter__step" *ngFor="let item of chapter.file_groups[1].files">
      <div class="book-chapter__step-left" (click)="playItem(item)">
        <img src="assets/images/course-page/step-icon.png">
        {{ item.filename }}
      </div>
      <div class="book-chapter__step-right">
        <a class="dlink" [href]="item.download">Скачать</a>

        <a class="dicon" [href]="item.download">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
              <path fill="orange" fill-rule="nonzero" d="M8 6.5h3L5.5 12 0 6.5h3V0h5z" />
            </svg>
        </a>

      </div>
    </div>
  </div>
</div>
