.films {
    background-color: #1b1b1b;
    padding-top: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    .tapes {
      max-width: 1280px;
      width: 100%;
    }
  
    &__dropdowns {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: 40px;
  
      &-item {
        width: 100%;
        position: relative;
      }
    }
  
    .row {
      margin: 0 -15px;
    }
  
    &__filter {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 20px;
    }
  }
  
  .filter {
    width: 97%;
  }

.game {
    width: 100%;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    color: #fff;
    cursor: pointer;

    &:hover {
        background: #e05f20;
    }

    &__image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #232323;
        width: 100%;

        &::after {
            content: '';
            display: block;
            padding-bottom: 60%;
        }
    }

    &__info {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}