<div class="films">

  <h1 class="films__title">
    игры <span class="orange-text">онлайн</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      Игры
    </div>
  </div>

  <div class="tapes">
    <div class="films__filter">
      <app-genre-filter class="filter" [genres]="genres" [active]="activeGenre" (genreChange)="onGenreChange($event)"></app-genre-filter>
    </div>

    <div class="films__dropdowns">
      <div class="row">

        <div class="col-3">
          <div class="films__dropdowns-item">
            <ng-select [items]="genres" bindLabel="name" bindValue="id" search="false" [(ngModel)]="activeGenre.id"
              (change)="onGenreChange($event)">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="card-col-four" *ngFor="let item of gamesForShow">
        <div class="game" (click)="openGame(item.id)">
          <div class="game__image" style.backgroundImage="url({{ item.image }})"></div>
          <div class="game__info">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  