.course-page{
    position: relative;
    background-color: #201f1f;
    color: #ababab;

    .container{
        position: relative;
        z-index: 1;
    }

    &__lines{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
        div{
            display: flex;
            align-items: stretch !important;
            flex-wrap: wrap !important;
            justify-content: center !important;
        }

        &-item{
            width: 100%;
            border-right: 1px solid #201f1f;
            border-left: 1px solid #201f1f;
        }
    }

    &__video{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &-feather{
            position: absolute;
            bottom: -60px;
            left: -10px;
            z-index: 1;
            max-width: 80%;
        }

        video{
            position: relative;
            z-index: 5;
            width: 100%;
            max-width: 750px;
            height: 400px;
            outline: none !important;
        }
    }

    &__skills{
        position: relative;
        background-color: #1b1b1b;
        &:before{
            content: '';
            background-image: url('../../../../assets/images/course-page/black-bg.png');
            position: absolute;
            left: 0;
            right: 0;
            top: -418px;
            height: 418px;
            background-size: cover;
            z-index: 1;
        }
        .container{
            position: relative;
            z-index: 2;
        }
        .row{
            align-items: stretch;
            align-content: stretch;
        }
    }

    &__skill{
        position: relative;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &-icon{
            width: 50px;
            display: inline-block;
            vertical-align: top;
        }

        &-content{
            width: calc(100% - 70px);
            text-align: left;
        }

        &-title{
            color: #fff;
            font-size: 14px;
            line-height: 22px;
            font-family: "OpenSans-Bold";
        }
    }

    &__title{
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-family: "OpenSans-Bold";
        line-height: 1;
        position: relative;
        padding-bottom: 70px;
        padding-top: 85px;
        &:after{
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #a8dd68;
            left: 50%;
            bottom: 40px;
            margin-left: -15px;
        }
    }

    &__desc{
        position: relative;
        z-index: 5;

        &-value{
            font-size: 16px;
            line-height: 30px;
            padding-bottom: 60px;
            text-align: justify;
        }
    }

    &__first{
        position: relative;
        background-size: cover;
        background-position: center center;
        background-image: url('../../../../assets/images/course-page/main-banner.png');
        padding-top: 145px;
        padding-bottom: 50px;
        min-height: 50vh;
        text-align: center;
        color: #fff;
        z-index: 5;

        .btn-orange{
            display: inline-block;
            z-index: 5;
            margin-bottom: 100px;
            font-size: 18px;
        }

        &-footer{
            color: #fff;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
    }

    &__price{
        position: relative;
        width: 33%;

        &-title{
            font-size: 16px;
            line-height: 1;
            margin-bottom: 10px;
            text-align: left;
        }

        &-value{
            display: flex;
            width: 100%;
            align-items: flex-end;
            align-content: flex-end;
            justify-content: flex-start;
            font-size: 28px;
            line-height: 1;

            &_old{
                text-decoration: line-through;
                color: #a2a2a2;
                font-size: 20px;
                padding-left: 20px;
            }
        }
    }

    &__time{
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        width: 33%;
    }

    &__favorite{
        font-size: 16px;
        cursor: pointer;
        transition: .3s;
        width: 33%;
        svg{
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: -2px;
        }

        &:hover{
            transition: .3s;
            color: #fe6f41;
        }
    }

    .breadcrumbs{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        &__item{
            position: relative;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            margin-right: 20px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: .3s;

            &:after{
                content: '';
                display: inline-block;
                background-color: #fff;
                width: 2px;
                height: 8px;
                margin-left: 13px;
            }

            &:last-child{
                margin-right: 0;
                &:after{
                    display: none;
                }
            }

            &:hover{
                color: #fe7445;
                transition: .3s;
            }
        }
    }

    &__label{
        position: relative;
        display: inline-block;
        margin: 0 auto;
        font-size: 16px;
        font-family: "OpenSans-Bold";
        line-height: 1;
        text-align: center;
        padding: 10px 17px;
        background-color: #a8dc68;
        color: #fff;
        text-transform: uppercase;
        user-select: none;

        &:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 5px 0 0;
            border-color: #a8dc68 transparent transparent transparent;
            position: absolute;
            left: 0;
            bottom: -4px;
        }
    }

    &__name{
        color: #fff;
        font-size: 38px;
        font-family: "OpenSans-Bold";
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin-bottom: 50px;
        margin-top: 35px;
    }

    &__req{
        position: relative;
        background-color: #1b1b1b;

        .course-page__skill-title{
            font-family: "OpenSans";
        }

        .container{
            z-index: 5;
        }
    }

    &__lessons{
        padding-bottom: 1px;
    }

    &__form{
        padding-bottom: 160px;

        .row{
            width: initial;
        }

        input{
            background: transparent;
        }

        .form-group__input{
            border-color: #fff;
            color: #fff;

            &:focus{
                border-color: #fe6f41;
            }
        }
    }

    &__btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .course-page__another {
      margin-bottom: 5rem;
    }

    .course-page__lessons, .course-page__teachers, .course-page__another, .course-page__comments, .course-page__form{
        background-color: #1b1b1b;
    }

}
