<div class="course-page">

  <!-- <div class="course-page__lines">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="course-page__lines-item"></div>
                </div>
                <div class="col-3">
                    <div class="course-page__lines-item"></div>
                </div>
                <div class="col-3">
                    <div class="course-page__lines-item"></div>
                </div>
                <div class="col-3">
                    <div class="course-page__lines-item"></div>
                </div>
            </div>
        </div>
    </div> -->

  <div class="course-page__first"> <!--  style.backgroundImage="url({{ course.cover }})" -->

    <div class="container">

<!--  <div class="breadcrumbs">
        <div routerLink="/online-tv" class="breadcrumbs__item">Онлайн-просмотр</div>
        <div class="breadcrumbs__item">Курсы</div>
        <div class="breadcrumbs__item">Фотошоп для начинающих</div>
      </div> -->

      <div class="course-page__label">
        {{ course.type }}
      </div>

      <div class="course-page__name" [innerHTML]="course.name"></div>

      <div class="btn-orange" (click)="showCourse()">
        Смотреть
      </div>

      <div class="course-page__first-footer">
        <div class="course-page__price">
          <div class="course-page__price-title">
            Цена курса
          </div>
          <div class="course-page__price-value">
            {{ course.price }} BYN
            <!-- <span class="course-page__price-value_old">
              {{ course.oldPrice }}$
            </span> -->
          </div>
        </div>

        <div class="course-page__time">
          Бессрочный доступ с разных устройств
        </div>

        <div class="course-page__favorite" *ngIf="isLogin">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="15px">
            <defs>
              <linearGradient id="PSgrad_0" x1="0%" x2="100%" y1="0%" y2="0%">
                <stop offset="0%" stop-color="rgb(255,203,119)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(254,112,66)" stop-opacity="1" />
              </linearGradient>

            </defs>
            <path fill-rule="evenodd" fill="url(#PSgrad_0)"
              d="M14.785,4.766 L10.882,4.490 C10.800,4.484 10.728,4.436 10.699,4.359 L9.212,0.796 C9.007,0.305 8.544,-0.000 8.003,-0.000 C7.461,-0.000 7.002,0.305 6.793,0.799 L5.303,4.365 C5.270,4.439 5.202,4.490 5.120,4.497 L1.224,4.773 C0.696,4.802 0.246,5.142 0.073,5.643 C-0.103,6.150 0.044,6.682 0.461,7.032 L3.477,9.485 C3.539,9.536 3.568,9.620 3.549,9.697 L2.629,13.401 C2.521,13.786 2.596,14.184 2.834,14.496 C3.079,14.810 3.461,15.000 3.862,15.000 C4.109,15.000 4.351,14.926 4.550,14.794 L7.846,12.775 C7.914,12.734 8.003,12.734 8.071,12.775 L11.400,14.787 C11.609,14.926 11.850,15.000 12.095,15.000 C12.470,15.000 12.841,14.823 13.083,14.525 C13.334,14.217 13.425,13.815 13.334,13.414 L12.411,9.700 C12.391,9.620 12.421,9.536 12.483,9.485 L15.544,7.026 C15.955,6.679 16.102,6.147 15.929,5.639 C15.759,5.139 15.306,4.796 14.785,4.766 Z" />
          </svg>
          <span *ngIf="!isFavorite" (click)="addToFavorite()" >Добавить в избранное</span>
          <span *ngIf="isFavorite" (click)="removeFromFavorite()">Удалить из избранного</span>
        </div>
      </div>
    </div>

  </div>

  <div class="course-page__desc" *ngIf="course.desc || course.video">
    <div class="container">
      <div class="course-page__title">
        Описание
      </div>

      <div class="course-page__desc-value" [innerHTML]="course.desc"></div>

      <div class="course-page__video" *ngIf="isBrowser && preview">
        <img src="assets/images/course-page/feather-1.png" alt="" class="course-page__video-feather">
        <video [src]="preview" controls="true" poster="assets/images/course-page/poster.png"></video>
      </div>
    </div>
  </div>

  <div class="course-page__skills" *ngIf="course.skills">
    <div class="container">
      <div class="course-page__title">
        Чему вы научитесь
      </div>

      <div class="row">
        <div class="col-3" *ngFor="let item of course.skills">
          <div class="course-page__skill">
            <img [src]="item.icon" alt="" class="course-page__skill-icon" *ngIf="isBrowser">
            <div class="course-page__skill-content">
              <div class="course-page__skill-title">
                {{ item.title }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="course-page__req" *ngIf="course.requirements">
    <div class="container">
      <div class="course-page__title">
        Требования
      </div>

      <div class="row">
        <div class="col-3" *ngFor="let item of course.requirements">
          <div class="course-page__skill">
            <img src="assets/images/course-page/req.png" alt="" class="course-page__skill-icon" *ngIf="isBrowser">
            <div class="course-page__skill-content">
              <div class="course-page__skill-title">
                {{ item }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="course-page__lessons" *ngIf="isSeries">
    <div class="container">
      <div class="course-page__title">
        Материалы курса
      </div>

      <div *ngFor="let season of course.seasons">
        <app-course-season [season]="season" [courseId]="course.id"></app-course-season>
      </div>
    </div>
  </div>

  <div class="course-page__teachers">
    <div class="container">
      <div class="course-page__title">
        Учитесь у лучших
      </div>

      <div *ngFor="let item of course.teachers">
        <course-page-teacher [teacher]="item"></course-page-teacher>
      </div>
    </div>
  </div>

  <div class="course-page__another" *ngIf="isHaveAnother">
    <div class="container">
      <div class="course-page__title">
        Рекомендуем
      </div>

      <ngx-slick [config]="slideConfig" *ngIf="isBrowser">
        <div ngxSlickItem *ngFor="let item of anotherCourseIds">
          <course-page-another [courseId]="item"></course-page-another>
        </div>
      </ngx-slick>
    </div>
  </div>

  <!-- <div class="course-page__comments">
    <div class="container">
      <div class="course-page__title">
        Отзывы
      </div>

      <ngx-slick [config]="slideConfig" *ngIf="isBrowser">
        <div ngxSlickItem *ngFor="let item of course.comments">
          <course-page-comment [comment]="item"></course-page-comment>
        </div>
      </ngx-slick>
    </div>
  </div> -->

  <!-- <div class="course-page__form">
    <div class="container">
      <div class="course-page__title">
        Оставьте Ваш отзыв
      </div>

      <div class="course-page__form-body">
        <form [formGroup]="feedbackForm">
          <div class="row">
            <div class="col-6">
              <div class="form-group" [class.form-group_dirty]="name.value">
                <input type="text" class="form-group__input" id="name" formControlName="name">
                <label for="name" class="form-group__label">Ваше имя*</label>
                <div class="field-error" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span *ngIf="name.errors['required']" class="form-group__error">Введите Ваше имя</span>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group" [class.form-group_dirty]="email.value">
                <input type="text" class="form-group__input" formControlName="email">
                <label for="email" class="form-group__label">Ваш e-mail*</label>
                <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
                  <span *ngIf="email.errors['required']" class="form-group__error">Поле обязательное для
                    заполнения</span>
                  <span *ngIf="email.errors['emailValidator'] && !email.errors.required"
                    class="form-group__error">Неверный формат</span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group" [class.form-group_dirty]="message.value">
                <input type="text" class="form-group__input" id="message" formControlName="message">
                <label for="message" class="form-group__label">Комментарий*</label>
                <div class="field-error" *ngIf="message.errors && (message.dirty || message.touched)">
                  <span *ngIf="message.errors['required']" class="form-group__error">Поле обязательное для
                    заполнения</span>
                </div>
              </div>
            </div>

          </div>

          <div class="course-page__btn">
            <button class="btn-orange" type="submit" [disabled]="!feedbackForm.valid">
              Отправить
            </button>
          </div>
        </form>

      </div>
    </div>
  </div> -->

</div>
