<div class="another-course" (click)="viewCourse()">
  <div class="another-course__left" [ngStyle]="{'background-image': 'url('+course?.photo+')'}"></div>

  <div class="another-course__right">
    <div class="another-course__type">
      {{ course?.type }}
    </div>

    <div class="another-course__name">
      {{ course?.name.split(':')[0] }}
    </div>

    <div class="another-course__text">
      {{ course?.lessonsCount }} видео
    </div>

    <!-- <div class="another-course__text">
            {{ course.theoryTime }} теории
        </div>

        <div class="another-course__text">
            {{ course.practiceTime }} практики
        </div> -->
  </div>
</div>
