.another-course{
    position: relative;
    width: 100%;
    display: flex !important;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 7px;
    box-shadow: 6px 6px 15px 0px rgba($color: #000000, $alpha: 0.4);
    cursor: pointer;

    &__left{
        width: 50%;
        background-size: cover;
        background-position: center center;
    }

    &__right{
        width: 50%;
        min-height: 275px;
        padding-top: 35px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        background-color: #fff;
        text-transform: uppercase;
    }

    &__type{
        font-size: 14px;
        font-family: "OpenSans-Bold";
        color: #727272;
        padding-bottom: 30px;
        line-height: 1;
    }

    &__name{
        font-size: 26px;
        font-family: "OpenSans-Bold";
        color: #1b1b1b;
        line-height: 30px;
        margin-bottom: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text{
        text-transform: none;
        font-family: "OpenSans-Bold";
        font-size: 14px;
        color: #1b1b1b;
        line-height: 1;
        margin-bottom: 8px;
    }
}
