.review {
  background-color: #1b1b1b;
  padding-top: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  .tapes {
    max-width: 1280px;
    width: 100%;
  }

  .row{
  	margin: 0 -15px;
  }

  &__filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }

  .container{
    max-width: 100% !important;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.filter {
  width: 97%;
}

.load-more{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-bottom: 60px;
  .btn-orange{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-width: 560px;
  }
}

.channels-toggler{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;

  &__item{
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: .3s;
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
    padding-right: 20px;
    font-family: "OpenSans-Bold";
    &:hover, &_active{
      transition: .3s;
      color: #e05f20;
    }

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      height: 20px;
      width: 1px;
      background-color: #fff;
      display: inline-block;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .review{
    padding-top: 100px;
    .container{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .channels-toggler{
    justify-content: center;

    &__item{
      margin-right: 0;
      padding-right: 0;

      &:first-child{
        margin-right: 20px;
        padding-right: 20px;
      }
    }
  }
}

.channels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}