<div class="review">

  <h1 class="films__title">
    ТВ <span class="orange-text">Онлайн</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      ТВ Онлайн
    </div>
    <div class="films__breadcrumbs-item">
      {{ activeGenre?.name }}
    </div>
  </div>

  <div class="tapes">

    <div class="channels-toggler">
      <div class="channels-toggler__item" (click)="toggleOnAir(true)" [class.channels-toggler__item_active]="onAir">
        В эфире
      </div>
      <div class="channels-toggler__item" (click)="toggleOnAir(false)" [class.channels-toggler__item_active]="!onAir">
        Телеканалы
      </div>
    </div>

    <div class="review__filter">
      <app-genre-filter class="filter" [isShowAll]="false" [genres]="genres" [active]="activeGenre"
        (genreChange)="onGenreChange($event)"></app-genre-filter>
    </div>

    <div class="row"><!-- *ngIf="!onAir" -->
      <div class="card-col-four" *ngFor="let channel of channels">
        <app-channel-card [channel]="channel" [isNewDesign]="!onAir"></app-channel-card>
      </div>
    </div>
  </div>

  
  <!-- <div class="channels"*ngIf="onAir">
    <app-channel-card-full [channel]="item" *ngFor="let item of channels"></app-channel-card-full>
  </div> -->



</div>