<div class="video-player">

	<div class="video-player__back" (click)="goBack()" (mousemove)="autoHideControls()" [class.video-player__back_hide]="!isShowControls">
		назад
	</div>

	<div class="video-player__about" [class.video-player__about_hide]="!isShowControls">
		<div class="video-player__about-genre">
			{{ genres | genres }}
		</div>
		<div class="video-player__about-name">
			{{ videoInformation?.name }}
		</div>
		<div class="video-player__about-actors">
			{{ actorNames | genres }}
		</div>
	</div>

  <div class="video-player__player" *ngIf="isBrowser" (mousemove)="autoHideControls()">
    <app-player #player></app-player>
  </div>

  <div class="video-player__controller" (mousemove)="autoHideControls()" (click)="autoHideControls()" [class.video-player__controller_hide]="!isShowControls">
    <app-video-controller [duration]="duration" [currentTime]="currentTime" [isPlaying]="isPlaying" [volume]="volume * 100" (controllerEvents)="onVideoControllerEvents($event)"></app-video-controller>
  </div>

</div>
