.video-player {
  position: relative;
  overflow: hidden;

  &__player {
    height: 100vh;
  }

  &__about{
  	position: absolute;
  	top: 74px;
  	left: 80px;
    color: #fff;
    width: 40%;
    animation-name: showAbout;
    animation-duration: 1s;
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 0 2rem 15px rgba(0, 0, 0, .5);
    border-radius: 7px;

    &_hide {
      opacity: 0;
      top: -300px;
      animation-name: hideAbout;
      animation-duration: 1s;
    }

  	&-genre{
  		font-size: 16px;
  		margin-bottom: 10px;
  	}
  	&-name{
  		font-size: 44px;
  		font-family: OpenSans-Bold;
  		margin-bottom: 21px;
  	}
  	&-actors{
  		font-size: 18px;
  	}
  }

  &__back{
  	width: 120px;
  	height: 40px;
  	color: #fff;
  	font-family: OpenSans-Bold;
  	text-transform: uppercase;
  	font-size: 14px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	align-content: center;
  	position: absolute;
  	right: 40px;
  	top: 50px;
  	cursor: pointer;
  	background-color: #e05f20;
    z-index: 55;
    user-select: none;
    animation-name: showBackButton;
    animation-duration: 1s;

    &_hide {
      right: -120px;
      opacity: 0;
      animation-name: hideBackButton;
      animation-duration: 1s;
    }
  }

  &__controller {
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 100%;
    animation-name: showControls;
    animation-duration: 1s;

    &_hide {
      opacity: 0;
      bottom: -10rem;
      animation-name: hideControls;
      animation-duration: 1s;
    }
  }
}

@keyframes showBackButton {
  from {
    transform: translateX(170px);
    opacity: .4;
  }
  90% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hideBackButton {
  from {
    transform: translateX(-160px);
    opacity: 1;
  }
  10% {
    transform: translateX(-170px);
    opacity: .8;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes showAbout {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  90% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hideAbout {
  from {
    opacity: 1;
    transform: translateY(374px);
  }
  10% {
    opacity: .8;
    transform: translateY(384px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes showControls {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  90% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hideControls {
  from {
    opacity: 1;
    transform: translateY(-10rem);
  }
  10% {
    opacity: .8;
    transform: translateY(-10.6rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@media screen and (max-width: 992px){
  .video-player__about{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .video-player__back{
    top: 15px;
    right: 15px;
  }
  .video-player__controller{
    bottom: 0;
  }
}
