<div class="course-teacher">
    <div class="row">
        <div class="col-6">
            <div class="course-teacher__agency" [ngStyle]="{'background-image': 'url('+teacher.agencyImg+')'}">
                <div class="course-teacher__dots" *ngIf="isBrowser">
                    <img src="assets/images/course-page/dots.png" alt="">
                </div>
                <span>
                    {{ teacher.agency }}
                </span>
            </div>
        </div>

        <div class="course-teacher__photo" [ngStyle]="{'background-image': 'url('+teacher.photo+')'}"></div>

        <div class="col-6">
            <div class="course-teacher__info">
                <div class="course-teacher__info-name">
                        {{ teacher.name }}
                </div>

                <div class="course-teacher__info-about">
                    {{ teacher.exp }}
                </div>
            </div>
        </div>
    </div>

    
</div>