.course-teacher{
    position: relative;

    .row{
        align-items: stretch;

        .col-6{
            align-items: stretch;
        }
    }

    &__agency{
        background-size: cover;
        background-position: center center;
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 310px;
        box-shadow: 0px 6px 45px rgba($color: #000000, $alpha: 0.4);
        color: #fff;
        font-size: 20px;
        padding: 15px 95px 10px 25px;
        font-family: 'OpenSans-Bold';
        line-height: 30px;
    }

    &__dots{
        width: 100%;
        margin-bottom: 25px;
    }

    &__photo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 225px;
        height: 225px;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        box-shadow: 0px 6px 45px rgba($color: #000000, $alpha: 0.4);
    }

    &__info{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        padding-top: 54px;
        padding-left: 150px;

        &-name{
            color: #fff;
            font-family: "OpenSans-Bold";
            font-size: 30px;
            line-height: 38px;
            max-width: 175px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        &-about{
            font-size: 18px;
            line-height: 28px;
        }
    }
}
