<div *ngIf="!isStub && !isNewDesign" class="channel-card" (click)="openChannel()">
  <div class="logo">
    <img [src]="channel?.logo" class="logo__img" alt="">
  </div>
  <div class="channel-card__img" *ngIf="!isBrowser"></div>
  <div class="channel-card__img" style.backgroundImage="url({{ cover }})" *ngIf="isBrowser" role="img"
    [attr.alt]="channel?.name">
    <div class="channel-card__progress" [style.width.%]="progress"></div>
    <div class="channel-card__play">
      <img src="assets/images/icons/play-icon.svg" alt="">
    </div>
  </div>
  <div class="channel-card__name">
    {{ channel?.name }}
  </div>
  <div class="channel-card__genre">
    {{ tvshow?.title }}
  </div>
</div>

<div class="channel-card channel-card_stub" (click)="showAllChannels()" *ngIf="isStub">
  <span class="show-all">Смотреть все</span>
  <div class="channel-card__img channel-card__img_stub" *ngIf="isBrowser"
    [style.backgroundImage]="'https://old.persik.by/utils/show-frame.php?c=10&t=1552286203&tr=crop&w=205&h=127'">
  </div>
  <div class="channel-card__name channel-card__name_stub">
    text
  </div>
  <div class="channel-card__genre channel-card__genre_stub">
    text
  </div>

</div>

<div class="new-channel-card" *ngIf="isNewDesign && !isStub"
  (click)="openChannelPage()"> <!--  (appDeferLoad)="setVisibleItem()" -->
  <div class="new-channel-card__logo">
    <img [src]="channel.logo" alt="" class="new-channel-card__logo-img">
  </div>
  <div class="new-channel-card__name">
    {{ channel?.name }}
  </div>
</div>
