.channel-card {
  background-color: #232323;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;

  .show-all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_stub {
    background-color: #e05f20;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img{
    position: relative;
    margin-bottom: 21px;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    // height: 20vh;
    display: block;

    &_stub {
      opacity: 0;
    }

    &:after{
      content: '';
      display: block;
      padding-bottom: 56.615384%;
    }

    &-img{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      min-height: 100px;
    }
  }

  &__time{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 6px 10px;
  }

  &__progress{
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 4px;
    background-color: #e05f20;
    transition: .3s;
  }
  &__play{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;

    img{
      width: 100%;
    }
  }
  &__logo{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    background-color: rgba(0,0,0, 1);
    &-img{
      max-width: 60px;
      opacity: .8;
    }
  }
  &__name{
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
    padding: 0 15px;
    white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;

    &_stub {
      opacity: 0;
    }
  }
  &__genre{
    color: #e05f20;
    font-size: 1rem;
    padding: 0 15px 23px 15px;
    text-align: center;
    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    transition: .3s;

    &_stub {
      opacity: 0;
    }
  }
  &:hover{
    background-color: #e05f20;
    transition: .3s;
    .channel-card__genre{
      color: #fff;
      transition: .3s;
    }
    .channel-card__play{
      opacity: 1;
      transition: .3s;
    }
    .channel-card__progress{
      background-color: #fff;
      transition: .3s;
    }
  }
}

// new channel card
.new-channel-card {
  position: relative;
  background-color: #232323;
  margin-bottom: 30px;
  cursor: pointer;

  &__logo{
    position: relative;
    width: 100%;
    min-height: 14vh;

    &::after{
      content: '';
      display: block;
      padding-bottom: 56.615384%;
    }

    &-img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
    }
  }

  &__name{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    color: #808080;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 25px 15px;
    user-select: none;
  }

  &:hover{
    background-color: #e05f20;
    transition: .3s;
    .new-channel-card__name{
      color: #fff;
      transition: .3s;
    }
  }
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 57%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
