<div class="account-header">

	<div class="account-header__left">
		<div class="account-header__user">
			<div class="account-header__avatar">
				<div class="account-header__avatar-circle">
          <img class="account-header__avatar-circle-image" src="assets/logo/user.png" alt="">
        </div>
				<div class="account-header__avatar-gradient"></div>
      </div>
			<div class="account-header__name">
				{{ userName }}
			</div>
		</div>
		<div class="account-header__nav">
			<div class="account-header__nav-item" routerLink="profile" routerLinkActive="account-header__nav-item_active">
				Профиль
			</div>
			<div class="account-header__nav-item" routerLink="tv-podpiski" routerLinkActive="account-header__nav-item_active">
				Подписки
			</div>
			<div class="account-header__nav-item" routerLink="upravlenie-tv" routerLinkActive="account-header__nav-item_active">
				Управление ТВ
			</div>
			<div class="account-header__nav-item" routerLink="video-call" routerLinkActive="account-header__nav-item_active">
				Тест видео
			</div>
			<!--<div class="account-header__nav-item" routerLink="devices" routerLinkActive="account-header__nav-item_active">
				Устройства
			</div> -->
			<!-- <div class="account-header__nav-item" routerLink="networks" routerLinkActive="account-header__nav-item_active">
				Соцсети
			</div> -->
		</div>
	</div>

	<div class="account-header__right">
		<div class="account-header__icons">
      <!--
			<div class="account-header__icons-item">
				<div class="account-header__icons-item_text">
					40
				</div>
				<svg class="account-header__icons-item_svg" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
				    <g fill="#232323" fill-rule="nonzero">
				        <path d="M1.333 10.654v8c0 .736.599 1.333 1.334 1.333h6.666v-9.333h-8zM20 5.32h-4.219a5.18 5.18 0 0 0 .744-.596 2.787 2.787 0 0 0 0-3.922c-1.045-1.054-2.866-1.05-3.91 0-.579.58-2.112 2.941-1.9 4.518h-.096c.21-1.577-1.323-3.938-1.9-4.518-1.046-1.05-2.867-1.05-3.911 0a2.79 2.79 0 0 0-.001 3.922c.182.184.442.39.745.596H1.333C.6 5.32 0 5.92 0 6.655v2c0 .368.299.666.667.666h8.666V6.654H12V9.32h8.667a.667.667 0 0 0 .666-.666v-2c0-.735-.597-1.333-1.333-1.333zM9.255 5.277s-.056.043-.247.043c-.921 0-2.68-.957-3.255-1.536a1.454 1.454 0 0 1 0-2.042c.271-.272.63-.421 1.011-.421.38 0 .739.149 1.01.42.898.905 1.791 3.214 1.48 3.536zm3.069.043c-.19 0-.245-.042-.245-.043-.311-.322.582-2.631 1.481-3.535.537-.543 1.477-.546 2.02 0 .56.563.56 1.48 0 2.042-.575.58-2.333 1.537-3.256 1.537zM12 10.654v9.333h6.667c.736 0 1.333-.597 1.333-1.333v-8h-8z"/>
				    </g>
				</svg>
      </div>
    -->

			<!-- <div class="account-header__icons-item">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
				    <path fill="#232323" fill-rule="nonzero" d="M12.751 19.46a1.664 1.664 0 0 1-2.35 0L1.25 10.877c-.512-.48-1.122-1.39-1.166-2.09-.118-1.893-.035-5.52.023-7.443C.126.642.716.054 1.417.038 3.874-.019 9.08-.08 9.563.404l10.08 9.12c.646.647.06 2.285-.593 2.936l-6.299 7zM4.731 2.825a1.404 1.404 0 1 0-1.986 1.984A1.404 1.404 0 0 0 4.73 2.824z"/>
				</svg>
			</div>

			<div class="account-header__icons-item">
				<svg xmlns="http://www.w3.org/2000/svg" width="27" height="23" viewBox="0 0 27 23">
				    <g fill="none" fill-rule="evenodd" transform="translate(0 2)">
				        <path fill="#232323" fill-rule="nonzero" d="M18.207 20.709c.45 0 .84-.148 1.17-.441l-5.664-5.665-.392.282c-.424.312-.768.556-1.032.73a6.359 6.359 0 0 1-1.054.536c-.44.183-.848.274-1.228.274h-.022c-.38 0-.788-.091-1.227-.274a6.338 6.338 0 0 1-1.055-.535 26.275 26.275 0 0 1-1.032-.73c-.118-.088-.249-.183-.39-.284L.614 20.268c.331.293.72.441 1.17.441h16.422zM1.127 11.036A5.915 5.915 0 0 1 0 10.066v8.617l4.992-4.992a385.957 385.957 0 0 0-3.865-2.655zM18.877 11.036a328.635 328.635 0 0 0-3.875 2.657l4.99 4.99v-8.617c-.32.357-.691.68-1.115.97z"/>
				        <path fill="#232323" fill-rule="nonzero" d="M18.207 5H1.785c-.573 0-1.013.194-1.322.58C.154 5.967 0 6.45 0 7.03c0 .47.205.977.614 1.524.409.547.844.976 1.305 1.288.253.179 1.015.709 2.287 1.59a739.28 739.28 0 0 1 2.923 2.036l.167.119.307.222c.242.174.443.316.603.424.16.108.353.228.58.362.227.134.44.235.642.301.2.067.386.1.557.1h.022c.172 0 .358-.033.558-.1.201-.066.415-.167.642-.3.227-.135.42-.256.58-.363.16-.108.361-.25.603-.424a74.83 74.83 0 0 1 .474-.34l1.129-.785 4.092-2.842c.543-.379.997-.837 1.361-1.372.364-.535.547-1.097.547-1.684 0-.491-.177-.911-.53-1.261A1.726 1.726 0 0 0 18.207 5z"/>
				        <circle cx="21" cy="4" r="5" fill="url(#a)" stroke="#FFF" stroke-width="2"/>
				    </g>
				</svg>
			</div> -->
		</div>
		<div class="account-header__exit" (click)="tryLogout()">
			Выйти
		</div>
	</div>
</div>

<router-outlet></router-outlet>

<div class="modal" *ngIf="isShowConfirmModal">
    <div class="modal__content">
			<div class="modal__close" (click)="closeConfirm()">
				<img src="assets/images/icons/modal-close-icon.svg" alt="" class="modal__close-img">
			</div>
      <span class="modal__title">Вы уверены что хотите выйти из аккаунта?</span>
      <div class="buttons">
        <div class="btn-white" (click)="logout()">Да</div>
        <div class="btn-white" (click)="closeConfirm()">Нет</div>
      </div>
    </div>
  </div>



<!-- <div class="container">
        <a routerLink="profile"  class="link" routerLinkActive="active-link">Profile</a>
        <a routerLink="tv-podpiski" class="link" routerLinkActive="active-link">Subscriptions</a>
        <a routerLink="upravlenie-tv" class="link" routerLinkActive="active-link">Manage TV</a>

        <router-outlet></router-outlet>
</div> -->



