.link {
  margin-right: 10px;
  padding: .5rem 1.5rem;
  background: white;
}

// .modal {


// &__close{
// 	position: absolute;
// 	width: 24px;
// 	height: 24px;
// 	right: -12px;
// 	top: -12px;
// 	background-image: linear-gradient(to left, #9ed061, #abe06a);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	border-radius: 50%;
// 	cursor: pointer;
// 	&-img{
// 		width: 12px;
// 	}
// }

// 	&__content {
// 	position: relative;
// 		width: 400px;
// 		height: auto;
// 		background-color: #abe06a;
// 		box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
// 		background-color: #ffffff;
// 		padding: 40px;

// 		.part {
// 			width: 100%;
// 			height: 100%;

// 			.buttons {
// 				display: flex;
// 				justify-content: space-between;
// 				align-items: flex-start;
// 				flex-wrap: wrap;
// 				cursor: pointer;
// 				color: #e05f20;
// 				text-decoration: none;

// 			}
// 		}
// 	}

// 	&__link{
// 		margin-left: 10px;
// 		margin-right: 10px;
// 		font-size: 16px;
// 		margin-bottom: 30px;
// 		text-decoration: none;
// 		&:hover{
// 			color: #e05f20;
// 			text-decoration: underline;
// 		}
// 	}

// 	&__back{
// 		width: 100%;
// 		display: flex;
// 		justify-content: center;
// 		.btn-white{
// 			justify-content: center;
// 			padding-left: 0;
// 			width: 200px;
// 			&:hover{
// 				text-decoration: none;
// 			}
// 		}
// 		.btn-orange{
// 			width: 200px;
// 		}
// 	}

// 	&__title{
// 		font-family: OpenSans-Bold;
// 		font-size: 18px;
// 		line-height: 1.3;
// 		margin-bottom: 30px;
// 		text-align: center;
// 		text-transform: uppercase;
// 		a{
// 			color: #e05f20;
// 			text-decoration: none;
// 			&:hover{
// 				color: #e05f20;
// 				text-decoration: underline;
// 			}
// 		}
// 		p{
// 			text-align: left;
// 			font-family: OpenSans;
// 			text-transform: none;
// 			margin-bottom: 10px;
// 			font-size: 16px;
// 		}
// 	}


// }

.active-link {
  background: green;
}

.account-header{
	position: relative;
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
  background-color: #fff;
  top: 5rem;
  z-index: 1;

	&__left{
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
	}

	&__user{
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 42px;
		width: 375px;
	}

	&__avatar{
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top: 22px;
		margin-bottom: 22px;
		margin-right: 22px;

		&-gradient{
			position: absolute;
			left: -3px;
			top: -3px;
			right: -3px;
			bottom: -3px;
			border-radius: 50%;
			background: linear-gradient(to right, #ffcd78 0%,#abe06a 100%);
			z-index: 1;
		}
		&-circle{
			position: absolute;
			left: -2px;
			top: -2px;
			right: -2px;
			bottom: -2px;
			border-radius: 50%;
			background: #fff;
      z-index: 2;
      overflow: hidden;

      &-image {
        width: 100%;
        height: 100%;
      }
		}
	}

	&__name{
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		font-family: OpenSans-Bold;
		font-size: 16px;
		line-height: 1;
		color: #232323;
		text-transform: uppercase;
	}

	&__nav{
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;
		margin: 0 -28px;
		&-item{
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			cursor: pointer;
			outline: none !important;
			margin: 0 28px;
			font-size: 18px;
			font-family: "OpenSans-Bold";
			color: #232323;
			transition: .3s;
			&:hover{
				color: #8c8c8c;
				transition: .3s;
			}
			&:after{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0px;
				height: 2px;
				background-image: linear-gradient(to left, #9ed061, #abe06a);
				transition: .3s;
				opacity: 0;
			}
			&_active{
				color: #8c8c8c;
				transition: .3s;
				&:after{
					opacity: 1;
					transition: .3s;
				}
			}
		}
	}

	&__right{
		position: relative;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
	}

	&__icons{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		position: relative;
		&-item{
			position: relative;
			margin-right: 50px;
			display: flex;
			cursor: pointer;
			&_text{
				font-family: OpenSans-Bold;
				color: #232323;
				line-height: 24px;
				margin-right: 8px;
				transition: .3s;
			}
			&_svg{
				path, g{
					transition: .3s;
				}
			}
			&:last-child{
				top: -3px;
			}
		}
	}

	&__exit{
		color: #8c8c8c;
		cursor: pointer;
		border-left: 1px solid #e9e9e9;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 0 35px;
		transition: .3s;
		&:hover{
			color: #232323;
			transition: .3s;
		}
	}
}

.modal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: linear-gradient(
    to left,
    rgba(255, 205, 120, 0.6),
    rgba(171, 224, 106, 0.6)
  );

  &__close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: -12px;
    top: -12px;
    background-image: linear-gradient(to left, #9ed061, #abe06a);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &-img{
      width: 12px;
    }
  }

  &__content {
    position: relative;
    width: 400px;
    height: auto;
    background-color: #abe06a;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    background-color: #ffffff;
    padding: 40px;

		.buttons{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 30px;
		}

		.btn-white{
			width: 90px;
			margin-right: 20px;
			justify-content: center;
			padding-left: 0;
		}
  }

  &__title{
    font-family: OpenSans-Bold;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 1420px){
	.account-header__nav-item{
		margin: 0 15px;
	}
	.account-header__user{
		width: 300px;
	}
}

@media screen and (max-width: 1250px){
	.account-header{
		flex-wrap: wrap;
	}
	.account-header__right{
		width: 100%;
		justify-content: flex-end;
		height: 70px;
		border-top: 1px solid #e9e9e9;
	}
}

@media screen and (max-width: 992px){
	.account-header__exit{
		width: 100%;
	}
	.account-header__nav{
		width: 100%;
		margin: 0;
	}
	.account-header{
		padding-top: 100px;
	}
	.account-header__left{
		flex-wrap: wrap;
		width: 100%;
	}
	.account-header__nav{
		width: 100%;
		justify-content: center;
		height: 70px;
	}
	.account-header__user{
		width: 100%;
		padding-right: 42px;
		justify-content: center;
	}
}

@media screen and (max-width: 767px){
	.account-header__right{
		justify-content: center;
		align-items: flex-start;
		border: none !important;
		padding-top: 20px;
	}
	.account-header__exit{
		width: 120px;
		padding-top: 20px;
		padding-bottom: 20px;
		border: 1px solid #e9e9e9;
	}
	.modal__content{
		max-width: 90%;
	}
	.account-header{
		padding-top: 60px;
		border-bottom: none;
	}

	.account-header__nav{
		margin: 0;
		flex-wrap: wrap;
		height: auto;
		&-item{
			width: 100%;
			height: 70px;
			margin: 0;
			justify-content: center;
			text-align: center;
			&:after{
				opacity: 1;
				background-image: none;
				height: 1px;
				background-color: #e9e9e9;
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0px;
				height: 2px;
				background-image: linear-gradient(to left, #9ed061, #abe06a);
				transition: .3s;
				opacity: 0;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}

			&_active{
				&:after{
					height: 2px;
					background-image: linear-gradient(to left, #9ed061, #abe06a);
					display: block !important;
					z-index: 10;
				}
				&:before{
					transition: .3s;
					opacity: 1;
					z-index: 10;
				}
			}
		}
	}
}
