<div class="player">
  <video [hidden]="isShowLoginError || isShowSubscribeError" [poster]="contentPoster" #video id="video_player"
    class="video"></video>

  <div class="error" style.backgroundImage="url({{ contentPoster }})" *ngIf="isShowLoginError && isAlartNeeded">
    <span class="error__title">{{ errorMessage }}</span>
    <div class="error__button" (click)="redirectToAuthPage()">Авторизоваться</div>
  </div>

  <div class="error" style.backgroundImage="url({{ contentPoster }})" *ngIf="isShowSubscribeError && isAlartNeeded">
    <span class="error__title">{{ errorMessage }}</span>
    <div class="error__button" (click)="redirectToSubscribePage()">Приобрести подписку</div>
  </div>

  <div class="error" style.backgroundImage="url({{ contentPoster }})" *ngIf="(isShowSubscribeError || isShowLoginError) && !isAlartNeeded">
    <div class="error__button" (click)="showFastLoginModal()">Смотреть</div>
  </div>

  <div class="error" *ngIf="isRadio">
    <img [src]="channel?.logo" alt="">
  </div>
</div>
