.player {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;

  .video {
      width: 100%;
      height: 100%;
  }

  .error {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 200px;
      position: absolute;
      left: 0;
      top: 0;

      &__title {
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: 1.4rem;
          margin-bottom: 15px;
          padding: 0 30px;
      }

      &__button {
          height: 3rem;
          background-color: orangered;
          padding: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          color: #fff;
          cursor: pointer;
      }
  }
}
