.login {
  background-color: white;
  width: 30rem;
  position: relative;
  padding: 40px;
  box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
  margin: 0 auto;
}

.has-error {
  border: 1px solid red;
}

.form-group {
  position: relative;
  padding-top: 30px;
  &__error {
    position: absolute;
    left: 0;
    top: 75px;
    font-size: 14px;
    color: red;
  }
  &__label {
    transition: 0.3s;
    color: #8c8c8c;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 40px;
  }
  &__input {
    position: relative;
    border: none;
    color: #232323;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 12px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 35px;
    display: block;
    width: 100%;
    transition: 0.3s;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #232323;
      & + .form-group__label {
        font-size: 14px;
        top: 10px;
        transition: 0.3s;
      }
    }
    &.has-error {
      border-color: red;
      transition: 0.3s;
    }
  }
  &_dirty {
    .form-group__label {
      font-size: 14px;
      top: 10px;
      transition: 0.3s;
    }
  }
}
.modal-btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  &__link {
    font-size: 14px;
    color: #e05f20;
    cursor: pointer;
    text-decoration: underline !important;
    &_forgot {
      margin-top: 20px;
      margin-left: 70px;
    }
  }
}

.modal-copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  
  a {
    color: #232323;

    &:visited {
      color: #232323;
    }

    &:active {
      color: #232323;
    }
  }
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -12px;
  top: -12px;
  background-image: linear-gradient(to left, #9ed061, #abe06a);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  &__img {
    width: 12px;
  }
}
.modal-title {
  margin-bottom: 30px;
  font-size: 20px;
  color: #232323;
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-Bold;
}

@media screen and (max-width: 767px) {
  .login {
    max-width: 320px;
    .btn-orange {
      width: 100%;
      margin-bottom: 15px;
    }
    .modal-btns {
      justify-content: center;
      text-align: center;
    }
  }
  .modal-btns__link {
    margin: 0 10px !important;
  }
}
