.stock {
  padding: 0 15px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a3c718;
  box-shadow: 0 0 4px 0 #a3c718;
  color: black;
  position: absolute;
  left: 230px;
  font-size: 14px;

  &_dark {
    color: white;
  }

  b {
    padding: 0 5px;
    font-weight: bold;
  }

  .bright {
    color: #a3c718;
  }
}

.header {
	position: relative;

	&__logo {
		display: none;
	}

	&__top {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		padding: 0px 40px;
		border-bottom: 1px solid #e9e9e9;
		height: 61px;
		&_dark {
			background-color: #232323;
			border-bottom: none;
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
			z-index: 5;
			margin-bottom: 0;
		}
	}
	&__phones {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 21px 0;

		&-item {
			color: #232323;
			font-size: 14px;
			margin-left: 23px;
			background: #232323;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition: 0.3s;
			&:hover {
				background: linear-gradient(to left, #fe6f41, #ffcd78);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				transition: 0.3s;
			}
			&--dark {
				background: #fff;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&__clients {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&-item {
			position: relative;
			color: #8c8c8c;
			font-size: 14px;
			transition: 0.3s;
			padding: 21px 0;
			margin: 0 19px;
			cursor: pointer;

			&--dark {
				color: #757575;
				&:hover {
					color: #fff !important;
					transition: 0.3s;
				}
			}

			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -3px;
				height: 2px;
				background: linear-gradient(to left, #9ed061, #abe06a);
				opacity: 0;
				transition: 0.3s;
			}
			&_active {
				transition: 0.3s;
				color: #232323;
				&:after {
					opacity: 1;
					transition: 0.3s;
				}
			}
			&:hover {
				color: #232323;
				transition: 0.3s;
			}
		}
	}
	&__clients-mobile {
		display: none;
		position: relative;
		&_current {
			position: relative;
			cursor: pointer;
			user-select: none;
			img {
				position: absolute;
				right: -22px;
				top: 5px;
				width: 12px;
				transform: rotate(180deg);
			}
		}
		&_list {
			position: absolute;
			left: 50%;
			transform: translateX(-46%);
			bottom: -140px;
			background-color: #fff;
			border: 1px solid #e9e9e9;
			outline: none;
			z-index: 2;
			width: 240px;
			padding: 10px 0;
			box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: -6px;
				right: 50%;
				margin-left: -5px;
				width: 10px;
				height: 10px;
				background: #ffffff;
				border-right: 1px solid #e9e9e9;
				border-bottom: 1px solid #e9e9e9;
				-moz-transform: rotate(-120deg);
				-webkit-transform: rotate(-140deg);
			}
		}
		&-item {
			padding: 12px 12px;
			white-space: nowrap;
			cursor: pointer;
			transition: 0.3s;
			background-color: #fff;
			&:hover {
				background-color: #e9e9e9;
				transition: 0.3s;
			}
		}
	}
	&__btns {
		position: relative;
		display: flex;
		// align-items: center;
		align-items: stretch;
		align-content: stretch;
		justify-content: flex-start;

		&-item {
			padding: 21px 0;
			display: flex;
			align-items: center;
			align-content: center;
			cursor: pointer;
			position: relative;
			margin-right: 10px;

			&_img {
				width: 20px;
			}

			&:last-child {
				margin-right: 0;
			}

			&_count {
				width: 1rem;
				height: 1rem;
				position: absolute;
				top: 18px;
				left: 7px;
				background-color: orange;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				font-size: 10px;
				color: white;
			}
		}
	}

	&__btn {
		position: relative;
		cursor: pointer;
		display: none;
		img {
			width: 16px;
			display: inline-block;
			vertical-align: top;
		}
	}
}
.header__clients-item--dark.header__clients-item_active {
	color: #fff !important;
	&:after {
		background: #a3c718 !important;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -3px;
		-webkit-filter: blur(10px);
		filter: blur(10px);
		background-color: #a3c718;
	}
}
.header__nav-item--dark.header__nav-item_active {
	color: #fe6f41 !important;
	&:after {
		display: none !important;
	}
}

.mobile-nav {
	position: fixed;
	background-color: #fff;
	width: 300px;
	transition: 0.2s;
	height: calc(100% - 49px);
	top: 49px;
	z-index: 9999;
	padding: 40px 0 30px 0;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
	left: -310px;
	transition: 0.3s ease-in-out;
	&__menu {
		width: 100%;
		margin-bottom: 30px;
	}
	&__footer {
		width: 100%;
		&-item {
			font-size: 15px;
			text-align: center;
			margin-top: 18px;
			font-family: "OpenSans-Bold";
		}
	}
	&__item {
		position: relative;
		color: #000;
		font-size: 15px;
		padding: 0 20px;
		outline: none;
		cursor: pointer;
		font-family: "OpenSans-Bold";
		text-transform: uppercase;
		&-wrapper {
			position: relative;
			padding: 20px 5px;
			border-bottom: 1px solid #e9e9e9;
		}
		&-icon {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			flex-wrap: wrap;
			z-index: 3;
			position: absolute;
			right: 5px;
			top: 15px;
			width: 24px;
			height: 24px;
			background-size: cover;
			border: 1px solid #000;
			border-radius: 50%;
			// background-image: url('../assets/images/icons/arrow-icon.svg');
			transition: 0.3s;
			transform: rotate(180deg);
			&:after {
				content: "";
				display: flex;
				width: 12px;
				height: 8px;
				background-size: cover;
				background-image: url("../assets/images/icons/arrow-icon.svg");
			}
		}
		&_sub {
			text-transform: none;
			font-family: "OpenSans";
			background-color: #f5f5f5;
			.mobile-nav__item-wrapper {
				padding-left: 30px;
			}
		}
		&_opened {
			background-color: #f5f5f5;
			.mobile-nav__item-icon {
				transition: 0.3s;
				transform: rotate(0deg);
			}
		}

		&:last-child {
			border-bottom: none;
		}

		&_active {
			color: #fe6f41 !important;
		}
	}

	&_dark {
		background-color: #232323;
		color: #fff;
		.mobile-nav__item {
			color: #fff;
			border-bottom: 1px solid #3a3a3a;
		}
		.mobile-nav__item_sub {
			background-color: #444444;
		}
		.mobile-nav__item_opened {
			background-color: #444444;
		}
		.mobile-nav__item-icon {
			// background-image: url('../assets/images/icons/arrow-icon-white.svg');
			border-color: #fe6f41;
			&:after {
				content: "";
				display: flex;
				width: 12px;
				height: 8px;
				background-size: cover;
				background-image: url("../assets/images/icons/arrow-icon-white.svg");
			}
		}
	}

	&_opened {
		left: 0;
		transition: 0.3s;
	}
}
.mobile-nav-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0;
	z-index: -1;
	transition: 0.3s;
	&_active {
		z-index: 300;
		opacity: 0.7;
		transition: 0.3s;
	}
	&_dark {
		background-color: #2f2f2f;
	}
}
.header__logo_retail {
	display: block !important;
	cursor: pointer;
}

.retail-btns {
	position: absolute;
	display: flex;
	align-items: center;
	align-content: center;
	right: 0px;
	top: 0;
	bottom: 0;
	z-index: 3;

	&__exit {
		margin-left: 40px;
		cursor: pointer;
		height: 40px;
		display: flex;
		align-items: center;
		align-content: center;
		padding-left: 40px;
		padding-right: 40px;
		justify-content: center;
		border-left: 1px solid #e9e9e9;
	}

	&__vendor {
		position: relative;
		font-family: "OpenSans-Bold";
		text-transform: uppercase;
		padding-left: 25px;
		padding-right: 25px;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		height: 34px;
		background-color: #fff;
		font-size: 14px;
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(to left, #fe6f41, #ffcd78);
			filter: blur(10px);
			opacity: 0.5;
			z-index: -1;
			transition: 0.3s;
		}
		&:hover {
			&:after {
				transition: 0.3s;
				opacity: 0.9;
			}
		}
	}
}

.retail-header__time {
	font-size: 14px;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	color: #232323;
}
.header-retail {
	justify-content: flex-start !important;
	.header__phones {
		margin-left: 30px;
		max-width: 300px;
		flex-wrap: wrap;
	}
}
.retail-clients {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	transform: translateX(-50%);
	.header__clients-item {
		&:after {
			bottom: 5px;
		}
	}
}

.header__phones_retail {
	flex-direction: column;
	.header__phones_icon {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 0;
	}
	.header__phones_first {
		margin-bottom: 10px;
	}
}

.to-top-btn {
	position: fixed;
	right: 40px;
	bottom: 40px;
	border-radius: 50%;
	z-index: 9999999;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	// background: linear-gradient(to left, #fe6f41, #ffcd78);
	border: 1px solid #393939;
	background-color: #1b1b1b;
	cursor: pointer;

	/* &:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to left, #fe6f41, #ffcd78);
		filter: blur(15px);
		opacity: 0.5;
		z-index: -1;
		transition: 0.3s;
	} */
	&_tariffs {
		right: 10px;
		bottom: 70px;
	}
	&:hover {
		color: #fff;
		&:after {
			transition: 0.3s;
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1300px) {
	.header {
		&__clients {
			&-item {
				margin: 0 10px;
			}
		}
		&__phones {
			&-item {
				margin-left: 12px;
				font-size: 12px;
			}
		}
	}

  .stock {
    left: 180px;
  }
}
@media screen and (max-width: 1100px) {
	.header {
		&__phones {
			&-item {
				margin-left: 12px;
				font-size: 12px;
			}
		}
		&__nav {
			&-item {
				margin-left: 25px;
				font-size: 14px;
			}
		}
	}
  .stock {
    display: none;
  }
}
@media screen and (max-width: 992px) {
	.mobile-nav__item {
		padding-left: 40px;
	}
	.header__clients {
		display: none;
	}
	.header__clients-mobile {
		display: block;
	}
	.header__phones {
		display: none;
	}
	.header__btn {
		display: block;
	}
	.header__top {
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;
		border-bottom: none;
		box-shadow: 0 2px 5px 0 rgba(35, 35, 35, 0.1);
	}
	.header__btns {
		height: 50px;
	}
	.header__top_dark {
		.header__btn {
			svg,
			path {
				fill: #fff;
			}
		}
		.header__logo {
			display: flex;
			align-items: center;
			align-content: center;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 0;
			outline: none !important;
			box-shadow: none !important;
			border: none !important;
			text {
				fill: #fff;
			}
		}
	}
	.header__logo {
		display: block;
	}
	.header__btn-favorites,
	.header__btn-login {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.to-top-btn {
		display: none;
	}
	.mobile-nav__item {
		padding-left: 15px;
	}
	.header__phones {
		display: none;
	}
	.header__middle {
		display: none;
	}
	.header {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 5;
		&__btns {
			&-item {
				&:last-child {
					margin-left: 20px;
					position: relative;
					top: -1px;
				}
			}
		}
		&__btn {
			display: block;
		}
	}
	.header__top {
		padding: 0 15px;
	}

	.main-about {
		.row {
			margin-left: 0;
			margin-right: 0;
			flex-wrap: wrap;
		}
		.col-6 {
			width: 100%;
		}
	}
	.header__btn-login {
		display: flex;
		top: 1px !important;
		margin-left: 10px !important;
	}
}
.header-mobile {
	position: fixed;
	left: -200%;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	z-index: 999;
	transition: 0.6s ease-out;
	&--opened {
		transition: 0.3s ease-out;
		left: 0;
	}
	&__close {
		margin-bottom: 30px;
		cursor: pointer;
		img {
			width: 18px;
		}
	}
	&__item {
		width: 100%;
		font-size: 18px;
		padding: 16px;
		text-align: center;
		transition: 0.3s;
		color: #232323;
		span {
			position: relative;
		}
		&_active {
			position: relative;
			span {
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: -10px;
					height: 2px;
					background: linear-gradient(to left, #9ed061, #abe06a);
				}
			}
		}
	}
	&__phones {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 50px;
		img {
			margin-bottom: 20px;
		}
		&-item {
			font-size: 20px;
			padding: 10px;
			color: #232323;
			width: 100%;
			text-align: center;
		}
	}
}
