<div class="text-page">
    <div class="container">
        <div class="films__title">
            <span class="gradient-text">
                как
            </span>
            смотреть бесплатно
        </div>

        <div class="free-text">
            Напиши несколько хороших слов со ссылкой на Persik.by в любой социальной сети, форуме, блоке, сайте и получи <span class="gradient-text">7 дней бесплатно!</span>
        </div>
        <div class="free-text">
            Подключи друга на Persik.by, и если он использовал сервис на платной основе (оплатил хотя бы один из пакетов), то мы подарим тебе <span class="gradient-text">1 МЕСЯЦ БЕСПЛАТНО</span>
        </div>
        <div class="free-text">
            Ах да, все "бонусы" суммируются! Приятного просмотра!
        </div>
        <div class="free-small">
            Информацию о ссылке на отзыв Persik.by, email подключенного друга отправляй на info@persik.by. Так же не забудь указать и свой email для зачисления бесплатных дней.
        </div>
    </div>
</div>