.films {
  background-color: #1b1b1b;
  padding-top: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
  .tapes {
	  max-width: 1280px;
	  width: 100%;
  }

  &__dropdowns {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;

    &-item {
      width: 100%;
      position: relative;
    }
  }

  .row {
    margin: 0 -15px;
  }

  &__filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
}

.filter {
  width: 97%;
}


