<div class="video-controller">

  <ng5-slider class="range"
    [(value)]="currentTime"
    [options]="rangeOptions"
    (userChangeStart)="onRangeChangeStart()"
    (userChange)="onRangeChange()"
    (userChangeEnd)="onRangeChangeEnd()"
    (valueChange)="valueChange($event)"
  ></ng5-slider>


  <div class="video-controller__navigation">
  	<div class="video-controller__time">
  		<span class="video-controller__time-bold">
  			{{ currentTime | fullDuration }}
  		</span>
  		<span class="video-controller__time-text">
  			/ {{ duration | fullDuration }}
  		</span>
  	</div>

  	<div class="video-controller__play" (click)="togglePlayerState()">
  		<img src="assets/images/icons/pause-player.svg" alt="" [hidden]="!isPlaying">
  		<div class="video-controller__play-triangle" [hidden]="isPlaying"></div>
  	</div>
  </div>

  <div class="volume-range">
    <ng5-slider class="volume"
      [(value)]="volume"
      [options]="volumeRangeOptions"
      (valueChange)="volumeChange($event)"
    ></ng5-slider>
    <img src="assets/images/icons/sound.svg" alt="" class="volume-range__icon">
  </div>


  <img src="assets/images/icons/fullscreen.svg" alt="" class="video-controller__fullscreen" (click)="toggleFullscreen()">
</div>
