.video-controller {
  width: 100%;
  padding:  0 80px;
  height: 14rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,.7) 80%, transparent);

  &__fullscreen{
    position: absolute;
    right: 80px;
    bottom: 58px;
    cursor: pointer;
  }

  &__play{
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -30px;
    cursor: pointer;
    &-img{
      display: inline-block;
      vertical-align: top;
    }
    &-triangle{
      position: relative;
      right: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9.5px 0 9.5px 16px;
      border-color: transparent transparent transparent #ffffff;
    }
  }

  &__time {
    position: absolute;
    left: 80px;
    bottom: 75px;
    font-size: 16px;
    color: #fff;
    &-bold{
      font-family: OpenSans-Bold;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__btn {
    position: relative;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.3);
    cursor: pointer;
    border: none;
    outline: none !important;
    box-shadow: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60px;
    height: 60px;
    &-img{
      display: inline-block;
      vertical-align: top;
    }
  }

  &__navigation {
    color: white;
  }
}

.range {
  width: 100%;
  position: relative;
  top: 2rem;
}

@media screen and (max-width: 767px){
  .video-controller{
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
  }
  .video-controller__play{
    height: 40px;
    width: 40px;
    margin-left: -20px;
  }
  .video-controller__time{
    left: 15px;
    bottom: 52px;
    font-size: 14px;
  }
  .video-controller__fullscreen{
    right: 15px;
    bottom: 42px;
  }
}

.volume {
  width: 7rem;
  position: relative;
}
.volume-range{
  position: absolute;
  right: 140px;
  bottom: 60px;
  &__icon{
    position: absolute;
    left: -35px;
    top: 27px;
    width: 24px;
  }

}

@media screen and (max-width: 767px){
  .volume-range{
    right: initial;
    left: 46px;
    bottom: 10px;
  }
}
