<div class="online__title" *ngIf="title"  (click)="goTo()">
  {{ title }}
  <!-- | renamePipe -->
</div>

	<div class="container" *ngIf="isBrowser">

    <ngx-slick [config]="slideConfig" *ngIf="isChannels">
      <div ngxSlickItem *ngFor="let item of content">
        <app-channel-card #chcard [channel]="item"></app-channel-card>
      </div>
    </ngx-slick>

    <ngx-slick [config]="slideConfig" *ngIf="isVideos">
      <div ngxSlickItem *ngFor="let item of content">
        <app-film-card [type]="type" [content_id]="getId(item)" [category]="category" [category_id]="category_id" [genre]="genre"></app-film-card>
      </div>
    </ngx-slick>

    <ngx-slick [config]="slideConfig" *ngIf="isTvshows">
      <div ngxSlickItem *ngFor="let item of content">
        <app-film-card [type]="type" [content_id]="getId(item)" [category]="category" [category_id]="category_id"></app-film-card>
      </div>
    </ngx-slick>

    <ngx-slick [config]="slideConfig" *ngIf="isBooks">
      <div ngxSlickItem *ngFor="let item of content">
        <app-audiobook-card [book]="item"></app-audiobook-card>
      </div>
    </ngx-slick>


	</div>
