.online{
	position: relative;
	background-color: #1b1b1b;

	&__title{
		color: #fff;
		font-size: 24px;
		margin-bottom: 23px;
		text-align: center;
    text-transform: uppercase;
    cursor: pointer;
	}
	.slick-track{
		margin: 0 -15px;
	}
	.slick-slide{
		margin-left: 15px;
		margin-right: 15px;
	}


}

.show-all {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e05f20;
  font-weight: bold;
  cursor: pointer;
  background-color: #232323;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

  &:hover {
    color: white;
    background-color: #e05f20;
  }

  &_channels {
    height: calc(20vh + 78px);
  }

  &_videos {
    height: 468px;
  }

  &_tvshows {
    height: calc(20vh + 78px);
  }
}

.container{
  max-width: 100% !important;
}

@media screen and (max-width: 767px){
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
}
