<div class="retail-info">
    <div class="container">
        <div class="retail-info__title">
            <span class="gradient-text">
                ПОЛЕЗНАЯ
            </span>
            ИНФОРМАЦИЯ
        </div>

        <div class="retail-info__column">
            <!-- <div class="retail-info__column-title">
                Обучающие презентации
            </div> -->
            <a href="assets/pdf/pdf1.pdf" target="_blank" class="retail-info__column-item">Обучающая презентация по сервису</a>
            <br>
            <a href="assets/pdf/pdf2.jpg" target="_blank" class="retail-info__column-item">Список каналов</a>
        </div>
    </div>
</div>
