.retail-info {
  position: relative;
  min-height: 60vh;
  border-bottom: 1px solid #e9e9e9;

  &__title {
    font-size: 26px;
    text-align: center;
    font-family: "OpenSans-Bold";
    margin-bottom: 60px;
  }

  &__column {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

    &-title {
      font-family: "OpenSans-Bold";
      font-size: 20px;
      margin-bottom: 30px;
    }

    &-item {
      font-size: 18px;
      color: #232323;
      text-decoration: none;
      position: relative;
      padding-bottom: 14px;
      transition: 0.3s;
      display: inline-block;
      margin-bottom: 30px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        filter: blur(10px);
        background-color: #a3c718;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-image: linear-gradient(to left, #9ed061, #abe06a);
      }

      &:hover {
        color: #a3c718;
        transition: 0.3s;
        text-decoration: none;
      }
    }
  }
}
