<div class="content-desc" *ngIf="!isLoadError">
    <div class="content-desc__header">
        <div class="green-dot dot1"></div>
        <div class="green-dot dot2"></div>
        <div class="green-dot dot3"></div>
        <div class="content-desc__poster" style.backgroundImage="url({{ game?.image }})">
        </div>
        <div class="container">
            <div class="content-desc__breadcrumbs">
                <a routerLink="" class="content-desc__breadcrumbs-item">
                    Онлайн-просмотр
                </a>
                <a [routerLink]="['','games']" class="content-desc__breadcrumbs-item">
                    Игры
                </a>
                <h1 class="content-desc__breadcrumbs-item">
                    {{game?.name }}
                </h1>
            </div>

            <div class="content-desc__cover">
                <img [src]="game?.image" [alt]="game?.name" class="content-desc__cover-img">
            </div>

            <div class="mobile-btns hidden-desctop">
                <div class="content-desc__buttons-item" (click)="play()">
                    <span class="orange-triangle"></span>
                    Играть
                </div>


            </div>

            <div class="content-desc__info">


                <div class="content-desc__info-genres">
                    {{ game?.category | uppercase }}
                </div>

                <div class="content-desc__info-name" *ngIf="gameName">
                    <span [innerHTML]="gameName"></span>
                </div>


                <div class="content-desc__buttons hidden-mobile">
                    <div class="content-desc__buttons-item" (click)="play()">
                        <span class="orange-triangle"></span>
                        Играть
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="container description">
        <div class="content-desc__about" *ngIf="contentDescription">

            <div>
                <div class="content-desc__about-title">
                    описание
                </div>

                <div class="content-desc__about-text">
                    {{ contentDescription }}

                    <div class="description-toggler" [class.description-toggler_open]="isContentDescriptionOpen"
                        *ngIf="isContentDescriptionSliced" (click)="toggleContentDescription()"></div>

                </div>

                <div class="how-title" *ngIf="game?.stock">Как заработать подписку?</div>

                <div class="content-desc__about-text" *ngIf="game?.stock">
                    {{ game.stock }}
                </div>

                <!-- <div class="content-desc__about" *ngIf="game?.stock">
                    <div class="content-desc__about-title">
                        Как заработать подписку?
                    </div>
                </div> -->

            </div>

            <div class="content-desc__tables">

                <div class="content-desc__table">

                    <div class="content-desc__table-row" *ngIf="game?.developer">
                        <div [title]="game.developer">{{ game.developer }}</div>
                        <div class="content-desc__table-title">
                            Разработчик
                        </div>
                    </div>
                    <div class="content-desc__table-row" *ngIf="game?.technology">
                        <div [title]="game.technology">{{ game.technology }}</div>
                        <div class="content-desc__table-title">
                            Технология
                        </div>
                    </div>
                </div>

                <div class="content-desc__table">
                    <div class="content-desc__table-row">
                        <div *ngIf="game?.devices"><img *ngFor="let image of game.devices"
                                src="assets/images/icons/{{image}}.svg" alt=""></div>
                        <div *ngIf="!game?.devices"><img src="assets/images/icons/pc.svg" alt=""></div>
                        <div class="content-desc__table-title">
                            Устройства
                        </div>
                    </div>

                    <div class="content-desc__table-row" *ngIf="game?.category">
                        <div [title]="game.technology">{{ game.category }}</div>
                        <div class="content-desc__table-title">
                            Жанр
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- <div class="container game">
        <div class="gamearea" #gamearea></div>
    </div> -->

</div>




<div class="content-desc__error" *ngIf="isLoadError">
    контент <span class="gradient-text">не найден</span>
    <div class="content-desc__error-btn">
        <a routerLink="/" class="btn-orange">
            Онлайн просмотр
        </a>
    </div>

</div>