.channel-controller {
  // width: 122px;
  height: 100%;
  // background-color: rgba(255,255,255,.3);
  // overflow: hidden;
  margin-left: 10px;

  &:hover > .arrow {
    display: flex;
  }

  .arrow {
    width: 100%;
    height: 3rem;
    // background-color: rgba(25, 110, 170, .5);
    background-color: #1b1b1b;
    position: absolute;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    font-weight: bold;
    font-size: 30px;
    transition: .5s;
    color: white;
    opacity: 0.6;

    &__img{
      width: 30px;
    }

    &_up {
      top: 0;
      .arrow__img{
        transform: rotate(90deg);
      }
    }

    &_down{
      bottom: 0;
      .arrow__img{
        transform: rotate(-90deg);
      }
    }

  }

  .tape {
    // width: 260px;
    // width: 230px;
    width: 150px;
    // padding-left: 17px;
    // padding-left: 10%;
    padding-left: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;

    &__channel {
      // width: 8rem;
      // width: 220px;
      // width: 180px;
      width: 120px;
      height: 120px;
      margin: 17px 0;
      // height: 220px;
      // height: 180px;
      // height: 8rem;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-bottom: 10px;
      box-sizing: border-box;
      filter: grayscale(100%);
      transition: .3s;

      &-logo {
        // width: 7rem;
        // width: 70%;
        max-width: 100%;
        max-height: 100%;
      }

      &_active {
        border: 1px solid rgba(255,255,255, 0.3);
        filter: grayscale(0%);
        transition: .3s;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .channel-controller{
    width: 100%;
  }
  .channel-controller .tape{
    width: 100%;
    padding-left: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
  }
  .channel-controller .tape__channel{
    flex: 0 0 135px;
    height: 100px;
  }
}

::-webkit-scrollbar-button {
  width:10px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color: #393939;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color:rgba(224, 95, 32, .6);
}

::-webkit-scrollbar-thumb:hover{
  background-color:rgb(224, 95, 32);
}

::-webkit-resizer {
  width:8px;
  height:0px;
}

::-webkit-scrollbar {
  width: 6px;
}
