<div class="channel-controller"> <!--(mousewheel)="scrollChannels($event)"-->
<!--  <div class="arrow arrow_up" (click)="prevChannel()">
  	<img class="arrow__img" src="assets/images/icons/slider-arrow.svg" alt="">
  </div> -->
  <div class="tape">
    <div class="tape__channel" *ngFor="let channel of channels" (click)="selectChannel(channel.channel_id)" [class.tape__channel_active]="isActiveChannel(channel.channel_id)">
      <img class="tape__channel-logo" [src]="channel.logo" alt="">
    </div>
  </div>
  <!--
  <div class="arrow arrow_down" (click)="nextChannel()">
  	<img class="arrow__img" src="assets/images/icons/slider-arrow.svg" alt="">
  </div>
-->
</div>

