<div class="retail-wrap">
  <div class="retail-main">
    <div class="retail-main__row">

      <div class="retail-main__form" *ngIf="isElementForm">
        <div class="retail-main__form-wrapper">
          <div class="retail-main__form-title">
            Активация кода
          </div>

          <form novalidate [formGroup]="codeForm" class="code-page__inputs" (submit)="sendCode()">
            <div class="form-group form-group_dirty">
              <input type="text" id="code" class="form-group__input" [class.has-error]="code.errors"
                formControlName="code" placeholder="**********">
              <label for="code" class="form-group__label">
                Код доступа
              </label>
              <div class="field-error" *ngIf="code.errors && (code.dirty || code.touched)">
                <span *ngIf="code.errors['required']" class="form-group__error">Поле обязательное для
                  заполнения</span>
              </div>
            </div>

            <div class="form-group form-group_dirty">
              <input type="text" id="phone" class="form-group__input" [class.has-error]="phone.errors"
                formControlName="phone" placeholder="+*** ** ***-**-**">
              <label for="phone" class="form-group__label">
                Номер телефона
              </label>
              <div class="field-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <span *ngIf="phone.errors['pattern']" class="form-group__error">Неверный формат</span>
              </div>
            </div>

            <div class="form-group form-group_dirty">
              <input type="text" id="email" class="form-group__input" [class.has-error]="email.errors"
                formControlName="email" placeholder="mail@mail.ru">
              <label for="email" class="form-group__label">
                E-mail (если есть)
              </label>
              <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
                <span *ngIf="email.errors['emailValidator']" class="form-group__error">Неверный
                  формат</span>
              </div>
            </div>

            <div class="form-group__btn">
              <button type="submit" class="btn-orange" value="Активировать">
                Активировать
              </button>
            </div>
          </form>
        </div>
      </div>



      <div class="retail-main__form" *ngIf="!isElementForm">
        <div class="retail-main__form-wrapper">
          <div class="retail-main__form-title">
            Активация кода
          </div>

          <form novalidate [formGroup]="codeFormElectro" class="code-page__inputs electro-form"
            (submit)="sendCodeElectro()">
            <div class="retail-input-wrapper">
              <label for="phoneElectro" class="retail-label">Номер телефона</label>
              <input type="text" formControlName="phoneElectro" placeholder="+ 375" class="retail-input">
              <input type="text" formControlName="emailElectro" placeholder="Или E-mail" class="absolute-input">
            </div>

            <div class="retail-small-title">
              Выберите период
            </div>

            <div class="retail-time-range" *ngFor="let item of formCheckboxes">
              <input type="radio" name="electroForm" class="retail-time-range__checkbox" [checked]="item.checked"
                id="{{ item.id }}" (change)="labelClick(item)">
              <label for="{{ item.id }}" class="retail-time-range__label">
                {{ item.name }}
              </label>
              <div class="retail-time-range__count">
                <div class="retail-time-range__count-minus retail-time-range__count-btn" (click)="plusCount(item)">
                  +
                </div>
                <div class="retail-time-range__count-value">
                  {{ item.count }}
                </div>
                <div class="retail-time-range__count-minus retail-time-range__count-btn" (click)="minusCount(item)">
                  -
                </div>
              </div>
            </div>


            <div class="form-group__btn">
              <button type="submit" class="btn-orange" value="Активировать">
                Активировать
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="retail-main__channels">
        <!-- <app-main-channel-card (showBtn)=false></app-main-channel-card> -->
      </div>
    </div>

  </div>


  <div class="retail__odds">
    <div class="retail__odds-title">
      наши преимущества
    </div>
    <div class="retail__odds-row">
      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/1.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          быстрое подключение
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/2.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          более 350 телеканалов
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/3.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          видеотека фильмов и сериалов
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/4.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          качественный и лицензионный контент
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/5.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          архив 24 дня
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/6.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          просмотр на любом устройстве
        </div>
      </div>

      <div class="retail__odds-item">
        <div class="retail__odds-img-wrapper">
          <img src="assets/images/retail/7.png" alt="" class="retail__odds-img">
        </div>
        <div class="retail__odds-name">
          программа передач на неделю
        </div>
      </div>

    </div>
  </div>
</div>
