.retail-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;

  &__row {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }

  &__form {
    width: 40%;
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
    align-items: stretch;
    align-content: stretch;

    &-wrapper {
      background-color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      padding-top: 20px;
      padding-left: 60px;
      padding-right: 60px;
      background-color: #fff;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to left, #fe6f41, #ffcd78);
        filter: blur(10px);
        opacity: 0.5;
        z-index: -1;
        transition: 0.3s;
      }
    }

    &-title {
      font-size: 22px;
      font-family: "OpenSans-Bold";
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }

    .code-page__inputs {
      margin: 0 auto 30px auto;
      width: 100%;
    }

    .form-group {
      margin-bottom: 0;

      &__input {
        background: transparent;
        color: #232323;
        margin-bottom: 0;
        border-color: #232323;
      }

      &__label {
        color: #232323;
        top: 47px;
      }

      .form-group__input:focus + .form-group__label {
        top: 20px;
      }

      &__btn {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 45px;
        position: relative;
        z-index: 5;
      }
    }

    .form-group_dirty .form-group__label {
      top: 20px;
    }
  }
}

.retail-main__channels {
  padding-right: 20px;
  width: 60%;
  // border-left: 1px solid #e9e9e9;
  .main-channels__item:first-child{
    border-left: 1px solid #e9e9e9;
  }
}

.retail-input-wrapper{
  position: relative;

  .retail-label{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: "OpenSans-Bold";
  }

  .retail-input{
    border: 1px solid #fe6f41;
    padding: 6px 12px;
    width: 100%;
    background: transparent;
    &:focus{
      box-shadow: none;
      border: 1px solid #fe6f41;
      outline: none;
    }
  }

  .absolute-input{
    position: absolute;
    width: calc(100% - 150px);
    right: 0;
    top: 23px;
    padding: 4px 10px;
    background: transparent;
    border: 1px solid #c1c1c1;
    border-bottom: none;
    text-align: center;
    &:focus{
      box-shadow: none;
      border: 1px solid #c1c1c1;
      outline: none;
    }
  }
}

.retail-small-title{
  font-size: 14px;
  font-family: "OpenSans-Bold";
  margin-top: 30px;
  margin-bottom: 15px;
}

.retail-time-range__checkbox{
  display: none;
}

.retail-time-range{
  position: relative;
  border: 1px solid #fe6f41;
  padding: 8px;
  margin-bottom: 10px;
}
.retail-time-range__label{
  position: relative;
  font-size: 16px;
  font-family: "OpenSans-Bold";
  padding-left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  user-select: none;
  &:before{
    content: '';
    border: 1px solid #c1c1c1;
    width: 25px;
    height: 25px;
    display: block;
    margin-right: 10px;
  }
  &:after{
    content: '';
    position: absolute;
    left: 2px;
    top: 5px;
    opacity: 0;
    background-image: url('../../../assets/images/icons/checked.png');
    height: 15px;
    width: 20px;
    background-size: cover;
    display: block;
  }
}

.retail-time-range__checkbox:checked + .retail-time-range__label{
  &:after{
    opacity: 1;
    transition: .3s;
  }
}

.retail-time-range__count{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fe6f41;
  padding: 10px;
  
}
.retail-time-range__count-value{
  border: 1px solid #c1c1c1;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.retail-time-range__count-btn{
  cursor: pointer;
  font-family: "OpenSans-Bold";
  padding: 10px;
  user-select: none;
}




