.genre-filter {
  width: 100%;
  margin: 0 -5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__wrapper {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 30px;
    transition: .3s;

    &_open {
      overflow: unset;
      height: auto;
      width: 100%;
      margin-bottom: -10px;
      justify-content: flex-start;
    }

    &-item {
      background-color: black;
      color: white;
      cursor: pointer;
      padding: 5px 10px 6px 10px;
      box-sizing: border-box;
      display: flex;
      align-content: center;
      align-items: center;
      min-height: 30px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      transition: .3s;
      font-size: 14px;
      text-transform: uppercase;

      &_active {
        background-color: #e05f20;
        color: #fff;
        transition: .3s;
      }
    }
  }

}

.toggle {
  background-color: transparent;
  width: 30px;
  height: 30px;
	/* background-image: url('../../../assets/images/icons/slider-arrow.svg');
	background-size: cover;
  background-position: center center; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e05f20;
  border-radius: 50%;
	transition: .3s;
	opacity: 1;
	cursor: pointer;
	transform: rotate(-180deg);

  &_open {
    display: none;
  }

  &_rotate{
    transition: .3s;
    transform: rotate(0deg);
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px){
  .genre-filter__wrapper{
    justify-content: flex-start;
  }
}
