<div class="genre-filter">
  <div class="genre-filter__wrapper" [class.genre-filter__wrapper_open]="isShowMore || isShowAll">
    <div class="genre-filter__wrapper-item" *ngFor="let genre of genresForShow" (click)="selectFilter(genre)" [class.genre-filter__wrapper-item_active]="getIsActive(genre)">{{ genre.name }}</div>
    <div class="toggle toggle_rotate" (click)="toggleMore()" *ngIf="isShowMore  && !isShowAll">
      <img src="assets/images/icons/arrow-icon-white.svg" alt="" title="Свернуть"  class="toggle__img" [class.toggle__img_rotate]="isShowMore">
    </div>
  </div>

  <div class="toggle" (click)="toggleMore()" title="Развернуть"  *ngIf="!isShowMore  && !isShowAll">
    <img src="assets/images/icons/arrow-icon-white.svg" alt="" class="toggle__img" [class.toggle__img_rotate]="isShowMore">
  </div>
</div>

