<div class="corporate">
    <div class="corporate__first">
        <div class="container">

            <div class="corporate__form">
                <form action="" [formGroup]="corporateForm" (submit)="sendCode()">

                    <div class="corporate__form-title">
                        напишите нам
                    </div>

                    <div class="form-group" [class.form-group_dirty]="corporateFormName.dirty">
                        <input type="text" id="corporateFormName" class="form-group__input"
                            [class.has-error]="corporateFormName.errors && corporateFormName.touched"
                            formControlName="corporateFormName">
                        <label for="corporateFormName" class="form-group__label">
                            Имя
                        </label>
                    </div>

                    <div class="form-group" [class.form-group_dirty]="corporateFormBusiness.dirty">
                        <input type="text" id="corporateFormBusiness" class="form-group__input"
                            [class.has-error]="corporateFormBusiness.errors && corporateFormBusiness.touched"
                            formControlName="corporateFormBusiness">
                        <label for="corporateFormBusiness" class="form-group__label">
                            Комментарий
                        </label>
                    </div>

                    <div class="form-group" [class.form-group_dirty]="corporateFormEmail.dirty">
                        <input type="text" id="corporateFormEmail" class="form-group__input"
                            [class.has-error]="corporateFormEmail.errors && corporateFormEmail.dirty"
                            formControlName="corporateFormEmail">
                        <label for="corporateFormEmail" class="form-group__label form-group__label_required">
                            E-mail
                        </label>
                        <div class="field-error" *ngIf="corporateFormEmail.errors && corporateFormEmail.dirty">
                            <span *ngIf="corporateFormEmail.errors['emailValidator']" class="form-group__error">Неверный
                                формат</span>
                        </div>
                    </div>

                    <div class="form-group" [class.form-group_dirty]="corporateFormPhone.dirty">
                        <input type="text" id="corporateFormPhone" class="form-group__input"
                            [class.has-error]="corporateFormPhone.errors && corporateFormPhone.dirty"
                            formControlName="corporateFormPhone">
                        <label for="corporateFormPhone" class="form-group__label form-group__label_required">
                            Телефон
                        </label>
                        <div class="field-error" *ngIf="corporateFormPhone.errors && corporateFormPhone.dirty">
                            <span *ngIf="corporateFormPhone.errors" class="form-group__error">Неверный
                                формат</span>
                        </div>
                    </div>

                    <div class="corporate__form-btn">
                        <button type="submit" class="btn-orange" value="Активировать">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>

            <div class="corporate__header">
                <div class="corporate__breadcrumbs">
                    <a routerLink="" class="corporate__breadcrumbs-item">
                        Главная
                    </a>
                    <div class="corporate__breadcrumbs-item">
                        Корпоративным клиентам
                    </div>
                </div>
                <h1 class="corporate__header-title">
                    <span class="gradient-text">
                        КОРПОРАТИВНЫМ КЛИЕНТАМ
                    </span>
                </h1>
                <div class="corporate__header-text">
                    ООО «Персональные интерактивные коммуникации» являются системным интегратором, решающим полный комплекс вопросов в области поставки телевидения для бизнеса.
                </div>
                <!-- <div class="corporate__header-small-title">
                    You have to know
                </div>
                <div class="corporate__header-small-text">
                    Before we talk about cash flow, you’re going to want to catalog how much you’re spending each month.
                    Using a tool like Mint, go through.
                </div> -->
            </div>

        </div>
    </div>

    <div class="corporate__services">
        <div class="container">
            <div class="corporate__services-title">
                НАШИ <span class="gradient-text">УСЛУГИ</span>
            </div>
            <!-- <div class="corporate__services-title-small">
                Freeman credits many of the skills he learned as a classical musician with helping him to form the
                identity
                of Blue Bottle.
            </div> -->

            <div class="corporate__services-row">
                <div class="row">
                    <div class="col-4">
                        <div class="service-item service-item_grey" (click)="scrollToBlock('forBusiness')">
                            <div class="service-item__icon">
                                <img src="assets/images/icons/corporate-1.svg" alt="">
                            </div>
                            <div class="service-item__name">
                                Телевидение<br>
                                для бизнеса
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="service-item service-item_white" (click)="scrollToBlock('forCloud')">
                            <div class="service-item__icon">
                                <img src="assets/images/icons/corporate-3.svg" alt="">
                            </div>
                            <div class="service-item__name">
                                Облачная<br>медиаплатформа<br>persik
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="service-item service-item_grey" (click)="scrollToBlock('forPromo')">
                            <div class="service-item__icon">
                                <img src="assets/images/icons/corporate-6.png" alt="">
                            </div>
                            <div class="service-item__name">
                                Интерактивный<br>
                                промоканал
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="service-item" (click)="scrollToBlock('forTech')">
                            <div class="service-item__icon">
                                <img src="assets/images/icons/corporate-4.svg" alt="">
                            </div>
                            <div class="service-item__name">
                                Техническое<br>
                                обслуживание
                            </div>
                        </div>
                    </div>

                    <div class="col-4">

                    </div>

                    <div class="col-4">
                        <div class="service-item" (click)="scrollToBlock('forCCTV')">
                            <div class="service-item__icon">
                                <img src="assets/images/icons/corporate-2.svg" alt="">
                            </div>
                            <div class="service-item__name">
                                CCTV
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="corporate-row" id="forBusiness">
            <div class="corporate-row__info">
                <!-- <div class="corporate-row__info-small-title">
                    Hopefully you learn
                </div> -->
                <div class="corporate-row__info-title">
                    ТЕЛЕВИДЕНИЕ ДЛЯ <span class="gradient-text">БИЗНЕСА</span>
                </div>
                <div class="corporate-row__info-text">
                    Persik TV предлагает организацию телевидения для юридических лиц в гостиницах, санаториях, офисах,
                    ресторанах, кафе.<br><br>
                    Наша команда выполнит поставку оборудования мировых производителей, а также все работы по
                    подключению современного интерактивного телевидения Persik.<br><br>
                    Наши преимущества: легальный контент, видео по запросу, построение телевизионной инфраструктуры,
                    специализированное оборудование, техническая поддержка 24/7/365.

                </div>
                <div class="btn-orange" (click)="scrollToBlock('bottomForm')">
                    подробнее
                </div>
            </div>

            <div class="corporate-row__image">
                <div class="corporate-row__circle">
                    <div class="corporate-row__circle-block" style="background-image: url('assets/images/corp-1.jpg')" alt="Телевидение для бизнеса" role="img">
                    </div>
                </div>
            </div>
        </div>

        <div class="corporate-row corporate-row_mobile-reversed"  id="forCloud">
            <div class="corporate-row__image">
                <div class="corporate-row__circle">
                    <div class="corporate-row__circle-block" style="background-image: url('assets/images/corp-3.jpg')" alt="Облачная медиаплатформа Persik" role="img">
                    </div>
                </div>
            </div>

            <div class="corporate-row__info corporate-row__info_reversed">
                <!-- <div class="corporate-row__info-small-title">
                    What are the questions you ask
                </div> -->
                <div class="corporate-row__info-title">
                    ОБЛАЧНАЯ МЕДИАПЛАТФОРМА <span class="gradient-text">PERSIK</span>
                </div>
                <div class="corporate-row__info-text">
                    Облачная медиаплатформа Рersik – это качественный цифровой видеосигнал, большой выбор телеканалов,
                    широкий набор дополнительных интерактивных сервисов: промоканал Вашего заведения, доступ к
                    спутникам-ретрансляторам, а также к сервису "видео по запросу", возможность организации онлайн
                    трансляций. Легализуем трансляцию контента, а также предоставляем b2b права на интересующий Вас
                    контент.
                </div>
                <div class="btn-white" (click)="scrollToBlock('bottomForm')">
                    подробнее
                </div>
            </div>
        </div>

        <div class="corporate-row" id="forPromo">
            <div class="corporate-row__info">
                <!-- <div class="corporate-row__info-small-title">
                    The Future is for Creatives
                </div> -->
                <div class="corporate-row__info-title">
                    ИНТЕРАКТИВНЫЙ <span class="gradient-text">ПРОМОКАНАЛ </span>
                </div>
                <div class="corporate-row__info-text">
                    Сотрудничество с Рersik дает возможность запустить интерактивный промоканал Вашего заведения по
                    технологии OTT TV с дальнейшим размещением проморолика и других презентационных материалов на
                    медиаплатформе Persik с аудиторией более 200 000 человек. Вам предоставляется онлайн интерфейс для
                    управления и редактирования промоканала.<br>Также оказываем услуги профессиональной съемки и полного
                    цикла производства Вашего видеоконтента.
                </div>
                <div class="btn-orange" (click)="scrollToBlock('bottomForm')">
                    подробнее
                </div>
            </div>

            <div class="corporate-row__image">
                <div class="corporate-row__circle">
                    <div class="corporate-row__circle-block" style="background-image: url('assets/images/corp-4.jpg')" alt="Интерактивный промоканал" role="img">
                    </div>
                </div>
            </div>
        </div>

        <div class="corporate-row corporate-row_mobile-reversed" id="forTech">
            <div class="corporate-row__image">
                <div class="corporate-row__circle">
                    <div class="corporate-row__circle-block" style="background-image: url('assets/images/corp-5.jpg')" alt="Техническое обслуживание" role="img">
                    </div>
                </div>
            </div>

            <div class="corporate-row__info corporate-row__info_reversed">
                <!-- <div class="corporate-row__info-small-title">
                    So how do you do it
                </div> -->
                <div class="corporate-row__info-title">
                    ТЕХНИЧЕСКОЕ <span class="gradient-text">ОБСЛУЖИВАНИЕ</span>
                </div>
                <div class="corporate-row__info-text">
                    Наша команда выполнит техническое обслуживание IP-сетей, кабельных сетей.
                    Занимаемся профессиональным обслуживанием телекоммуникационной инфраструктуры, интеграцией и
                    технической поддержкой таких услуг, как телевидение, видеонаблюдение, Wi-Fi, IP-телефония.<br><br>
                    Оказываем техническое обслуживание в режиме 24/7/365.
                </div>
                <div class="btn-white" (click)="scrollToBlock('bottomForm')">
                    подробнее
                </div>
            </div>
        </div>

        <div class="corporate-row" id="forCCTV">
            <div class="corporate-row__info">
                <!-- <div class="corporate-row__info-small-title">
                    The starts and finishes
                </div> -->
                <div class="corporate-row__info-title">
                    CCTV
                </div>
                <div class="corporate-row__info-text">
                    Облачная система видеонаблюдения от Persik позволит Вам осуществить хранение записанного материала неограниченное количество времени, предоставить возможность просмотра с любого устройства.<br>
                    Наша компания осуществит подбор систем видеонаблюдения и оборудования, монтаж, пусконаладочные работы, обеспечит хранение записанного материала.
                </div>
                <div class="btn-orange" (click)="scrollToBlock('bottomForm')">
                    подробнее
                </div>
            </div>

            <div class="corporate-row__image">
                <div class="corporate-row__circle">
                    <div class="corporate-row__circle-block" style="background-image: url('assets/images/corp-2.jpg')" alt="CCTV" role="img">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- <app-account-poster imageSrc="assets/images/lk-banner-3.jpg"></app-account-poster> -->

    <div class="corporate-bottom-form" id="bottomForm">
        <div class="corporate-bottom-form__title">
            <span class="gradient-text">напишите</span> нам
        </div>


        <form action="" [formGroup]="bottomForm" (submit)="sendBottomForm()">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" [class.form-group_dirty]="name.dirty">
                            <input type="text" id="name" class="form-group__input"
                                [class.has-error]="name.errors && name.touched" formControlName="name">
                            <label for="name" class="form-group__label">
                                Имя
                            </label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group" [class.form-group_dirty]="business.dirty">
                            <input type="text" id="business" class="form-group__input"
                                [class.has-error]="business.errors && business.touched" formControlName="business">
                            <label for="business" class="form-group__label">
                                Ваш бизнес
                            </label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group" [class.form-group_dirty]="email.dirty">
                            <input type="text" id="email" class="form-group__input"
                                [class.has-error]="email.errors && email.dirty" formControlName="email">
                            <label for="email" class="form-group__label form-group__label_required">
                                E-mail
                            </label>
                            <div class="field-error" *ngIf="email.errors && email.dirty">
                                <span *ngIf="email.errors['emailValidator']" class="form-group__error">Неверный
                                    формат</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group" [class.form-group_dirty]="phone.dirty">
                            <input type="text" id="phone" class="form-group__input"
                                [class.has-error]="phone.errors && phone.dirty" formControlName="phone">
                            <label for="phone" class="form-group__label form-group__label_required">
                                Телефон
                            </label>
                            <div class="field-error" *ngIf="phone.errors && phone.dirty">
                                <span *ngIf="phone.errors" class="form-group__error">Неверный
                                    формат</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group" [class.form-group_dirty]="message.dirty">
                            <input type="text" id="message" class="form-group__input"
                                [class.has-error]="message.errors && message.touched" formControlName="message">
                            <label for="message" class="form-group__label">
                                Комментарий
                            </label>
                        </div>
                    </div>

                    <div class="corporate-bottom-form__btn">
                        <button type="submit" class="btn-orange" value="Активировать">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>