.corporate {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 150px;
  background: white;

  &__first {
    background-color: #f9f9f9;
    padding-top: 140px;
    border-bottom: 1px solid #e9e9e9;
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__form {
    position: relative;
    padding-top: 70px;
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-bottom: none;

    &:after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      z-index: 5;
      background-color: #fff;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 2px;
      background-image: linear-gradient(to right, #ffcd78, #abe06a);
      display: block;
    }

    &-title {
      font-size: 24px;
      line-height: 1.46;
      text-align: center;
      font-family: "OpenSans-Bold";
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    &-btn {
      display: flex;
      position: relative;
      z-index: 5;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 60px;
    }
  }

  &__breadcrumbs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-item {
      color: #8c8c8c;
      transition: 0.3s;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #fe6f41;
        transition: 0.3s;
      }
      &:after {
        content: "/";
        display: inline-block;
        padding-right: 5px;
        color: #8c8c8c;
      }
      &:last-child {
        color: #8c8c8c !important;
        &:after {
          display: none;
        }
      }
    }
  }

  &__header {
    position: relative;
    padding-top: 38px;
    width: calc(100% - 500px);
    padding-left: 99px;

    &-title {
      font-size: 44px;
      text-transform: uppercase;
      margin-top: 9px;
      margin-bottom: 16px;
      display: flex;
      width: 100%;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      min-height: 60px;
      font-family: "OpenSans-Bold";
    }

    &-text {
      font-size: 18px;
      line-height: 1.89;
      margin-bottom: 30px;
      color: #8c8c8c;
    }

    &-small-title {
      line-height: 2;
      font-size: 16px;
      font-family: "OpenSans-Bold";
      margin-bottom: 9px;
      text-transform: uppercase;
    }

    &-small-text {
      font-size: 16px;
      line-height: 2;
      color: #8c8c8c;
    }
  }

  &__services {
    position: relative;
    padding-top: 140px;
    margin-bottom: 155px;

    &-title {
      text-align: center;
      font-size: 32px;
      font-family: "OpenSans-Bold";
      text-transform: uppercase;
      margin-bottom: 10px;
      line-height: 1.31;
    }

    &-title-small {
      color: #929292;
      text-align: center;
      line-height: 2;
      max-width: 570px;
      margin: 0 auto 50px auto;
    }

    &-row {
      .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .col-4 {
        padding-left: 0;
        padding-right: 0;
      }
      .row,
      .col-4 {
        display: flex;
        align-items: stretch !important;
        align-content: stretch !important;
      }
    }
  }

  &-row {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;

    &__info {
      width: calc(100% - 500px);
      padding-right: 100px;
      // margin-top: 79px;

      .btn-orange,
      .btn-white {
        padding-left: 0;
        padding-right: 0;
        width: 200px;
        justify-content: center;
        text-align: center;
      }

      &_reversed {
        padding-right: 0;
        padding-left: 100px;
      }

      &-small-title {
        font-size: 18px;
        margin-bottom: 12px;
        line-height: 30px;
        color: #8c8c8c;
      }

      &-title {
        font-size: 32px;
        line-height: 42px;
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
        margin-bottom: 20px;
      }

      &-text {
        font-size: 16px;
        line-height: 32px;
        color: #8c8c8c;
        margin-bottom: 50px;
      }
    }

    &__image {
      position: relative;
      width: 500px;
      height: 500px;

      &-img {
        position: relative;
        max-width: 100%;
        z-index: 10;
      }
    }

    &__circle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 50%;
      background: linear-gradient(to right, #ffcd78, #abe06a);

      &-block {
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .service-item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 65px;
    padding-bottom: 58px;
    border: solid 1px #e9e9e9;
    cursor: pointer;

    &__icon {
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      background-color: #ffffff;
      margin-bottom: 19px;
    }

    &__name {
      width: 100%;
      text-align: center;
      line-height: 24px;
      font-family: "OpenSans-Bold";
      text-transform: uppercase;
    }

    &_white {
      border-left: none;
      border-right: none;
      border-bottom: none;
      background-color: #fff;
      &:after {
        content: "";
        background-color: #e9e9e9;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        display: block;
        height: 1px;
      }
    }

    &_grey {
      border-bottom: none;
      background-color: #f9f9f9;
    }
  }
}

.corporate-bottom-form {
  position: relative;

  &__title {
    text-align: center;
    font-family: "OpenSans-Bold";
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__btn {
    width: 100%;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .btn-orange {
      width: 200px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .corporate-row__image {
    width: 300px;
    height: 300px;
  }
  .corporate-row__info {
    width: calc(100% - 300px);
    margin-top: 0;
  }
  .corporate__header {
    padding-left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .corporate__header-title {
    font-size: 32px;
  }
  .corporate__services {
    margin-bottom: 75px;
    padding-top: 75px;
  }
  .corporate-row {
    margin-bottom: 75px;
  }
  .corporate {
    padding-bottom: 75px;
  }
  .corporate__form {
    width: 100%;
  }
  .corporate__header {
    width: 100%;
    padding-left: 0;
  }
  .corporate__first {
    .container {
      flex-direction: column-reverse;
    }
  }
  .corporate__breadcrumbs {
    justify-content: center;
  }
  .corporate__header-title,
  .corporate__header-small-title {
    text-align: center;
    justify-content: center;
  }
  .corporate__header {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .corporate-row {
    justify-content: center;
  }
  .corporate-row__info {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
    margin-bottom: 40px;

    &-small-title {
      text-align: center;
    }

    &-title {
      text-align: center;
      font-size: 28px;
    }

    .btn-orange,
    .btn-white {
      display: inline-block;
    }
  }
  .corporate-row_mobile-reversed {
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
  }
  .corporate__services-row {
    .col-4 {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .service-item {
    border-left: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
    background-color: #fff !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .corporate__first {
    padding-top: 60px;
  }
  .corporate__header-text,
  .corporate__header-small-text {
    text-align: center;
  }
  .corporate__form {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .corporate__form-btn {
    margin-bottom: 30px;
  }
  .corporate-row__image {
    width: 240px;
    height: 240px;
  }
}
