.promo {
  background-color: #fafafa;
  position: relative;
  padding-bottom: 150px;
  border-bottom: 1px solid #e9e9e9;
}
.promo-banner {
  position: relative;

  &__image {
    width: 100%;

    &_mobile {
      display: none;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 520px;

    &-title {
      width: 100%;
      font-size: 36px;
      font-family: "OpenSans-Bold";
      margin-bottom: 30px;
      line-height: 52px;
    }

    &-text {
      width: 100%;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 65px;

      &_bold {
        font-family: "OpenSans-Bold";
      }
    }

    &-button {
      background-color: #fff;
      display: block;
      cursor: pointer;
      padding: 18px 40px;
      font-size: 16px;
      font-family: "OpenSans-Bold";
      line-height: 1;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.2);
      }
    }
  }
}

.promo__title {
  position: relative;
  text-align: center;
  font-family: "OpenSans-Bold";
  font-size: 32px;
  padding-bottom: 48px;
  padding-top: 80px;
}
.promo-item {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 6px 14px 2px rgba(0, 0, 0, 0.1);

  &__image {
    width: 100%;
  }

  &__content {
    position: relative;
    padding: 82px 28px 28px 28px;
  }

  &__circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 6px 14px 2px rgba(0, 0, 0, 0.1);
    padding-top: 17px;
    text-align: center;

    &-old-price {
      width: 100%;
      font-size: 22px;
      font-family: "OpenSans-Light";
      margin-bottom: 5px;
      text-decoration: line-through;
    }

    &-price {
      font-size: 28px;
      font-family: "OpenSans-Extrabold";
      margin-bottom: 5px;
      width: 100%;
    }

    &-period {
      width: 100%;
      font-size: 13px;
    }
  }

  &__title {
    text-align: center;
    color: #fe7f4a;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    margin-bottom: 25px;
    margin-left: -12px;
    margin-right: -12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__label {
    position: absolute;
    left: 26px;
    top: -20px;
    z-index: 10;
  }

  &__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-bottom: 8px;
    &-icon {
      margin-right: 15px;
      position: relative;
      top: 6px;
    }
    &-text {
      width: calc(100% - 35px);
      font-size: 16px;
      line-height: 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__button {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.3s;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    z-index: 5;
    margin-top: 25px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      filter: blur(15px);
      opacity: 0.5;
      z-index: -1;
      transition: 0.3s;
    }

    &_green {
      background: linear-gradient(to right, #46c352, #399d22);
      &:after {
        background: linear-gradient(to right, #46c352, #399d22);
      }
      &:hover {
        &:after {
          opacity: 0.9;
          transition: 0.3s;
        }
      }
    }

    &_orange {
      background: linear-gradient(to right, #f26b09, #ec961b);
      &:after {
        background: linear-gradient(to right, #f26b09, #ec961b);
      }
      &:hover {
        &:after {
          opacity: 0.9;
          transition: 0.3s;
        }
      }
    }

    &_red {
      background: linear-gradient(to right, #f3312c, #e73927);
      &:after {
        background: linear-gradient(to right, #f3312c, #e73927);
      }
      &:hover {
        &:after {
          opacity: 0.9;
          transition: 0.3s;
        }
      }
    }

    &_purple {
      background: linear-gradient(to right, #c8288e, #bf46c3);
      &:after {
        background: linear-gradient(to right, #c8288e, #bf46c3);
      }
      &:hover {
        &:after {
          opacity: 0.9;
          transition: 0.3s;
        }
      }
    }
  }
}

.promo-bonuses{
    position: relative;

    &__item{
        width: 100%;
    }
}

.promo-footer{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
  z-index: 5;
}

@media screen and (max-width: 1500px) {
  .promo-banner__info-title {
    font-size: 30px;
    line-height: 40px;
  }
  .promo-banner__info-text {
    font-size: 20px;
    margin-bottom: 45px;
    line-height: 28px;
  }
  .promo-banner__info-title{
    max-width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .promo-banner__info-title{
    max-width: 400px;
  }
  .promo-banner__info-title {
    font-size: 26px;
    line-height: 32px;
  }
  .promo-banner__info-text {
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 22px;
  }
  .promo-banner__info-button {
    padding: 12px 28px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .promo-banner__image_desctop {
    display: none;
  }
  .promo-banner {
    background-position: center center;
    background-size: cover;
    background-image: url("../../../../assets/images/promo/promo-header-bg.png");
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .promo-banner__info {
    position: relative;
    width: 80%;
    left: 10%;
  }

  .promo-banner__info-title{
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .promo-item{
      margin-bottom: 50px;
  }
  .promo {
    padding-top: 51px;
  }
}

@media screen and (max-width: 767px){
    .promo-bonuses{
        display: none;
    }
    .promo__title{
        font-size: 26px;
        padding: 48px 0;
    }
    .promo{
        padding-bottom: 0;
    }
}
