<div class="promo">
    <div class="promo-banner">
        <img src="assets/images/promo/promo-header.png" alt="" class="promo-banner__image promo-banner__image_desctop">
        <div class="promo-banner__info">
            <div class="promo-banner__info-title">
                25% скидка на годовые тарифы!
            </div>
            <div class="promo-banner__info-text">
                И уже через 5 минут на твоих устройствах:<br><span class="promo-banner__info-text_bold">350+</span>
                каналов и <span class="promo-banner__info-text_bold">10 000+</span> видео в <span
                    class="promo-banner__info-text_bold">HD</span>-качестве
            </div>
            <div class="promo-banner__info-button" (click)="scrollToGrid()">
                ВЫБРАТЬ
            </div>
        </div>
    </div>

    <div class="promo-grid">
        <div class="container">
            <div class="promo__title">
                С НАМИ ВЫГОДНО
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="promo-item" title="Подписка ТВ">
                        <img src="assets/images/promo/green.png" alt="" class="promo-item__label">
                        <img src="assets/images/promo/item-1.png" alt="" class="promo-item__image">

                        <div class="promo-item__content">
                            <div class="promo-item__circle">
                                <div class="promo-item__circle-old-price">
                                    49.90
                                </div>
                                <div class="promo-item__circle-price">
                                    36.90
                                </div>
                                <div class="promo-item__circle-period">
                                    руб./год
                                </div>
                            </div>
                            <div class="promo-item__title">
                                ПОДПИСКА ТВ
                            </div>

                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    100+ каналов
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Full HD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    UHD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Видеотека Persik
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино tvzavr
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино START
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Архив 24 дня
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Мультирум
                                </div>
                            </div>

                            <div class="promo-item__button promo-item__button_green" (click)="goToPay(226)">
                                выбрать
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="promo-item" title="Все включено ТВ">
                        <img src="assets/images/promo/orange.png" alt="" class="promo-item__label">
                        <img src="assets/images/promo/item-2.png" alt="" class="promo-item__image">

                        <div class="promo-item__content">
                            <div class="promo-item__circle">
                                <div class="promo-item__circle-old-price">
                                    69.90
                                </div>
                                <div class="promo-item__circle-price">
                                    52.00
                                </div>
                                <div class="promo-item__circle-period">
                                    руб./год
                                </div>
                            </div>
                            <div class="promo-item__title">
                                ВСЕ ВКЛЮЧЕНО ТВ
                            </div>

                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    100+ каналов
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Full HD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    UHD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Видеотека Persik
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино tvzavr
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино START
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Архив 24 дня
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Мультирум
                                </div>
                            </div>

                            <div class="promo-item__button promo-item__button_orange" (click)="goToPay(197)">
                                выбрать
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="promo-item" title="Все включено ТВ+КИНО">
                        <img src="assets/images/promo/red.png" alt="" class="promo-item__label">
                        <img src="assets/images/promo/item-3.png" alt="" class="promo-item__image">

                        <div class="promo-item__content">
                            <div class="promo-item__circle">
                                <div class="promo-item__circle-old-price">
                                    99.90
                                </div>
                                <div class="promo-item__circle-price">
                                    74.90
                                </div>
                                <div class="promo-item__circle-period">
                                    руб./год
                                </div>
                            </div>
                            <div class="promo-item__title">
                                ВСЕ ВКЛЮЧЕНО ТВ + КИНО
                            </div>

                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    100+ каналов
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Full HD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    UHD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Видеотека Persik
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино tvzavr
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-bad.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино START
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Архив 24 дня
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Мультирум
                                </div>
                            </div>

                            <div class="promo-item__button promo-item__button_red" (click)="goToPay(181)">
                                выбрать
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="promo-item" title="Премиум">
                        <img src="assets/images/promo/violet.png" alt="" class="promo-item__label">
                        <img src="assets/images/promo/item-4.png" alt="" class="promo-item__image">

                        <div class="promo-item__content">
                            <div class="promo-item__circle">
                                <div class="promo-item__circle-old-price">
                                    129.90
                                </div>
                                <div class="promo-item__circle-price">
                                    99.90
                                </div>
                                <div class="promo-item__circle-period">
                                    руб./год
                                </div>
                            </div>
                            <div class="promo-item__title">
                                ПРЕМИУМ
                            </div>

                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    100+ каналов
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Full HD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    UHD качество
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Видеотека Persik
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино tvzavr
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Кино START
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Архив 24 дня
                                </div>
                            </div>
                            <div class="promo-item__line">
                                <img src="assets/images/icons/tarif-good.svg" alt="" class="promo-item__line-icon">
                                <div class="promo-item__line-text">
                                    Мультирум
                                </div>
                            </div>

                            <div class="promo-item__button promo-item__button_purple" (click)="goToPay(213)">
                                выбрать
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="promo-bonuses">
        <div class="container">
            <div class="promo__title">
                НАШИ ПРЕИМУЩЕСТВА
            </div>

            <img src="assets/images/promo/bonus-1.png" alt="" class="promo-bonuses__item">
            <img src="assets/images/promo/bonus-2.png" alt="" class="promo-bonuses__item">
            <img src="assets/images/promo/bonus-3.png" alt="" class="promo-bonuses__item">
            <img src="assets/images/promo/bonus-4.png" alt="" class="promo-bonuses__item">
            <img src="assets/images/promo/bonus-5.png" alt="" class="promo-bonuses__item">
            <img src="assets/images/promo/bonus-6.png" alt="" class="promo-bonuses__item">
        </div>

    </div>

    <div class="promo-footer">
        <div class="btn-orange" (click)="scrollToGrid()">
            Выбрать тариф
        </div>
    </div>
</div>
