<div class="films">

  <img [src]="bannerUrl" class="banner" alt="" *ngIf="bannerUrl">

  <h1 class="films__title">
    Аудиокниги <span class="orange-text">онлайн</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      Аудиокниги
    </div>
    <div class="films__breadcrumbs-item">
      {{ activeCategory?.name }}
    </div>
  </div>

  <div class="tapes">
    <div class="films__filter" *ngIf="isHaveGenres">
      <app-genre-filter class="filter" [genres]="bookGenres | bookGenrePipe"
        [active]="activeCategory | toGenreConverterPipe" (genreChange)="onCategoryChange($event)">
      </app-genre-filter>
    </div>

    <div class="row">
      <div class="card-col-four" *ngFor="let book of books">
        <app-audiobook-card [book]="book"></app-audiobook-card>
      </div>
    </div>
  </div>

  <div *ngIf="isBrowser" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
  </div>

</div>