<div class="favorites">

  <div class="tapes">
    <div *ngIf="isHaveBoughtBooks">
      <div class="favorites__title">Мои книги</div>
      <app-content-slider [type]="'book'" [content]="boughtBooks"></app-content-slider>
    </div>

    <div *ngIf="isHaveFavoriteBooks">
      <div class="favorites__title">Избранные книги</div>
      <app-content-slider [type]="'book'" [content]="favoriteBooks"></app-content-slider>
    </div>

    <div *ngIf="channels && channels.length > 0">
      <div class="favorites__title">Каналы</div>
      <app-content-slider [type]="'channel'" [content]="channels"></app-content-slider>
    </div>

    <div *ngIf="videos && videos.length > 0">
      <div class="favorites__title">Фильмы</div>
      <app-content-slider [type]="'video'" [content]="videos"></app-content-slider>
    </div>

    <div *ngIf="tvshows && tvshows.length > 0">
      <div class="favorites__title">Передачи</div>
      <app-content-slider [type]="'tv'" [content]="tvshows"></app-content-slider>
    </div>
  </div>


</div>