.favorites {
	background-color: #1b1b1b;
	padding-top: 140px;
	padding-bottom: 140px;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.tapes {
		max-width: 1280px;
		width: 100%;
	}

	&__title {
		color: #fff;
		font-size: 24px;
		margin-bottom: 23px;
		text-align: center;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 992px) {
	.favorites {
		padding-top: 100px;
	}
}
