.main-banner {
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  padding-top: 58px;
  z-index: 2;
  &__img {
    position: relative;
    top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      max-width: 370px;
      box-shadow: 0px 0px 20px 2px rgba(74, 74, 74, 0.25);
    }
  }
  &__price {
    font-size: 30px;
    background: linear-gradient(to left, #fe6f41, #ffcd78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
    padding-bottom: 12px;
    font-family: OpenSans-Bold;
    display: inline-block;
  }
  &__title {
    color: #232323;
    font-size: 44px;
    font-family: OpenSans-Bold;
    padding-bottom: 21px;
    text-transform: uppercase;
  }
  &__actors {
    color: #8c8c8c;
    font-size: 18px;
    margin-bottom: 55px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    &_item {
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

.main-about {
  position: relative;
  background: white;

  &__img {
    padding-top: 150px;
    text-align: right;
    img {
      max-width: 90%;
      display: inline-block;
      vertical-align: top;
    }
  }
  &__pre-title {
    padding-top: 190px;
    color: #8c8c8c;
    font-size: 18px;
    margin-bottom: 12px;
  }
  &__title {
    color: #232323;
    font-size: 32px;
    font-family: OpenSans-Bold;
    margin-bottom: 21px;
    text-transform: uppercase;
    line-height: 1.31;
    padding-right: 35px;
  }
  &__text {
    color: #8c8c8c;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 50px;
  }
  &__btns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 215px;
    &_item {
      margin-right: 30px;
    }
    &_text {
      text-transform: uppercase;
      font-size: 16px;
      color: #232323;
      font-family: OpenSans-Bold;
    }
  }
}

.main-devices {
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;

  &__item {
    position: relative;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 90px;
    text-align: center;
    background-color: #f9f9f9;
    &_icon {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 1px 15px 0 rgba(35, 35, 35, 0.1);
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
    }
    &_title {
      color: #232323;
      font-size: 24px;
      text-transform: uppercase;
      font-family: OpenSans-Bold;
      margin-bottom: 12px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
    &_text {
      padding: 0 80px;
      color: #929292;
      line-height: 2;
      font-size: 16px;
    }
  }
  .row {
    .col-4 {
      &:nth-child(2) {
        .main-devices__item {
          // background-color: #f9f9f9;
          background-color: #fff;
          border-left: 1px solid #e9e9e9;
          border-right: 1px solid #e9e9e9;
        }
      }
    }
  }
}

.main-about-second {
  position: relative;
  background: white;

  &__img {
    padding-top: 110px;
    text-align: left;
    img {
      max-width: 75%;
      display: inline-block;
      vertical-align: top;
    }
  }
  &__pre-title {
    padding-top: 190px;
    color: #8c8c8c;
    font-size: 18px;
    margin-bottom: 12px;
  }
  &__title {
    color: #232323;
    font-size: 32px;
    font-family: OpenSans-Bold;
    margin-bottom: 21px;
    text-transform: uppercase;
    line-height: 1.31;
    padding-right: 35px;
  }
  &__text {
    color: #8c8c8c;
    line-height: 2;
    font-size: 16px;
    margin-bottom: 190px;
  }
}

.main-archive {
  position: relative;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  padding-bottom: 50px;

  .container {
    max-width: 100%;
    padding-left: 80px;
    padding-right: 80px;
  }

  .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__title {
    padding-top: 140px;
    padding-bottom: 26px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #232323;
    font-family: OpenSans-Bold;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 43px;
    cursor: pointer;
    &_item {
      position: relative;
      font-size: 16px;
      color: #929292;
      transition: 0.3s;
      margin: 0 16px;
      padding-bottom: 10px;
      &:after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 2px;
        background: linear-gradient(to left, #9ed061, #abe06a);
        opacity: 0;
        transition: 0.3s;
      }
      &:hover {
        transition: 0.3s;
        color: #232323;
      }
      &--active {
        &:after {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }
  &__content {
    overflow-x: hidden;
    margin-bottom: 85px;

    .slick-slide {
      margin-left: 15px;
      margin-right: 15px;
    }

    &-item {
      margin-left: 15%;
      margin-right: 15px;
    }
  }
  &__row {
    margin: 0 -15px;
  }
  &__item {
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-bottom: 85px;
    &_wrapper {
      width: 20%;
      padding: 0 15px;
    }
    &_img {
      cursor: pointer;
      img {
        max-width: 100%;
        display: inline-block;
        vertical-align: top;
      }
    }
    &_content {
      border: 1px solid #e9e9e9;
      border-top: none;
    }
    &_title {
      color: #232323;
      font-family: OpenSans-Bold;
      color: #232323;
      text-transform: uppercase;
      padding: 25px 15px 5px 15px;
    }
    &_genre {
      font-size: 14px;
      color: #929292;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 29px;
    }
  }
  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    z-index: 2;
  }
}

.main-about {
  background: white;

  .container {
    position: relative;
    z-index: 1;
  }
  .dot1 {
    width: 15px;
    height: 15px;
    left: 36%;
    top: 7%;
  }
  .dot2 {
    width: 10px;
    height: 10px;
    left: 8%;
    top: 50%;
  }
  .dot3 {
    width: 20px;
    height: 20px;
    left: 40%;
    bottom: 12%;
  }
}

.main-about-second {
  .container {
    position: relative;
    z-index: 1;
  }
  .dot1 {
    width: 15px;
    height: 15px;
    right: 12%;
    top: 16%;
  }
  .dot2 {
    width: 10px;
    height: 10px;
    right: 27%;
    bottom: 8%;
  }
}

@media screen and (max-width: 1300px) {
  .main-about-second__btns_item {
    margin-bottom: 20px;
  }
  .main-banner {
    padding-top: 0;
    &__title {
      font-size: 32px;
    }
    &__img {
      text-align: center;
      top: 20px;

      img {
        max-width: 300px;
      }
    }
    &__actors {
      font-size: 16px;
    }
    &__price {
      font-size: 24px;
    }
  }
  .main-about__btns_item {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .main-about-second__pre-title {
    padding-top: 130px;
    font-size: 20px;
  }
  .main-about-second__title {
    font-size: 26px;
  }
  .main-about-second__text {
    margin-bottom: 120px;
  }
  .main-devices__item_text {
    padding: 0 30px;
  }
  .main-about__pre-title {
    padding-top: 100px;
    font-size: 20px;
  }
  .main-about__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .main-devices {
    margin-top: 60px;
  }
  .row {
    .col-4 {
      &:nth-child(2) {
        .main-devices__item {
          background-color: #fff;
          border-left: none;
          border-right: none;
        }
      }
      &:nth-child(3) {
        .main-devices__item {
          border-top: 1px solid #e9e9e9;
        }
      }
    }
  }
  .main-about-second__pre-title {
    padding-top: 60px;
    font-size: 20px;
  }
  .main-about-second__title {
    font-size: 26px;
  }
  .main-about-second {
    text-align: center;
  }
  .main-about-second__btns {
    justify-content: center;
    margin-bottom: 0;
    &_item {
      margin-bottom: 0;
    }
  }
  .main-about-second__img {
    text-align: center;
    padding-top: 40px;
  }
  .main-about-second__text {
    margin-bottom: 30px;
  }
  .main-archive__row {
    justify-content: center;
  }
  .main-archive__item_wrapper {
    width: 33.3333334%;
  }
  .main-archive__item {
    margin-bottom: 30px;
  }
  .main-archive__btn {
    position: relative;
    left: initial;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: none;
    bottom: 0;
  }
  .main-banner {
    padding-top: 0;
    &__title {
      font-size: 26px;
    }
    &__img {
      margin-bottom: 30px;
      top: 0;
      img {
        max-width: 260px;
      }
    }
    &__actors {
      font-size: 14px;
      margin-bottom: 30px;
    }
    &__price {
      font-size: 22px;
      padding-top: 35px;
    }
    &__buttons {
      flex-direction: column;
      &_item {
        margin-bottom: 15px;
      }
    }
  }
  .main-about__pre-title {
    padding-top: 60px;
    font-size: 20px;
  }
  .main-about__title {
    font-size: 26px;
  }
  .main-about {
    text-align: center;
    margin-bottom: 100px;
  }
  .main-about__btns {
    justify-content: center;
    margin-bottom: 0;
    &_item {
      margin-bottom: 0;
    }
  }
  .main-about__img {
    padding-top: 40px;
  }
  .main-archive__title {
    padding-top: 40px;
  }
  .main-archive__content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .main-about-second__title {
    padding-right: 0;
    font-size: 20px;
  }
  .main-devices {
    margin-top: 60px;
    border-top: none;
    &__item {
      border-top: 1px solid #e9e9e9 !important;
      padding-top: 50px;
      min-height: 0;
      padding-bottom: 30px;
      &_title {
        font-size: 20px;
      }
      &_text {
        padding: 0 15px;
        font-size: 14px;
        margin-bottom: 30px;
      }
    }
  }
  .main-archive__item_title {
    padding-top: 15px;
    font-size: 14px;
  }
  .main-archive__item_genre {
    padding-bottom: 15px;
    font-size: 14px;
  }
  .main-archive__item_wrapper {
    width: 50%;
    padding: 0 6px;
  }
  .main-archive__row {
    margin: 0 -6px;
  }
  .main-archive__item {
    margin-bottom: 12px;
  }
  .main-archive__title {
    font-size: 22px;
    padding-top: 40px;
  }
  .main-archive__links {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .main-archive__links_item {
    font-size: 14px;
    margin: 0 5px;
  }
  .main-archive__btn {
    margin-top: 18px;
  }
  .main-about__pre-title {
    padding-top: 40px;
    font-size: 16px;
  }
  .main-about__title {
    padding-right: 0;
    font-size: 22px;
  }
  .main-about__btns {
    justify-content: center;
    margin-bottom: 0;
    flex-direction: column;
    &_item {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  .main-about__img {
    img {
      max-width: 100%;
    }
  }
  .main-banner {
    text-align: center;
  }
  .main-banner__img {
    margin-top: 30px;
    margin-bottom: 0;
    img {
      max-width: 100%;
    }
  }
  .main-banner__buttons {
    align-items: center;
    margin-bottom: 15px;
  }
  .main-banner__buttons_item {
    margin-right: 0 !important;
  }
  .main-about__img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0;
  }
  .main-about__img img {
    max-width: 70%;
  }
  .main-archive .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main-archive {
    margin-bottom: 0;
  }
}
