<app-videobanner-slider *ngIf="isBrowser"></app-videobanner-slider>

<app-main-channel-card (click)="goTo('private/tv-tarify')" (showBtn)=true></app-main-channel-card>

<div class="main-about">
	<div class="green-dot dot1"></div>
	<div class="green-dot dot2"></div>
	<div class="green-dot dot3"></div>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<div class="main-about__pre-title">
					Смотри и пересматривай
				</div>
				<div class="main-about__title">
					Архив передач 24 дня
				</div>
				<div class="main-about__text">
					В течение <b>24 дня</b> Вы можете смотреть все свои любимые фильмы, передачи, сериалы, мультфильмы в
					след за эфиром.
				</div>
				<div class="main-about__btns" *ngIf="!isLogin">
					<span (click)="try()" id="try_btn" class="main-about__btns_item btn-orange">
						попробовать
					</span>
					<div class="main-about__btns_text">
						90 дней за 30 копеек
					</div>
				</div>
				<div class="main-about__btns" *ngIf="isLogin && isHaveSubscription">
					<span (click)="showOnline()" class="main-about__btns_item btn-orange">
						смотреть
					</span>
				</div>
				<div class="main-about__btns" *ngIf="isLogin && !isHaveSubscription">
					<span (click)="openTariffs()" id="try_btn" class="main-about__btns_item btn-orange">
						попробовать
					</span>
				</div>
			</div>
			<div class="col-6">
				<div class="main-about__img">
					<img src="assets/images/main-about.png" alt="Архив передач 24 дня">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-devices">
	<div class="row">
		<div class="col-4">
			<div class="main-devices__item" (click)="goTo('private/devices', 'smart')">
				<div class="main-devices__item_icon">
					<img src="assets/images/icons/tv-icon.svg" alt="Смотрите на телевизорах">
				</div>
				<div class="main-devices__item_title">
					телевизоры и медиаплееры
				</div>
				<div class="main-devices__item_text">
					Смотрите на телевизорах с функцией Smart при помощи специального приложения Persik.
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="main-devices__item" (click)="goTo('private/devices', 'laptop')">
				<div class="main-devices__item_icon">
					<img src="assets/images/icons/laptop-icon.svg" alt="Смотрите на компьютерах и ноутбуках">
				</div>
				<div class="main-devices__item_title">
					компьютеры и ноутбуки
				</div>
				<div class="main-devices__item_text">
					Для тех, кто предпочитает смотреть ТВ с экрана монитора настольного компьютера или ноутбука.
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="main-devices__item" (click)="goTo('private/devices', 'mobile')">
				<div class="main-devices__item_icon">
					<img src="assets/images/icons/mobile-icon.svg" alt="Смотрите на мобальных телефонах и планшетах">
				</div>
				<div class="main-devices__item_title">
					Мобильные телефоны и Планшеты
				</div>
				<div class="main-devices__item_text">
					Ваши любимые фильмы и передачи всегда с Вами!
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-about-second">
	<div class="green-dot dot1"></div>
	<div class="green-dot dot2"></div>
	<div class="container">
		<div class="row">

			<div class="col-6">
				<div class="main-about-second__img">
					<img src="assets/images/main-about-2.png" alt="Смотрите на 5 устройствах одновременно">
				</div>
			</div>

			<div class="col-6">
				<div class="main-about-second__pre-title">
					Функция "Мультирум"
				</div>
				<div class="main-about-second__title">
					смотрите ТВ на <span class="gradient-text">5 устройствах</span> одновременно
				</div>
				<div class="main-about-second__text">
					Функция «Мультирум» позволяет одновременно пользоваться сервисом на 5-ти разных устройствах
					(телевизор, компьютер, планшет, телефон). <span class="hidden-mobile">Например, на кухне Вы смотрите
						на нашем приложении ТНТ, в комнате кто-то другой – матч по Setanta, в детской по тому же
						аккаунту – детские каналы, а в другом городе ваш друг может смотреть ОНТ.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="main-archive">
	<div class="container">
		<div class="main-archive__title">
			<span class="gradient-text">+10000</span>
			видео
		</div>
		<div class="main-archive__links">
			<div class="main-archive__links_item" *ngIf="isHaveFilms" (click)="activateSection('films')"
				[class.main-archive__links_item--active]="isFilms">
				Фильмы
			</div>
			<div class="main-archive__links_item" *ngIf="isHaveSeries" (click)="activateSection('serialy')"
				[class.main-archive__links_item--active]="isSeries">
				Сериалы
			</div>
			<div class="main-archive__links_item" *ngIf="isHaveCartoons" (click)="activateSection('multfilmy')"
				[class.main-archive__links_item--active]="isCartoons">
				Мультфильмы
			</div>
			<div class="main-archive__links_item" *ngIf="isHaveTvshows" (click)="activateSection('peredachi')"
				[class.main-archive__links_item--active]="isTvshows">
				Передачи
			</div>
		</div>
	</div>
	<div class="main-archive__content" *ngIf="isBrowser">

		<div class="container" *ngIf="isFilms && this.isHaveFilms">
			<app-content-slider category="films" type="video" [slidesToShow]="slidesToShow"
				[content]="STARTFilms.videos"></app-content-slider>
		</div>

		<div class="container" *ngIf="isSeries && isHaveSeries">
			<app-content-slider category="serialy" type="video" [slidesToShow]="slidesToShow"
				[content]="STARTSeries.videos"></app-content-slider>
		</div>

		<div class="container" *ngIf="isCartoons && isHaveCartoons">
			<app-content-slider category="multfilmy" type="video" [slidesToShow]="slidesToShow"
				[content]="STARTCartoons.videos"></app-content-slider>
		</div>

		<div class="container" *ngIf="isTvshows && isHaveTvshows">
			<app-content-slider category="peredachi" type="tv" [slidesToShow]="slidesToShow" [content]="tvshows.videos">
			</app-content-slider>
		</div>

	</div>

	<a routerLink="/private/tv-tarify" class="main-archive__btn btn-orange">
		попробовать
	</a>
</div>