<div class="audiobook-card" (click)="openDescription()">
  <div class="audiobook-card__img" [class.audiobook-card__img_big]="isBigPoster" [class.audiobook-card__img_small]="!isBigPoster" *ngIf="!isBrowser"></div>
  <div class="audiobook-card__img" [class.audiobook-card__img_big]="isBigPoster" [class.audiobook-card__img_small]="!isBigPoster" style.backgroundImage="url({{ cover }})" *ngIf="isBrowser" role="img" [attr.alt]="book?.title">
    <div class="audiobook-card__play">
      <img src="assets/images/icons/play-icon.svg" alt="">
    </div>
  </div>
  <div class="audiobook-card__name">
    {{ book?.title }}
  </div>
</div>



