:host {
  width: 100%;
}

.audiobook-card {
  background-color: #232323;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;

  &__img {
    position: relative;
    margin-bottom: 21px;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    display: block;

    &_small {
      &:after{
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }

    &_big {
      &:after{
        content: '';
        display: block;
        padding-bottom: 138%;
      }
    }



    &-img{
      width: 100%;
      display: inline-block;
      vertical-align: top;
      min-height: 100px;
    }
  }

  &__time{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 6px 10px;
  }

  &__play{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;

    img{
      width: 100%;
    }
  }

  &__name{
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
    padding: 0 15px;
    white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 15px;
  }
  &__genre{
    color: #e05f20;
    font-size: 1rem;
    padding: 0 15px 23px 15px;
    text-align: center;
    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
    transition: .3s;

  }
  &:hover{
    background-color: #e05f20;
    transition: .3s;
    .audiobook-card__genre{
      color: #fff;
      transition: .3s;
    }
    .audiobook-card__play{
      opacity: 1;
      transition: .3s;
    }
  }
}

