  .slider-item {
    position: relative;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    display: block;
    cursor: pointer;
    transition: .3s;

    &:hover{
      background-color: #f9f9f9;
      transition: .3s;
    }

    &:before{
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &__content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      max-width: 50%;
      text-align: center;
      font-weight: bold;
      color: gray;
    }


    &__image{
      width: 100%;
      padding-bottom: 15px;

      &_small{
        max-width: 25%;
      }
    }



    &_active{
      .howto__slider-item-content{
        background-color: #f9f9f9;
        transition: .3s;
      }
    }
  }
