<div class="slider-item" (click)="setPlatform(item)">

  <div class="slider-item__content">
    <img [src]="item.image" alt="" class="slider-item__image">
    <span *ngIf="item.version" class="slider-item__text">{{ item.version }}</span>
  </div>

</div>
