<div class="manage-tv">
	<app-account-poster></app-account-poster>
	<div class="green-dot dot1"></div>
	<div class="green-dot dot2"></div>
	<div class="green-dot dot3"></div>
	<div class="manage-tv__container">

		<div class="container">
			<app-free-progress></app-free-progress>
		</div>

		<h3 class="manage-tv__title">
			управление тв
		</h3>
		<div class="manage-tv__row">
			<div class="col-6">
				<div class="manage-tv__item">
					<div class="manage-tv__item-title">
						<img src="assets/images/icons/18plus.png" alt="" class="manage-tv__item-img">
						<span class="gradient-text">
							родительский
						</span>
						контроль
					</div>
					<div class="manage-tv__item-text">
						По умолчанию пин-код родительского контроля на ТВ установлен
						в значение <span class="manage-tv__item-text_bold">0 0 0 0</span>.<br>
						Вы можете сменить его в настройках ТВ-приложения
					</div>
					<div class="manage-tv__item-text_bold">
						Пункт меню “Настройки” > “Родительский контроль”,
					</div>
					<div class="manage-tv__item-text">
						А так же на сайте, в личном кабинете
					</div>
					<div class="manage-tv__item-text_bold">
						Пункт меню “Профиль” > “Пароль родительского контроля” > “Сохранить”
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="manage-tv__item">
					<div class="manage-tv__item-title">
						<img src="assets/images/icons/shape.png" alt="" class="manage-tv__item-img">
						<span class="gradient-text">
							плейлист
						</span>
						для тв
					</div>
					<div class="manage-tv__item-text">
						Для того, чтобы посмотреть ТВ на сторонних устройствах, воспользуйтесь плейлистом для ТВ.
					</div>
					<div class="manage-tv__link">
						<div class="manage-tv__link-value">
							{{ playlist_url }}
						</div>
						<img src="assets/images/icons/refresh.png" (click)="generateUrl()" alt="" title="Сгенерировать"
							class="manage-tv__link-refresh">
					</div>
				</div>
			</div>

			<!-- <div class="col-6">
				<div class="manage-tv__item">
					<div class="manage-tv__item-title">
						<img src="assets/images/icons/shape1.png" alt="" class="manage-tv__item-img">
						улучшить
						<span class="gradient-text">
							качество
						</span>
						трансляции
					</div>
					<div class="manage-tv__item-text">
						Для того, чтобы изменить качество трансляции, выберите подходящую настройку
					</div>
					<ng-select [items]="simpleItem"
					           bindLabel="name"
					           bindValue="id"
					           search="false"
					           [(ngModel)]="selectedPersonId2">
					</ng-select>
				</div>
			</div> -->
		</div>
	</div>
</div>