.manage-tv {
  position: relative;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #e9e9e9;
  background: white;

  .newinfo {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    line-height: 1.89;
    padding-top: 100px;
    color: black;
    font-weight: bold;
  }

  .dot1 {
    width: 15px;
    height: 15px;
    left: 19%;
    top: 310px;
  }
  .dot2 {
    width: 10px;
    height: 10px;
    right: 13%;
    top: 51%;
  }
  .dot3 {
    width: 20px;
    height: 20px;
    left: 8%;
    top: 72%;
  }
  &__title {
    text-align: center;
    margin: 0;
    font-size: 32px;
    color: #232323;
    text-transform: uppercase;
    color: #232323;
    font-family: OpenSans-Bold;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
  }

  &__container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    padding-top: 100px;
  }

  &__row {
    position: relative;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .col-6 {
      padding: 0 15px;
    }
  }

  &__item {
    margin-bottom: 70px;
    &-title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 24px;
      font-family: OpenSans-Bold;
      color: #232323;
      margin-bottom: 22px;
      .gradient-text {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    &-img {
      width: 32px;
      margin-right: 13px;
    }
    &-text {
      color: #8c8c8c;
      line-height: 32px;
      margin-bottom: 19px;
      max-width: 500px;
      &_bold {
        font-family: OpenSans-Bold;
        color: #232323;
      }
    }
  }

  &__link {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    &-refresh {
      width: 23px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 5;
    }
    &-value {
      font-size: 18px;
      padding-bottom: 20px;
      color: #232323;
      z-index: 2;
      position: relative;
    }
  }
}

@media screen and (max-width: 992px) {
  .manage-tv__item-text {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .manage-tv__container {
    padding-top: 60px;
  }
  .manage-tv__item-title {
    line-height: 32px;
  }
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .manage-tv {
    padding-bottom: 40px;
  }
  .manage-tv__title {
    font-size: 30px;
  }
  .manage-tv__item-title {
    font-size: 20px;
  }
}
