.films__title{
    margin-bottom: 40px;
}
.small-title{
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 22px;
    text-align: center;
}
.block-title{
    text-align: center;
    font-family: "OpenSans-Bold";
    margin-bottom: 40px;
    font-size: 22px;
}

.speed-test{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin-bottom: 70px;

    &__loading {
      width: 140px;
      height: 140px;
      top: -18px;
      background-color: transparent;
      border: 6px solid orange;
      border-left: 6px solid lightgray;
      border-right: 6px solid lightgray;
      border-radius: 50%;
      position: absolute;
      animation-name: loadAnimation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__item{
        position: relative;
        text-align: center;
        width: 400px;

        &-title{
            color: #8c8c8c;
            font-size: 18px;
            margin-bottom: 20px;
        }

        &-value{
            font-size: 36px;
            margin-bottom: 20px;
        }

        &-mb{
            color: #8c8c8c;
            font-size: 14px;
        }
    }

    &:last-child{
        border-bottom: none;
    }
}

@keyframes loadAnimation {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

