<div class="text-page">
    <div class="container">
        <div class="films__title">
            <span class="gradient-text">
                проверка
            </span>
            скорости
        </div>
        <div class="small-title">
            Проверьте скорость Вашего подключения к нашим серверам вещания.<br>Для комфортного просмотра минимальная скорость загрузки должна быть не менее 3 Мбит/с
        </div>

        <div class="block-title">
            <span class="gradient-text">
                Телевидение
            </span>
        </div>
        <button class="block-btn" [disabled]="isLoadingTV" (click)="startTVTest()">
            начать проверку
        </button>

        <div class="speed-test">
            <div class="speed-test__item">
                <div class="speed-test__item-title">
                    Скорость
                </div>
                <div class="speed-test__item-value">
                    {{ speed.tv_speed }}
                </div>
                <div class="speed-test__item-mb">
                  Мбит/с
                </div>
            </div>

            <div class="speed-test__loading" *ngIf="isLoadingTV"></div>
        </div>

        <div class="block-title">
            <span class="gradient-text">
                Архив
            </span>
        </div>
        <button class="block-btn" [disabled]="isLoadingArchive" (click)="startArchiveTest()">
            начать проверку
        </button>

        <div class="speed-test">
            <div class="speed-test__item">
                <div class="speed-test__item-title">
                  Скорость
                </div>
                <div class="speed-test__item-value">
                  {{ speed.arch_speed }}
                </div>
                <div class="speed-test__item-mb">
                  Мбит/с
                </div>
            </div>

            <div class="speed-test__loading" *ngIf="isLoadingArchive"></div>
        </div>


    </div>
</div>
