<div class="publish-page">
  <div class="publish-page__banner">
    <img class="publish-page__banner-image" src="assets/images/publish-banner-1.jpg" alt="Приглашаем авторов онлайн-курсов к сотрудничеству">
    <div class="publish-page__banner-wrapper">
      <h1 class="publish-page__banner-wrapper-title">
        Приглашаем авторов онлайн-курсов<br>к сотрудничеству
      </h1>
    </div>
  </div>

    <div class="container">
        <div class="publish-page__gradient-title">
            <div class="gradient-text">
                если вы:
            </div>
        </div>

        <div class="publish-page__grid">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/icon-school.svg" alt="">
                        </div>

                        <div class="contacts__item-title">
                            представитель школы<br>онлайн-обучения
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/icon-teacher.svg" alt="">
                        </div>

                        <div class="contacts__item-title">
                            преподаватель/<br>коуч
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="contacts__item">
                        <div class="contacts__item-logo">
                            <img src="assets/images/icons/icon-professional.svg" alt="">
                        </div>

                        <div class="contacts__item-title">
                            профессионал/<br>специалист
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="publish-page__small-title">
            со своим готовым авторским видеокурсом -<br>
            <div class="gradient-text">
                persik ждёт вас!
            </div>
        </div>
    </div>

    <form novalidate [formGroup]="userForm" class="publish-page__form">
      <div class="container">
          <div class="publish-page__form-title">
              пишите
          </div>
          <div class="row">
              <div class="col-lg-4 col-sm-6">
                  <div class="form-group" [class.form-group_dirty]="name.value">
                      <input formControlName="name" type="text" id="name" class="form-group__input">
                      <label for="name" class="form-group__label">Имя</label>
                      <div class="field-error" *ngIf="name.errors && (name.dirty || name.touched)">
                        <span *ngIf="name.errors['required']" class="form-group__error">Введите Ваше имя</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <div class="form-group" [class.form-group_dirty]="email.value">
                      <input formControlName="email" type="text" id="email" class="form-group__input">
                      <label for="email" class="form-group__label">Email</label>
                      <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
                        <span *ngIf="email.errors['emailValidator'] && !email.errors.required" class="form-group__error">Неверный формат</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <div class="form-group" [class.form-group_dirty]="phone.value">
                      <input formControlName="phone" type="text" id="phone" class="form-group__input">
                      <label for="phone" class="form-group__label">Телефон</label>
                      <div class="field-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                        <span *ngIf="phone.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
                        <span *ngIf="phone.errors['pattern'] && !phone.errors.required" class="form-group__error">Неверный формат</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 col-sm-12 col-12">
                  <div class="form-group" [class.form-group_dirty]="message.value">
                      <input type="text" formControlName="message" class="form-group__input" id="message">
                      <label for="message" class="form-group__label">Сообщение</label>
                      <div class="field-error" *ngIf="message.errors && (message.dirty || message.touched)">
                        <span *ngIf="message.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
                      </div>
                  </div>
              </div>

          </div>

          <div class="publish-page__form-button">
              <div class="btn-orange" (click)="sendData()">
                  оставить заявку
              </div>
          </div>

          <div class="publish-page__text-block">
              Persik - контент заработает!
          </div>
      </div>
    </form>
</div>
