.code-page{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e9e9e9;
    background: white;

    &__container{
        position: relative;
        max-width: 550px;
        background-size: cover;
        background-position: center center;
        padding: 40px;
        border-radius: 8px;
        background-color: #fff;
        &:after{
            content: '';
            z-index:-1;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to left, #fe6f41, #ffcd78);
            opacity: 0.5;
            filter: blur(15px);
        }
    }

    &__title{
        color: #232323;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 30px;
        text-align: center;
        font-family: "OpenSans-Bold";

        &_small{
            margin-bottom: 0;
            font-family: "OpenSans";
            color: #666;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__inputs{
        margin: 0 auto 30px auto;
        max-width: 350px;
    }

    .form-group{
        margin-bottom: 0;

        &__input{
            background: transparent;
            color: #232323;
            margin-bottom: 0;
            border-color: #232323;
        }

        &__label{
            color: #232323;
            top: 47px;
        }

        .form-group__input:focus + .form-group__label{
            top: 20px;
        }

        &__btn{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 45px;
            position: relative;
            z-index: 5;
        }
    }

    .form-group_dirty .form-group__label{
        top: 20px;
    }

    &__success{
        position: relative;

        &-title{
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
        }

        &-tariff{
            text-align: center;
            margin-bottom: 60px;
        }

        &-user{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            max-width: 400px;;

            &-title{
                font-family: "OpenSans-Bold";
                margin-right: 10px;
                margin-bottom: 20px;
            }

            &-value{
                margin-bottom: 20px;
            }

            &-wrapper{
                width: 100%;
            }
        }
    }

    &__buttons{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        z-index: 5;

        .block-btn{
            margin: 0 20px;
        }
    }
}

.code-error{
    text-align: center;
    margin-top: 40px;
    color: red;
}

@media screen and (max-width: 992px){
    .code-page{
        padding-top: 90px;
    }
}

@media screen and (max-width: 767px){
    .code-page__container:after{
        display: none;
    }
    .code-page{
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .code-page__success{
        padding-top: 40px;
    }
    .code-page__buttons .block-btn{
        margin-bottom: 15px;
    }
}
