<div class="code-page" *ngIf="!isCodeSuccess">
  <div class="code-page__container">
    <div class="code-page__title">
      АКТИВАЦИЯ КОДА
    </div>
    <div class="code-page__title code-page__title_small">
      Введите код из сертификата и свой номер телефона, либо e-mail для активации подписки на телевидение Persik
    </div>
    <form novalidate [formGroup]="codeForm" class="code-page__inputs" (submit)="sendCode()">
      <div class="form-group form-group_dirty">
        <input type="text" id="code" class="form-group__input" [class.has-error]="code.errors" formControlName="code"
          placeholder="**********">
        <label for="code" class="form-group__label">
          Код доступа
        </label>
        <div class="field-error" *ngIf="code.errors && (code.dirty || code.touched)">
          <span *ngIf="code.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
        </div>
      </div>

      <div class="form-group form-group_dirty">
        <input type="text" id="phone" class="form-group__input" [class.has-error]="phone.errors" formControlName="phone"
          validation="true" placeholder="+*** ** ***-**-**">
        <label for="phone" class="form-group__label">
          Номер телефона
        </label>
        <div class="field-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
          <span *ngIf="phone.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
          <span *ngIf="phone.errors['pattern']" class="form-group__error">Неверный формат</span>
          <span *ngIf="phone.errors['minlength']" class="form-group__error">Неверный формат</span>
        </div>
      </div>

      <div class="form-group form-group_dirty">
        <input type="text" id="email" class="form-group__input" (input)="toggleAddressValidators()"
          [class.has-error]="email.errors" formControlName="email" placeholder="mail@mail.ru">
        <label for="email" class="form-group__label">
          E-mail (если есть)
        </label>
        <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
          <span *ngIf="email.errors['emailValidator']" class="form-group__error">Неверный формат</span>
        </div>
      </div>

      <div class="code-error" *ngIf="fakeCodeError">
        {{ fakeCodeError }}
      </div>

      <div class="code-error" *ngIf="codeOrPhoneError">
        Укажите номер телефона или e-mail
      </div>

      <div class="form-group__btn">
        <button type="submit" class="btn-orange" value="Активировать">
          Активировать
        </button>
      </div>
    </form>
  </div>
</div>

<div class="code-page" *ngIf="isCodeSuccess">
  <div class="code-page__success">
    <div class="code-page__success-title">
      Поздравляем! Вам активирована подписка Persik!
    </div>
    <div class="code-page__success-tariff">
      <span>{{ successData.subscription.name }} </span>на <span>{{ successData.subscription.term }} </span>(с <span>{{
        successData.subscription.from }} </span> по <span>{{ successData.subscription.to }}</span>)
    </div>

    <div class="code-page__success-user">
      <div class="code-page__success-user-title" *ngIf="successData.email">
        Ваш логин:
      </div>
      <div class="code-page__success-user-value" *ngIf="successData.email">
        {{ successData.email }}
      </div>
      <div class="code-page__success-user-wrapper"></div>
      <div class="code-page__success-user-title" *ngIf="successData.password">
        Ваш пароль:
      </div>
      <div class="code-page__success-user-value" *ngIf="successData.password">
        {{ successData.password }}
      </div>
    </div>

    <div class="code-page__buttons">
      <div class="code-page__buttons-item block-btn" (click)="goTo('private/user')">
        Личный кабинет
      </div>
      <div class="code-page__buttons-item block-btn" (click)="goTo('private/devices')">
        Инструкции
      </div>
      <div class="code-page__buttons-item block-btn" (click)="goTo('')">
        смотреть
      </div>
    </div>
  </div>
</div>
