.tv-guide-item{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 16px 0;
	color: #fff;
	// font-size: 16px;
	font-size: calc(8px + 0.42vw);
	padding-top: calc(8px + 0.42vw);
	padding-bottom: calc(8px + 0.42vw);
	text-transform: uppercase;
	transition: .3s;
	cursor: pointer;
	// min-height: 68px;
	// min-height: calc(60px + 0.42vw);
	min-height: calc(17px + 2vw);
	border-bottom: 1px solid #393939;
	&__logo{
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		&-img{
			max-width: 80%;
		}
	}
	&__name{
		// padding-left: 12px;
		padding-right: 30px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(100% - 50px);
		&-bold{
			font-family: OpenSans-Bold;
		}
		&-small{
			text-transform: none;
		}
	}
	&__favorite{
		position: absolute;
		right: -20px;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		max-height: 68px;
		cursor: pointer;
		&-img{
			transition: .3s;
			width: 18px;
			opacity: 0;
		}
		&:hover{
			.tv-guide-item__favorite-img{
				opacity: 1 !important;
				transition: .3s;
			}
		}
	}
	&__archive{
		position: absolute;
		right: -10px !important;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		max-height: 68px;
		cursor: pointer;
		&-img{
			transition: .3s;
			width: 20px;
			opacity: 1;
		}
		&:hover{
			transition: .3s;
			color: #e05f20;
			.tv-guide-item__archive-img{
				opacity: 1;
				transition: .3s;
			}
		}
	}
	&:hover{
		transition: .3s;
		color: #e05f20;
		font-family: "OpenSans-Bold";
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
	}
	&_active{
		color: #e05f20;
		transition: .3s;
		font-family: "OpenSans-Bold";
		.tv-guide-item__favorite-img{
			opacity: 0.5;
			transition: .3s;
		}
	}
}

.tv-guide__list {
  .tv-guide-item__name{
    width: 100%;
    padding-right: 60px;
    padding-left: 0;
    font-family: OpenSans;
  }
  .tv-guide-item{
    border-bottom: 1px solid #393939;
    &:last-child{
      border-bottom: none;
    }
  }
  .tv-guide-item__favorite{
    right: 15px;
  }
  &-item{
    &_live{
      // padding-bottom: 70px !important;
			// padding-top: 25px !important;
			padding-bottom: calc(45px + 1vw) !important;
			padding-top: calc(6px + 1vw) !important;
      .progress-line{
        bottom: 33px;
        background-color: #393939;
        height: 2px;

        &__width{
          background-color: #a3c718;
          height: 2px;

          &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-filter: blur(10px);
              filter: blur(10px);
              background-color: #a3c718;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
	.tv-guide-item__name{
		width: 100%;
		// padding-right: 12px;
		padding-left: 0;
	}
	.tv-guide-item{
		padding-left: 15px;
		padding-right: 25px;
		min-height: 55px;
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 14px;
		.progress-line{
			left: 15px;
			right: 15px;
			width: initial;
		}
	}
	.tv-guide-item__archive{
		right: 5px !important;
	}
}
