<div class="tv-guide-item tv-guide__list-item" [class.tv-guide__list-item_live]="isCurrent"
	[class.tvshowCurrent]="isCurrent" (click)="setActiveTvShow()" title="{{ tvshow.title }}">
	<div class="tv-guide-item__name tv-guide-item__name-small">
		<span class="tv-guide-item__name-bold">{{ tvshow.start | tvshowTime }}</span> – {{ tvshow.title }}
	</div>
	<div class="progress-line" *ngIf="isCurrent">
		<div class="progress-line__width" [style.width.%]="progress"></div>
	</div>
	<div class="tv-guide-item__favorite tv-guide-item__archive" *ngIf="isArchive">
		<img src="assets/images/icons/archive-new.png" class="tv-guide-item__archive-img">
	</div>
	<!--			<div class="tv-guide-item__favorite">
				<img src="assets/images/icons/star-icon.svg" class="tv-guide-item__favorite-img">
			</div> -->
</div>


<!--<div class="tv-guide-item tv-guide__list-item ">
			<div class="tv-guide-item__name">
				<span class="tv-guide-item__name-bold">06:50</span> – Фарго (2-я серия)
			</div>
			<div class="tv-guide-item__favorite">
				<img src="assets/images/icons/star-icon.svg" class="tv-guide-item__favorite-img">
			</div>

		</div> -->