.contacts{
    position: relative;
    padding-bottom: 150px;
    border-bottom: 1px solid #e9e9e9;
    background: white;

    .container{
        position: relative;
        z-index: 1;
    }

    &__header{
        position: relative;
        padding-top: 100px;
        background-color: #f9f9f9;
        margin-bottom: 130px;
        z-index: 1;
    }

    &__feedback{
        position: relative;
        text-align: center;

        &-title{
            color: #232323;
            font-family: 'OpenSans-Bold';
            font-size: 32px;
            padding-top: 90px;
            padding-bottom: 45px;
            text-transform: uppercase;
        }

        &-btn{
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    &__item{
        position: relative;
        border: 1px solid #e9e9e9;
        height: 250px;
        padding: 80px 30px 0 30px;
        text-align: center;

        &_adress{
            margin-top: 60px;
        }

        &-logo{
            position: absolute;
            top: -30px;
            left: 50%;
            margin-left: -30px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 60px;
            height: 60px;
            background-color: #fff;
            box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
        }

        &-title{
            color: #232323;
            font-family: 'OpenSans-Bold';
            text-transform: uppercase;
            margin-bottom: 12px;
            font-size: 24px;
        }

        &-text{
            font-size: 16px;
            color: #929292;
            margin-bottom: 10px;
        }
    }

    &__small-text{
		font-size: 18px;
		color: #8c8c8c;
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 1.89;
		padding-bottom: 85px;
		margin: 0 auto;
		max-width: 670px;
    }

    &__breadcrumbs{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		padding-bottom: 11px;
		padding-left: 15px;
		padding-right: 15px;
		&-item{
			text-decoration: none;
			color: #8c8c8c;
			margin-bottom: 10px;
			transition: .3s;
			&:hover, &:focus{
				color: #e05f20;
				text-decoration: none;
				transition: .3s;
			}
			&:after{
				content: '/';
				padding-left: 3px;
				padding-right: 4px;
			}
			&:last-child{
				&:after{
					display: none;
				}
				&:hover{
					color: #8c8c8c;
					cursor: initial;
				}
			}
		}
	}

	&__title{
		color: #232323;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		padding-bottom: 28px;
		font-family: OpenSans-Bold;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
		&_small{
			padding-left: 0;
			padding-right: 0;
			font-size: 24px;
			padding-bottom: 0;
		}
    }

    .dot1{
        width: 10px;
        height: 10px;
        left: 24%;
        top: 95px;
    }
    .dot2{
        width: 15px;
        height: 15px;
        right: 16%;
        bottom: 50px;
    }
    .dot3{
        width: 20px;
        height: 20px;
        left: 7%;
        top: 41%;
    }
    .dot4{
        width: 10px;
        height: 10px;
        top: 76%;
        right: 26%;
    }


}

.info-modal-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgba(255, 205, 120, .6), rgba(171, 224, 106, .6));
}

.info-modal{
    background-color: white;
    width: 30rem;
    position: relative;
    padding: 40px;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    z-index: 10;

    &__btn{
        position: relative;
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        .btn-orange{
            width: 100px;
        }
    }
}
.modal-title{
  margin-bottom: 30px;
  font-size: 20px;
  color: #232323;
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-Bold;
}
.modal-close{
  position: absolute;
  width: 24px;
  height: 24px;
  right: -12px;
  top: -12px;
  background-image: linear-gradient(to left, #9ed061, #abe06a);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  &__img{
    width: 12px;
  }
}

@media screen and (max-width: 992px){
    .contacts__header{
        margin-bottom: 60px;
    }
    .row{
        width: initial;
        justify-content: center;
    }
    .col-4{
        width: 50%;
        max-width: 50%;
        flex: 0 0 50%;
    }
    .contacts__item-title{
        font-size: 18px;
    }
    .contacts__item{
        margin-bottom: 30px;
    }
    .contacts__title{
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 767px){
    .info-modal{
        max-width: 320px;
    }
    .col-4{
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .contacts__title{
        font-size: 30px;
    }
    .contacts__breadcrumbs{
        font-size: 14px;
    }
    .contacts{
        padding-bottom: 60px;
    }
}
