<div class="contacts">
  <div class="green-dot dot3"></div>
  <div class="green-dot dot4"></div>
  <div class="contacts__header">
    <div class="green-dot dot1"></div>
    <div class="green-dot dot2"></div>
    <div class="contacts__breadcrumbs">
      <a routerLink="" class="contacts__breadcrumbs-item">
        Главная
      </a>
      <span class="contacts__breadcrumbs-item">
        Контакты
      </span>
    </div>

    <h1 class="contacts__title">
      контакты
    </h1>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="contacts__item">
          <div class="contacts__item-logo">
            <img src="assets/images/icons/contacts-icon1.svg" alt="">
          </div>

          <div class="contacts__item-title">
            тех.<br>поддержка
          </div>
          <div class="contacts__item-text">
            info@persik.by
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="contacts__item">
          <div class="contacts__item-logo">
            <img src="assets/images/icons/contacts-icon2.svg" alt="">
          </div>

          <div class="contacts__item-title">
            по вопросам<br>контента
          </div>

          <div class="contacts__item-text">
            Понедельник-пятница<br>с 10 до 18
          </div>
          <div class="contacts__item-text">
            8 (017) 336-66-66
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="contacts__item">
          <div class="contacts__item-logo">
            <img src="assets/images/icons/contacts-icon3.svg" alt="">
          </div>

          <div class="contacts__item-title">
            по вопросам<br>маркетинга
          </div>

          <div class="contacts__item-text">
            Понедельник-пятница<br>с 10 до 18
          </div>
          <div class="contacts__item-text">
            8 (017) 336-66-66
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="contacts__item contacts__item_adress">
          <div class="contacts__item-logo">
            <img src="assets/images/icons/contacts-icon4.svg" alt="">
          </div>

          <div class="contacts__item-title">
            наш адрес
          </div>

          <div class="contacts__item-text">
            Республика Беларусь, 220020, г.Минск
          </div>
          <div class="contacts__item-text">
            пр-т Победителей, д. 103, каб. 1414
          </div>
        </div>
      </div>

      <div class="col-12 no-padding-mobile">
        <app-yamap-component></app-yamap-component>
      </div>

    </div>

    <div class="contacts__feedback">
      <div class="contacts__feedback-title">
        обратная <span class="gradient-text">связь</span>
      </div>
    </div>

    <form [formGroup]="feedbackForm" (submit)="sendFeedback()">
      <div class="row">
        <div class="col-6">
          <div class=form-group [class.form-group_dirty]="name.value">
            <input id="name" type="text" class="form-group__input" formControlName="name">
            <label for="name" class="form-group__label">Имя</label>
            <div class="field-error" *ngIf="name.errors && (name.dirty || name.touched)">
              <span *ngIf="name.errors['required']" class="form-group__error">Введите Ваше имя</span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class=form-group [class.form-group_dirty]="subject.value">
            <input id="subject" type="text" class="form-group__input" formControlName="subject">
            <label for="subject" class="form-group__label">Тема письма</label>
            <div class="field-error" *ngIf="subject.errors && (subject.dirty || subject.touched)">
              <span *ngIf="subject.errors['required']" class="form-group__error">Введите тему письма</span>
            </div>
          </div>
        </div>

        <div class="col-6" [class.form-group_dirty]="email.value">
          <div class=form-group>
            <input id="email" type="text" class="form-group__input" formControlName="email">
            <label for="email" class="form-group__label">E-mail</label>
            <div class="field-error" *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf="email.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
              <span *ngIf="email.errors['emailValidator'] && !email.errors.required" class="form-group__error">Неверный
                формат</span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class=form-group [class.form-group_dirty]="phone.value">
            <input id="phone" type="text" class="form-group__input" formControlName="phone">
            <label for="phone" class="form-group__label">Ваш контактный телефон</label>
            <div class="field-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
              <span *ngIf="phone.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
              <span *ngIf="phone.errors['pattern'] && !phone.errors.required" class="form-group__error">Неверный
                формат</span>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class=form-group [class.form-group_dirty]="message.value">
            <input id="message" type="text" class="form-group__input" formControlName="message">
            <label for="message" class="form-group__label">Сообщение</label>
            <div class="field-error" *ngIf="message.errors && (message.dirty || message.touched)">
              <span *ngIf="message.errors['required']" class="form-group__error">Поле обязательное для заполнения</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__feedback-btn">
        <button class="btn-orange" type="submit" [disabled]="!feedbackForm.valid">
          отправить
        </button>
      </div>
    </form>

  </div>

  <div class="info-modal-wrapper" *ngIf="isShowModal" (click)="closeModal()">
    <div class="info-modal" (click)="stopPropagation($event)">
      <div class="modal-close" (click)="closeModal()">
        <img src="assets/images/icons/modal-close-icon.svg" alt="" class="modal-close__img">
      </div>

      <div class="modal-title">
        Ваша заявка принята
      </div>

      <div class="info-modal__btn">
        <a href="javascript:void(0);" class="btn-orange" (click)="closeModal()">
          OK
        </a>
      </div>
      <!-- <div class="button" (click)="closeModal()">OK</div> -->
    </div>
  </div>
</div>
