.search {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  margin-right: 12px;
  width: 40px;

  &__icon {
    position: relative;
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: calc(100% - 4px);
    transition: 0.3s;
    background-color: #fff;
    border: 1px solid #fff;
    z-index: 100;
    top: 2px;
    overflow: hidden;
    transition: 0.3s;
  }

  &__main-btn {
    background-color: #fff;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.3s;
  }

  &__input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    width: calc(100% - 80px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    transition: 0.3s;
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 18px;
    color: #999;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
  }
}

.search_open {
  .search__content {
    width: 300px;
    transition: 0.3s;
    border-color: #e9e9e9;
  }
}
.search_dark {
  .search__main-btn,
  .search__content {
    background-color: #232323;
    border: none;
    transition: 0.3s;
  }
}

.search_light {
  .search__main-btn,
  .search__content {
    background-color: white;
    border: none;
    transition: 0.3s;
  }
}
.search_open.search_dark {
  .search__main-btn {
    background-color: #fff;
    transition: 0.3s;
  }
  .search__content {
    background-color: #fff;
    transition: 0.3s;
  }
}

@media screen and (max-width: 992px) {
  .search {
    margin-right: 0;
  }
}

@media screen and (max-width: 767) {
  .search_open .search__content {
    width: 240px;
  }
}
