.adult-control {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.7);
  z-index: 555;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-title{
    margin-bottom: 30px;
    font-size: 20px;
    color: #232323;
    text-transform: uppercase;
    text-align: center;
    font-family: OpenSans-Bold;
  }

  .modal-close{
    position: absolute;
    width: 24px;
    height: 24px;
    right: -12px;
    top: -12px;
    background-image: linear-gradient(to left, #9ed061, #abe06a);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    &__img{
      width: 12px;
    }
  }

  .modal-btns{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // margin-top: 50px;
    flex-wrap: wrap;
    &__link{
      font-size: 14px;
      color: #e05f20;
      cursor: pointer;
      text-decoration: underline !important;
      &_forgot{
        margin-top: 20px;
        margin-left: 70px;
      }
    }

    .btn-orange{
      width: 80px;
      margin-right: 20px;
    }
  }

  .form-group{
    position: relative;
    padding-top: 30px;
    &__error{
      position: absolute;
      left: 0;
      top: 75px;
      font-size: 14px;
      color: red;
    }
    &__label{
      transition: .3s;
      color: #8c8c8c;
      font-size: 16px;
      position: absolute;
      left: 0;
      top: 40px;
    }
    &__input{
      position: relative;
      border: none;
      color: #232323;
      font-size: 16px;
      padding-bottom: 6px;
      padding-top: 12px;
      border-bottom: 1px solid #e9e9e9;
      margin-bottom: 35px;
      display: block;
      width: 100%;
      transition: .3s;
      &:focus{
        outline: none;
        box-shadow: none;
        border-color: #232323;
        &+.form-group__label{
          font-size: 14px;
          top: 10px;
          transition: .3s;
        }
      }
      &.has-error{
        border-color: red;
        transition: .3s;
      }
    }
    &_dirty{
      .form-group__input{
        
      }
      .form-group__label{
        font-size: 14px;
        top: 10px;
        transition: .3s;
      }
    }
  }

  .adult-modal {
    // width: 40%;
    // padding: 15px 20px;
    background-color: white;
    width: 30rem;
    position: relative;
    padding: 40px;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    display: flex;
    flex-direction: column;

    &__pin {

      &-input {
        outline: none;
        margin-bottom: 20px;
      }

      &-alert {
        color: red;
      }

    }

    &__buttons {
      display: flex;
      width: 70%;
      justify-content: space-between;

      &-item {
        width: 40%;
        height: 40px;
        border: 1px solid black;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .adult-modal{
    max-width: 320px;;
  }
}
