<div class="adult-control">
  <div class="adult-modal">
    <div class="modal-close" (click)="closeModal()">
      <img src="assets/images/icons/modal-close-icon.svg" alt="" class="modal-close__img">
    </div>
    <div class="modal-title">
      Введите пин код
    </div>

    <div class="form-group">
        <input type="text" class="form-group__input" [(ngModel)]="pin" placeholder="****">
        <div class="form-group__error" *ngIf="isWrongPin">Неверный пин</div>
    </div>

    <!-- <div class="adult-modal__buttons">
      <div class="adult-modal__buttons-item" (click)="checkPin()">OK</div>
      <div class="adult-modal__buttons-item" (click)="closeModal()">Отмена</div>
    </div> -->

    <div class="modal-btns">
        <input type="submit" class="btn-orange" value="OK" (click)="checkPin()">
        <span (click)="closeModal()" class="modal-btns__link">Отмена</span>
    </div>
  </div>

  
</div>
