.tvshow-controller {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow: hidden;

  &:hover{
    .arrow{
      color: orange;
    }
  }

  .scroll-viewport {
    height: 160px;
    ::-webkit-scrollbar {
        display:none;
    }
  }

  .smoth-scroll {
    scroll-behavior: smooth;
  }

  .arrow {
    width: 3rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    // font-weight: bold;
    cursor: pointer;
    position: absolute;
    transform: scaleX(0.7) scaleY(4);
    top: 0;
    z-index: 5;

    &__img{
      width: 30px;
    }

    &_left {
      left: -40px;
    }

    &_right {
      right: -40px;
      .arrow__img{
        transform: rotate(180deg);
      }
    }
  }
}

.cdk-virtual-scroll-content-wrapper{
  right: 0;
}

@media screen and (max-width: 992px){
  .tvshow-controller .scroll-viewport{
    height: 100%;
  }
}

@media screen and (max-width: 767px){
  .arrow{
    display: none !important;
  }
}

