<div class="tvshow-controller" *ngIf="tvshows.length > 0">

  <div class="arrow arrow_left" (click)="slidePrev()">
    <
  	<!-- <img class="arrow__img" src="assets/images/icons/slider-arrow.svg" alt=""> -->
  </div>
  <cdk-virtual-scroll-viewport class="scroll-viewport" #viewport orientation="horizontal" [itemSize]="itemWidth"> <!--500 - Ширина одного блока в px-->
    <ng-container *cdkVirtualFor="let item of tvshows">
      <tvshow-controller-item [tvshow]="item"></tvshow-controller-item>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <div class="arrow arrow_right" (click)="slideNext()">
    >
  	<!-- <img class="arrow__img" src="assets/images/icons/slider-arrow.svg" alt=""> -->
  </div>
</div>

