.live {
  &__block {
    position: relative;
    display: flex;
    // height: 226px;
    height: 120px;
    margin-left: 30px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    &-poster {
      display: inline-block;
      position: relative;
      background-size: cover;
      background-position: center center;
      // width: 410px;
      width: 210px;
      height: 100%;
      &_error {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: #fff;
        font-size: 16px;
        font-family: OpenSans-Bold;
      }
    }
    &-info {
      display: inline-block;
      position: relative;
      // width: 550px;
      width: 440px;
      // padding: 35px 40px;
      padding: 15px 20px 0 20px;
      color: #757575;
      vertical-align: top;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(24, 24, 24);
        height: 5px;
        z-index: 5;
        width: 100%;
        max-width: 100%;
      }
    }
    &-genre {
      color: #e05f20;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-name {
      color: #fff;
      font-size: 16px;
      margin-bottom: 7px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-text {
      font-size: 14px;
      line-height: 1.4;
      white-space: normal;
      overflow: hidden;
    }
  }
}
