<div class="live__block" #item>
  <div class="live__block-poster" [style.backgroundImage]="'url('+ tvshow.cover +')'">
    <div class="time-block">
      {{ tvshow.start | tvshowTime }} – {{ tvshow.stop | tvshowTime }}
    </div>
    <div class="progress-line" *ngIf="isCurrent">
      <div class="progress-line__width" style="width: 45%"></div>
    </div>
    <div class="live__block-poster_error" *ngIf="tvshow.cover == null">
      Изображение отсутствует
    </div>
  </div>
  <div class="live__block-info">
    <div class="live__block-genre">
      Жанр
    </div>
    <div class="live__block-name">
      {{ tvshow.title }}
    </div>
    <div class="live__block-text">
      {{ content?.description }}
    </div>
  </div>
</div>
