.course-comment{
    position: relative;

    &__photo{
        border-radius: 50%;
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 160px;
        height: 160px;

        &:after{
            content: '';
            position: absolute;
            width: 43px;
            height: 24px;
            background-size: cover;
            background-position: center center;
            background-image: url('../../../../../assets/images/course-page/dots.png');
            top: 33px;
            right: -15px;
        }
    }

    &__info{
        padding-left: 195px;
        position: relative;
    }

    &__name{
        color: #fff;
        font-family: "OpenSans-Bold";
        line-height: 1;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    &__job{
        color: #919191;
        line-height: 1;
        font-family: 'OpenSans-Bold';
        font-size: 14px;
        margin-bottom: 25px;
    }

    &__text{
        color: #919191;
        font-size: 14px;
        line-height: 30px;
    }
}