<div class="course-comment">
    <div class="course-comment__photo" [ngStyle]="{'background-image': 'url('+comment.photo+')'}"></div>

    <div class="course-comment__info">
        <div class="course-comment__name">
            {{ comment.userName }}
        </div>

        <div class="course-comment__job">
            {{ comment.userJob }}
        </div>

        <div class="course-comment__text">
            {{ comment.text }}
        </div>
    </div>
</div>