<div class="tariff-page">
	<span (click)="goToPay($event)" *ngIf="isHaveSelectedTariff && isHaveMovement"
		class="btn-orange tariff-page__fixed-btn">{{ selectedTariff.name }} - РУБ{{ selectedTariff.cost_display }}</span>
	<div class="tariff-page__first">
		<div class="green-dot dot1"></div>
		<div class="green-dot dot2"></div>
		<div class="green-dot dot3"></div>

		<div class="green-circle"></div>
		<div class="tariff-page__breadcrumbs">
			<a routerLink="" class="tariff-page__breadcrumbs-item">
				Главная
			</a>
			<span class="tariff-page__breadcrumbs-item">
				Тарифы и каналы
			</span>
		</div>

		<div class="tariff-page__title" id="price">
			тарифы <span class="gradient-text">&</span> каналы
		</div>

		<div class="tariff-page__small-text hidden-mobile">
			Выберите тарифы на телевидение по выгодным ценам и наслаждайтесь просмотром более 350 каналов, а также
			коллекцией из популярных фильмов, сериалов, мультфильмов.
		</div>

		<div class="container" id="tariffs">
			<div class="mobile-tariffs">
				<div class="mobile-tariffs__title">
					Выберите тарифы на телевидение по выгодным ценам
				</div>
				<div class="mobile-tariffs__dropdown">
					<div class="mobile-tariffs__dropdown-border"></div>
					<div class="mobile-tariffs__toggler" (click)="toggleMobileTariffsPack()"></div>
					<div class="mobile-tariffs__dropdown-items"
						[class.mobile-tariffs__dropdown-items_opened]="mobileTariffsPackOpen">
						<div class="mobile-tariffs__dropdown-item" *ngFor="let pack of packages"
							[class.mobile-tariffs__dropdown-item_active]="isActivePackage(pack.id)"
							(click)="setActivePackage(pack.id); toggleMobileTariffsPack();">
							{{ pack.name }}
							<img src="assets/images/icons/arrow-icon-white.svg" alt="" class="mobile-tariff__arrow"
								[class.mobile-tariff__arrow_toggled]="mobileTariffsPackOpen">
						</div>
					</div>
				</div>


				<div class="mobile-tariffs__dropdown mobile-tariffs__dropdown_second">
					<div class="mobile-tariffs__dropdown-border"></div>
					<div class="mobile-tariffs__toggler" (click)="toggleMobileTariffs()"></div>
					<div class="mobile-tariffs__dropdown-items"
						[class.mobile-tariffs__dropdown-items_opened]="mobileTariffsOpen">
						<div class="mobile-tariffs__dropdown-item" *ngFor="let tariff of activePackage"
							[class.mobile-tariffs__dropdown-item_active]="isTariffSelected(tariff.id)"
							(click)="selectTariff(tariff); toggleMobileTariffs();" [class.hidden-tariff]="tariff.onlyPromo">
							{{ tariff.name }}
							<img src="assets/images/icons/arrow-icon-white.svg" alt="" class="mobile-tariff__arrow"
								[class.mobile-tariff__arrow_toggled]="mobileTariffsOpen">
						</div>
					</div>
				</div>

				<div class="mobile-tariff">
					<div class="" *ngFor="let tariff of activePackage">
						<div class="tariffs-grid__content-item tariffs-grid__compare-item"
							*ngIf="isTariffSelected(tariff.id) && !tariff.onlyPromo">
							<div class="tariffs-grid__compare-item-body">
								<div class="tariffs-grid__compare-item-price">
									<div class="tariffs-grid__compare-item-price-circle"></div>
									<div class="tariffs-grid__compare-item-price-content" [class.tariffs-grid__compare-item-price-content_width-padding]="tariff.bigLinedText">
										<div class="tariffs-grid__compare-item-price-content-big">
											{{ tariff.cost_display }}
										</div>
										<div class="tariffs-grid__compare-item-price-content-small"
											*ngIf="tariff.cost_display < 35">
											руб/месяц
										</div>
										<div class="tariffs-grid__compare-item-price-content-small"
											*ngIf="tariff.cost_display > 35">
											руб/год
										</div>

										<div class="tariffs-lined-text" *ngIf="tariff.bigLinedText">
											{{ tariff.bigLinedText }}
										</div>
										<div class="tariffs-lined-text tariffs-lined-text_small" *ngIf="tariff.bigLinedText && tariff.cost_display < 35">
											руб/месяц
										</div>
										<div class="tariffs-lined-text tariffs-lined-text_small" *ngIf="tariff.bigLinedText && tariff.cost_display > 35">
											руб/год
										</div>
									</div>
								</div>
								<div class="tariffs-grid__compare-line"
									*ngFor="let item of getTariffOptions(tariff.id).states">
									<img [src]="item.value ? 'assets/images/icons/tarif-good.svg' : 'assets/images/icons/tarif-bad.svg'"
										alt="" class="tariffs-grid__compare-line-icon">
									<div class="tariffs-grid__compare-line-text">
										{{ item.name }}
									</div>
								</div>
								<div class="tariffs-grid__compare-item-btn">
									<div class="btn-orange select-btn" (click)="goToPay($event)">
										выбрать
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>


			</div>



			<div class="tariffs-grid hidden-mobile">
				<div class="tariffs-grid__header tariffs-grid__header_alone">
					<div class="tariffs-grid__header-item" *ngFor="let pack of packages"
						[class.tariffs-grid__header-item_active]="isActivePackage(pack.id)"
						(click)="setActivePackage(pack.id)">
						{{ pack.name }}
						<img src="assets/images/icons/-50.png" alt="" *ngIf="pack.id == 2" class="tariffs-percents">
						<!-- <img src="assets/images/icons/tariff-action.png" alt="" *ngIf="pack.id == 2"
							class="tariffs-percents"> -->
					</div>
				</div>

				<div class="tariffs-grid__content tariffs-grid__content_alone" *ngIf="!isCompare">
					<div class="col-3" *ngFor="let tariff of activePackage; let index = index" (click)="selectTariff(tariff)" [class.hidden-tariff]="tariff.onlyPromo">
						<div class="tariffs-grid__content-item"
							[class.tariffs-grid__content-item_active]="isTariffSelected(tariff.id)">
							<img [src]="tariff.imageSrc" alt="" class="tariffs-percents-image" *ngIf="tariff.imageSrc">
							<div class="tariffs-grid__content-item-name">
								{{ tariff.name }}
							</div>
							<div class="tariffs-grid__content-item-firstmonth"
								*ngIf="!tariff.customBigPrice && !tariff.customSmallPrice">
								Далее {{ tariff.cost_display }} руб. в месяц
							</div>
							<div *ngIf="tariff.first_month && !tariff.customBigPrice"
								class="tariffs-grid__content-item-price">
								{{ tariff.first_month }} РУБ
							</div>
							<div *ngIf="tariff.customBigPrice" class="tariffs-grid__content-item-price">
								<span class="big-lined-text">{{ tariff.bigLinedText }}</span>{{ tariff.customBigPrice }}
							</div>
							<div class="tariffs-grid__content-item-firstmonth" *ngIf="tariff.customSmallPrice">
                <span *ngIf="tariff.next" class="tarif-next-word">{{ tariff.next }}</span>
                <!-- <span>{{ tariff.smallLinedText }} </span> -->
                {{ tariff.customSmallPrice }}
							</div>
							<div class="tariffs-grid__content-item-next select-btn" (click)="goToPay($event, tariff)">
								Выбрать
							</div>
						</div>
					</div>


					<div class="col-12" *ngIf="isCanCompare">
						<div class="btn-white compare-btn" (click)="toggleCompare()">
							Сравнить тарифы
						</div>
					</div>
				</div>

				<div class="tariffs-grid__content tariffs-grid__compare  tariffs-grid__content_alone" *ngIf="isCompare">
					<div class="col-3" *ngFor="let tariff of activePackage" (click)="selectTariff(tariff)" [class.hidden-tariff]="tariff.onlyPromo">
						<div class="tariffs-grid__content-item tariffs-grid__compare-item"
							[class.tariffs-grid__content-item_active]="isTariffSelected(tariff.id)">
							<div class="tariffs-grid__compare-item-body">
								<div class="tariffs-grid__compare-item-title">
									{{ tariff.name }}
								</div>
								<div class="tariffs-grid__compare-item-price">
									<div class="tariffs-grid__compare-item-price-circle"></div>
									<div class="tariffs-grid__compare-item-price-content" [class.tariffs-grid__compare-item-price-content_width-padding]="tariff.bigLinedText">
										<div class="tariffs-grid__compare-item-price-content-big">
											{{ tariff.cost_display }}
										</div>
										<div class="tariffs-grid__compare-item-price-content-small"
											*ngIf="tariff.cost_display < 35">
											руб/месяц
										</div>
										<div class="tariffs-grid__compare-item-price-content-small"
											*ngIf="tariff.cost_display > 35">
											руб/год
										</div>

										<div class="tariffs-lined-text" *ngIf="tariff.bigLinedText">
											{{ tariff.bigLinedText }}
										</div>
										<div class="tariffs-lined-text tariffs-lined-text_small" *ngIf="tariff.bigLinedText && tariff.cost_display < 35">
											руб/месяц
										</div>
										<div class="tariffs-lined-text tariffs-lined-text_small" *ngIf="tariff.bigLinedText && tariff.cost_display > 35">
											руб/год
										</div>
									</div>
								</div>
								<ng-container *ngIf="isCanCompare">
									<div class="tariffs-grid__compare-line"
										*ngFor="let item of getTariffOptions(tariff.id).states">
										<img [src]="item.value ? 'assets/images/icons/tarif-good.svg' : 'assets/images/icons/tarif-bad.svg'"
											alt="" class="tariffs-grid__compare-line-icon">
										<div class="tariffs-grid__compare-line-text">
											{{ item.name }}
										</div>
									</div>
								</ng-container>

								<div class="tariffs-grid__compare-item-btn">
									<div class="btn-orange select-btn" (click)="goToPay($event)"
										[class.btn-active]="isTariffSelected(tariff.id)">
										выбрать
									</div>
								</div>
							</div>
						</div>


					</div>

					<div class="col-12">
						<div class="btn-white compare-btn" (click)="toggleCompare()">
							Стандартный вид
						</div>
					</div>
				</div>

			</div>

		</div>


	</div>

	<div class="tariff-page__channels">
		<div class="container">
			<div class="tariff-page__channels-title">
				тв <span class="gradient-text">+350</span> каналов
			</div>
			<div class="tariff-page__channels-title-small">
				В тарифах Persik доступно более 350 телеканалов на любой вкус и жанр, транслируемых в FullHD/4K
				качестве.
			</div>
		</div>

		<div class="tariff-page__channels-grid" *ngIf="channelLogosForPage.length > 0">
			<div class="tariff-page__channels-grid-item" *ngFor="let logo of channelLogosForPage">
				<div class="tariff-page__channels-grid-item-content">
					<img [src]="logo" alt="" class="tariff-page__channels-grid-item-logo">
				</div>
			</div>

			<div class="tariff-page__channels-grid-all">

				<div class="tariff-page__channels-grid-all-btn" (click)="toggleChannels(channelLogosCount)">
					<span *ngIf="!isShowAllChannels">показать еще</span>
					<span *ngIf="isShowAllChannels">свернуть</span>
				</div>

			</div>
		</div>
	</div>


	<div class="tariff-page__library tariff-page__library_films" *ngIf="isHaveVideos">
		<div class="container">
			<div class="tariff-page__channels-title">
				Видеокаталог
			</div>
			<div class="tariff-page__channels-title-small">
				В наших тв тарифах вы сможете купить обновляемую видеотеку фильмов, мультфильмов, сериалов: более
				10000 единиц контента.
			</div>

			<div class="tariff-page__library-grid">
				<div class="card-col" *ngFor="let item of videos">
					<app-film-card [content_id]="getId(item)" [isCanRedirect]="false"></app-film-card>
				</div>
			</div>

			<div class="btn-white" (click)="showMoreVideos()">
				показать ещё
			</div>
		</div>
	</div>


	<div class="tariff-page__library tariff-page__library_grey" *ngIf="isHaveTvshows">
		<div class="green-dot dot10"></div>
		<div class="green-dot dot11"></div>
		<div class="green-dot dot12"></div>

		<div class="container">
			<div class="tariff-page__channels-title">
				тв <span class="gradient-text">передачи</span>
			</div>
			<div class="tariff-page__channels-title-small">
				Подписка на тв каналы позволит смотреть передачи, новости, спорт в режиме реального времени, а также
				в архиве на любом устройстве — от телевизора до смартфона/планшета.
			</div>

			<div class="tariff-page__library-grid">
				<div class="card-col" *ngFor="let item of tvshows">
					<app-film-card [content_id]="getId(item)" [isCanRedirect]="false"></app-film-card>
				</div>
			</div>
			<div class="btn-white" (click)="showMoreTvshows()">
				показать ещё
			</div>
		</div>
	</div>


	<div class="tariff-page__functions">
		<div class="green-dot dot13"></div>
		<div class="green-dot dot14"></div>

		<div class="container">
			<div class="tariff-page__functions-title">
				функции
			</div>
			<div class="tariff-page__functions-row">
				<div class="col-6">
					<div class="tariff-page__functions-item">
						<div class="tariff-page__functions-item-header">
							<div class="tariff-page__functions-icon">
								<img src="assets/images/icons/func1.svg" alt="" class="tariff-page__functions-image">
							</div>
							<div class="tariff-page__functions-item-title">
								архив 24 дня
							</div>
						</div>
						<div class="tariff-page__functions-item-text">
							«Архив» предоставляет возможность смотреть прошедшие передачи, фильмы, сериалы, мультики
							за 24 дня. <span class="hidden-mobile">Данная функция позволит Вам не пропустить любимый
								контент и насладиться просмотром в удобное время.</span>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="tariff-page__functions-item">
						<div class="tariff-page__functions-item-header">
							<div class="tariff-page__functions-icon">
								<img src="assets/images/icons/func2.svg" alt="" class="tariff-page__functions-image">
							</div>
							<div class="tariff-page__functions-item-title">
								мультирум
							</div>
						</div>
						<div class="tariff-page__functions-item-text">
							В рамках тарифов Persik возможен одновременный просмотр контента с 5-ти разных
							устройств.<span class="hidden-mobile">Это позволяет решить так называемую проблему
								«битвы за пульт». Вы можете смотреть контент где-угодно: в поездке, на даче, в
								гостинице. Нужен только аккаунт и устройство, подключенное к интернету.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
