<div class="channel-page">
  <div class="channel-page__info">
    <div class="channel-page__poster" [ngStyle]="{'background-image': 'url('+currentTvShow.cover+')'}"></div>
    <img src="assets/images/channel-play.png" alt="" class="channel-page__play" (click)="openChannel()">

    <div class="channel-page__container" *ngIf="channel">
      <img [src]="channel.logo" alt="" class="channel-page__logo">
      <div class="channel-page__name">
        {{ channel.name }}
      </div>
      <div class="channel-page__desc">
        <b>{{ currentTvShow.name }}</b>

        <div class="channel-page__desc-small">
          {{ getDescrPart }}
        </div>
      </div>

      <!-- <share-buttons show="6"></share-buttons> -->
      <share-buttons [include]="['facebook','twitter','vk','telegram']" [show]="5" [url]="'https://twitter.com/'"
        [autoSetMeta]="false"></share-buttons>
    </div>
  </div>

  <div class="channel-page__grid" *ngIf="isHaveArchive">
    <div class="channel-page__container">
      <div class="channel-page__grid-title">Программы канала</div>

      <div class="row">
        <div class="card-col" *ngFor="let item of videos">
          <app-film-card [video]="item" [category_id]="4" [type]="'tvshow'" [content_id]="item.tvshow_id">
          </app-film-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isBrowser && isHaveArchive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div>
</div>
