.channel-page{
    background-color: #1b1b1b;

    b{
        font-family: "OpenSans-Bold";
    }

    &__info{
        padding-top: 220px;
        padding-bottom: 40px;
        position: relative;
        z-index: 5;
    }

    &__poster{
        background-size: cover;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #000;
            opacity: 0.5;
        }
    }

    &__play{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        cursor: pointer;
    }

    &__logo{
        display: inline-block;
        vertical-align: middle;
        max-width: 300px;
        margin-bottom: 35px;
    }

    &__name{
        color: #fff;
        font-family: "OpenSans-Bold";
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 26px;
        line-height: 1;
    }

    &__desc{
        color: #fff;
        font-size: 14px;
        line-height: 27px;
        padding-right: 55px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(255,255,255, 0.3);
        max-width: 50%;
        margin-bottom: 25px;

        &-small{
            font-size: 12px;
            width: 100%;
            padding-top: 8px;
            line-height: 18px;
        }
    }

    &__container{
        position: relative;
        padding: 0 75px;
    }

    &__grid{
        position: relative;
        margin-top: 70px;
        padding-bottom: 50px;

        &-title{
            font-family: "OpenSans-Bold";
            font-size: 20px;
            color: #fff;
            line-height: 1;
            padding-bottom: 35px;
        }
    }
}

@media screen and (max-width: 992px){
    .channel-page__info{
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .channel-page__container{
        padding: 0 40px;
        width: 100%;
    }
    .channel-page__play{
        position: relative;
        left: initial;
        top: initial;
        transform: none;
        margin: 0 auto 30px auto;
    }
    .channel-page__desc{
        max-width: 100%;
        padding-right: 0;
    }
}

@media screen and (max-width: 767px){
    .channel-page__container{
        padding: 0 15px;
    }
    .channel-page__name{
        font-size: 28px;
        line-height: 36px;
    }
}