.search-page{
  position: relative;
  background-color: #1b1b1b;
  padding-top: 150px;
  padding-bottom: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &__form{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn-orange{
      z-index: 1;
    }
  }

  .search {
    width: 100%;
    max-width: 1280px;
  }

  .form-group{
    width: calc(100% - 265px);
    margin-right: 30px;
  }

  .form-group__input{
    background: transparent;
    border-color: #fff;
    color: #fff;
    padding-bottom: 17px;
    padding-top: 29px;
    &:focus{
      border-color: #e05f20;
    }
  }

}

// .temp {
//   margin-top: 100px;
// }

// .search {
//   background-color: lightgray;
// }

@media screen and (max-width: 767px){
  .search-page{
    padding-top: 90px;
  }
  .search-page__form{
    flex-wrap: wrap;

    .btn-orange{
      margin-bottom: 30px !important;
    }
  }
  .search-page .form-group{
    width: 100%;
    margin-right: 0;
    input{
      margin-bottom: 15px;
    }
  }
}