<div class="search-page">
  <div class="container">

    <h1 class="films__title">
      результаты <span class="orange-text">поиска</span>
    </h1>

    <div class="search-page__form">
      <div class="form-group">
        <input class="form-group__input" type="text" [(ngModel)]="searchPhrase" (keyup.enter)="setSearchPhrase()">
      </div>
      <button (click)="setSearchPhrase()" class="btn-orange">Поиск</button>
    </div>

  </div>

  <div class="search">
      <app-content-slider *ngIf="isHaveBooks" [title]="'Книги'" [type]="'book'" [content]="books"></app-content-slider>
      <app-content-slider *ngIf="isHaveChannels" [title]="'ТВ'" [type]="'channel'" [content]="searchResult.channels"></app-content-slider>
      <app-content-slider *ngIf="isHaveVideos" [title]="'Фильмы'" [type]="'video'" [content]="searchResult.videos"></app-content-slider>
      <app-content-slider *ngIf="isHaveTvshows" [title]="'Передачи'" [type]="'tv'" [content]="searchResult.tvshows"></app-content-slider>
    </div>
</div>
