<div class="films">

  <h1 class="films__title">
      сериалы <span class="orange-text">онлайн</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      Сериалы
    </div>
    <div class="films__breadcrumbs-item">
      {{ activeGenre?.name }}
    </div>
  </div>

  <div class="tapes">
    <div class="films__filter" *ngIf="isHaveGenres && isBrowser">
      <app-genre-filter class="filter" [genres]="genres" [active]="activeGenre" (genreChange)="onGenreChange($event)"></app-genre-filter>
    </div>

    <div class="films__dropdowns">
      <div class="row">

          <div class="col-3" *ngIf="isHaveGenres">
              <div class="films__dropdowns-item">
                  <ng-select [items]="genres"
                    bindLabel="name"
                    bindValue="id"
                    search="false"
                    [(ngModel)]="activeGenre.id"
                    (change)="onGenreChange($event)"
                  >
                  </ng-select>
                </div>
          </div>

          <div class="col-3">
            <div class="films__dropdowns-item">
                <ng-select [items]="ratingFilters"
                  bindLabel="name"
                  bindValue="value"
                  search="false"
                  [placeholder]="ratingFilters[0].name"
                  (change)="onRatingFilterChange($event)"
                >
                </ng-select>
              </div>
          </div>

          <div class="col-3" *ngIf="isHaveCountries">
              <div class="films__dropdowns-item">
                  <ng-select [items]="countries"
                    bindLabel="name"
                    bindValue="id"
                    search="false"
                    [placeholder]="countries[0].name"
                    (change)="onCountryFilterChange($event)"
                  >
                  </ng-select>
                </div>
          </div>

          <div class="col-3">
            <div class="films__dropdowns-item">
                <ng-select [items]="dateFilter"
                  bindLabel="name"
                  bindValue="id"
                  search="false"
                  [placeholder]="dateFilter[0].name"
                  (change)="onDateFilterChange($event)"
                >
                </ng-select>
              </div>
        </div>

      </div>

    </div>
  


    <div class="row" *ngIf="isHaveContent">
      <div class="card-col-four" *ngFor="let id of film_ids">
        <app-film-card [content_id]="id"></app-film-card>
      </div>
    </div>
  </div>


  <div
    *ngIf="isHaveContent && isBrowser"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div>

</div>
