<div class="text-page films">
  <div class="container">
    <div class="films__title">
      <span class="gradient-text">
        IPTV
      </span>
    </div>

    <div class="offer-text">
      <div class="information offer">
        <div class="information about">
          <p>
            Persik.by – один из ведущих сервисов, предоставляющий интерактивное телевидение в Беларуси. Подключите IPTV
            от Persik.by – и для вас откроются новые возможности:
          </p>
          <p>
            • Более 200 телеканалов на любой вкус
          </p>
          <p>
            • 1000 фильмов и сериалов
          </p>
          <p>
            • Возможность просмотра на любом устройстве, подключённом к интернету
          </p>
          <p>
            • Качественный и лицензионный контент
          </p>
          <p>
            • Возможность просмотра Архива передач за последние 48 часов
          </p>
          <p>
            • Подробная программа передач для каждого телеканала
          </p>
          <br>
          <p>
            IPTV точно оценят обладатели телевизоров Smart TV. Если у вас есть телевизор <a
              (click)="goTo('/devices', 'smart')">Samsung Smart TV</a> или <a (click)="goTo('/devices', 'smart')">LG
              Smart TV</a> – смело заходите в меню вашего телевизора и скачивайте приложение Persik.
          </p>
          <p>
            Даже если Smart TV у вас нет, вы всё равно можете смотреть цифровое телевидение от Persik.by. Для этого вам
            потребуется ТВ-приставка, которую вы также можете приобрести у нас.
          </p>
          <br>
          <br>
          <p>
            Настройка IPTV-приставки происходит довольно просто, но вам не стоит об этом беспокоиться, ведь наши
            специалисты предоставят вам предварительно настроенную IPTV-приставку.
          </p>
          <p>
            IPTV (англ. Internet Protocol Television – телевидение по протоколу интернета) – это технология, позволяющая
            смотреть цифровое ТВ по протоколу IP в сетях передачи данных. Благодаря этой технологии вы можете смотреть
            качественное цифровое телевидение на компьютере, через специализированные ТВ-приставки, с помощью
            медиа-плееров, телевизоров Smart TV и мобильных устройств. Просматривать телеканалы можно как через
            специальные приложения, так и с помощью обычного интернет-браузера.
          </p>
          <p>
            IPTV в Беларуси стремительно набирает популярность среди пользователей, ведь эта технология дает возможность
            смотреть огромное количество телеканалов со всего мира в хорошем качестве и по приемлемой стоимости.
            Телевидение IPTV – это:
          </p>
          <p>
            • КАЧЕСТВО ИЗОБРАЖЕНИЯ. IPTV позволяет смотреть телевидение в FullHD качестве!
          </p>
          <p>
            • КАЧЕСТВО ЗВУКА. Эта технология нового поколения способна обеспечить объёмный многоканальный звук.
          </p>
          <p>
            • ИНТЕРАКТИВНОСТЬ. Вы легко сможете посмотреть свой любимый фильм или передачу, когда вам это будет удобно.
            Больше не нужно тратить время на поиски и скачивание – достаточно выбрать нужное видео в каталоге.
          </p>
          <p>
            • ВОЗМОЖНОСТЬ ЗАПИСИ. Вы сможете записать интересные эфиры и фильмы, чтобы потом иметь возможность их
            пересмотреть.
          </p>
          <br>
          <p>
            Безусловно, технология IPTV в Минске развита гораздо лучше, чем в небольших населённых пунктах Республики,
            однако и там Persik.by сможет обеспечить вам качественное телевидение при условии наличия стабильного
            интернет-соединения.
          </p>
          <br>
          <p>
            Заходите на сайт Persik.by, регистрируйтесь, выбирайте понравившийся тарифный пакет, оплачивайте любым
            удобным для вас способом и смотрите самые рейтинговые телеканалы и отличные фильмы в хорошем качестве.
          </p>
          <br>
          <p>
            Возникли вопросы? info@persik.by. Наши операторы с радостью ответят вам, а также помогут определиться с
            выбором тарифа.
          </p>
          <div class="center-btn" *ngIf="!isLogin">
            <a class="block-btn" (click)="try()" id="try_btn">Попробовать</a>
            <div class="block-btn-text">
              90 дней за 30 копеек
            </div>
          </div>
          <div class="center-btn" *ngIf="isLogin && isHaveSubscription">
            <a class="block-btn" (click)="showOnline()">смотреть</a>
          </div>
          <div class="center-btn" *ngIf="isLogin && !isHaveSubscription">
            <a class="block-btn" (click)="openTariffs()" id="try_btn">попробовать</a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
