.offer-text a{
    color: #e05f20;
    font-family: "OpenSans-Bold";
    cursor: pointer;
}
.offer-text p{
    margin-bottom: 10px;
}
.center-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.block-btn-text{
    font-family: "OpenSans-Bold";
    font-size: 16px;
    color: #232323;
    margin-left: 30px;
    text-transform: uppercase;
}
.block-btn{
    position: relative;
    z-index: 2;
    width: 270px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}