.home-header {
    position: absolute;
    top: 61px;
    width: 100%;
    z-index: 55;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0);
    transition: background-color .3s;

    &_sticky{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 55;
      background-color: #fff;
      transition: background-color .3s;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    }

    &__logo{
      position: relative;
      padding: 12px 0 21px 0;
    }

    &__nav{
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-item{
        transition: .3s;
        color: #232323;
        font-size: 16px;
        padding-top: 28px;
        padding-bottom: 30px;
        margin-left: 38px;
        position: relative;
        font-family: OpenSans-Semibold;
        cursor: pointer;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
          height: 2px;
          background: linear-gradient(to left, #9ed061, #abe06a);
          opacity: 0;
          transition: .3s;
        }
        &:hover{
          color: #8c8c8c;
          transition: .3s;
        }
        &_active{
          color: #8c8c8c;
          transition: .3s;
          &:after{
            opacity: 1;
            transition: .3s;
          }
        }
      }
    }
}

@media screen and (max-width: 992px){
  .home-header{
    display: none;
  }
}


