<div class="home-header" [class.home-header_sticky]="stickyHeader" #stickyMenu>
  <a routerLink="/" class="home-header__logo">
    <!-- <img src="assets/images/persik-logo.svg" alt="Персик ТВ"> -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="163" height="47"
      viewBox="0 0 163 47">
      <defs>
        <linearGradient id="a" x1="100%" x2="0%" y1="50%" y2="50%">
          <stop offset="0%" stop-color="#FE6F41" />
          <stop offset="100%" stop-color="#FFCD78" />
        </linearGradient>
        <linearGradient id="d" x1="100%" x2="0%" y1="50%" y2="50%">
          <stop offset="0%" stop-color="#9ED061" />
          <stop offset="100%" stop-color="#ABE06A" />
        </linearGradient>
        <path id="c" d="M18.598.608v20l16-10.821z" />
        <filter id="b" width="187.5%" height="170%" x="-43.8%" y="-25%" filterUnits="objectBoundingBox">
          <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
          <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2" />
          <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.245272871 0" />
        </filter>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <path fill="url(#a)"
          d="M97.27 26h-3.633V11.89h-4.653V8.868h12.938v3.024H97.27V26zm17.062-17.133H118L112.176 26h-3.961l-5.813-17.133h3.668l3.223 10.195c.18.602.365 1.303.557 2.104.191.8.31 1.357.357 1.67.086-.719.379-1.977.879-3.773l3.246-10.196z"
          transform="translate(45 11)" />
        <text fill="#232323" font-family="OpenSans-Bold" font-size="24" font-weight="bold" transform="translate(45 11)">
          <tspan x="0" y="26">PERSIK</tspan>
        </text>
        <g>
          <path fill="url(#a)"
            d="M18 45.342c-9.941 0-18-8.06-18-18 0-9.941 8.059-18 18-18s18 8.059 18 18c0 9.94-8.059 18-18 18zm0-10.957a7.043 7.043 0 1 0 0-14.087 7.043 7.043 0 0 0 0 14.087z"
            transform="translate(0 1)" />
          <g transform="translate(0 1)">
            <use fill="#000" filter="url(#b)" xlink:href="#c" />
            <use fill="url(#d)" xlink:href="#c" />
          </g>
        </g>
      </g>
    </svg>
  </a>
  <div class="home-header__nav">
    <a routerLink="main" routerLinkActive="home-header__nav-item_active" class="home-header__nav-item">
      О сервисе
    </a>
    <!--[routerLinkActiveOptions]="{exact: true}"-->
    <a routerLink="devices" routerLinkActive="home-header__nav-item_active" class="home-header__nav-item">
      Как смотреть
    </a>
    <a routerLink="tv-tarify" routerLinkActive="home-header__nav-item_active" [routerLinkActiveOptions]="{exact: true}"
      class="home-header__nav-item">
      Тарифы и каналы
    </a>
    <a routerLink="contacts" routerLinkActive="home-header__nav-item_active" class="home-header__nav-item">
      Контакты
    </a>
  </div>
</div>

<router-outlet></router-outlet>
