<div class="main-channels" [class.main-channels_orange-shadow]="!showBtn">
  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <!-- <img class="main-channels__item-logo" src="assets/logo/amedia.png" alt="">-->
      <img class="main-channels__item-logo" src="assets/logo/belarus1.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/euronews.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/europaplus.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/history.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/nickelodeon.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <!-- <img class="main-channels__item-logo" src="assets/logo/setanta.png" alt="">-->
      <img class="main-channels__item-logo" src="assets/logo/ohota.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <!-- <img class="main-channels__item-logo" src="assets/logo/belarus1.png" alt=""> -->
      <img class="main-channels__item-logo" src="assets/logo/jimjam.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/belarus5.png" alt="">
    </div>

  </div>

  <div class="main-channels__item main-channels__item_big" [class.main-channels_retail]="!showBtn">
      <div class="main-channels__item-title">
          <span class="gradient-text">350+</span> каналов
      </div>
      <div class="main-channels__item-text">
          ТВ-шоу, Фильмы, Сериалы, Новости, 18+, Спорт, Мультики и многое другое
      </div>
      <div class="main-channels__item-btn btn-white" *ngIf="showBtn">
          показать все
      </div>
  </div>


  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/vtv.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/kinofamily.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/kinohit.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/ntv.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/ont.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/perets.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/rtr.png" alt="">
    </div>

  </div>

  <div class="main-channels__item">
    <div class="main-channels__item-content">
      <img class="main-channels__item-logo" src="assets/logo/tnt.png" alt="">
    </div>

  </div>
</div>

