.main-channels {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
  &__item {
    position: relative;
    width: 16.666667%;
    &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      box-sizing: border-box;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e9e9e9;
    }
    // width: calc(100% / 6);
    // height: 16.6vw;
    // max-width: calc(100vw / 6 - 3px);
    // font-size: 16px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // align-content: center;
    // box-sizing: border-box;
    // border-bottom: 1px solid #e8e8e8;
    // border-right: 1px solid #e9e9e9;

    &_big {
      // width: calc(100% / 3) !important;
      // max-width: none !important;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      box-sizing: border-box;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e9e9e9;
      width: 33.333333%;
      &:before {
        display: none !important;
      }
    }

    &-logo {
      /* -webkit-filter: grayscale(100%) brightness(55%);
                -moz-filter: grayscale(100%) brightness(55%);
                -ms-filter: grayscale(100%) brightness(55%);
                -o-filter: grayscale(100%) brightness(55%);
                filter: grayscale(100%) brightness(55%);
                filter: gray; */
      width: 40%;
      filter: grayscale(100%);
    }

    &-title {
      position: relative;
      color: #232323;
      font-size: 32px;
      font-family: OpenSans-Bold;
      margin-bottom: 11px;
      text-transform: uppercase;
    }
    &-text {
      width: 100%;
      color: #8c8c8c;
      font-size: 16px;
      line-height: 2;
      padding: 0 55px;
      text-align: center;
    }
    &-btn {
      justify-content: center;
      text-align: center;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      z-index: 2;
    }
  }

  &_orange-shadow{
      position: relative;
      background-color: #fff;
    // &:after{
    //     content: '';
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: linear-gradient(to left, #fe6f41, #ffcd78);
    //     filter: blur(10px);
    //     opacity: 0.5;
    //     z-index: -1;
    //     transition: .3s;
    // }
  }
}

.main-channels_retail {
  .main-channels__item-text {
    font-size: 14px;
    padding: 0 10px;
  }
  .main-channels__item-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .main-channels__item-text {
    font-size: 14px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .main-channels__item {
    width: 25%;
  }
  .main-channels__item_big {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .main-channels__item {
    display: none;
    &_big {
      display: flex;
      margin-bottom: 30px;
    }
    &-btn {
      padding-left: 0;
    }
  }
}
