<div class="films">

  <h1 class="films__title">
    курсы <span class="orange-text">онлайн</span>
  </h1>

  <div class="films__breadcrumbs">
    <a routerLink="" class="films__breadcrumbs-item">
      Онлайн-просмотр
    </a>
    <div class="films__breadcrumbs-item">
      Курсы
    </div>
    <div class="films__breadcrumbs-item">
      {{ activeGenre?.name }}
    </div>
  </div>

  <div class="tapes">
    <div class="films__filter" *ngIf="isHaveGenres">
      <app-genre-filter class="filter" [genres]="genres" [active]="activeGenre" (genreChange)="onGenreChange($event)"></app-genre-filter>
    </div>

    <div class="row" *ngIf="isHaveContent">
      <div class="card-col-four" *ngFor="let id of film_ids">
        <app-film-card [content_id]="id" [category_id]="4"></app-film-card>
      </div>
    </div>
  </div>



  <div *ngIf="isBrowser && isHaveContent"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  </div>

</div>
