@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@ngx-share/button/themes/default/default-theme';


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #1b1b1b;
  ;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: OpenSans-Bold;
  src: url('./assets/fonts/OpenSans-Bold.ttf') format("truetype");
}

@font-face {
  font-family: OpenSans-Light;
  src: url('./assets/fonts/OpenSans-Light.ttf') format("truetype");
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url('./assets/fonts/OpenSans-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: OpenSans-Extrabold;
  src: url('./assets/fonts/OpenSans-ExtraBold.ttf') format("truetype");
}

body {
  font-family: OpenSans;
  color: #232323;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  position: relative;
  display: flex !important;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.3333334%;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

// .col-2.4{
// 	width: 20%;
// }
.col-2 {
  width: 16.6666667%;
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -12px;
  top: -12px;
  background-image: linear-gradient(to left, #9ed061, #abe06a);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  &__img {
    width: 12px;
  }

  @media screen and (max-width: 545px) {
    right: 4px;
    top: 4px;
  }
}

.btn-white {
  position: relative;
  background-color: #fff;
  color: #232323;
  font-size: 16px;
  font-family: OpenSans-Bold;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 235px;
  text-transform: uppercase;
  box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
  cursor: pointer;
  transition: .3s;

  img {
    margin-right: 10px;
  }

  &:hover {
    transition: .3s;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.2);
  }
}

.btn-orange {
  position: relative;
  color: #fff !important;
  font-size: 16px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 235px;
  outline: none !important;
  border: none !important;
  // box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1) !important;
  background: linear-gradient(to left, #fe6f41, #ffcd78);
  cursor: pointer;
  transition: .3s;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #fe6f41, #ffcd78);
    filter: blur(15px);
    opacity: 0.5;
    z-index: -1;
    transition: .3s;
  }

  &:hover {
    color: #fff;

    &:after {
      transition: .3s;
      opacity: 0.9;
    }
  }
}

.gradient-text {
  background: linear-gradient(to left, #fe6f41, #ffcd78);
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-clip: text;
}

.orange-text {
  color: #e05f20;
}

.orange-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 9.4px;
  border-color: transparent transparent transparent #e06020;
}

.orange-pause {
  width: 12px;
  height: 12px;
  background: linear-gradient(to right, #e06020 0%, #e06020 33%, transparent 33%, transparent 67%, #e06020 67%, #e06020 100%);
  margin-right: 8px;
}

.orange-download {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background: url('./assets/images/icons/archive-icon.svg');
}

.slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  width: auto;
}

.slick-dots li button:before {
  font-size: 12px;
  opacity: 1;
  color: #e3e3e3;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #9ed061;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li {
  height: 30px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev,
.slick-next {
  background-size: cover;
  background-position: center center;
  width: 40px;
  height: 40px;
  background-image: url('assets/images/icons/slider-arrow.svg');
  transition: .3s;
  opacity: 0.4;
  transform: none;
  margin-top: -20px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-image: url('assets/images/icons/slider-arrow.svg');
  background-size: cover;
  background-position: center center;
  transition: .3s;
  opacity: 1;
}

.slick-next {
  right: -55px;
  transform: rotate(180deg);
}

.slick-prev {
  left: -55px;
}

app-content-slider {
  display: block;
  padding-bottom: 91px;

  .slick-slider {
    .film-card {
      margin-bottom: 0;
    }

    .slick-list {
      margin: 0 -15px;
    }

    .slick-slide {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

content-description {
  .slick-list {
    margin: 0 -15px;
  }

  .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.nopadding {
  padding: 0;
}

.time-block {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #000;
  font-size: 14px;
  color: #fff;
  padding: 5px 10px;
}

.progress-line {
  position: absolute;
  bottom: -4px;
  height: 4px;
  left: 0;
  // right: 0;
  width: 100%;

  &__width {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    max-width: 100%;
    background-color: #e05f20;
  }
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(224, 95, 32, 0.4) !important;
}

.live {
  .mCSB_container {
    height: 100% !important;
  }

  .mCustomScrollBox {
    max-height: 775px !important;
  }
}

.mCSB_scrollTools .mCSB_dragger,
.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
  z-index: 55;
}

.online-header__nav-submenu {
  .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

.has-error {
  border: 1px solid red;
}

.form-group {
  position: relative;
  padding-top: 30px;

  &__error {
    position: absolute;
    left: 0;
    top: 75px;
    font-size: 14px;
    color: red;
  }

  &__label {
    transition: .3s;
    color: #8c8c8c;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 40px;

    &_required {
      &:after {
        content: '*';
        display: inline-block;
        color: #e05f20;
      }
    }
  }

  &__input {
    position: relative;
    border: none;
    color: #232323;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 12px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 35px;
    display: block;
    width: 100%;
    transition: .3s;

    &:disabled {
      border-bottom: 1px solid #e9e9e9;
      background-color: transparent;
      // cursor: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #232323;

      &+.form-group__label {
        font-size: 14px;
        top: 10px;
        transition: .3s;
      }
    }

    &.has-error {
      border-color: red;
      transition: .3s;
    }
  }

  &_dirty {
    .form-group__label {
      font-size: 14px;
      top: 10px;
      transition: .3s;
    }
  }

  &_fixed-title {
    .ng-select.ng-select-single .ng-select-container {
      padding-bottom: 22px;
      padding-top: 8px;
    }

    .form-group__label {
      top: 10px !important;
      font-size: 14px;
    }

    .form-group__input {
      padding-bottom: 20px;
    }
  }
}

.ng-select {
  outline: none !important;
  cursor: pointer;
}

.ng-select .ng-select-container {
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e9e9e9;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  display: none !important;
}

.ng-select .ng-arrow-wrapper {
  width: 20px;
  height: 20px;
  background-image: url('assets/images/icons/select-arrow.svg');
  background-size: cover;
  background-position: center center;
}

.ng-select.ng-select-single .ng-select-container {
  height: auto;
  min-height: 1px;
  padding-bottom: 22px;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0;
  color: #232323;
  font-size: 18px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
  padding-left: 0;
}

.ng-clear-wrapper {
  display: none;
}

.gradient-border {
  position: relative;
  padding: 2px;

  &__content {
    font-size: 16px;
    color: #232323;
    font-family: OpenSans-Bold;
    padding: 9px;
    position: relative;
    z-index: 2;
    background-color: #fff;
  }

  &__bg {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(to right, #ffcd78 0%, #abe06a 100%);
    z-index: 1;
  }

  &_expired {
    .gradient-border__content {
      padding: 9px 16px;
    }
  }
}

.ng5-slider .ng5-slider-bar {
  background: rgba(255, 255, 255, 0.45) !important;
}

.ng5-slider .ng5-slider-selection {
  background: #e05f20 !important;
}

.ng5-slider .ng5-slider-pointer {
  width: 22px !important;
  height: 22px !important;
  top: -9px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  outline: none;
}

.ng5-slider .ng5-slider-pointer:after {
  width: 10px !important;
  height: 10px !important;
  top: 6px !important;
  left: 6px !important;
  border-radius: 50% !important;
}

.tvshow-tape {
  .cdk-virtual-scroll-content-wrapper {
    // магическое число
    // padding-left: 350px;
    // padding-left: 270px;
    // padding-left: 100px;
    padding-left: 120px;
  }
}

.volume {

  .ng5-slider .ng5-slider-pointer {
    top: initial !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #fff !important;
    border: none !important;

    &:after {
      display: none !important;
    }
  }

  .ng5-slider.ng5-slider-vertical .ng5-slider-pointer {
    left: -4.5px !important;
  }

  .ng5-slider .ng5-slider-selection {
    background: #a3c718 !important;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      filter: blur(10px);
      background-color: #a3c718;
    }
  }
}

.volume-range {
  .ng5-slider .ng5-slider-pointer {
    top: initial !important;
    width: 14px !important;
    height: 14px !important;
    background-color: #fff !important;
    border: none !important;
    top: -5px !important;

    &:after {
      display: none !important;
    }
  }

  .ng5-slider .ng5-slider-selection {
    background: #a3c718 !important;
  }
}

.catalog,
.main-archive {
  .film-card {
    margin-bottom: 20px !important;
    background-color: #f9f9f9 !important;
    box-shadow: none !important;
    border: 1px solid #e9e9e9;

    &__name {
      color: #232323 !important;
    }

    &__genre {
      color: #929292 !important;
      transition: .3s;
    }

    &__time {
      display: none !important;
    }

    &__img {
      // height: 20vh !important;
      display: block;

      &:after {
        content: '';
        display: block;
        // padding-bottom: 56.615384% !important;
      }
    }

    &:hover {
      background-color: #e05f20 !important;

      .film-card__name {
        color: #fff !important;
      }

      .film-card__genre {
        color: #fff !important;
        transition: .3s;
      }
    }

    .show-all {
      color: #232323;
    }
  }
}

/* .tariff-page__library_grey .tariff-page__library-grid{
	.film-card{
		background-color: #fff !important;
		border: 1px solid #e9e9e9;
		&__img{
			&:after{
				padding-bottom: 56.615384% !important;
			}
		}
		&:hover{
			background-color: #e05f20 !important;
			.film-card__name{
				color: #fff !important;
			}
		}
	}
} */

.howto__slider {
  .slick-dots {
    left: 0;
    right: 0;
    bottom: -80px;
    top: initial;
    height: 80px;
    flex-direction: row;
  }

  .slick-prev,
  .slick-next {
    opacity: 0 !important;
    background-image: url('./assets/images/icons/arrow-icon.svg');
    width: 40px;
    height: 40px;
    opacity: 1;
    background-size: 16px 26px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .3s;
  }

  &:hover {

    .slick-prev,
    .slick-next {
      opacity: 1 !important;
      transition: .3s;
    }
  }

  .slick-next {
    transform: rotate(90deg);
  }

  .slick-prev {
    transform: rotate(-90deg);
  }
}

.tv-shows-page {
  .film-card__img {
    height: 20vh !important;
  }
}

.main-devices {
  .col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.films {
  min-height: 100vh;

  .container {
    padding: 0 80px;
    max-width: 100% !important;
  }

  &__title {
    font-size: 32px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: #fff;
    // margin-bottom: 40px;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'OpenSans-Bold';
  }

  &__breadcrumbs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    margin-top: 20px;

    &-item {
      color: #929292;
      text-decoration: none;
      transition: .3s;
      font-size: 14px;
      margin-bottom: 10px;
      text-transform: capitalize;

      &:after {
        content: '/';
        display: inline-block;
        padding-left: 5px;
        padding-right: 8px;
        color: #fff !important;
      }

      &:last-child {
        &:after {
          display: none;
        }

        &:hover {
          color: #fff;
          cursor: initial;
        }
      }

      &:hover {
        transition: .3s;
        color: #e05f20;

        &:after {
          color: #fff;
        }
      }
    }
  }
}

.favorites {
  .slick-track {
    min-width: 100% !important;
  }
}

.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #e05f20;
}

.films__dropdowns-item {
  .ng-select.ng-select-single .ng-select-container {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #393939;
    height: 50px;
    font-size: 14px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #fff;
    font-size: 14px;
  }

  .ng-select .ng-arrow-wrapper {
    background-image: none;
    background: transparent;

    &:after {
      display: inline-block;
      position: absolute;
      top: 6px;
      right: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 5px 0 5px;
      border-color: #757575 transparent transparent transparent;
      transition: .3s;
    }
  }

  .ng-dropdown-panel.ng-select-bottom {
    border-radius: 0;
    border: none;
  }

  .ng-dropdown-panel .scroll-host {
    margin-bottom: 0;
  }

  .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    border-radius: 0;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    font-size: 14px;
    background-color: #fff;
    transition: .3s;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    transition: .3s;
    background-color: #e05f20;
    color: #fff;
    font-family: 'OpenSans-Bold';
  }

  .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-color: #fff;
    background-color: #fff;
  }

  .ng-select.ng-select-opened.ng-select-bottom .ng-value-container .ng-placeholder {
    color: #232323;
    transition: .3s;
    font-family: 'OpenSans-Bold';
  }

  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    display: none;
  }

  .ng-select.ng-select-opened.ng-select-bottom .ng-arrow-wrapper {
    &:after {
      // border-color: #e05f20;
      border-color: #e05f20 transparent transparent transparent;
      transition: .3s;
    }
  }

  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color: #fff;
    font-size: 14px;
  }

  .ng-select.ng-select-opened.ng-select-bottom .ng-value-container .ng-value {
    color: #333333;
  }
}

.green-dot {
  background-image: linear-gradient(to left, #9ed061, #abe06a);
  position: absolute;
  z-index: 0;
}

.card-col {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 16.666667%;
}

.card-col-four {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 25%;
}


.main-archive {
  .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.text-page {
  position: relative;
  min-height: calc(100vh - 61px);
  background-color: white;
  padding-top: 115px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e9e9e9;

  .films__title {
    margin-bottom: 80px;
    color: #232323;
  }
}

.offer-text {
  font-size: 18px;
  color: #232323;
  line-height: 30px;
  max-width: 1020px;
  margin: 0 auto 100px auto;
}

.block-btn {
  outline: none;
  position: relative;
  background: linear-gradient(to left, #9ed061, #abe06a);
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  height: 40px;
  padding-left: 22px;
  padding-right: 22px;
  width: 210px;
  z-index: 1;
  color: #fff !important;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background: linear-gradient(to left, #9ed061, #abe06a);
    z-index: -1;
  }
}

.free-text {
  position: relative;
  font-size: 18px;
  color: #232323;
  line-height: 26px;
  margin: 0 auto 40px auto;
  padding-left: 40px;

  .gradient-text {
    font-family: "OpenSans-Bold";
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    width: 21px;
    height: 25px;
    background-size: cover;
    background-position: center center;
    background-image: url('assets/images/text-pages/triangle.png');
  }
}

.free-small {
  font-size: 16px;
  color: #232323;
  line-height: 22px;
  // max-width: 1020px;
  padding-top: 40px;
  border-top: 1px solid #e0e0e0;
  margin: 0 auto 40px auto;
}

.text-footer {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 1px solid #e0e0e0;
  font-size: 16px;
  color: #232323;
  max-width: 100%;

  a {
    font-family: "OpenSans-Bold";
    color: #e05f20 !important;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
  }
}

.toggle-label {
  display: block;
  position: relative;
  // max-width: 1020px;
  margin: 0 auto 30px auto;

  // animation: bounceInUp 1s ease both;
  .toggle-input {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover~.toggle-name {
      color: #a3c718;
      transition: .3s;
    }
  }

  .toggle-content {
    // display: none;
    margin-top: 5px;
    padding-top: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #8c8c8c;
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translate(0, 0);
    // transition: all 0.25s ease-in-out;
    transition: all 500ms ease;
    max-height: 800px;
    will-change: transform;
    overflow: hidden;

    p {
      margin-bottom: 12px;
    }

    a {
      font-family: "OpenSans-Bold";
      color: #e05f20;
    }
  }

  .toggle-input:checked~.toggle-content {
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    padding-top: 0;
  }

  .toggle-input:checked~.toggle-name {
    color: #232323;
    transition: .3s;
  }

  .toggle-name {
    font-size: 18px;
    padding-bottom: 14px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #a3c718;
    transition: .3s;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-image: linear-gradient(to left, #9ed061, #abe06a);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      filter: blur(10px);
      background-color: #a3c718;
    }

    &:hover {
      color: #a3c718;
      transition: .3s;
    }
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.tv-shows-page {
  .film-card__time {
    display: none !important;
  }
}

.hidden-desctop {
  display: none;
}

[routerlink] {
  outline: none !important;
}

.hidden-jivosite {
  jdiv {
    display: none !important;
  }
}

.logo_1D,
.copy_2W,
.label_39._right_1y .leafCont_2L,
.leaf_25._bottom_DW,
.leaf_25._left_MI,
.leaf_25._right_3d,
.chatCopyright_3s .text_30 {
  display: none !important;
}

.headerBox_3s,
.headerBox_2k {
  background: linear-gradient(to left, #fe6f41, #ffcd78) !important;
}

.globalClass_ET>jdiv {
  background: #e05f20 !important;
}

.header_2u._light_2Y,
.header_2u._light_2Y .agentName_1D,
.header_2u._light_2Y .title_1g,
.header_2u ._light_2Y .title_1g {
  color: #fff;
}

.info_2s .title_1g {
  opacity: 0.7 !important;
}

.main_Lb,
.header_2f {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

._showLogo_3q .iconWrap_2n {
  animation: none !important;
  background: linear-gradient(to left, #fe6f41, #ffcd78) !important;
  border-radius: 50%;
}

.icons_R9:first-child {
  display: none !important;
}

app-content-slider {
  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;
      display: flex;
      align-items: stretch;
      align-content: stretch;

      &>app-film-card,
      &>app-channel-card,
      &>div {

        display: flex;
        align-items: stretch;
        align-content: stretch;
        width: 100%;

        &>div {
          width: 100%;
        }
      }
    }

  }
}

.tv-guide__video-player {
  .player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.retail__odds {
  position: relative;
  margin-top: 150px;
  padding-left: 40px;
  padding-right: 40px;

  &-title {
    text-align: center;
    font-size: 24px;
    color: #fe6f41;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    margin-bottom: 60px;
  }

  &-row {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  &-item {
    width: 12.5%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }

  &-img-wrapper {
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-img {
    max-width: 60px;
    max-height: 60px;
  }

  &-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
  }
}

.retail-table {
  margin-top: 120px;

  table {
    width: 100%;

    th {
      font-family: "OpenSans-Bold";
      padding-top: 28px;
      padding-bottom: 28px;
      line-height: 22px;
    }

    td {
      vertical-align: middle;
      line-height: 22px;
    }
  }

  .btn-orange {
    width: 140px;
    z-index: 5;
  }
}

.retail-pagination {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #dee2e6;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transition: .3s;
      background-color: #dee2e6;
    }

    &_active {
      color: #fff;
      background-color: #fe6f41 !important;
      transition: .3s;
      border-color: #e05f20;
    }

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.retail-sum {
  position: relative;
  max-width: 500px;
  margin-top: 68px;

  &__title {
    font-family: "OpenSans-Bold";
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    border-top: 1px solid #dee2e6;
    padding: 14px 12px;
    justify-content: space-between;

    &-count {
      font-family: 'OpenSans-Bold';
    }
  }
}

.retail-admin__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;

  .btn-orange {
    margin-right: 30px;
  }
}

.retail-stats__title {
  font-size: 26px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.retail-stats {

  .row,
  .col-12 {
    justify-content: center !important;
    display: flex;
  }

  .form-group__input,
  .ng-select .ng-select-container {
    border-color: #fe6f41 !important;
  }
}

.publish-page {
  position: relative;
  background-color: white;

  .form-group__input {
    background: transparent;
  }

  &__banner {
    margin-bottom: 80px;
    width: 100%;
    position: relative;

    &-image {
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }

    &-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, .6);

      &-title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        font-family: "OpenSans-Bold";
        text-transform: uppercase;
        color: white;
        cursor: default;
        user-select: none;
      }
    }
  }

  &__gradient-title {
    text-align: center;
    font-family: "OpenSans-Bold";
    font-size: 24px;
    text-transform: uppercase;
  }

  &__grid {
    margin-top: 70px;

    .row {
      width: initial;
    }
  }

  &__small-title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;

    .gradient-text {
      margin-bottom: 40px;
      margin-top: 20px;
      font-family: "OpenSans-Bold";
    }
  }

  .contacts__item {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 0;

    &-title {
      line-height: 32px;
    }
  }

  &__form {
    background-color: #fafafa;
    padding-top: 60px;
    padding-bottom: 55px;
    position: relative;

    &-title {
      text-align: center;
      font-size: 26px;
      font-family: "OpenSans-Bold";
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    &-button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 43px;
      position: relative;
      z-index: 5;
    }
  }

  &__text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 338px;
    height: 60px;
    box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    font-family: "OpenSans-Bold";
    margin: 0 auto;
  }

  &__text {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 60px;
    color: #929292;
  }

  &__list {
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &-title {
      width: 100%;
      font-size: 28px;
      margin-bottom: 60px;
      font-family: "OpenSans-Bold";
    }

    &-item {
      width: 20%;
      font-size: 16px;
      line-height: 24px;
      padding: 0 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      // width: 100%;
      margin-bottom: 25px;

      &:before {
        content: '';
        background: linear-gradient(to left, #9ed061, #abe06a);
        display: inline;
        margin-right: 10px;
      }

      &-icon {
        position: relative;
        width: 50px;
        height: 50px;
        background: linear-gradient(to left, #9ed061, #abe06a);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
      }
    }
  }

  &__about {
    border-top: 1px solid #e9e9e9;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin-top: 60px;

    &-title {
      font-size: 26px;
      font-family: "OpenSans-Bold";
      margin-bottom: 60px;
      text-transform: uppercase;
    }

    &-item {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      margin-bottom: 25px;

      &:before {
        content: '';
        background-color: #A9D963;
        display: inline;
        margin-right: 10px;
      }
    }
  }
}

.contacts {
  &__item {
    position: relative;
    border: 1px solid #e9e9e9;
    height: 250px;
    padding: 80px 30px 0 30px;
    text-align: center;

    &_adress {
      margin-top: 60px;
    }

    &-logo {
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 60px;
      height: 60px;
      background-color: #fff;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
    }

    &-title {
      color: #232323;
      font-family: 'OpenSans-Bold';
      text-transform: uppercase;
      margin-bottom: 12px;
      font-size: 24px;
    }

    &-text {
      font-size: 16px;
      color: #929292;
      margin-bottom: 10px;
    }

    &_custom {
      height: 300px;

      // padding: 60px 30px !important;
      // align-items: flex-start !important;
      // align-content: flex-start !important;
      .contacts__item-title {
        font-size: 18px;
        line-height: 24px;
      }
    }


  }


}

.retail-main__channels {

  .main-channels__item:first-child,
  .main-channels__item:nth-child(7),
  .main-channels__item:nth-child(12) {
    border-left: 1px solid #e9e9e9;
  }
}

.retail-wrap {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 150px;
}

.tv-guide__video {
  .player .error__title {
    font-size: calc(8px + 0.42vw) !important;
  }

  .player .error__button {
    padding-top: calc(8px + 0.42vw) !important;
    padding-bottom: calc(8px + 0.42vw) !important;
    height: auto !important;
  }
}

.data-filter {
  app-tv-guide-day {
    min-width: 33.333334%;
    width: 33.333334%;
    // display: inline-block;
  }
}

.tv-guide__video-player {
  .player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100% !important;
  }
}

.tv-guide__wrapper {
  .player {
    height: 100% !important;
  }
}

.tv-guide__video {
  .player .error__title {
    font-size: calc(8px + 0.42vw) !important;
  }

  .player .error__button {
    padding-top: calc(8px + 0.42vw) !important;
    padding-bottom: calc(8px + 0.42vw) !important;
    height: auto !important;
  }
}

@media screen and (max-width: 1600px) {
  .card-col {
    width: 20%;
  }

  .card-col-four {
    width: 25%;
  }
}

@media screen and (max-width: 1400px) {
  .card-col {
    width: 25%;
  }

  .card-col-four {
    width: 25%;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 970px;
  }

  .btn-white {
    font-size: 14px;
    width: 220px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .btn-orange {
    font-size: 14px;
    width: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .publish-page__list-item {
    width: 33.333334%;
  }
}

@media screen and (max-width: 1200px) {
  .card-col {
    width: 33.333334%;
  }

  .card-col-four {
    width: 25%;
  }
}

@media screen and (max-width: 992px) {
  .publish-page__list-item {
    width: 50%;
  }

  jdiv {
    display: none !important;
  }

  .card-col {
    width: 50%;
  }

  .card-col-four {
    width: 50%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-3 {
    width: 50%;
  }

  .films__dropdowns .col-3 {
    max-width: 50%;
    flex: 0 0 50%;
    width: 50%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .publish-page__list-item {
    width: 100%;
    text-align: center;
  }

  .publish-page {
    padding-top: 50px;

    &__banner {
      margin-bottom: 40px;

      &-wrapper {
        &-title {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    &__gradient-title {
      font-size: 18px;
    }

    &__grid {
      margin-top: 50px;
    }

    .contacts__item {
      height: 150px;
      margin-bottom: 50px;

      &-title {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }

    &__small-title {
      margin-top: 0;

      .gradient-text {
        margin-bottom: 0;
      }
    }

    &__form {
      padding-top: 30px;

      &-title {
        margin-bottom: 30px;
      }
    }

    &__list {
      &_title {
        font-size: 20px;
      }

      &-item {
        // text-align: left;
        line-height: 22px;
      }
    }

    &__about {
      margin-top: 0;
      padding-bottom: 0;

      &-title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
      }

      &-item {
        text-align: left;
        line-height: 22px;
      }
    }
  }

  .contacts__item_custom {
    height: auto !important;
    padding-top: 50px !important;
    padding-bottom: 30px !important;
  }

  .text-page {
    padding-top: 90px;
  }

  .no-padding-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .text-page .films__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .hidden-desctop {
    display: flex;
  }

  .howto__slider .slick-list {
    margin-right: -1px;
  }

  .featured {
    overflow-x: hidden;
  }

  .films__dropdowns {
    padding-bottom: 0 !important;
  }

  .films .row {
    margin-left: -5px !important;
    margin-right: -5px !important;
  }

  .films__dropdowns .col-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .films {
    padding-top: 90px !important;

    .row {
      margin: 0 -5px !important;
    }
  }

  .hidden-mobile {
    display: none !important;
  }

  .card-col {
    width: 50%;
    padding: 0 5px;
  }

  video-player {
    position: relative;
    // top: -60px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .col-3 {
    width: 100%;
  }

  .col-sm-6 {
    width: 100%;
    padding: 0 15px;
  }

  .slick-slide {
    text-align: center;
  }

  .row {
    width: initial;
    flex-wrap: wrap;

    .col-6 {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .green-dot {
    display: none;
  }

  .main-devices .col-4 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .green-circle {
    display: none !important;
  }

  app-content-slider {
    padding-bottom: 20px;
  }

  .films .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-3 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .films__dropdowns-item {
    margin-bottom: 15px !important;
  }
}



/* You can add global styles to this file, and also import other style files */
.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 255px;
  width: 90%;
  overflow-y: hidden;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}


.cdk-virtual-scroll-viewport .cdk-virtual-scroll-orientation-horizontal .cdk-virtual-scroll-content-wrapper {
  display: flex;
}


.cdk-virtual-scroll-content-wrapper {
  display: flex;
  //   align-items: center;
  align-items: flex-start;
  align-content: flex-start;
}

.no-content {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}
