.profile {
  position: relative;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom: 1px solid #e9e9e9;
  background: white;

  .newinfo {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    line-height: 1.89;
    padding-bottom: 80px;
    color: black;
    font-weight: bold;
  }

  .container {
    position: relative;
    z-index: 1;
  }
  .dot1 {
    width: 20px;
    height: 20px;
    right: 38%;
    top: -45px;
  }
  .dot2 {
    width: 10px;
    height: 10px;
    right: 7%;
    top: 43%;
  }
  .dot3 {
    width: 15px;
    height: 15px;
    left: 14%;
    bottom: 11%;
  }
  &__title {
    text-align: center;
    margin: 0;
    font-size: 32px;
    color: #232323;
    text-transform: uppercase;
    color: #232323;
    font-family: OpenSans-Bold;
    margin-bottom: 45px;
  }

  &__container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
  }

  &__form {
    position: relative;
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .col-6 {
      padding: 0 15px;
    }
    .form-group {
      position: relative;

      &__input {
        padding-bottom: 20px;
      }
      &__error {
        top: 85px;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    padding: 0 15px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding-top: 105px;
    padding-bottom: 60px;
  }
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
