<app-account-poster imageSrc="assets/images/lk-banner-6.jpg"></app-account-poster>
<div class="profile">
  <div class="green-dot dot1"></div>
  <div class="green-dot dot2"></div>
  <div class="green-dot dot3"></div>
  
  <div class="profile__container">

    <div class="container">
      <app-free-progress></app-free-progress>
    </div>
    
    <h3 class="profile__title">
      <span class="gradient-text">ваш</span> профиль
    </h3>
    <form
      class="profile__form"
      novalidate
      [formGroup]="profileForm"
      (ngSubmit)="onSaveChanges()"
    >
      <div class="col-6">
        <div class="form-group" [class.form-group_dirty]="name.value">
          <input
            id="name"
            type="text"
            [class.has-error]="name.errors"
            class="form-group__input"
            formControlName="name"
          />
          <label for="name" class="form-group__label">Имя</label>
          <div
            class="field-error"
            *ngIf="name.errors && (name.dirty || name.touched)"
          >
            <span *ngIf="name.errors" class="form-group__error"
              >Максимальная длина имени
              {{ name.errors["maxlength"].requiredLength }} символов</span
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group" [class.form-group_dirty]="pass_code.value">
          <input
            id="password"
            type="text"
            [class.has-error]="pass_code.errors"
            class="form-group__input"
            formControlName="pass_code"
          />
          <label for="password" class="form-group__label"
            >Пароль родительского контроля</label
          >
          <div
            class="field-error"
            *ngIf="pass_code.errors && (pass_code.dirty || pass_code.touched)"
          >
            <span
              *ngIf="
                pass_code.errors['minlength'] ||
                pass_code.errors['maxlength'] ||
                pass_code.errors['required']
              "
              class="form-group__error"
              >Длина пароля должна быть 4 цифры</span
            >
            <span
              *ngIf="
                pass_code.errors['pattern'] &&
                !pass_code.errors.minlength &&
                !pass_code.errors.maxlength &&
                !pass_code.errors.required
              "
              class="form-group__error"
              >Пароль должен состоять только из цифр</span
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group" [class.form-group_dirty]="email.value">
          <input
            id="email"
            type="text"
            [class.has-error]=""
            class="form-group__input"
            formControlName="email"
          />
          <label for="email" class="form-group__label">E-mail</label>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group" [class.form-group_dirty]="phone.value">
          <input
            id="phone"
            type="text"
            [class.has-error]="phone.errors"
            class="form-group__input"
            formControlName="phone"
          />
          <label for="phone" class="form-group__label">Телефон</label>
          <div
            class="field-error"
            *ngIf="phone.errors && (phone.dirty || phone.touched)"
          >
            <span *ngIf="phone.errors['maxlength']" class="form-group__error"
              >Не более 20 символов</span
            >
            <span *ngIf="phone.errors['pattern']" class="form-group__error"
              >Номер телефона должен состоять только из цифр</span
            >
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group" [class.form-group_dirty]="year.value">
          <input
            id="year"
            type="text"
            [class.has-error]="year.errors"
            class="form-group__input"
            formControlName="year"
            type="text"
            [value]="year.value | date: 'yyyy-MM-dd'"
            bsDatepicker
          />
          <!-- [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" -->
          <label for="year" class="form-group__label">Дата рождения</label>
        </div>
      </div>

      <div class="col-6">
        <div
          class="form-group form-group_fixed-title"
          [class.form-group_dirty]="sex.value"
        >
          <ng-select
            [items]="sexDropdown"
            bindLabel="name"
            bindValue="id"
            search="false"
            formControlName="sex"
          >
          </ng-select>
          <label for="sex" class="form-group__label">Пол</label>
        </div>
      </div>

      <div class="profile__btn">
        <button type="submit" class="btn-orange" value="Сохранить">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>

<!-- <preloader *ngIf="isLoading"></preloader> -->

<!-- <form class="form-group" novalidate [formGroup]="profileForm" (ngSubmit)="onSaveChanges()">

  <div class="form-group__item">
    <input type="text" formControlName="name">
    <div class="field-error" *ngIf="name.errors">
      <span class="form-group__error">Максимальная длина имени {{ name.errors.maxlength.requiredLength }} символов</span>
    </div>
  </div>

  <div class="form-group__item">
    <input type="text" disabled formControlName="email">
  </div>

  <div class="form-group__item">
    <input type="text" formControlName="phone">
    <div class="field-error" *ngIf="phone.errors">
      <span class="form-group__error">Максимальная длина {{ phone.errors.maxlength.requiredLength }} символов</span>
    </div>
  </div>

  <div class="form-group__item">
    <input type="text" formControlName="pass_code">
    <div class="field-error" *ngIf="pass_code.errors">
      <span *ngIf="pass_code.errors.minlength || pass_code.errors.maxlength || pass_code.errors.required" class="form-group__error">Длина пароля должна быть 4 цифры</span>
      <span *ngIf="pass_code.errors.pattern && !pass_code.errors.minlength && !pass_code.errors.maxlength && !pass_code.errors.required" class="form-group__error">Пароль должен состоять только из цифр</span>
    </div>
  </div>

  <input type="text" formControlName="sex">

  <input type="submit" value="Save">
</form>
 -->
