<div class="text-page films">
  <div class="container">
    <div class="films__title">
      О технологии
      <span class="gradient-text">
        ОТТ
      </span>
    </div>

    <div class="offer-text">
      <div class="information offer">
        <div class="information about">
          <p>
            Технология OTT – стремительно набирающая популярность модель предоставления интерактивного телевидения. В
            привычном для нас понимании – трансляция телеканалов через интернет. Является разновидностью IPTV и часто
            ошибочно приравнивается к этому виду услуг. Главное отличие OTT в том, что эта технология полностью
            автономна от сетей конкретного интернет-провайдера (OTT – Over the Top, т.е. «поверх» сетей), а также
            позволяет просматривать любимые фильмы и телеканалы из любой точки мира.
          </p>
          <br>
          <p>
            Интерактивное OTT-телевидение от Persik.by – это:
          </p>
          <br>
          <p>
            - полная свобода от спутников и кабельных сетей;<br>
            - возможность управлять эфиром (просмотр архива, пауза или таймшифтинг);<br>
            - настройка собственной программы телепередач и формирование списка «Избранное»;<br>
            - поддержка любых удобных для вас устройств: смартфоны, планшеты, персональные компьютеры, телевизоры (как
            обычные, так и с поддержкой SmartTV);<br>
            - постоянно пополняющаяся коллекция телеканалов, фильмов и сериалов на любой вкус;<br>
            - отличный цифровой видеосигнал и дополнительные интерактивные сервисы;<br>
            - возможность для каждого члена семьи наслаждаться любимыми каналами за счет опции мультирум. Она позволяет
            смотреть TV через несколько независимых подключений. Вы забудете о том, что такое борьба за пульт от
            телевизора.
          </p>
          <br>
          <p>
            Благодаря использованию технологии OTT каналы доступны для вас в любое время суток. Ведь больше нет привязки
            к эфиру. И если у вас бессонница, то ночью вы легко сможете посмотреть дневные и вечерние выпуски
            телепередач. По умолчанию архив эфира хранится 48 часов.
          </p>
          <br>
          <p>
            Вы можете в любое удобное время бесплатно протестировать интерактивное телевидение от Persik.by. Получить
            бесплатный доступ к сервису вы можете, выполнив одно из следующих действий:
          </p>
          <br>
          <p>
            1. Написить несколько хороших слов со ссылкой на Persik.by в любой социальной сети, форуме, блоге, сайте – и
            получить <span>7 дней бесплатно.</span>
          </p>
          <br>
          <p>
            2. Подключить друга на Persik.by, и если он использовал сервис на платной основе (оплатил хотя бы один из
            пакетов), то мы подарим <span>1 месяц бесплатно.</span>
          </p>
          <br>
          <br>
          <p>
            ОТТ-телевидение от Persik.by поддерживает функции LiveTV (прямой эфир) и VOD (Video on Demand – видео по
            запросу), что позволяет выбирать фильмы и передачи из каталога и архива соответственно. На данный момент наш
            сервис включает самые популярные телеканалы, а также тысячи фильмов и сериалов. Регулярно обновляется и
            видеобиблиотека сервиса.
          </p>
          <br>

          <p>
            Количество пользователей ОТТ-телевидения в Беларуси растет очень быстро, и это напрямую связано с
            доступностью сравнительно недорогого скоростного интернет-соединения. Более того, компания Persik.by
            использует технологию adaptive bitrate streaming. Она позволяет смотреть видеоконтент без пауз на загрузку и
            буферизацию. Видеопоток сам подстроится под скорость вашего интернета. Оптимальной же для просмотра
            OTT-телевидения является скорость от 3 Мбит/с.
          </p>
          <br>
          <p>
            Вы можете в любое удобное время бесплатно протестировать интерактивное телевидение от Persik.by, просто
            отправив заявку. Вы получите логин и пароль, которые позволят сразу перейти к просмотру TV с любого
            устройства.
          </p>
          <br>

          <p>
            Если вам необходима консультация по вопросам подключения ОТТ-телевидения, наши специалисты окажут всю
            необходимую помощь, включая выезд на дом или в офис в удобное для вас время.
          </p>
          <br>
          <div class="left-btn">
            <a class="block-btn" (click)="goTo('private/tv-tarify')">Ознакомиться с тарифами</a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
