<div class="adv">
    <div class="adv__first">
        <div class="container">
            <div class="row">
                <div class="col-6 align-items-center">
                    <img src="/assets/images/circle.png" alt="" class="adv__first-img">
                </div>

                <div class="col-6">
                    <div class="adv__first-body">
                        <h1 class="adv__first-title">
                            размещение рекламы
                        </h1>
                        <div class="adv__first-text">
                            Мы предлагаем профессиональное размещение на медиаплатформе Persik, насчитывающей большую
                            аудиторию в Республике Беларусь и других странах. Напишите нам, и мы составим предложение
                            для эффективного продвижения Вашего бизнеса.
                        </div>
                        <div class="adv__first-btn" (click)="scrollToForm()">
                            оставить заявку
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="adv__formats">
        <div class="container">
            <div class="adv__formats-title">
                форматы рекламы
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-1.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Реклама в e-mail рассылке
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-2.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Телевизионный рекламный канал для вашего бренда
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-3.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Баннерная реклама
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-4.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Видеореклама
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-5.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Реклама в мобильном приложении
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-6.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Реклама в Смарт ТВ
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-7.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Креативные виды рекламы:
                        </div>
                        <div class="adv__formats-list">
                            <div class="adv__formats-list-item">
                                подборки контента от Вашего бренда
                            </div>
                            <div class="adv__formats-list-item">
                                спонсорство
                            </div>
                            <div class="adv__formats-list-item">
                                розыгрыши
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="adv__formats-item">
                        <img src="assets/images/format-8.png" class="adv__formats-item-image" alt="">
                        <div class="adv__formats-item-text">
                            Если у Вас есть новые идеи - то мы всегда открыты к сотрудничеству!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="adv__aud">
        <div class="adv__aud-title">
            <span class="gradient-text">
                НАША АУДИТОРИЯ
            </span>
        </div>
        <div class="adv__aud-row">
            <div class="adv__aud-item">
                <div class="adv__aud-item-wrap">
                    <img src="assets/images/aud-1.png" alt="" class="adv__aud-item-image">
                </div>
                <div class="adv__aud-item-text">
                    платежеспособная аудитория на смарт тв
                </div>
            </div>

            <div class="adv__aud-item">
                <div class="adv__aud-item-wrap">
                    <img src="assets/images/aud-2.png" alt="" class="adv__aud-item-image">
                </div>
                <div class="adv__aud-item-text">
                    более 1 млн просмотров контента в мес.
                </div>
            </div>

            <div class="adv__aud-item">
                <div class="adv__aud-item-wrap">
                    <img src="assets/images/aud-3.png" alt="" class="adv__aud-item-image">
                </div>
                <div class="adv__aud-item-text">
                    более 70% активной платежеспособной аудитории (25-44 года)
                </div>
            </div>

            <div class="adv__aud-item">
                <div class="adv__aud-item-wrap">
                    <img src="assets/images/aud-4.png" alt="" class="adv__aud-item-image">
                </div>
                <div class="adv__aud-item-text">
                    уровень дохода аудитории выше среднего
                </div>
            </div>

            <div class="adv__aud-item">
                <div class="adv__aud-item-wrap">
                    <img src="assets/images/aud-5.png" alt="" class="adv__aud-item-image">
                </div>
                <div class="adv__aud-item-text">
                    60% аудитории мужчины, 40% - женщины
                </div>
            </div>
        </div>
    </div>

    <div class="adv__achi">
        <div class="container">
            <div class="adv__achi-title">
                НАШИ ДОСТИЖЕНИЯ
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="adv__achi-item">
                        <img src="assets/images/achi-1.png" alt="" class="adv__achi-item-image">
                        <div class="adv__achi-item-text">
                            топ-5<br>приложения на самсунге в рб
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="adv__achi-item">
                        <img src="assets/images/achi-2.png" alt="" class="adv__achi-item-image">
                        <div class="adv__achi-item-text">
                            топ-5<br>приложений lg
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="adv__achi-item">
                        <img src="assets/images/achi-3.png" alt="" class="adv__achi-item-image">
                        <div class="adv__achi-item-text">
                            премиум<br>партнеры lg
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="adv__form" id="feedbackForm">
        <div class="container">
            <div class="adv__form-title">
                ОСТАВИТЬ ЗАЯВКУ
            </div>
            <form [formGroup]="feedbackForm" (submit)="sendFeedback()">
                <div class="row">
                    <div class="col-4">
                        <div class=form-group [class.form-group_dirty]="name.value">
                            <input id="name" type="text" class="form-group__input" formControlName="name">
                            <label for="name" class="form-group__label">Имя</label>
                            <div class="field-error" *ngIf="name.errors && name.dirty">
                                <span *ngIf="name.errors['required']" class="form-group__error">Введите Ваше имя</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class=form-group [class.form-group_dirty]="email.value">
                            <input id="email" type="text" class="form-group__input" formControlName="email">
                            <label for="email" class="form-group__label">E-mail</label>
                            <div class="field-error" *ngIf="email.errors && email.dirty">
                                <span *ngIf="email.errors['required']" class="form-group__error">Поле обязательное для
                                    заполнения</span>
                                <span *ngIf="email.errors['emailValidator'] && !email.errors.required"
                                    class="form-group__error">Неверный формат</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class=form-group [class.form-group_dirty]="phone.value">
                            <input id="phone" type="text" class="form-group__input" formControlName="phone">
                            <label for="phone" class="form-group__label">Телефон</label>
                            <div class="field-error" *ngIf="phone.errors && phone.dirty">
                                <span *ngIf="phone.errors['required']" class="form-group__error">Поле обязательное для
                                    заполнения</span>
                                <span *ngIf="phone.errors['pattern'] && !phone.errors.required"
                                    class="form-group__error">Неверный формат</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class=form-group [class.form-group_dirty]="message.value">
                            <input id="message" type="text" class="form-group__input" formControlName="message">
                            <label for="message" class="form-group__label">Сообщение</label>
                            <div class="field-error" *ngIf="message.errors && message.dirty">
                                <span *ngIf="message.errors['required']" class="form-group__error">Поле обязательное для
                                    заполнения</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contacts__feedback-btn">
                    <button class="btn-orange" type="submit" [disabled]="!feedbackForm.valid">
                        оставить заявку
                    </button>
                </div>

                <!-- <div class="btn-white">
                    Persik - контент заработает!
                </div> -->
            </form>
        </div>
    </div>

    <div class="info-modal-wrapper" *ngIf="isShowModal" (click)="closeModal()">
        <div class="info-modal" (click)="stopPropagation($event)">
            <div class="modal-close" (click)="closeModal()">
                <img src="assets/images/icons/modal-close-icon.svg" alt="" class="modal-close__img">
            </div>

            <div class="modal-title">
                Спасибо за Вашу заявку.<br>Мы свяжемся с Вами в течение рабочего дня.
            </div>

            <div class="info-modal__btn">
                <a href="javascript:void(0);" class="btn-orange" (click)="closeModal()">
                    OK
                </a>
            </div>
            <!-- <div class="button" (click)="closeModal()">OK</div> -->
        </div>
    </div>
</div>
