.adv {
  position: relative;
  background: white;

  .form-group__input{
    background-color: transparent;
  }

  &__first {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-image: url("/../assets/images/first-bg.png");
    padding-top: 95px;
    padding-bottom: 90px;

    .row {
      align-items: stretch !important;
      align-content: stretch !important;
      width: initial !important;

      .col-6 {
        justify-content: center;
        display: flex;
        align-items: stretch;
        align-content: stretch;
      }
    }

    &-img {
      max-width: 90%;
    }

    &-body {
      display: flex;
      width: 100%;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      color: #fff;
    }

    &-title {
      font-size: 32px;
      text-transform: uppercase;
      font-family: "OpenSans-Bold";
      margin-bottom: 45px;
    }

    &-text {
      font-size: 18px;
      line-height: 32px;
      text-align: left;
      margin-bottom: 46px;
    }

    &-btn {
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "OpenSans-Bold";
      background-color: #fff;
      color: #fa8846;
      transition: 0.3s;
      line-height: 1;
      padding: 19px 40px 17px 40px;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__formats {
    position: relative;
    padding-bottom: 47px;

    .row {
      width: initial !important;
      align-items: stretch !important;
      align-content: stretch !important;
    }

    &-title {
      font-size: 32px;
      text-align: center;
      font-family: "OpenSans-Bold";
      padding-top: 99px;
      padding-bottom: 55px;
      text-transform: uppercase;
    }

    &-item {
      position: relative;
      margin-bottom: 40px;

      &-image {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 24px;
      }

      &-text {
        font-size: 14px;
        font-family: "OpenSans-Bold";
        line-height: 24px;
      }
    }

    &-list {
      position: relative;
      margin-top: 10px;

      &-item {
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 4px;
        &:before {
          content: "";
          width: 3px;
          height: 3px;
          margin-right: 16px;
          background-color: #a7dc68;
        }
      }
    }
  }

  &__aud {
    position: relative;
    background-color: #313131;
    padding-top: 97px;
    padding-bottom: 165px;
    padding-left: 15px;
    padding-right: 15px;

    &-row {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;
      justify-content: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      flex-wrap: wrap;
      position: relative;
      width: 280px;
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 24px;

      &-wrap {
        height: 185px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 15px;
      }

      &-image {
        max-width: 100%;
      }

      &-text {
        color: #fff;
        font-family: "OpenSans-Bold";
        text-align: center;
        line-height: 22px;
        text-transform: uppercase;
      }
    }

    &-title {
      text-align: center;
      font-family: "OpenSans-Bold";
      font-size: 32px;
      margin-bottom: 100px;
    }
  }

  &__achi {
    position: relative;
    background-color: #e9e9e9;
    padding-top: 94px;
    padding-bottom: 62px;

    &-title {
      font-size: 32px;
      font-family: "OpenSans-Bold";
      margin-bottom: 74px;
      text-align: center;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;

      &-image {
        height: 124px;
        margin-bottom: 38px;
      }

      &-text {
        width: 100%;
        color: #313131;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        font-family: "OpenSans-Bold";
      }
    }
  }

  &__form {
    position: relative;
    background-color: #fafafa;
    padding-top: 76px;
    padding-bottom: 66px;
    border-bottom: 1px solid #ebebeb;

    &-title {
      font-size: 32px;
      font-family: "OpenSans-Bold";
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.contacts__feedback-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 5;
  margin-bottom: 43px;
}
.btn-white {
  width: 338px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  justify-content: center;
  pointer-events: none;
  height: 60px;
}

.info-modal-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, rgba(255, 205, 120, 0.6), rgba(171, 224, 106, 0.6));
}

.info-modal {
  background-color: white;
  width: 30rem;
  position: relative;
  padding: 40px;
  box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);

  &__btn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    .btn-orange {
      width: 100px;
    }
  }
}
.modal-title {
  margin-bottom: 30px;
  font-size: 20px;
  color: #232323;
  text-transform: uppercase;
  text-align: center;
  font-family: OpenSans-Bold;
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -12px;
  top: -12px;
  background-image: linear-gradient(to left, #9ed061, #abe06a);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  &__img {
    width: 12px;
  }
}

@media screen and (max-width: 1400px) {
  .adv__aud-item {
    width: 400px;
    max-width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .adv__aud-item {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .info-modal {
    max-width: 320px;
  }
  .adv__first-img {
    margin-bottom: 40px;
  }
  .adv__first-body {
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .adv__first-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .adv__first-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .adv__first {
    padding-bottom: 40px;
  }
  .adv__formats-title {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .adv__aud {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .adv__aud-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .adv__achi {
    padding-top: 40px;
    padding-bottom: 40px;

    &-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .adv__form {
    padding-top: 40px;
    .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
