.complete-modal-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  .complete-modal {
    padding: 20px 15px;
    position: relative;
    background-color: white;
    color: #232323;
    font-size: 16px;
    font-family: OpenSans-Semibold;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);

    &__close {
      position: absolute;
      width: 24px;
      height: 24px;
      right: -12px;
      top: -12px;
      background-image: linear-gradient(to left, #9ed061, #abe06a);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      &-img{
        width: 12px;
      }
    }

  }
}
