.online-banners{
	position: relative;
	padding-bottom: 90px;
  	background-color: #1b1b1b;

  &__item {
    width: 100%;
  }

  /* &__item{
		transition: .3s;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 210px;
		padding-bottom: 225px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
		color: #fff;
		&_img{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-size: cover;
			background-position: center center;
			filter: brightness(0.2);
		}
		&_title{
			text-transform: uppercase;
			width: 100%;
			margin-bottom: 21px;
			font-size: 44px;
			font-family: OpenSans-Bold;
			text-align: center;
			z-index: 2;
		}
		&_text{
			text-align: center;
			font-size: 18px;
			margin-bottom: 55px;
			z-index: 2;
			width: 100%;
		}
		&_buttons{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			z-index: 2;
		}
	}
	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: OpenSans-Bold;
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		text-align: center;
		height: 50px;
		margin: 0 15px;
		padding: 0 35px;
		background-color: #000;
		box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
		.orange-triangle{
			margin-right: 10px;
		}
	} */

}

.featured{
  background-color: #1b1b1b;
  position: relative;
  display: flex;
  justify-content: center;
  

  .tapes {
	  max-width: 1280px;
	  width: 100%;
  }
}

.load-button {
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;
  background-color: black;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #e05f20;
  font-weight: bold;

  &__img {
    position: absolute;
    width: 40px;
    filter: invert(1);
    opacity: .5;
  }
}

@media screen and (max-width: 767px){
	.online-banners{
		padding-bottom: 50px;
	}
}
