<div *ngIf="isBrowser" class="online-banners">

  <app-videobanner-slider></app-videobanner-slider>

</div>


<div class="featured">

  <div class="tapes">
    <app-content-slider title="Популярные каналы" type="channel" [content]="featuredChannels"></app-content-slider>

    <app-content-slider *ngIf="isHaveFilms" category="films" genre="archive" title="Фильмы" type="video" [content]="films.videos"></app-content-slider>

    <app-content-slider *ngIf="isHaveComedies" category="films" genre="komediya" title="Комедии" type="video" [content]="comedies.videos"></app-content-slider>
    <app-content-slider *ngIf="isHaveBiography" category="films" genre="biografiya" title="Биография" type="video" [content]="biography.videos"></app-content-slider>
    <app-content-slider *ngIf="isHaveHorrors" category="films" genre="uzhasy" title="Ужасы" type="video" [content]="horrors.videos"></app-content-slider>

    <app-content-slider *ngIf="isHaveSeries" category="serialy" title="Сериалы" type="video" [content]="series.videos"></app-content-slider>

    <app-content-slider *ngIf="isHaveCartoons" category="multfilmy" title="Мультфильмы" type="video" [content]="cartoons.videos"></app-content-slider>

    <app-content-slider *ngIf="isHaveBlogs" category="blogs" title="БЛОГИ" type="tv" [content]="blogs.videos"></app-content-slider>
  </div>

  <!-- <ng-container *ngIf="isLogin">
      <app-content-slider title="Продолжить просмотр" type="video" [content]="lastSeen" *ngIf="isHaveLastSeen"></app-content-slider>

       <app-content-slider [title]="favoriteChannels.title" type="channel" [content]="favoriteChannels.channels" *ngIf="isHaveFavoriteChannels"></app-content-slider>

      <app-content-slider title="Каналы которые Вы смотрели" type="channel" [content]="viewedChannels" *ngIf="isHaveViewedChannels"></app-content-slider>

       <app-content-slider [title]="favoriteVideos.title" type="video" [content]="favoriteVideos.videos" *ngIf="isHaveFavoriteVideos"></app-content-slider>

      <app-content-slider title="Фильмы и передачи которые Вы смотрели" type="video" [content]="lastFinished" *ngIf="isHaveLastFinished"></app-content-slider>
  </ng-container> -->





  <!-- <app-content-slider *ngFor="let item of featuredChannelsTapes" [title]="item.title" [type]="'channel'"  [content]="item.channels"></app-content-slider> -->
<!--
  <ng-container *ngIf="loadingStep >= 1">
      <app-content-slider *ngIf="vodSections && vodSections[0]" [title]="vodSections[0].name" [type]="vodSections[0].type" [content]="vodSections[0].videos"></app-content-slider>

      <ng-container *ngFor="let item of featuredFilmsTapes">
        <app-content-slider *ngIf="item && item?.videos && item?.videos?.length > 0"  [title]="item.title" [type]="'video'" [content]="item?.videos"></app-content-slider>
      </ng-container>
  </ng-container>

  <ng-container *ngIf="loadingStep >= 2">
      <app-content-slider *ngIf="vodSections && vodSections[1]" [title]="vodSections[1].name" [type]="vodSections[1].type" [content]="vodSections[1].videos"></app-content-slider>

      <ng-container *ngFor="let item of featuredSeriesTapes">
        <app-content-slider *ngIf="item && item?.videos && item?.videos?.length > 0" [title]="item.title" [type]="'video'" [content]="item?.videos"></app-content-slider>
      </ng-container>
  </ng-container>


  <ng-container *ngIf="loadingStep >= 3">
      <app-content-slider *ngIf="vodSections && vodSections[2]" [title]="vodSections[2].name" [type]="vodSections[2].type" [content]="vodSections[2].videos"></app-content-slider>

      <ng-container *ngFor="let item of featuredCartoonsTapes">
        <app-content-slider *ngIf="item && item?.videos && item?.videos?.length > 0" [title]="item.title" [type]="'video'" [content]="item.videos"></app-content-slider>
      </ng-container>
  </ng-container>


  <ng-container *ngIf="loadingStep >= 4">
      <app-content-slider *ngIf="vodSections && vodSections[3]" [title]="vodSections[3].name" [type]="vodSections[3].type" [content]="vodSections[3].videos"></app-content-slider>

      <ng-container *ngFor="let item of featuredTvshowsTapes">
        <app-content-slider *ngIf="item && item?.videos && item?.videos?.length > 0" [title]="item.title" [type]="'tv'" [content]="item.videos"></app-content-slider>
      </ng-container>

      <app-content-slider *ngIf="vodSections && vodSections[4]" [title]="vodSections[4].name" [type]="'tv'" [content]="vodSections[4].videos"></app-content-slider>
  </ng-container> -->

  <!-- <div class="load-button" (click)="loadNext()" *ngIf="loadingStep < 4">
    <span>Загрузить еще...</span>
    <img class="load-button__img" src="assets/images/loadmore.png" alt="">
  </div> -->
<!--
  <div *ngIf="isBrowser"
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="1000"
    (scrolled)="loadNext()">
  </div> -->

</div>


