<div class="text-page">
    <div class="container">
        <div class="films__title">
            <span class="gradient-text">
                часто
            </span>
            задаваемые вопросы
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Тормозят каналы. Что можно сделать?
            </div>
            <div class="toggle-content">
                Для комфортного просмотра в нормальном качестве необходима скорость соединения в 3 МБит/с.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Можно ли смотреть каналы бесплатно?
            </div>
            <div class="toggle-content">
                <p>
                    Да, это возможно. Получить бесплатный доступ к сервису вы можете, выполнив одно из следующих действий:
                </p>
                <p>
                    1.	Напишите несколько хороших слов со ссылкой на Persik.by в любой социальной сети, форуме, блоге, сайте и получите 7 дней бесплатно!
                </p>
                <p>
                    2.	Подключите друга на Persik.by, и если он использовал сервис на платной основе (оплатил хотя бы один из пакетов), то мы подарим вам 1 месяц бесплатно!
                </p>
                <p>
                    Информацию о ссылке на отзыв о Persik.by, email подключенного друга отправляйте на info@persik.by. Также не забудьте указать и свой email для зачисления бесплатных дней. Дополнительно с возможностями бесплатного просмотра вы можете ознакомиться на этой странице.
                </p>

            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Какое качество вещания вы можете обеспечить?
            </div>
            <div class="toggle-content">
                На данный момент вещание большинства каналов происходит в SD качестве (не потому что мы так хотим, просто большинство телеканалов передают свой эфир именно в таком качестве), но также мы вещаем каналы и в HD качестве.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Что нужно для просмотра видео на компьютере?
            </div>
            <div class="toggle-content">
                Для просмотра видео на компьютере Ваш браузер должен поддерживать HTML5
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Возможен ли просмотр на ТВ?
            </div>
            <div class="toggle-content">
                Для того чтобы смотреть наши каналы на ТВ-экране, Вы можете использовать телевизионные приставки (мы можем гарантировать стабильный просмотр на приставках Dune HD by-102, Mag250/254, AuraHD, Eltex NV-102, подробную информацию о способе подключения смотрите в разделе «IPTV»). Для Samsung Smart TV и LG Smart TV используйте приложение для просмотра. Также вы можете подключить ноутбук или планшет к телевизору через HDMI кабель.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Возможен ли просмотр на мобильных устройствах и планшетах?
            </div>
            <div class="toggle-content">
                Возможен просмотр на мобильных устройствах и планшетах Apple всех версий, мобильных телефонах и планшетах Android, начиная с версии 2.2 с поддержкой формата RTSP, с версии 3.0 с поддержкой формата HLS. Для просмотра используйте встроенный видеоплеер. Если Ваш «родной» проигрыватель не поддерживает формат видео со сжатием h.264, то рекомендуем скачать проигрыватель MX Player (<a href="https://play.google.com/store/apps/details?id=com.mxtech.videoplayer.ad" target="_blank">тут</a>).
                Если по каким-то причинам видео или каналы не воспроизводятся, то просим связаться с нами через почту <a href="mailto:info@persik.by">info@persik.by</a>.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Как можно оплатить?
            </div>
            <div class="toggle-content">
                Возможна оплата наличными, банковскими картами, электронными деньгами и путем отправки SMS. Подробнее читайте <a (click)="goTo('paymethods')">здесь</a>.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Можно ли пользоваться услугой одновременно на двух устройствах?
            </div>
            <div class="toggle-content">
                <p>
                    Оплатив подписку один раз, Вы сможете использовать ее на любом из Ваших устройств, подключенных к Интернету. Но одновременно на нескольких устройствах использовать один пароль нельзя.
                </p>
                <p>
                    Но, подключив услугу «Мультирум» за небольшую дополнительную плату, вы можете пользоваться сервисом Persik.by на 5-ти устройствах одновременно (одно устройство используется как основное, 4 – дополнительных).
                </p>
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Я забыл пароль. Что делать?
            </div>
            <div class="toggle-content">
                Воспользуйтесь ссылкой «Напомнить пароль» в окне входа - новый пароль будет выслан Вам автоматически на указанный при регистрации e-mail.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                У меня изменились ТВ каналы, почему?
            </div>
            <div class="toggle-content">
                Наша компания оставляет за собой право изменять пакет телеканалов в разумных пределах. Таким образом, один или несколько телеканалов могут исчезать из Вашего пакета, вместо них будут появляться новые.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Некоторые ТВ каналы недоступны за пределами Республики Беларусь, почему?
            </div>
            <div class="toggle-content">
                Многие каналы имеют региональное ограничение по вещанию, поэтому они не будут доступны за пределами Республики Беларусь.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Я оплатил подписку, но не получил доступ к просмотру Persik.by
            </div>
            <div class="toggle-content">
                Между оплатой подписки и началом просмотра пройдет время, необходимое банку для провода платежа. Повторите попытку позже. Также возможно, что в данный момент велико количество одновременных пользователей – попробуйте перезагрузить страницу.
            </div>
        </div>

        <div class="toggle-label">
            <input type="checkbox" class="toggle-input" checked>
            <div class="toggle-name">
                Тарифицируется ли доступ к сайту?
            </div>
            <div class="toggle-content">
                За доступ к сайту трафик абонента тарифицируется по прайсу провайдера, с помощью которого вы подключаетесь к сети интернет.
            </div>
        </div>

        <div class="text-footer">
            <a (click)="goTo('paymethods')">Способы оплаты</a>
            <a (click)="goTo('')">О проекте</a>
            <a (click)="goTo('offer')">Пользовательское соглашение</a>
        </div>
    </div>
</div>
