.video-slider {
  position: relative;
  width: 100%;

  .dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    width: 4rem;
    align-items: center;
    justify-content: center;
    z-index: 50;

    &__item {
      margin-bottom: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;

      &_active {
        background-color: green;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 992px){
  .video-slider{
    margin-top: 50px;
  }
}
