<div class="video-slider">

  <app-video-banner-item *ngIf="banner?.trailer_url_desktop" class="video-slider__item" (videoPlayEnded)="onVideoEnded($event)" [banner]="banner"></app-video-banner-item>

  <div class="dots">
    <div class="dots__item" *ngFor="let item of banners" (click)="setActiveBanner(item)" [class.dots__item_active]="isBannerActive(item.banner_id)"></div>
  </div>

</div>
