.course-lesson {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  color: #1b1b1b;
  overflow: hidden;
  margin-bottom: 30px;

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
    user-select: none;

    &-title {
      font-size: 26px;
      line-height: 1;
      user-select: none;
      flex: 3;
      padding: 2rem 1rem 2rem 2rem;
    }

    &-right {
      position: relative;
      background-color: #f4f4f4;
      color: #fe864e;
      user-select: none;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding-right: .7rem;
        @media screen and (max-width: 480px) {
          display: none;
        }
      }

      &-arrow {
        transition: 0.3s;
        transform: rotateX(180deg);
      }
    }
  }

  &__content {
    display: none;
  }

  &_opened {
    .course-lesson__arrow {
      transition: 0.3s;
      transform: rotateX(0deg);
    }

    .course-lesson__content {
      display: block;
    }
  }

  &__step {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #e8e8e8;

    &-left {
      position: relative;
      flex: 3;
      padding: 2rem 1rem 2rem 2rem;
      display: flex;
      align-items: center;

      @media screen and (max-width: 480px) {
        padding: 2rem 1rem 2rem 2rem;
      }

      img {
        padding-right: 0.7rem;
      }
    }

    &-right {
      flex: 1;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;

      .dlink {
        @media screen and (max-width: 480px) {
          display: none;
        }
      }

      .dicon {
        display: none;
        @media screen and (max-width: 480px) {
          display: block;
        }
      }
    }

    &:last-child {
      .course-lesson__step-right,
      .course-lesson__step-left {
        padding-bottom: 60px;
      }
    }
  }
}
