<div class="course-lesson" [class.course-lesson_opened]="isOpen">

  <div class="course-lesson__header" (click)="toggleSeason()">
    <div class="course-lesson__header-title">
      {{ season.title }}
    </div>

    <div class="course-lesson__header-right">
      <span>
        {{ season.counterText }} {{ season.lessons?.length }}
      </span>


      <div class="course-lesson__header-right-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="14px">
          <path fill-rule="evenodd" fill="rgb(141, 141, 141)"
            d="M26.008,12.606 L24.607,14.008 L13.000,2.402 L1.393,14.008 L-0.009,12.606 L12.607,-0.009 L13.000,0.385 L13.393,-0.009 L26.008,12.606 Z" />
        </svg>
      </div>
    </div>
  </div>

  <div class="course-lesson__content">
    <div class="course-lesson__step" *ngFor="let lesson of season.lessons">
      <div class="course-lesson__step-left" (click)="showLesson(lesson)">
        <img src="assets/images/course-page/step-icon.png">
        {{ lesson.name }}
      </div>
      <div class="course-lesson__step-right">
        <a class="dlink" *ngIf="getMaterial(lesson.name)" [href]="getMaterial(lesson.name)">Скачать материалы</a>

        <a class="dicon" *ngIf="getMaterial(lesson.name)" [href]="getMaterial(lesson.name)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25">
              <path fill="orange" fill-rule="nonzero" d="M8 6.5h3L5.5 12 0 6.5h3V0h5z" />
            </svg>
        </a>

      </div>
    </div>
  </div>
</div>
