<div class="tv-guide" *ngIf="!isMobile">
	<div class="tv-guide__back">
		<div class="tv-guide__back-btn">
			Назад
		</div>
	</div>

	<div class="tv-guide__wrap">
		<div class="tv-guide__channels" *ngIf="isBrowser">
			<div class="tv-guide-filter">
				<div class="tv-guide-filter__active" (click)="toggleFilter()" title="{{activeGenre.name}}"
					[class.tv-guide-filter__active-opened]="isFilterOpen" *ngIf="activeGenre">
					{{ activeGenre.name }}
				</div>
				<div class="tv-guide-filter__dropdown" [class.tv-guide-filter__dropdown_opened]="isFilterOpen"
					malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
					<div class="tv-guide-filter__item" *ngFor="let genre of genres" (click)="onGenreChange(genre)"
						title="{{genre.name}}">
						{{ genre.name }}
					</div>
				</div>
			</div>

			<div class="tv-guide__channels-scroll" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
				<app-tv-guide-channel [channel]="channel" *ngFor="let channel of channels; let index = index"
					(changeChannel)="onChannelChange()">
				</app-tv-guide-channel>
			</div>


		</div>

		<div class="tv-guide__dates" *ngIf="isBrowser" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
			<app-tv-guide-day [day]="day" *ngFor="let day of tvshowDays" (changeDay)="onDayChange()"></app-tv-guide-day>
		</div>

		<div class="tv-guide__list" *ngIf="isBrowser" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
			<app-guide-tvshow [tvshow]="tvshow" *ngFor="let tvshow of visibleTvshows">
			</app-guide-tvshow>
		</div>

		<div class="tv-guide__video" *ngIf="isBrowser">

			<div class="tv-guide__video-time">

				{{ currentTvshow?.stop - currentTvshow?.start | duration }}
			</div>
			<div class="tv-guide__video-player">
				<div class="tv-guide__video-fullsize" (click)="goToPlayer()">
					<img src="assets/images/icons/fullscreen.svg" alt="">
				</div>
				<app-player #player [isAlartNeeded]="false"></app-player>
			</div>
			<div class="tv-guide__video-title">
				{{ currentTvshow?.start | tvshowTime }} – {{ currentVideo?.name }}
			</div>
			<div class="tv-guide__video-text">
				{{ videoDescription }}
				<!-- <div class="description-toggler" [class.description-toggler_open]="isVideoDescriptionOpen" *ngIf="isVideoDescriptionSliced" (click)="toggleVideoDescription()"></div> -->
				<div class="description-toggler" [class.description-toggler_open]="isVideoDescriptionOpen"
					*ngIf="isVideoDescriptionSliced" (click)="toggleVideoDescription()"></div>
			</div>
		</div>
	</div>

</div>

<div class="tv-guide-filter tv-guide-filter_mobile">
	<div class="tv-guide-filter__active" (click)="toggleFilter()" title="{{activeGenre.name}}"
		[class.tv-guide-filter__active-opened]="isFilterOpen" *ngIf="activeGenre">
		{{ activeGenre.name }}
	</div>
	<div class="tv-guide-filter__dropdown" [class.tv-guide-filter__dropdown_opened]="isFilterOpen">
		<div class="tv-guide-filter__dropdown-wrapper" malihu-scrollbar
		[scrollbarOptions]="scrollbarOptions">
			<div class="tv-guide-filter__item" *ngFor="let genre of genres" (click)="onGenreChange(genre, true)"
				title="{{genre.name}}">
				{{ genre.name }}
			</div>
		</div>
		<div class="tv-guide-filter_-close" (click)="closeFilter()">
			Отмена
		</div>

	</div>
</div>

<div class="tv-guide tv-guide_mobile" *ngIf="isMobile && !viewChannelInfo">

	<div class="tv-guide__logos" *ngIf="!viewChannelInfo">
		<div class="row">
			<div class="col-6" *ngFor="let channel of channels; let index = index"
				(click)="onChannelChange(channel, index)">
				<div class="tv-guide__logo">
					<img [src]="channel?.logo" alt="" class="tv-guide__logo-img">
				</div>
			</div>
		</div>
	</div>
	<div class="tv-guide__view" *ngIf="viewChannelInfo">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam laudantium reprehenderit modi odit maiores
		possimus temporibus architecto, quae blanditiis labore fugit corrupti molestias ducimus alias fugiat sunt culpa
		aperiam repudiandae!
	</div>
</div>

<div class="tv-guide__wrapper" *ngIf="isMobile && viewChannelInfo">


	<div class="switcher">
		<div class="switcher__button" (click)="prevChannel()">
			<img src="assets/images/icons/white-arrow.svg" class="switcher__button-img" alt="">
		</div>

		<div class="switcher__channel">
			<img [src]="activeChannel?.logo" alt="" class="switcher__channel-img">
		</div>

		<div class="switcher__button switcher__button_next" (click)="nextChannel()">
			<img src="assets/images/icons/white-arrow.svg" class="switcher__button-img" alt="">
		</div>
	</div>

	<div class="player-area">
		<app-player #player [isAlartNeeded]="false"></app-player>
	</div>

	<div class="data-filter">
		<div class="data-filter__wrapper">
			<app-tv-guide-day *ngFor="let day of tvshowDays" [day]="day" (changeDay)="onDayChange()">
			</app-tv-guide-day>
		</div>

	</div>

	<div class="tvshows" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
		<app-guide-tvshow [tvshow]="tvshow" *ngFor="let tvshow of visibleTvshows">
		</app-guide-tvshow>
	</div>
</div>
