.tv-guide {
  position: relative;
  background-color: #1b1b1b;
  // padding-top: 82px;
  // padding-top: 150px;
  // padding-top: 2rem;
  // padding-bottom: 150px;
  // height: calc(100vh + 150px);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  height: calc(100vh - 61px);
  padding-top: 80px;

  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #393939;
    font-size: calc(8px + 0.42vw);
  }

  &__filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
  &__channels {
    overflow: auto;
    // width: 20%;
    width: 20.833333%;
    // padding: 0 40px;
    padding-left: calc(2px + 2vw);
    padding-right: calc(2px + 2vw);
    padding-top: calc(18px + 1vw);
    // padding-bottom: calc(18px + 1vw);
    position: relative;
    // background-color: #101010;
    background-color: #232323;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 5;
    height: 100%;
  }
  &__dates {
    overflow: auto;
    // width: 20%;
    width: 15.625%;
    // padding: 0 40px;
    padding-left: calc(2px + 2vw);
    padding-right: calc(2px + 2vw);
    padding-top: calc(18px + 1vw);
    position: relative;
    background-color: #1b1b1b;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    // box-shadow: 0 0 10px 0 #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100%;
  }

  &__list {
    overflow: auto;
    // width: 30%;
    width: 28.6458333%;
    // padding: 0 40px;
    padding-left: calc(2px + 2vw);
    padding-right: calc(2px + 2vw);
    padding-top: calc(18px + 1vw);
    position: relative;
    background-color: #232323;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 3;
    height: 100%;
  }
  &__video {
    overflow: auto;
    // width: 30%;
    width: 34.8958337%;
    // padding: 0 50px;
    padding-left: calc(62px + 2vw);
    padding-right: calc(62px + 2vw);
    position: relative;
    background-color: #1b1b1b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    z-index: 2;
    color: #fff;
    height: 100%;
    &-time {
      text-align: right;
      display: flex;
      width: 100%;
      align-items: center;
      align-content: center;
      justify-content: flex-end;
      margin-bottom: 10px;
      // padding-top: 25px;
      padding-top: calc(18px + 1vw);
      font-family: OpenSans-Bold;
    }
    &-fullsize {
      cursor: pointer;
      position: absolute;
      right: 10px;
      bottom: 6px;
      z-index: 5;
    }
    &-player {
      background-color: #fff;
      margin-bottom: 36px;
      // height: 150px;
      position: relative;
      &:after {
        content: "";
        display: block;
        padding-bottom: 56.3829787%;
      }

      .player {
        height: 100% !important;
      }
    }
    &-title {
      font-family: OpenSans-Bold;
      // font-size: 24px;
      font-size: calc(16px + 0.42vw);
      margin-bottom: 12px;
    }
    &-text {
      color: #757575;
      // font-size: 18px;
      font-size: calc(10px + 0.42vw);
      padding-bottom: 30px;
      line-height: 1.89;
      position: relative;
    }
  }

  &__back {
    display: none;
  }
}

.tv-guide__channels {
  position: relative;
  padding-right: 0;

  &-scroll {
    height: 100%;
    padding-right: calc(2px + 2vw);
    padding-top: calc(2px + 2vw);
  }
}

.tv-guide-filter {
  position: absolute;
  // top: 0;
  top: calc(8px + 0.42vw);
  left: calc(2px + 2vw);
  right: calc(2px + 2vw);
  background-color: #232323;
  z-index: 30;

  &__active {
    color: #fff;
    font-size: calc(10px + 0.42vw);
    font-family: "OpenSans-Bold";
    border: 1px solid #fff;
    padding: calc(8px + 0.42vw);
    padding-right: 30px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:after {
      content: "";
      width: 12px;
      height: 8px;
      background-size: cover;
      background-image: url("../../../../assets/images/icons/white-arrow.svg");
      position: absolute;
      right: calc(8px + 0.42vw);
      top: 50%;
      margin-top: -4px;
      display: block;
      transition: 0.3s;
      transform: rotate(180deg);
    }

    &-opened {
      &:after {
        transition: 0.3s;
        transform: rotate(0deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 40;
    height: 300px;
    display: none;

    &_opened {
      display: block;
    }
  }

  &__item {
    cursor: pointer;
    font-size: calc(8px + 0.42vw);
    padding: calc(8px + 0.42vw);
    user-select: none;
    transition: 0.3s;
    background-color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:hover {
      background-color: #c7c7c7;
      transition: 0.3s;
    }
  }
}

.description-toggler {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url("../../../../assets/images/icons/slider-arrow.svg");
  background-size: cover;
  background-position: center center;
  transition: 0.3s;
  opacity: 0.4;
  cursor: pointer;
  transform: rotate(-90deg);
  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &_open {
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

.filter {
  width: 100%;
  padding: 15px 40px;
}

.tv-guide_mobile {
  height: auto !important;
  .row {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
  }
  .col-6 {
    flex: 0 0 50% !important;
    width: 50% !important;
    padding-left: 3px;
    padding-right: 3px;
  }
  .tv-guide__logos {
    &-row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      align-content: stretch;
      justify-content: flex-start;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .tv-guide__logo {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 6px;
    background-color: #232323;
    &-img {
      display: inline-block;
      vertical-align: middle;
      max-width: 60%;
    }
  }
}

.tv-guide__wrapper {
  position: relative;
  height: 100vh;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #1b1b1b;
}

.switcher {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 15px;
  height: 47px;
  margin-top: 15px;

  &__button {
    cursor: pointer;
    transform: rotate(-90deg);
    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
    }
    &_next {
      transform: rotate(90deg);
    }
  }
}

.player-area {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.data-filter {
	position: relative;
	// display: flex;
	overflow-x: auto;
	min-height: 50px;
	padding-left: 15px;
	padding-right: 15px;
  &__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}

.tvshows {
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
}
.tv-guide-filter_mobile{
  display: none;
  .tv-guide-filter__dropdown{
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    right: initial;
    height: 70vh;
  }
  .tv-guide-filter__item{
    font-size: 14px;
    padding: 12px;
    border-bottom: 1px solid #e9e9e9;
  }
  .tv-guide-filter__dropdown-wrapper{
    height: 100%;
  }
  .tv-guide-filter_-close{
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 18px;
  }
}

@media screen and (max-width: 992px) {
  .tv-guide-filter_mobile {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    align-content: center;
    height: 51px;
    .tv-guide-filter__active {
      // border: none;
      width: 100%;
    }
  }
  .tv-guide_mobile {
    .row {
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 6px;
    }
    .col-6 {
      flex: 0 0 33.333334% !important;
      width: 33.333334% !important;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
  .tv-guide {
    padding-top: 50px;
    // height: 100vh;
    min-height: 100vh;
    padding-bottom: 62px;
    &__logos {
      width: 100%;
    }
  }
  .tv-guide__back {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
    &-btn {
      color: #fff;
      font-size: 16px;
      padding: 8px 24px;
      border: 1px solid #fff;
    }
  }
  .tv-guide__video-text {
    padding-bottom: 30px;
  }
  .tv-guide__video,
  .tv-guide__channels,
  .tv-guide__dates,
  .tv-guide__list {
    display: none;
    width: 100%;
  }
  .tv-guide_active {
    display: block;
  }
  .tv-guide__list {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .tvshows {
		overflow: hidden !important;
		padding-top: 0;
  }
  .tv-guide_mobile {
    .row {
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 6px;
    }
    .col-6 {
      flex: 0 0 50% !important;
      width: 50% !important;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
