.tariff-page {
  position: relative;
  background: white;

  .tariffs-percents {
    position: absolute;
    right: 0;
    top: 0;
  }

  .green-circle {
    position: absolute;
    border-radius: 50%;
    top: 11%;
    left: -150px;
    width: 300px;
    height: 300px;
    background: linear-gradient(to left, #9ed061, #abe06a);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .dot1 {
    width: 10px;
    height: 10px;
    top: 30px;
    left: 22%;
  }

  .dot2 {
    width: 15px;
    height: 15px;
    right: 16%;
    top: 5%;
  }

  .dot3 {
    width: 20px;
    height: 20px;
    left: 8%;
    top: 8%;
  }

  .dot4 {
    width: 15px;
    height: 15px;
    left: 9%;
    top: 18%;
  }

  .dot5 {
    width: 10px;
    height: 10px;
    right: 5%;
    top: 17.5%;
  }

  .dot6 {
    width: 20px;
    height: 20px;
    right: 18%;
    top: 21%;
  }

  .dot7 {
    width: 10px;
    height: 10px;
    left: 24%;
    top: 39%;
  }

  .dot8 {
    width: 15px;
    height: 15px;
    right: 12%;
    top: 41%;
  }

  .dot9 {
    width: 20px;
    height: 20px;
    left: 4%;
    top: 43%;
  }

  .dot10 {
    width: 10px;
    height: 10px;
    left: 46%;
    top: 60px;
  }

  .dot11 {
    width: 15px;
    height: 15px;
    left: 41%;
    top: 95px;
  }

  .dot12 {
    width: 20px;
    height: 20px;
    right: 13%;
    bottom: 16%;
  }

  .dot13 {
    width: 15px;
    height: 15px;
    right: 36%;
    top: 90px;
  }

  .dot14 {
    width: 10px;
    height: 10px;
    left: 9%;
    bottom: 92px;
  }

  .dot15 {
    width: 10px;
    height: 10px;
    right: 10%;
    top: 191px;
  }

  .dot16 {
    width: 20px;
    height: 20px;
    right: 8%;
    top: 231px;
  }

  .dot17 {
    width: 15px;
    height: 15px;
    left: 9%;
    bottom: 42px;
  }

  &__fixed-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    z-index: 999;
  }

  &__first {
    padding-top: 44px;
    background-color: #f9f9f9;
    position: relative;
    z-index: 1;
  }

  &__breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 15px;

    &-item {
      text-decoration: none;
      color: #8c8c8c;
      margin-bottom: 10px;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: #e05f20;
        text-decoration: none;
        transition: 0.3s;
      }

      &:after {
        content: "/";
        padding-left: 3px;
        padding-right: 4px;
      }

      &:last-child {
        &:after {
          display: none;
        }

        &:hover {
          color: #8c8c8c;
          cursor: initial;
        }
      }
    }
  }

  &__title {
    color: #232323;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 28px;
    font-family: OpenSans-Bold;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__small-text {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.89;
    padding-bottom: 110px;
    margin: 0 auto;
    max-width: 670px;

    &_new {
      max-width: 1024px;
      padding-bottom: 20px;
    }
  }

  .newinfo {
    font-size: 18px;
    color: #8c8c8c;
    text-align: center;
    line-height: 1.89;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
  }

  &__channels {
    position: relative;
    padding-top: 150px;
    border-top: 1px solid #e9e9e9;

    &-title {
      text-align: center;
      font-size: 32px;
      width: 100%;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: OpenSans-Bold;

      &-small {
        text-align: center;
        color: #8c8c8c;
        font-size: 16px;
        margin-bottom: 50px;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
      }
    }

    &-links {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      align-items: flex-start;
      margin-bottom: 40px;

      &-item {
        position: relative;
        width: 120px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-family: OpenSans-Bold;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
        height: 40px;
        margin: 0 10px 20px 10px;
        cursor: pointer;
        z-index: 1;
        transition: 0.3s;

        &-content {
          position: absolute;
          right: 2px;
          top: 2px;
          left: 2px;
          bottom: 2px;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          font-family: OpenSans-Bold;
          text-align: center;
          background-color: #fff;
          z-index: 3;
        }

        &_active {
          box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0);
          background: linear-gradient(to right, #ffcd78, #abe06a);
          transition: 0.3s;
        }
      }
    }

    &-grid {
      position: relative;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width: 100%;

      &-item {
        position: relative;
        background-color: #fff;
        width: 10%;
        border-top: 1px solid #e9e9e9;
        border-bottom: none;

        &:nth-child(even) {
          background-color: #f9f9f9;
          border-left: 1px solid #e9e9e9;
          border-right: 1px solid #e9e9e9;
        }

        &:before {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &-content {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        &-logo {
          max-width: 70%;
          max-height: 70%;
          display: inline-block;
          vertical-align: top;
          // filter: grayscale(100%) contrast(30%);
        }
      }

      &-all {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 80px;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;

        &-btn {
          text-align: center;
          width: 220px;
          transition: 0.3s;
          cursor: pointer;
          font-family: OpenSans-Bold;
          text-transform: uppercase;
          color: #232323;

          &:hover {
            color: #e05f20;
            transition: 0.3s;
          }
        }
      }
    }
  }



  .grey {
    background-color: #f9f9f9;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    .btn-white {
      margin-bottom: 150px;
    }
  }

  &__functions {
    position: relative;
    padding-top: 140px;
    padding-bottom: 110px;
    border-bottom: 1px solid #e9e9e9;

    &-row {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;

      .col-6 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &-title {
      text-align: center;
      font-size: 32px;
      font-family: OpenSans-Bold;
      margin-bottom: 52px;
      text-transform: uppercase;
    }

    &-item {
      position: relative;
      margin-bottom: 30px;

      &-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-bottom: 19px;
      }

      &-title {
        font-size: 24px;
        text-transform: uppercase;
        font-family: OpenSans-Bold;
      }

      &-text {
        color: #929292;
        line-height: 2;
      }
    }

    &-icon {
      width: 60px;
      height: 60px;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-right: 30px;
    }
  }

  &__consoles {
    position: relative;
    padding-top: 113px;
    padding-bottom: 70px;
    padding-bottom: 70px;

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
    }

    &-left {
      width: 55%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-right: 50px;
    }

    &-right {
      width: 45%;

      &-img {
        width: 100%;
      }
    }

    &-grey-title {
      color: #8c8c8c;
      font-size: 18px;
      line-height: 1.67;
      margin-bottom: 12px;
    }

    &-title {
      text-transform: uppercase;
      font-family: OpenSans-Bold;
      font-size: 32px;
      margin-bottom: 21px;
    }

    &-grey-small {
      color: #8c8c8c;
      line-height: 2;
      margin-bottom: 24px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin-bottom: 8px;
      width: 100%;

      &-text {
        line-height: 2;
        width: calc(100% - 35px);
      }
    }

    &-checked {
      margin-right: 15px;
    }

    .btn-orange {
      margin-top: 46px;
    }
  }
}

.btn-active {
  color: black;
  background: white;
}

.tariffs-grid {
  position: relative;

  &__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    &_alone {
      justify-content: center;
    }

    &-item {
      position: relative;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: #232323;
      line-height: 1.6;
      font-family: OpenSans-Bold;
      text-transform: uppercase;
      text-align: center;
      transition: 0.3s;
      cursor: pointer;
      height: 80px;
      border: 1px solid #e9e9e9;
      border-left: none;
      font-size: 14px;

      &:nth-child(1) {
        border-left: 1px solid #e9e9e9;
      }

      &:nth-child(2),
      &:nth-child(4) {
        // border-left: 1px solid #e9e9e9;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      &:nth-child(2) {
        font-size: 13px;
      }

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, #ffcd78, #abe06a);
        position: absolute;
        left: 0;
        top: -1px;
        z-index: 2;
        opacity: 0;
        transition: 0.3s;
      }

      &_active {
        background-color: #fff;
        border-bottom: 1px solid #fff;
        transition: 0.3s;

        &:after {
          opacity: 1;
          transition: 0.3s;
        }
      }
    }
  }

  &__content {
    position: relative;
    background-color: #fff;
    padding: 0 15px 0 15px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &_alone {
      justify-content: center;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      background-color: #fff;
      z-index: 1;
    }

    &-item {
      z-index: 2;
      position: relative;
      width: 100%;
      background: #fff;
      border: 1px solid #e9e9e9;
      margin-top: 30px;
      cursor: pointer;
      bottom: -1px;
      transition: 0.3s;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      &-name {
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 16px;
        max-width: 190px;
        color: #232323;
        line-height: 1.34;
        transition: 0.3s;
      }

      &-sale {
        position: absolute;
        right: -1px;
        top: -1px;
        transition: 0.3s;
      }

      &-checked {
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: 24px;

        path {
          transition: 0.3s;
        }
      }

      &-firstmonth {
        position: absolute;
        bottom: 10px;
        right: 30px;
        // color: #e05f20;
        font-size: 13px;
        // font-style: italic;
        transition: 0.3s;
        font-family: "OpenSans-Bold";

        span {
          text-decoration: line-through;
          padding: 0 5px;
        }
      }

      &-price {
        font-family: OpenSans-Bold;
        position: absolute;
        right: 30px;
        bottom: 27px;
        font-size: 20px;
        color: #232323;
        transition: 0.3s;
        text-align: right;

        span {
          font-size: 16px;
        }
      }

      &-next {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -36.5px;
        margin-top: -36.5px;
        width: 75px;
        height: 75px;
        border-radius: 50px;
        box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
        background-color: #ffffff;
        display: none;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 12px;
        color: #232323;
        font-family: OpenSans-Bold;
        transition: 0.3s;
      }

      &:hover {
        background-color: #f9f9f9;
        transition: 0.3s;
      }

      &_active {
        background: linear-gradient(to left, #fe6f41, #ffcd78);
        border-color: #fff;
        transition: 0.3s;

        .tariffs-grid__content-item-name {
          color: #fff;
          font-family: OpenSans-Bold;
          transition: 0.3s;
        }

        .tariffs-grid__content-item-sale {
          display: none;
        }

        .tariffs-grid__content-item-price {
          color: #fff;
          transition: 0.3s;
        }

        .tariffs-grid__content-item-checked {
          path {
            fill: #fff;
            transition: 0.3s;
          }
        }

        .tariffs-grid__content-item-next {
          display: flex;
          transition: 0.3s;
        }

        .tariffs-grid__content-item-firstmonth {
          color: #fff;
          transition: 0.3s;
        }
      }

      &_disabled {
        cursor: initial;
        user-select: none;

        .tariffs-grid__content-item-name {
          color: #8c8c8c;
        }

        .tariffs-grid__content-item-next {
          opacity: 0;
        }

        .tariffs-grid__content-item-price {
          color: #e3e3e3;
        }

        .tariffs-grid__content-item-sale {
          display: none;
        }
      }

      &_compare {
        border-color: #fff;
        background: linear-gradient(to right, #ffcd78, #abe06a);
        position: relative;

        &-text {
          position: absolute;
          left: 2px;
          top: 2px;
          right: 2px;
          bottom: 3px;
          background-color: #fff;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          font-size: 18px;
          line-height: 1.44;
          text-align: center;
        }
      }
    }
  }

  &__compare {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;

    .col-3 {
      display: flex;
      align-items: stretch;
      align-content: stretch;
    }

    &-item {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 30px 30px 40px 30px;

      &-body {
        width: 100%;
      }

      &-title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.44;
        min-height: 50px;
      }

      &-price {
        position: relative;
        background-color: #fff;
        border-radius: 50%;
        // width: 100px;
        // height: 100px;
        width: 150px;
        height: 150px;
        margin: 0 auto 24px auto;

        &-circle {
          position: absolute;
          left: -2px;
          right: -2px;
          top: -2px;
          bottom: -2px;
          background: linear-gradient(to right, #ffcd78, #abe06a);
          border-radius: 50%;
          z-index: 1;
        }

        &-content {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          flex-wrap: wrap;
          z-index: 2;
          border-radius: 50%;
          text-align: center;
          padding-bottom: 5px;

          &-big {
            text-align: center;
            font-size: 28px;
            font-family: OpenSans-Bold;
            width: 100%;
            padding-bottom: 3px;
          }

          &-small {
            font-size: 12px;
            text-align: center;
            font-family: OpenSans-Bold;
          }
        }
      }

      &:before {
        display: none;
      }

      &-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 16px;

        .btn-orange {
          width: 100%;
          max-width: 120px;
          font-size: 14px;
          height: 40px;
          z-index: 1;
        }
      }
    }

    &-line {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      width: 100%;
      margin-bottom: 8px;

      &-icon {
        margin-right: 15px;
        position: relative;
        top: 6px;
      }

      &-text {
        width: calc(100% - 35px);
        font-size: 16px;
        line-height: 2;
      }
    }

    &-back {
      position: relative;
      width: 100%;
      margin-top: 30px;
      height: 60px;
      box-shadow: 0 5px 15px 0 rgba(35, 35, 35, 0.1);
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-size: 14px;
      text-transform: uppercase;
      font-family: OpenSans-Bold;
      cursor: pointer;
      margin-bottom: 30px;
    }
  }
}

.compare-btn {
  margin: 30px auto;
  justify-content: center;
  text-align: center;
}

.tarif-next-word {
  text-decoration: none !important;
  padding: 0 !important;
}

.big-lined-text {
  font-size: 20px;
  text-decoration: line-through;
  margin-right: 5px;
}

.mobile-tariffs {
  display: none;
}

.tariffs-percents-image {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 5;
  width: 46px;
}

.hidden-tariff {
  display: none !important;
}

.tariffs-grid__compare-item-price-content_width-padding {
  padding-top: 25px;

  &:before {
    content: "";
    width: 30px;
    height: 36px;
    position: absolute;
    background-size: cover;
    background-image: url("../../../../assets/images/tariffs-percents-1.png");
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tariffs-lined-text {
  width: 100%;
  text-decoration: line-through;
  font-family: OpenSans-Light;
  padding-bottom: 3px;
  font-size: 20px;
  padding-top: 10px;

  &_small {
    text-decoration: none;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 1600px) {
  .tariff-page__channels-grid-item {
    width: 12.5%;
  }
}

@media screen and (max-width: 1400px) {
  .tariff-page__channels-grid-item {
    width: 16.666667%;
  }
}

@media screen and (max-width: 1300px) {
  .tariffs-grid__content-item-name {
    top: 10px;
    left: 20px;
  }

  .tariffs-grid__content-item-next {
    width: 65px;
    height: 65px;
  }

  .tariffs-grid__compare .col-3 {
    width: 33.333333%;
  }
}

@media screen and (max-width: 1200px) {
  .col-3 {
    width: 33.333333% !important;
    max-width: 33.33333% !important;
    flex: 0 0 33.333333% !important;
  }

  .tariff-page__channels-grid-item {
    width: 20%;
  }
}

@media screen and (max-width: 992px) {
  .tariff-page__channels-grid-item {
    width: 25%;
  }

  .col-3 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 0 0 50% !important;
  }

  .col-6 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .tariff-page__consoles-right,
  .tariff-page__consoles-left {
    padding-right: 0;
    width: 100%;
  }

  .tariff-page__consoles-right {
    justify-content: center;
    margin-top: 30px;
    text-align: center;
  }

  .tariff-page__consoles-right-img {
    max-width: 600px;
    display: inline-block;
  }

  .tariff-page__functions,
  .tariff-page__consoles {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .tariff-page__consoles {
    border-bottom: 1px solid #e9e9e9;
  }

  .tariff-page__library_grey .btn-white {
    margin-bottom: 60px;
  }

  .tariff-page__library .btn-white {
    margin-bottom: 60px;
  }

  .tariff-page__library .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-tariffs {
    display: block;

    &__title {
      font-size: 10px;
      color: #929292;
      text-align: center;
      border-top: 1px solid #cccccc;
      padding-top: 15px;
      margin-bottom: 20px;
    }

    &__toggler {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 15;
      background: transparent;
    }

    &__dropdown {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      height: 60px;
      z-index: 20;

      &_second {
        z-index: 15;
      }

      &-border {
        position: absolute;
        left: 13px;
        right: 13px;
        top: -2px;
        bottom: -2px;
        background: linear-gradient(to right, #ffcd78, #abe06a);
        z-index: 1;
      }

      &-items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 11px;
        top: 0;
        right: 11px;
        // z-index: 10;
        height: 60px;
        overflow: hidden;

        &_opened {
          overflow: visible;
          height: auto;
          background: #fff;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.11);
        }
      }

      &-item {
        position: relative;
        width: calc(100% - 8px);
        height: 40px;
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: transparent;
        z-index: 5;
        text-transform: uppercase;
        font-size: 14px;

        .mobile-tariff__arrow {
          position: absolute;
          width: 16px;
          bottom: 10px;
          left: 50%;
          margin-left: -8px;
          transform: rotate(180deg);
          display: none;
          transition: 0.3s;

          &_toggled {
            transform: rotate(0deg);
            transition: 0.3s;
          }
        }

        &_active {
          background-color: #f9f9f9;
          order: -1;
          height: 60px;
          align-items: flex-start;
          align-content: flex-start;
          padding-top: 15px;
          flex-wrap: wrap;

          .mobile-tariff__arrow {
            display: block;
          }
        }
      }
    }
  }

  .mobile-tariff {
    .tariffs-grid__compare-item-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }

    .tariffs-grid__compare-item {
      background: transparent;
      box-shadow: none;
      border: none;
      margin-top: 10px;
    }

    .tariffs-grid__compare-line {
      width: 145px;
      margin-bottom: 3px;
    }

    .tariffs-grid__compare-line-text {
      font-size: 12px;
      line-height: 30px;
    }
  }

  .tariff-page .container {
    z-index: initial;
  }

  .tariff-page__consoles .container {
    flex-direction: column-reverse;
  }

  .tariffs-grid__header {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tariffs-grid__header-item {
    width: 100%;
  }

  .tariffs-grid__content {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-3 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .tariff-page__channels-grid-item {
    width: 33.333334%;
  }

  .tariff-page__first {
    padding-top: 100px;
  }

  .tariff-page__breadcrumbs {
    font-size: 14px;
  }

  .tariff-page__title {
    font-size: 30px;
  }

  .tariff-page__small-text {
    padding-bottom: 60px;
    font-size: 16px;
  }

  .tariff-page__channels {
    padding-top: 30px;
  }

  .tariff-page__library {
    padding-top: 60px;
  }

  .tariff-page__consoles-title,
  .tariff-page__functions-title,
  .tariff-page__channels-title {
    font-size: 24px;
  }

  .tariff-page__fixed-btn {
    width: calc(100% - 20px);
  }
}

.active {

  background: linear-gradient(to left, #fe6f41, #ffcd78);
  border-color: #fff;
  transition: 0.3s;

  .tariffs-grid__content-item-name {
    color: #fff;
    font-family: OpenSans-Bold;
    transition: 0.3s;
  }

  .tariffs-grid__content-item-sale {
    display: none;
  }

  .tariffs-grid__content-item-price {
    color: #fff;
    transition: 0.3s;
  }

  .tariffs-grid__content-item-checked {
    path {
      fill: #fff;
      transition: 0.3s;
    }
  }

  .tariffs-grid__content-item-next {
    display: flex;
    transition: 0.3s;
  }

  .tariffs-grid__content-item-firstmonth {
    color: #fff;
    transition: 0.3s;
  }

}
