<div class="tariff-page">
  <span (click)="goToPay($event)" *ngIf="isHaveSelectedTariff && isHaveMovement"
    class="btn-orange tariff-page__fixed-btn">{{ selectedOption.name }} - РУБ{{ selectedOption.price }}</span>
  <div class="tariff-page__first">
    <div class="green-dot dot1"></div>
    <div class="green-dot dot2"></div>
    <div class="green-dot dot3"></div>

    <div class="green-circle"></div>
    <div class="tariff-page__breadcrumbs">
      <a routerLink="" class="tariff-page__breadcrumbs-item">
        Главная
      </a>
      <span class="tariff-page__breadcrumbs-item">
        Тарифы и каналы
      </span>
    </div>

    <div class="tariff-page__title" id="price">
      тарифы <span class="gradient-text">&</span> каналы
    </div>

    <div class="tariff-page__small-text hidden-mobile">
      Выберите тарифы на телевидение по выгодным ценам и наслаждайтесь просмотром более 350 каналов, а также
      коллекцией из популярных фильмов, сериалов, мультфильмов.
    </div>

    <div class="container" *ngIf="isAuth">
      <!-- <app-free-progress></app-free-progress> -->
    </div>

    <div class="container newinfo" *ngIf="!isAuth">
      При оплате 36 месяцев подряд любой подписки <span style="text-decoration: underline;">(то есть без перерыва
        в оплате) </span> - Вы получаете БЕССРОЧНУЮ ПОДПИСКУ на телевидение, без необходимости какой-либо оплаты
      в дальнейшем!
    </div>


    <div class="container" id="tariffs">
      <div class="mobile-tariffs">
        <div class="mobile-tariffs__title">
          Выберите тарифы на телевидение по выгодным ценам
        </div>
        <div class="mobile-tariffs__dropdown">
          <div class="mobile-tariffs__dropdown-border"></div>
          <div class="mobile-tariffs__toggler" (click)="toggleMobileTariffsPack()"></div>
          <div class="mobile-tariffs__dropdown-items"
            [class.mobile-tariffs__dropdown-items_opened]="mobileTariffsPackOpen">
            <div class="mobile-tariffs__dropdown-item" *ngFor="let product of products"
              [class.mobile-tariffs__dropdown-item_active]="isActivePackage(product.product_id)"
              (click)="setActivePackage(product.product_id); toggleMobileTariffsPack();">
              {{ product.name }}
              <img src="assets/images/icons/arrow-icon-white.svg" alt="" class="mobile-tariff__arrow"
                [class.mobile-tariff__arrow_toggled]="mobileTariffsPackOpen">
            </div>
          </div>
        </div>


        <div class="mobile-tariffs__dropdown mobile-tariffs__dropdown_second">
          <div class="mobile-tariffs__dropdown-border"></div>
          <div class="mobile-tariffs__toggler" (click)="toggleMobileTariffs()"></div>
          <div class="mobile-tariffs__dropdown-items" [class.mobile-tariffs__dropdown-items_opened]="mobileTariffsOpen">
            <div class="mobile-tariffs__dropdown-item" *ngFor="let option of activeProduct?.options"
              [class.mobile-tariffs__dropdown-item_active]="isTariffSelected(option.product_option_id)"
              (click)="selectTariff(option); toggleMobileTariffs();">
              {{ option.name }}
              <img src="assets/images/icons/arrow-icon-white.svg" alt="" class="mobile-tariff__arrow"
                [class.mobile-tariff__arrow_toggled]="mobileTariffsOpen">
            </div>
          </div>
        </div>

        <div class="mobile-tariff">
          <div class="" *ngFor="let option of activeProduct?.options">
            <div class="tariffs-grid__content-item tariffs-grid__compare-item"
              *ngIf="isTariffSelected(option.product_option_id)">
              <div class="tariffs-grid__compare-item-body">
                <div class="tariffs-grid__compare-item-price">
                  <div class="tariffs-grid__compare-item-price-circle"></div>
                  <div class="tariffs-grid__compare-item-price-content">
                    <!-- [class.tariffs-grid__compare-item-price-content_width-padding]="option.bigLinedText" -->
                    <div class="tariffs-grid__compare-item-price-content-big">
                      {{ option.price_formatted }}
                    </div>



                  </div>
                </div>
                <!-- <div class="tariffs-grid__compare-line"
									*ngFor="let item of getTariffOptions(tariff.id).states">
									<img [src]="item.value ? 'assets/images/icons/tarif-good.svg' : 'assets/images/icons/tarif-bad.svg'"
										alt="" class="tariffs-grid__compare-line-icon">
									<div class="tariffs-grid__compare-line-text">
										{{ item.name }}
									</div>
								</div> -->
                <div class="tariffs-grid__compare-item-btn">
                  <div class="btn-orange select-btn" (click)="goToPay($event)">
                    выбрать
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tariffs-grid hidden-mobile">
        <div class="tariffs-grid__header">
          <div class="tariffs-grid__header-item" *ngFor="let product of products"
            [class.tariffs-grid__header-item_active]="isActivePackage(product.product_id)"
            (click)="setActivePackage(product.product_id)">
            {{ product.name }}
            <!-- <img src="assets/images/icons/-50.png" alt="" *ngIf="pack.id == 2" class="tariffs-percents"> -->
            <!-- change to 40% -->
            <!-- <img src="assets/images/icons/tariff-action.png" alt="" *ngIf="pack.id == 2"
							class="tariffs-percents"> -->
          </div>
        </div>

        <div class="tariffs-grid__content">
          <div class="col-3" *ngFor="let option of activeProduct?.options" (click)="selectTariff(option)">
            <div class="tariffs-grid__content-item"
              [class.tariffs-grid__content-item_active]="isTariffSelected(option.product_option_id)">
              <!-- <img [src]="tariff.imageSrc" alt="" class="tariffs-percents-image" *ngIf="tariff.imageSrc"> -->
              <div class="tariffs-grid__content-item-name">
                {{ option.name }}
              </div>
              <div class="tariffs-grid__content-item-firstmonth">
                {{ option.price_formatted }}
              </div>


              <div class="tariffs-grid__content-item-next select-btn" (click)="goToPay($event, option)">
                Выбрать
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>

  <div class="tariff-page__channels">
    <div class="container">
      <div class="tariff-page__channels-title">
        тв <span class="gradient-text">+350</span> каналов
      </div>
      <div class="tariff-page__channels-title-small">
        В тарифах Persik доступно более 350 телеканалов на любой вкус и жанр, транслируемых в FullHD/4K
        качестве.
      </div>
    </div>

    <div class="tariff-page__channels-grid" *ngIf="channelLogosForPage.length > 0">
      <div class="tariff-page__channels-grid-item" *ngFor="let logo of channelLogosForPage">
        <div class="tariff-page__channels-grid-item-content">
          <img [src]="logo" alt="" class="tariff-page__channels-grid-item-logo">
        </div>
      </div>

      <div class="tariff-page__channels-grid-all">

        <div class="tariff-page__channels-grid-all-btn" (click)="toggleChannels(channelLogosCount)">
          <span *ngIf="!isShowAllChannels">показать еще</span>
          <span *ngIf="isShowAllChannels">свернуть</span>
        </div>

      </div>
    </div>
  </div>

  <app-content-catalog [data]="videosData" [loadCount]="loadCount"></app-content-catalog>

  <div class="grey">
    <app-content-catalog [data]="seriesData" [loadCount]="loadCount"></app-content-catalog>
  </div>

  <app-content-catalog [data]="cartoonsData" [loadCount]="loadCount"></app-content-catalog>

  <div class="grey">
    <app-content-catalog [data]="tvshowsData" [loadCount]="loadCount"></app-content-catalog>
  </div>



  <!-- <div class="tariff-page__library tariff-page__library_grey" *ngIf="isHaveTvshows">
		<div class="green-dot dot10"></div>
		<div class="green-dot dot11"></div>
		<div class="green-dot dot12"></div>

		<div class="container">
			<div class="tariff-page__channels-title">
				тв <span class="gradient-text">передачи</span>
			</div>


			<div class="tariff-page__library-grid">
				<div class="card-col" *ngFor="let item of tvshows">
					<app-film-card [content_id]="getId(item)"></app-film-card>
				</div>
			</div>
			<div class="btn-white" (click)="showMoreTvshows()">
				показать ещё
			</div>
		</div>
	</div> -->


  <div class="tariff-page__functions">
    <div class="green-dot dot13"></div>
    <div class="green-dot dot14"></div>

    <div class="container">
      <div class="tariff-page__functions-title">
        функции
      </div>
      <div class="tariff-page__functions-row">
        <div class="col-6">
          <div class="tariff-page__functions-item">
            <div class="tariff-page__functions-item-header">
              <div class="tariff-page__functions-icon">
                <img src="assets/images/icons/func1.svg" alt="" class="tariff-page__functions-image">
              </div>
              <div class="tariff-page__functions-item-title">
                архив 24 дня
              </div>
            </div>
            <div class="tariff-page__functions-item-text">
              «Архив» предоставляет возможность смотреть прошедшие передачи, фильмы, сериалы, мультики
              за 24 дня. <span class="hidden-mobile">Данная функция позволит Вам не пропустить любимый
                контент и насладиться просмотром в удобное время.</span>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="tariff-page__functions-item">
            <div class="tariff-page__functions-item-header">
              <div class="tariff-page__functions-icon">
                <img src="assets/images/icons/func2.svg" alt="" class="tariff-page__functions-image">
              </div>
              <div class="tariff-page__functions-item-title">
                мультирум
              </div>
            </div>
            <div class="tariff-page__functions-item-text">
              В рамках тарифов Persik возможен одновременный просмотр контента с 5-ти разных
              устройств.<span class="hidden-mobile">Это позволяет решить так называемую проблему
                «битвы за пульт». Вы можете смотреть контент где-угодно: в поездке, на даче, в
                гостинице. Нужен только аккаунт и устройство, подключенное к интернету.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tariff-page__consoles">
    <div class="green-dot dot15"></div>
    <div class="green-dot dot16"></div>
    <div class="green-dot dot17"></div>
    <div class="container">
      <div class="tariff-page__consoles-left">
        <div class="tariff-page__consoles-title">
          тариф на год + андроид приставка
        </div>
        <div class="tariff-page__consoles-grey-small">
          Если у Вас нет Smart TV - достаточно купить тариф на телевидение с цифровой приставкой!
          "Подписка услуг на год + приставка на Android" превратит обычный телевизор в настоящий Smart со
          множеством каналов, фильмов, сериалов и мультфильмов!
          <br>
          Используя этот тариф, вы получаете:
        </div>
        <div class="tariff-page__consoles-item">
          <img src="assets/images/icons/tarif-good.svg" alt="" class="tariff-page__consoles-checked">
          <div class="tariff-page__consoles-item-text">
            Высокое качество изображения, возможность просмотра FullHD/4K.
          </div>
        </div>
        <div class="tariff-page__consoles-item">
          <img src="assets/images/icons/tarif-good.svg" alt="" class="tariff-page__consoles-checked">
          <div class="tariff-page__consoles-item-text">
            Высококлассный многоканальный звук.
          </div>
        </div>
        <div class="tariff-page__consoles-item">
          <img src="assets/images/icons/tarif-good.svg" alt="" class="tariff-page__consoles-checked">
          <div class="tariff-page__consoles-item-text">
            Возможность подключения USB-носителей.
          </div>
        </div>
        <div class="tariff-page__consoles-item">
          <img src="assets/images/icons/tarif-good.svg" alt="" class="tariff-page__consoles-checked">
          <div class="tariff-page__consoles-item-text">
            Доступ в Google Play.
          </div>
        </div>
        <div class="tariff-page__consoles-item">
          <img src="assets/images/icons/tarif-good.svg" alt="" class="tariff-page__consoles-checked">
          <div class="tariff-page__consoles-item-text">
            WI-FI модуль.
          </div>
        </div>
      </div>
      <div class="tariff-page__consoles-right">
        <img src="assets/images/console.jpg" alt="" class="tariff-page__consoles-right-img">
      </div>
    </div>

  </div>
</div>
